.medical-software-for-musculoskeletal-rehabilitation {
  padding: 120px 0;
  background-color: $hawkinPrimary;

  .titleStyle {
    max-width: 725px;
  }

  [data-title] {
    @include fontSize(32px, 140%);

    color: $gray0;

    @include phone {
      @include fontSize(24px, 130%);
    }
  }

  [data-description] {
    @include fontSize(16px, 150%);

    color: $gray0;
    opacity: 0.7;
  }

  @include below-tablet {
    padding: 60px 0;
  }
}
