.kitchen-equipment-customizer {
  padding: 120px 0;
  background: $gray800;

  .titleStyle {
    & > div:last-child {
      @include flex(row, space-between, initial, wrap);

      gap: 32px;

      @include below-tablet {
        gap: 16px;
      }
    }
  }

  [data-title] {
    @include fontSize(24px, 130%);

    margin: 0 auto 48px;
    color: $gray0;
    font-weight: 400;
  }

  [data-description] {
    flex: 1 1 310px;
    margin: 0;
    padding: 32px;
    height: auto;
    color: $gray0;
    text-align: center;
    border: 1px solid $gray500;
    border-radius: 10px;
    box-sizing: border-box;
  }

  @include below-tablet {
    padding: 60px 0;
  }
}
