@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  @include flex(row, space-between, center);
  width: calc(100% - 110px);
  padding: 10px 55px;
  background-color: rgba(0, 0, 0, .05);
  transform: translateY(0);
  transition: transform $default-transition-time,
              opacity $default-transition-time;
  transition-timing-function: ease;
  opacity: 1;

  .desktopMenu {
    li {
      position: relative;
      display: inline-block;
      margin-left: 55px;
      cursor: pointer;

      .underline {
        text-decoration: none;
        transition: color $default-transition-time;

        &:before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background-color: $accent-color;
          transform: scaleX(0);
          transition: all $default-transition-time;
        }

        &:hover:before {
          transform: scaleX(1);
        }
      }

      &:last-child {
        border-radius: 3px;
        padding: 15px;
        margin-left: 40px;
        border: 1px solid $white;
        transition: background-color $default-transition-time,
                    border $default-transition-time;

        span:before {
          height: 0;
        }

        &:hover {
          border: 1px solid $accent-color;
          background-color: $accent-color;
          transition: background-color $default-transition-time,
                      border $default-transition-time;
          
          span {
            transition: color $default-transition-time;
            color: $black;
          }
        }
      }

      .dark {
        color: $white;
      }

      .light {
        color: $black;
      }
    }
  }

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 20px;
    cursor: pointer;

    hr {
      width: 20px;
      height: 2px;
      margin: 5px 0;
      border: 0 none;
      border-radius: 5px;
    }
  }

  .mobileMenu {
    display: none;

    @include phone {
      position: fixed;
      top: 0;
      left: 0;
      @include flex(row, center, center);
      width: 100vw;
      height: 100%;
      background-color: $black;

      ul {
        padding: 0;
        text-align: center;

        li {
          margin: 30px 0;
          color: $white;
          list-style: none;
          font-weight: 500;
          letter-spacing: 0.5px;
          cursor: pointer;

          &:last-child {
            border-radius: 3px;
            padding: 15px;
            background-color: $accent-color;
            color: $black;
          }
        }
      }

      .mobileMenuFooter {
        position: fixed;
        bottom: 20px;
        @include flex(row, space-around);
        width: 100%;

        a {
          color: $white;
          opacity: .3;
          font-size: .85rem;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }

  @include phone {
    width: calc(100% - 40px);
    padding: 10px 20px;

    svg {
      width: 35%;
    }

    .desktopMenu {
      display: none;
    }
  }
}

@include phone {
  .mobileMenuClosed {
    .burger {
      hr {
        background-color: $white;
  
        &:nth-child(1) {
          transform: rotate(0) translate(0, 0);
          transition: transform $default-transition-time,
                      background-color $default-transition-time;
        }
  
        &:nth-child(2) {
          opacity: 1;
          transition: opacity $default-transition-time,
                      background-color $default-transition-time;
        }
  
        &:nth-child(3) {
          transform: rotate(0) translate(0, 0);
          transition: transform $default-transition-time,
                      background-color $default-transition-time;
        }
      }
    }
  
    .mobileMenu {
      transform: scaleY(0);
      opacity: 0;
      touch-action: none;
      user-select: none;
      transition: opacity $default-transition-time;
  
      ul {
        li {
          opacity: 0;
          transform: translateX(-30px);
        }
      }
    }
  }
  
  .mobileMenuOpened {
    height: 100%;

    .burger {
      hr {
        background-color: $white;
  
        &:nth-child(1) {
          transform: rotate(45deg) translate(3px, 3px);
          transition: transform $default-transition-time,
                      background-color $default-transition-time;
        }
  
        &:nth-child(2) {
          opacity: 0;
          transition: opacity $default-transition-time,
                      background-color $default-transition-time;
        }
  
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -7px);
          transition: transform $default-transition-time,
                      background-color $default-transition-time;
        }
      }
    }
  
    .mobileMenu {
      opacity: 1;
      touch-action: initial;
      user-select: initial;
      transform: scaleY(1);
      transition: opacity $default-transition-time;
  
      @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
          opacity: 1;
          transform: translateX(0);
          transition: transform $default-transition-time,
                      opacity $default-transition-time;
          transition-delay: calc(#{$default-transition-time} * #{$i} / 5);
        }
      }
    }
  }
}
