@import 'styles/utils/mixins';

.overflowApp {
  height: 100%;
  overflow: hidden;
}

.hideScroll {
  transform: translateY(200px);
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @include flex(row, space-between, center);
  width: calc(100% - 110px);
  padding: 10px 55px;
  opacity: 1;
  transform: translate3d(0, -100%, 0);
  transition: transform $default-transition-time, padding $default-transition-time;

  @include phone {
    width: calc(100% - 40px);
    padding: 10px 20px;
  }

  .logo {
    text-align: center;
    width: $logo-size;
    height: 50px;
    overflow: hidden;
    transition: width $default-transition-time ease;

    svg {
      transition: width $default-transition-time;

      @include phone {
        width: 100%;
      }
    }
    @include phone {
      width: 35%;
    }
  }

  ul {
    margin: 0;
  }

  &.additional {
    will-change: transform;
    padding: 0px 55px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, .98);
    transition: transform $default-transition-time, padding $default-transition-time * 1.5;

    @include phone {
      padding: 10px 20px;
    }
    
    svg {
      width: $logo-size - 16px;

      @include phone {
        width: 100%;
      }

      path {
        fill: $black;
      }
    }
  }

  &.down {
    transform: translate3d(0, -100%, 0);
    transition: transform .7s;
  }

  &.up {
    transform: translate3d(0, 0, 0);
  }
}

@include phone {
  .mobileHeaderHeight {
    height: calc(100% - 10px);
  }
}

.animate {
  transform: translate3d(0, 0, 0);
}

.deleteTextOfLogo {
  .logo {
    overflow: hidden;
    width: 50px;
  }

  &.additional {
    .logo {
      width: 46px;
    }
  }
}