@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.fullLayout {
  width: 100%;
  margin: 0 auto;
  padding: calc(#{$header-height} + 32px) 0 120px;
  position: relative;
  overflow-x: hidden;

  @include tablet {
    padding: calc(#{$header-height} + 30px) 40px 60px;
  }

  @include phone {
    padding: calc(#{$header-height} + 30px) 16px 60px;
  }
}

.disableOverflowHiding {
  overflow-x: visible;
}

.disableMaxWidth {
  max-width: none;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.disableSidePadding {
  padding-right: 0;
  padding-left: 0;
}

.disableTopPadding {
  padding-top: 0;
}

.disableBottomPadding {
  padding-bottom: 0;
}

.alabaster {
  background-color: $alabaster;
}
