@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.uploadFile {
  @include flex(column, initial, initial, wrap);
  margin-top: 40px;

  .attachmentManage {
    @include flex(row, flex-start, center);

    & > div {
      width: 100%;
    }

    input {
      width: 100%;
      border: 0 none;
      cursor: text;
    }

    & > label {
      padding: 4px 0;
      border: 0 none;
      cursor: pointer;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: 0 none;
    background-color: #979797;
    transform: translateY(-10px);
  }

  .attachedFiles {
    
    .file {
      @include flex(row, space-between, center);
      margin-top: 10px;
      padding: 5px 10px;
      background-color: #222223;

      span:first-child {
        margin-right: auto;
      }

      button {
        width: 10px;
        height: 10px;
        padding: 0;
        margin-left: 15px;
        border: 0 none;
        outline: none;
        background-color: transparent;
        color: $footer-accent-color;
        cursor: pointer;
      }
    }
  }
}

.hide {
  display: none;
}