@import 'styles/utils/mixins';

.feedBackContainer {
  padding: 0 40px;

  @include phone {
    padding: 80px 15px;
  }
}

.seven-pm-thursday {
  @extend .feedBackContainer;

  background-color: $dark-blue-1;
}

.fusion-markets {
  @extend .feedBackContainer;

  background: $eerie-black;
}

.blackbird {
  @extend .feedBackContainer;

  background: $chinese-black;
}
