@import 'styles/utils/mixins';

.feedBackContainer {
  padding: 0 40px;

  @include phone {
    padding: 80px 15px;
  }
}

.seven-pm-thursday {
  @extend .feedBackContainer;

  background-color: $dark-blue-1;
}

.fusion-markets {
  @extend .feedBackContainer;

  background: $eerie-black;
}

.blackbird {
  @extend .feedBackContainer;

  background: $chinese-black;
}

.fintech-app-for-credit-score {
  @extend .feedBackContainer;

  background: $white;
}

.marketplace-for-clairvoyant-services {
  @extend .feedBackContainer;

  @include phone {
    padding-top: 0;
  }
}

.machine-learning-in-real-estate {
  @extend .feedBackContainer;

  background: $very-dark-blue;
}

.balzano {
  @extend .feedBackContainer;

  @include phone {
    padding-top: 0;
  }
}

.cinnabar {
  @extend .feedBackContainer;

  @include phone {
    padding-top: 0;
  }
}