.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  .cardContainer {
    padding: 50px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    box-sizing: border-box;
    background: $white;

    .typeTitle {
      @include fontSize(24px);

      line-height: 1.8;
      font-weight: 700;
      margin: 20px 0 10px;

      @include macbook-twelve {
        @include fontSize(22px);
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    p {
      @include fontSize(18px);

      color: $silver-chalice;
      line-height: 1.8;
      margin: 0;

      @include phone {
        @include fontSize(16px);
      }
    }

    .imageWrapper {
      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }

    .arrow,
    .connectingLine,
    .longConnectingLine {
      display: none;
    }

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }
  }

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }
}
