.discovery-phase-services {
  .titleStyle {
    margin-bottom: 24px;

    [data-title] {
      @include fontSize(38px, 49px);

      max-width: 756px;

      @include phone {
        @include fontSize(24px, 31px);
      }
    }

    [data-second-title] {
      @include fontSize(24px, 31px);

      text-align: center;
      margin: 0;

      @include phone {
        @include fontSize(20px, 30px);
      }
    }

    p {
      @include fontSize(16px, 24px);

      margin: 16px 0 24px;
      max-width: 756px;
    }
  }

  .cardContainer {
    padding: 30px;

    .typeTitle {
      @include fontSize(20px, 30px);
    }

    .imageWrapper {
      width: 64px;
      height: 64px;

      svg {
        -webkit-transform-: none;
        transform: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}
