.ui-ux-services {
  background-color: $gray0;

  .contentWrapper {
    .cards {
      grid-gap: 60px 4%;
    }

    .cardContainer {
      padding: 32px;
    }
  }

  .titleStyle {
    p {
      width: 58vw;
    }
  }
}
