@import 'styles/utils/mixins';

.chatFeaturesSection {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 80px;
  position: relative;

  @include flex(column, center, center);

  @include tablet {
    padding: 0 40px;
  }

  @include phone {
    padding: 0 15px;
  }

  .chatFeaturesList {
    padding: 150px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    width: calc(100% - 300px);
    background-color: $white;

    @include tablet {
      padding: 100px;
    }

    @include below-tablet {
      padding: 50px;
    }

    @include phone {
      width: calc(100% - 130px);
    }

    .item {
      .featureTitle {
        margin: 0 0 20px;
        color: $tundora;
        font-weight: 700;

        @include fontSize(40px);

        @include macbook-fifteen {
          @include fontSize(30px);
        }

        @include phone {
          @include fontSize(30px);
        }
      }

      .featureSubtitle {
        color: $silver-chalice;
        line-height: 2;

        @include fontSize(18px);

        @include macbook-fifteen {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    :global(.swiper-scrollbar) {
      margin-top: 100px;
      position: relative;
      left: 0;
      width: 100%;

      @include tablet {
        margin-top: 50px;
      }
    }
  }
}

.chatFeaturesSectionConteiner {
  padding: 150px 0;
  background-color: $alabaster;
  position: relative;
  width: 100%;
}
