@import 'styles/utils/mixins';

.wrapper {
  overflow: hidden;
  width: min(1200px, 100%);
  margin: 0 auto 32px;

  :global(.swiper) {
    display: flex;
    padding-bottom: 10px;
  }

  :global(.swiper-wrapper) {
    width: auto;
  }

  :global(.swiper-slide) {
    &:last-child {
      margin-right: 0 !important;
    }
  }

  @include phone {
    margin-bottom: 14px;
  }
}

.item {
  @include fontSize(20px, 150%);

  width: auto;
  color: $gray400;
  cursor: pointer;
  position: relative;
  user-select: none;

  &::after {
    content: '';
    background: $yellow400;
    position: absolute;
    height: 3px;
    width: 0;
    transition: width 0.3s ease-in-out;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.selected {
    color: $gray900;
    font-weight: 700;

    &::after {
      width: 70px;
    }
  }

  @include below-tablet {
    @include fontSize(18px);
  }
}