@import 'styles/utils/mixins';

.companyPeoplePhoto {
  width: 100%;

  .subtitle {
    @include phone {
      font-size: 3.9vw;
    }
  }

  .photoContainer {
    width: 100%;

    .photoWrap {
      & > div {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include flex(column, center, center);

        img {
          width: 100%;
          opacity: 0;
        }
      }
    }
  }
}

.showPhoto {
  .photoContainer {
    .photoWrap {
      width: 100%;
      height: 100%;
      opacity: 1;
      will-change: width, height, opacity;
      transition:
        width 0.8s $primary-bezier,
        height 0.8s $primary-bezier,
        opacity 0.8s $primary-bezier;

      & > div > img {
        opacity: 1;
        transition: opacity 0.05s $primary-bezier;
      }
    }
  }
}
