@import 'styles/utils/mixins';

@mixin appDevelopmentContainer {
  padding: 120px 40px;
  background-color: $white;

  @include tablet {
    padding: 100px 40px;
  }

  @include phone {
    padding: 64px 15px;
  }
}

@mixin smallSectionWrapper {
  max-width: $max-content-width-small-section;
  margin: 0 auto;
  position: relative;

  @include flex(column, center, stretch);
}

@mixin defaultCallToAction {
  @include flex(row, space-between, center);

  box-sizing: border-box;
  width: 100%;
  max-width: $max-content-width-small-section;
  padding: 70px;
  margin: 80px auto 0;
  background: $alabaster;
  border-radius: 5px;

  h3 {
    @include fontSize(24px);

    max-width: 610px;
    line-height: 120%;

    @include below-tablet {
      @include fontSize(18px);

      margin: 0 0 24px;
      text-align: center;
    }
  }

  div[role='button'] {
    @include button-more($black, $black, $turbo-100, $turbo-100, $turbo-100, $turbo-100);

    border-radius: $button-border-radius;
    font-weight: 500;
    height: unset;
    padding: 20px 0;
    margin-left: 40px;
    min-width: 220px;

    &:hover {
      transform: scale(0.96);
    }

    @include below-tablet {
      @include fontSize(14px);

      padding: 14px 0;
      width: 180px;
      margin: auto;
    }
  }

  @include below-tablet {
    padding: 40px 24px;
    margin-top: 40px;
    flex-direction: column;
  }
}

@mixin defaultCard {
  position: relative;

  h3 {
    @include fontSize(24px, 150%);

    font-weight: 700;
    margin: 20px 0 0;

    @include below-tablet {
      @include fontSize(18px);

      margin-top: 16px;
    }
  }

  p {
    @include fontSize(16px, 180%);

    color: $silver-chalice;
    margin: 10px 0 0;

    @include below-tablet {
      @include fontSize(14px);
    }
  }

  @include below-tablet {
    @include flex(row);

    h3 {
      margin-top: 0;
    }
  }
}

@mixin cardWithShadow {
  background: $white;
  box-shadow: $card-bow-shadow;
  padding: 50px;
  display: block;
  border-radius: 5px;

  @include below-tablet {
    padding: 24px;

    h3 {
      margin-top: 16px;
    }
  }
}

@mixin overlay {
  @include flex(column, flex-start, center);

  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  padding: 105px 15px 15px;

  h3 {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
  }

  &:hover {
    opacity: 1;

    h3 {
      transform: none;
    }
  }
}

@mixin centeredIcons {
  :global(.swiper-wrapper) {
    align-items: center;
  }

  :global(.swiper-slide) {
    & > div,
    & {
      @include flex(row, center, center);

      flex: 1 1 auto;
      height: auto;
    }
  }
}

.cardsWithFullWidthImage {
  .cards {
    @include below-tablet {
      grid-gap: 33px;
    }

    & > div {
      display: block;
    }
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;

    & > div {
      @include centeredBackgroundImage;

      width: 100%;
      padding-top: 85%;
      background-size: contain;

      @include tablet {
        padding-top: 72%;
      }
    }
  }

  .typeTitle {
    margin: 24px 0 10px;

    @include below-tablet {
      margin: 20px 0 10px;
      text-align: center;
    }
  }
}

.greySection {
  background: $alabaster;

  .callToAction {
    background: $white;
  }
}

.cardsWithShadow {
  .contentWrapper .cards {
    grid-gap: 40px;

    & > div {
      @include cardWithShadow;
    }
  }
}

.smallCards {
  .contentWrapper .cards {
    grid-gap: 40px;

    & > div {
      @include flex;
    }

    h3 {
      margin-top: 0;
    }
  }
}

.threeColumnsCards {
  @include smallSectionWrapper;

  max-width: $max-content-width;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    @include tablet {
      grid-template-columns: auto;
      grid-gap: 20px;
    }
  }
}

.twoColumnsCards {
  @include smallSectionWrapper;

  max-width: 100%;

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 24%;

    @include below-tablet {
      grid-template-columns: auto;
      grid-gap: 24px;
    }
  }
}
