@import 'styles/utils/mixins';

@mixin appDevelopmentContainer {
  padding: 120px 40px;
  background-color: $white;

  @include tablet {
    padding: 100px 40px;
  }

  @include phone {
    padding: 64px 15px;
  }
}

@mixin smallSectionWrapper {
  max-width: 1076px;
  margin: 0 auto;
  position: relative;

  @include flex(column, center, stretch);
}

@mixin defaultCallToAction {
  @include flex(row, space-between, center);

  box-sizing: border-box;
  width: 100%;
  max-width: 1076px;
  padding: 70px;
  margin: 80px auto 0;
  background: $alabaster;

  h3 {
    @include fontSize(24px);

    max-width: 610px;
    line-height: 120%;

    @include below-tablet {
      @include fontSize(18px);

      margin: 0 0 24px;
      text-align: center;
    }
  }

  div[role=button] {
    font-weight: 500;
    height: unset;
    padding: 20px 0;
    margin-left: 40px;
    min-width: 220px;

    @include below-tablet {
      @include fontSize(14px);

      padding: 14px 0;
      width: 180px;
      margin: auto;
    }
  }

  @include below-tablet {
    padding: 40px 24px;
    margin-top: 60px;
    flex-direction: column;
  }
}

.threeColumnCards {
  @include smallSectionWrapper;

  max-width: 100%;

  .contentWrapper {
    max-width: $max-content-width;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    display: grid;

    & > div {
      h3 {
        @include fontSize(24px, 150%);

        font-weight: 700;
        margin: 20px 0 0;

        @include below-tablet {
          @include fontSize(18px);

          margin-top: 16px;
        }
      }

      p {
        @include fontSize(16px, 1.8);

        color: $silver-chalice;
        margin: 10px 0 0;

        @include below-tablet {
          @include fontSize(14px);
        }
      }

      @include below-tablet {
        width: 100%;
        max-width: unset;
      }
    }

    @include below-tablet {
      grid-template-columns: auto;
      grid-gap: 20px;
    }
  }
}

.twoСolumnsСards {
  @include smallSectionWrapper;

  max-width: 100%;

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 24%;

    & > div {
      h3 {
        @include fontSize(24px, 150%);

        font-weight: 700;
        margin: 20px 0 0;

        @include below-tablet {
          @include fontSize(18px);

          margin-top: 16px;
        }
      }

      p {
        @include fontSize(16px, 1.8);

        color: $silver-chalice;
        margin: 10px 0 0;

        @include below-tablet {
          @include fontSize(14px);
        }
      }

      @include below-tablet {
        width: 100%;
        max-width: unset;
      }
    }

    @include below-tablet {
      grid-template-columns: auto;
      grid-gap: 24px;
    }
  }
}
