.smartcenter {
  grid-area: r;
  width: 100%;
  max-height: 1074px;
  max-width: 1055px;

  img {
    box-shadow: 0 4px 34px 0 rgba($gray1000, 0.06);
    width: 120%;
    border-radius: 20px;

    @include phone {
      width: 100%;
    }
  }
}
