@import 'styles/utils/mixins';
@import "styles/utils/colors";
@import './styles/common';
@import './styles/ubichat';
@import './styles/telemojo';
@import './styles/bionorica';
@import './styles/cinnabar';

.fernwayer,
.travel-trivia {
  @extend .container;

  background: linear-gradient(180deg, $pink 0%, $light-pink 100%);

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;
    }

    .more {
      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($white, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $white;
  }
}

.cash-chat {
  @extend .container;

  background: $alabaster;

  .nextProjectContainer {
    .subtitle {
      color: rgba($black, 0.7);
    }

    .projectName {
      color: $black;
    }

    .more {
      border: 1px solid $black;
      color: $black;
    }
  }

  .question {
    color: $black;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($black, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $black;
  }
}

.stickerbox {
  @extend .container;

  background: $turbo-100;

  .nextProjectContainer {
    .subtitle {
      color: rgba($dark-grey, 0.7);
    }

    .projectName {
      color: $dark-grey;
    }

    .more {
      border: 1px solid $dark-grey;
      color: $dark-grey;
    }
  }

  .question {
    color: $dark-grey;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($dark-grey, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $dark-grey;
  }
}

.seven-pm-thursday,
.marketplace-for-clairvoyant-services {
  @extend .container;

  background: $dark-blue-1;

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;
    }

    .more {
      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($white, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $white;
  }
}

.fairy {
  @extend .container;

  background: $light-violet-1;

  @include phone {
    padding: 0 10px 20px;
  }

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;

      @include phone {
        @include fontSize(35px);
      }
    }

    .more {
      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($white, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $white;
  }
}

.tell {
  @extend .container;

  background-color: $white;

  @include centeredBackgroundImage;

  .nextProjectContainer {
    .subtitle,
    .projectName,
    .more {
      color: $dark-grey;
    }

    .more {
      border: 1px solid $dark-grey;
    }
  }

  .question,
  .link {
    color: $dark-grey;
  }

  .link {
    opacity: 0.5;
  }

  .iconLink {
    color: $black;
  }
}

.separate-us {
  @extend .container;

  background-color: $brink-pink;

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;

      @include phone {
        @include fontSize(40px);
      }
    }

    .more {
      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  .link {
    color: rgba($white, 0.5);
  }

  .iconLink {
    color: $white;
  }
}

.writer-chrome-extension,
.natp,
.drive-focus {
  @extend .container;

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;

      @include phone {
        @include fontSize(40px);
      }
    }

    .more {
      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  .link {
    color: rgba($white, 0.5);
  }

  .iconLink {
    color: $white;
  }
}

.writer-chrome-extension {
  background: $sea-blue;
}

.natp {
  background: linear-gradient(360deg, $shark -10.75%, $nevada 243.07%);
}

.drive-focus {
  background-color: $flamenco;
}

.beautonomy {
  @extend .container;

  background-color: $coffee;

  .nextProjectContainer {
    .subtitle {
      opacity: 0.7;
      color: $dark-grey;

      @include fontSize(16px);

      @include phone {
        @include fontSize(12px);
      }
    }

    .projectName {
      color: $dark-grey;

      @include phone {
        @include fontSize(50px);
      }
    }

    .more {
      border: 1px solid $dark-grey;
      color: $dark-grey;

      @include fontSize(14px);

      @include phone {
        @include fontSize(12px);
      }
    }
  }

  .link {
    color: rgba($dark-grey, 0.5);

    @include fontSize(24px);

    @include phone {
      @include fontSize(18px);
    }
  }

  .iconLink {
    color: $dark-grey;
  }
}

.smartcenter,
.telemojo {
  @extend .container;

  background-color: $slate-gray;
  color: $white;

  .more,
  .link,
  .iconLink {
    color: $white;
  }

  .more {
    border: 1px solid $white;
  }
}

.cinnabar,
.mobile-bank-application {
  @extend .container;

  background: linear-gradient(137.65deg, $froly -14.62%, $carnation 105.11%);
  color: $gray0;

  .more,
  .link,
  .iconLink {
    color: $gray0;
  }

  .iconLink {
    path {
      fill: $gray0;
    }
  }

  .more {
    border: 1px solid $gray0;
  }
}

.mobile-bank-application {
  background: $eerie-black-2;
}
