@import 'styles/utils/mixins';

.location {
  @include flex(column);
  width: max-content;
  // background-color: darkcyan;
  width: 50%;
  margin-bottom: 35px;

  @include phone {
    width: 100%;
  }

  .date {
    position: relative;
    font-weight: bold;
    font-size: 23px;
    color: $black;
    margin-bottom: 10px;
    z-index: 0;
    width: max-content;
    will-change: transition;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 1px;
      height: 10px;
      width: 100%;
      background-color: $turbo-100;
      transform-origin: left;
      // transform: scaleX(0);
      // opacity: 0;
      transition: transform 1.2s cubic-bezier(.17,.67,.57,.96);
    }

    &:hover:before {
      // will-change: height;
      // height: 27px;
      // transition: height 0.1s 0s linear;
    }

    .showUnderline {
      &:before {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  .locationTitle {
    font-weight: 500;
    font-size: 18px;
    color: $black;
    margin-bottom: 10px;
  }

  .eventTitle {
    width: max-content;
    font-weight: 600;
    font-size: 18px;
    color: $white;
    padding: 5px 8px;
  }
}