@import 'styles/utils/mixins';

.location {
  @include flex(column);
  width: 50%;
  margin-bottom: 55px;

  &:last-child {
    margin-bottom: 0;
  }

  @include phone {
    width: 100%;
  }

  .date {
    position: relative;
    font-weight: bold;
    font-size: 1.125rem;
    color: $black;
    margin-bottom: 10px;
    z-index: 1;
    width: max-content;
    will-change: transition;

    & > span:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      z-index: -1;
      transform-origin: 0;
      transition-delay: 0s;
      
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 1px;
        height: 8px;
        width: 100%;
        background-color: $turbo-100;
        transform-origin: left;
      }
    }
  }

  .showUnderline {
    & > span:first-child {
      transform: scaleX(1);

      &::before {
        z-index: -1;
      }
    }
  }

  .locationTitle {
    font-weight: 500;
    font-size: 1rem;
    color: $black;
    margin-bottom: 10px;
  }

  .eventTitle {
    width: max-content;
    font-weight: 600;
    font-size: 1rem;
    color: $white;
    padding: 5px 8px;
  }
}