.book-a-call {
  background: $gray900;
  position: relative;

  .container {
    @include flex(row, space-between, center);

    margin: 0 auto;
    max-width: $wide-content-width;
    gap: 24px;

    @include tablet {
      @include flex(column, space-between, center);
    }
  }

  .contentContainer {
    max-width: 404px;
    width: 100%;
  }

  .title {
    margin: 0;
    color: $gray0;

    [data-title] {
      @include fontSize(16px);

      color: $yellow400;
    }

    [data-subtitle] {
      @include fontSize(38px);

      color: $gray0;
      font-weight: 700;
    }

    * {
      text-align: left;
    }

    @include tablet {
      margin: 0;

      * {
        text-align: center;
      }
    }
  }

  .videoContainer {
    position: relative;
    padding: 118px;
    aspect-ratio: 1/1;
    width: 348px;

    .videoWrapper {
      overflow: hidden;
      height: 100%;
      border-radius: 50%;
      box-shadow:
        0 0 0 6px $yellow400,
        0 0 0 120px $gray800;

      @include tablet {
        box-shadow:
          0 0 0 6px $yellow400,
          0 0 0 69px $gray800;
      }
    }

    video {
      height: 100%;
      object-fit: cover;
    }

    .controls {
      @include flex(row, center, center);

      position: absolute;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);

      button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(20px);
        border: solid 1px $gray200;

        &,
        * {
          color: $gray0;
          fill: $gray0;
        }
      }
    }

    @include tablet {
      padding: 69px;
      width: 204px;
    }
  }

  .imagesBundles {
    position: absolute;
    width: 100%;
    aspect-ratio: 1440/900;
  }

  .actionContainer {
    @include flex(row, space-between, center);

    margin-top: 32px;
    gap: 24px;

    @include tablet {
      @include flex(column, initial, center);
    }
  }

  .callToAction {
    display: block;
    margin: 0;
    padding: 0;
    max-width: unset;
    min-height: unset;
    width: fit-content;
    border: none;
    background: unset;

    & > a {
      margin: 0;
      text-align: center;

      @include tablet {
        min-width: 228px;
        width: 100%;
      }
    }

    &-2 a {
      color: $yellow500;
      background-color: transparent;
      border: 1px solid $yellow500;
    }
  }

  @include tablet {
    flex-direction: column;
    padding: 60px 16px;
  }
}
