.video {
  width: 100%;
  height: 100%;
}

.videoSection {
  @include appDevelopmentContainer;
}

.blackSection {
  background: $gray900;

  .title,
  h3 {
    color: $gray0;
  }

  button {
    color: $gray400;
    cursor: pointer;
  }
}
