.video {
  width: 100%;
  height: 100%;
}

.videoSection {
  @include appDevelopmentContainer;

  button {
    color: $gray400;
    cursor: pointer;
  }
}

.imagesBundles {
  position: absolute;
  pointer-events: none;
}

.blackSection {
  background: $gray900;

  .title,
  h3 {
    color: $gray0;
  }
}
