@import 'styles/utils/mixins';

.checkboxContainer {
  @include flex(row, flex-start, center);
  margin-top: 10px;
  width: 100%;

  @include phone {
    @include flex(column);

    label:last-child {
      margin-top: 20px;
      margin-left: 0 !important;
    }
  }

  @include checkboxStyles;
}
