@import "styles/utils/mixins";

.article {
  min-width: 150px;
  flex: 1 0 20%;
  margin: 0 calc(#{$max-article-margin} / 2) #{$max-article-margin};
  cursor: pointer;
  background-color: $white;
  border-radius: 4px;
  line-height: 1.5;
  transition: transform .2s ease-in-out;
  transform: translateY(0);

  @include macbook-thirteen{
    margin: 0 calc(#{$min-article-margin} / 2) #{$min-article-margin};
  }

  @include tablet {
    min-width: 120px;
  }

  @include below-tablet {
    margin: 0 calc(#{$min-article-margin} / 2) #{$min-article-margin};
    flex: 1 0 calc(50% - #{$min-article-margin});
  }

  &:hover {
    transform: translateY(-2px);
    transition: transform .2s ease-in-out;
  }

  @include phone {
    flex: 1 0 calc(100% - #{$min-article-margin});
  }

  &:first-child {
    margin-left: 0;

    @include below-tablet{
      margin-left: auto;
    }
  }

  &:last-child {
    margin-right: 0;

    @include below-tablet {
      margin-bottom: 0;
    }
  }

  & > a:first-child {
    text-decoration: none;
    overflow: hidden;
    color: $black;

    .imgContainer {
      width: 100%;
      min-height: 240px;
      height: 240px;
      border-radius: 4px;

      @include macbook-fifteen {
        min-height: 200px;
        height: 200px;
      }

      @include macbook-twelve {
        min-height: 180px;
        height: 180px;
      }

      @include tablet {
        min-height: 150px;
        height: 150px;
      }

      @include phone {
        min-height: 125px;
        height: 125px;
      }

      .img {
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
      }
    }

    .articleContent {
      padding: 15px 20px 18px;

      @include macbook-twelve {
        padding: 10px 10px 15px;
      }

      .title {
        font-size: 15px;
        font-weight: 600;
        margin: 0;

        @include macbook-twelve {
          font-size: 14px;
        }

        &>a {
          color: $mine-shaft;
          background-image: linear-gradient($turbo-100, $turbo-100);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 8px;
          transition: background-size .6s ease-out;
        }
  
        &:hover {
          &>a {
            transition: background-size .6s ease-out;
            background-size: 100% 8px;
          }
        }
      }
    }
  }
}
