@import "styles/utils/variables";
@import "styles/utils/mixins";

.map {
  height: 732px;
  position: relative;

  @include tablet {
    height: 480px;
    margin: 0 -40px;
  }

  @include phone {
    margin: 0 -15px;
    height: 274px;
  }

  .controlPanel {
    top: 15px;
    right: 15px;
    position: absolute;

    button {
      border: solid 1px $alabaster;

      span {
        background: $white;
      }
    }
  }
}
