@import "styles/utils/variables";
@import "styles/utils/mixins";

.map {
  height: 400px;
  max-width: 630px;
  position: relative;

  @include tablet {
    height: 480px;
    margin: 0 auto;
  }

  @include phone {
    height: 274px;
  }

  & > div {
    @include tablet {
      margin: 0 -40px;
    }

    @include phone {
      margin: 0 -15px;
    }
  }

  .controlPanel {
    top: 15px;
    right: 15px;
    position: absolute;

    button {
      border: solid 1px $alabaster;

      span {
        background: $white;
      }
    }
  }
}
