/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";
@import "../utils/styles.module";

.sectionContainer {
  @include appDevelopmentContainer;

  padding-top: 0;
  background-color: $alabaster;

  @include phone {
    padding: 60px 0 70px;
  }
}
