@import 'styles/utils/mixins';

.worksContainer {
  width: calc(100% + 2 * #{$side-indent});
  min-height: 300vh;
  margin: 0 0 $section-indent 0;

  @include phone {
    margin: 0 0 $mobile-section-indent 0;
  }
 
  .work {
    position: relative;
    z-index: 5;
    @include flex(row, space-between, center);
    width: calc(80% + #{$side-indent});
    height: 100vh;
    margin-left: calc(-1 * #{$side-indent});
    padding: 0 10%;
    background-color: $works-third-accent-color;
    will-change: background-color;
    transition: background-color $default-transition-time ease;
    transition-timing-function: linear;

    @include phone {
      @include flex(column-reverse, center, center);
      width: calc(100% - 10%);
      margin: auto;
      height: auto;
      padding: 20% 5%;
    }

    .desc div {
      opacity: 1;
      transform: translate3d(0, 100px, 0);
      transition: transform $default-transition-time, opacity $default-transition-time;

      @include phone {
        @include flex(column, center, center);
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 800;
        font-size: 6rem;
        letter-spacing: 2.25px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.01;
        color: $white;
  
        @include phone {
          width: 100%;
          font-size: 2.5rem;
        }
      }
  
      p {
        margin: 0;
        margin-top: -20px;
        font-size: 1.5rem;
        line-height: 1.53;
        letter-spacing: 0.5px;
        color: $white;
        opacity: .8;
        word-wrap: normal;

        @include phone {
          font-size: 18px;
        }
      }
  
      button {
        @include buttonMore();
        margin-top: 60px;
        border: 1px solid $white;
        background-color: transparent;
        border-radius: $buttonRadius;
        color: $white;
        line-height: 1.55;
        letter-spacing: 0.5px;
        font-size: 1rem;
  
        &:hover {
          border: 1px solid $white;
          color: $works-first-accent-color;
        }
  
        &:before {
          background-color: $white;
        }
      }
    }

    .imgWrapper {
      width: 50%;
      height: 80%;
      div {
        width: 100%;
        height: 100%;
        @include flex(row, center, center);
        opacity: 1;
        transform: scale(.9);
        transition: transform $default-transition-time, opacity $default-transition-time;

        .content {
          position: absolute;
          opacity: 1;
          transform: scale(0.6) translate3d(-29%, -31%, 0);
          transition: opacity $default-transition-time;
        }
      }
      @include phone {
        width: 100%;
      }
    }

    &:first-child div {
      z-index: 4;

      div button {
        &:hover {
          color: $works-first-accent-color;
        }
      }

      img {
        width: 100%;
      }
    }

    &:nth-child(2) {
      div button {
        &:hover {
          color: $works-second-accent-color;
        }
      }

      img {
        height: 100%;

        @include phone {
          width: 100%;
        }
      }
    }

    &:nth-child(3) {
      div button {
        &:hover {
          color: $works-third-accent-color;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

.firstIsActive {
  background-image: linear-gradient(45deg, #026ed0 0%, #05a7ea 99%);
}

.secondIsActive {
  background-image: linear-gradient(45deg, #3d2424 0%, #714a4a 99%);

  .imgWrapper {
    .content {
      display: none;
    }
  }
}

.thirdIsActive {
  .imgWrapper {
    .content {
      display: none;
    }
  }
}
