@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.worksContainer {
  width: 100%;
  margin: $section-indent 0;
 
  .work {
    @include flex(row, space-between, center);
    width: calc(100% + 2 * #{$side-indent} - 20%);
    height: 100vh;
    margin-left: calc(-1 * #{$side-indent});
    padding: 0 10%;

    @include phone {
      @include flex(column-reverse, initial, initial);
      padding: 20% 10%;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 6rem;
      letter-spacing: 2.25px;
      color: $white;

      @include phone {
        font-size: 3rem;
      }
    }

    p {
      margin: 0;
      margin-top: -20px;
      font-size: 1.5rem;
      line-height: 1.53;
      letter-spacing: 0.5px;
      color: $white;
      opacity: .8;
      word-wrap: normal;
    }

    button {
      @include buttonMore();
      margin-top: 60px;
      border: 1px solid $white;
      background-color: transparent;
      color: $white;
      letter-spacing: 0.45px;
      font-size: 1rem;

      &:hover {
        background-color: $white;
      }
    }

    .imgWrapper {
      @include flex(row, center, center);
      width: 50%;
      height: 80%;

      @include phone {
        width: 100%;
      }
    }

    &:first-child {
      background-color: $works-first-accent-color;

      button {
        &:hover {
          color: $works-first-accent-color;
        }
      }

      img {
        width: 100%;
      }
    }

    &:nth-child(2) {
      background-color: $works-second-accent-color;

      button {
        &:hover {
          color: $works-second-accent-color;
        }
      }

      img {
        height: 100%;
      }
    }

    &:nth-child(3) {
      background-color: $works-third-accent-color;

      button {
        &:hover {
          color: $works-third-accent-color;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}