/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

.work {
  position: relative;
  z-index: 5;
  width: calc(100% - (80px * 2));
  margin: 0 80px;
  will-change: background-color;
  transition: background-color $default-transition-time ease;
  transition-timing-function: linear;
  min-height: 100vh;

  @include flex(row-reverse, space-evenly, center);

  &:nth-child(even) {
    flex-direction: row;

    .parallax {
      div {
        @include below-tablet {
          justify-content: flex-end;
        }
      }
    }
  }

  @include tablet {
    margin: auto;
    min-height: auto;
    padding: 100px 0;
  }

  @include below-tablet {
    height: auto;
    padding: 50px 0;

    @include flex(column-reverse, space-evenly, center);

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

  @include phone {
    padding: 100px 0 0;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;

    @include flex(column-reverse, center, center);
  }

  @include horizontal-mobile {
    padding: 50px 0;

    @include flex(row, center, center);

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  .desc {
    z-index: 3;

    @include ultra-hd {
      width: 50%;

      @include flex(column, center, center);
    }

    @include full-hd {
      width: 50%;

      @include flex(column, center, center);
    }

    @include below-tablet {
      width: 100%;
    }

    @include below-tablet-horizontal {
      width: 50%;
      justify-content: center;
    }

    @include phone {
      width: 100%;
    }

    @include horizontal-mobile {
      max-height: initial;
      width: 50%;
    }

    & > div {
      max-width: 650px;
      width: 80%;
      height: 100%;
      opacity: 1;
      will-change: transform;
      transition: transform $default-transition-time, opacity $default-transition-time;

      @include tablet {
        margin-left: $side-indent * 2;
        margin-right: $side-indent * 2;
        max-width: calc(100% - (#{$side-indent} * 4));
      }

      @include below-tablet {
        margin-left: $side-indent * 2;
        margin-right: $side-indent * 2;
        max-width: calc(100% - (#{$side-indent} * 4));
      }

      @include below-tablet-horizontal {
        padding-left: 0;
        margin-left: $side-indent * 2;
        margin-right: $side-indent * 2;
        max-width: calc(100% - (#{$side-indent} * 4));
      }

      @include phone {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-left: 0;
        text-align: left;

        @include flex(column, center, flex-start);
      }

      .buttonWrap {
        padding: 5px 0 10px;
        cursor: pointer;
        width: max-content;

        @include phone {
          max-width: calc(100% - 40px);
          margin: 0 auto 0 0;
        }

        button {
          border: none;
          outline: none;
          background-color: transparent;
          color: $white;
          line-height: 1.55;
          letter-spacing: 0.5px;
          font-size: 1.125rem;
          position: relative;
          display: inline-block;
          padding: 0;

          @include small-phone {
            font-size: 0.8rem;
          }

          &::after {
            content: '';
            cursor: pointer;
            position: absolute;
            bottom: -5px;
            right: 0;
            width: 100%;
            border-bottom: 1.5px $white solid;
            background-color: $white;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }

        &:hover {
          cursor: pointer;

          button {
            cursor: pointer;

            &::after {
              width: 0;
              will-change: transition;
              transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
              transform: translateZ(0);
            }
          }
        }
      }
    }
  }

  & + .work {
    @include below-tablet {
      margin-top: -150px;
    }
  }

  .parallax {
    width: 50%;
    height: 100%;
    max-height: 100%;
    margin: 0;

    .parallaxContainer {
      & > div {
        width: 100%;
      }
    }

    @include below-tablet {
      width: 100%;
      height: 60vh;
      padding: 150px 0 0;
    }

    @include phone {
      width: 100%;
      margin: 0 -20px;
    }

    @include horizontal-mobile {
      width: 50%;
    }

    @include phone {
      max-width: 95vw;
      max-height: 100vh;
      width: 95vw;
    }

    @include small-phone {
      width: 40%;

      @include flex(row, center, center);
    }

    div {
      vertical-align: middle;

      @include flex(row, flex-start, center);

      height: 48.4375vw;

      @include below-tablet {
        justify-content: stretch;
        height: 80%;
        width: auto;
      }

      .imgWrapper {
        width: 100%;
        position: relative;
        height: 48.4375vw;

        @include small-phone {
          width: 50%;
        }

        @include phone {
          max-width: 95vw;
          max-height: 100vh;
          width: 95vw;
          height: 100%;
        }

        .video {
          position: absolute;
          height: 39.7vw;
          transform: translate(3.1vw, -1.8vw);
          z-index: 5;
          border-radius: 15px;

          @include phone {
            height: 159vw;
            transform: translate(0, -6.8vw);
          }

          @include small-phone {
            height: 42vw;
            transform: translate(3.3vw, -2vw);
          }
        }

        .img {
          display: block;
          width: 100%;
          max-height: 100%;
          height: 48.4375vw;
          z-index: 10;

          & img {
            object-fit: cover;
          }

          @include below-tablet {
            max-width: 100vw;
            max-height: 100vh;
            height: unset;
            width: 95vw;
            transform: translateX(-9.5vw) scale(1.2);

            & img {
              object-fit: contain !important;
            }
          }

          @include small-phone {
            transform: translateX(0) scale(1);
          }
        }
      }

      .firstShadow {
        @extend .imgWrapper;

        transform: translateX(-80px);
        will-change: transform;

        @include below-tablet {
          height: 60vh;
          transform: translateY(-7vh);
        }

        .img {
          height: 100%;
          z-index: 10;

          & img {
            filter: drop-shadow(0 24px 44px rgba($black, 0.45));
          }

          @include below-tablet {
            max-width: 100vw;
            max-height: 100vh;
            width: 95vw;
            transform: translateX(0);
          }

          @include small-phone {
            transform: translateX(0) scale(1);
          }
        }
      }

      .secondShadow {
        @extend .imgWrapper;

        transform: translateX(80px);
        will-change: transform;

        @include below-tablet {
          height: 60vh;
          transform: translateX(0);
        }

        .img {
          max-width: unset;

          & img {
            filter: drop-shadow(0 16px 34px rgba($black, 0.1));
          }

          @include below-tablet {
            max-width: 100vw;
            max-height: 100vh;
            transform: none;
          }
        }

        .video {
          @include quad-hd {
            transform: translate(9.1vw, -1.8vw);
          }

          @include below-tablet {
            transform: translate(3.1vw, -1.5vw);
          }

          @include phone {
            height: 159vw;
            transform: translate(0.4vw, -6.8vw);
          }

          @include small-phone {
            height: 42vw;
            transform: translate(9.4vw, -1.8vw);
          }
        }
      }

      .thirdShadow {
        @extend .imgWrapper;

        transform: translateX(-80px);
        will-change: transform;

        @include below-tablet {
          transform: translateX(0);
        }

        .img {
          max-width: unset;
          height: 35vw;

          @include below-tablet {
            max-width: 100%;
            height: unset;
            width: 90vw;
            transform: none;
          }
        }
      }
    }
  }

  &:nth-child(1) {
    @include phone {
      padding: 0;

      .parallax {
        & > div {
          height: 100vw;
          transform: translateY(-20px);
        }
      }
    }
  }

  &:nth-child(2) {
    h2,
    a > div {
      color: $dark-grey;
    }

    p {
      color: $silver-chalice;
    }
  }

  &:nth-child(3) {
    .parallax div,
    .parallax {
      justify-content: center;
    }
  }
}
