@import 'styles/utils/mixins';

.work {
  @include flex(row-reverse, flex-start, center);

  --gap: 11%;

  position: relative;
  padding: 120px;
  transition: background-color $default-transition-time ease;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  .contentContainer {
    margin: 0 0 0 var(--gap);
    flex: 0 0 481px;
  }

  .content {
    margin-bottom: 32px;
  }

  [data-title],
  [data-description] {
    text-align: left;
  }

  .image {
    flex: 0 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50vw;
  }

  &:nth-child(odd) {
    .link:hover {
      background-color: $yellow500;
    }

    .link:active {
      background-color: $yellow300;
    }
  }

  &:nth-child(even) {
    flex-direction: row;

    .contentContainer {
      margin: 0 var(--gap) 0 0;
    }
  }

  &:nth-child(1) {
    padding-top: 0;

    [data-title] {
      color: $gray0;
    }

    .image {
      padding-top: 534px;
      max-width: 749px;
    }
  }

  &:nth-child(2) {
    [data-title] {
      color: $gray900;
    }

    .image {
      padding-top: 534px;
      max-width: 751px;
    }
  }

  &:nth-child(3) {
    [data-title] {
      color: $gray0;
    }

    .image {
      padding-top: 492px;
      max-width: 664px;
    }
  }

  @include tablet {
    @include flex(column-reverse, flex-start, center);

    flex-direction: column-reverse !important;
    padding: 60px 16px;

    .contentContainer {
      @include flex(column, flex-start, center);

      flex-basis: auto;
      margin: 24px auto 0 !important;
      max-width: 700px;
    }

    [data-title],
    [data-description] {
      text-align: center;
    }

    .image {
      width: 100%;
      max-width: 700px !important;
      padding-top: 60vw !important;
    }
  }
}
