.telemojo {
  @extend .container;

  background-color: $zircon;

  //for Twilio

  .featuresList {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 80px;
  }

  .featureContainer {
    .checkMark {
      color: $white;
      background: $blue-ribbon;
    }
  }

  .contentContainer {
    p {
      max-width: 440px;
      color: $silver-chalice;
    }
  }
}
