.container {
  @include flex(column, center, center);

  padding: 120px 40px;

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 40px;
      margin-right: 0 !important;
    }
  }

  .contentContainer {
    @include flex(row, space-between, center);

    max-width: $wide-content-width;
    width: 100%;
    margin: 0 auto 120px;

    @include tablet {
      @include flex(column, center, center);

      margin-bottom: 60px;
    }
  }

  .descriptionContainer {
    @include flex(column, center);

    max-width: 481px;
    margin-left: 32px;

    @include tablet {
      order: 1;
      max-width: 100%;
      margin: 0;
      text-align: center;
    }
  }

  .sectionName {
    @include fontSize(14px, 150%);

    font-weight: bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $gray400;
  }

  .title {
    @include fontSize(38px, 130%);

    margin: 16px 0;
    font-weight: bold;
    color: $gray900;

    @include phone {
      @include fontSize(24px, 130%);

      margin: 0 0 8px;
    }
  }

  .descriptionIntro {
    margin-bottom: 32px;

    @include phone {
      margin-bottom: 16px;
    }
  }

  .description {
    @include fontSize(16px, 150%);

    color: $gray400;

    & > p {
      margin: 0;
    }
  }

  .additionalInfoContainer {
    @include flex;

    @include phone {
      @include flex(column);
    }
  }

  @include tablet {
    padding: 120px 32px;
  }

  @include phone {
    padding: 60px 16px;
  }
}
