.ai-mobile-cooking-app {
  .contentContainer {
    @include flex(row-reverse, space-between, center);

    gap: 32px;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .descriptionContainer {
    margin: 0;
    max-width: 485px;

    .title {
      @include fontSize(32px, 120%);
    }
  }
}
