.fintech-app-for-credit-score {
  @include flex(row, center, start);

  padding: 120px 0 60px;
  grid-gap: 126px;

  .contentContainer {
    margin: 0;
    max-width: 100%;
    width: auto;
  }

  .descriptionContainer {
    margin: 0;
  }

  @include tablet {
    @include flex(column, center, center);

    padding: 60px 16px 30px;
    grid-gap: 60px;
  }
}
