.humankind {
  padding-bottom: 100px;
  background-color: $gray50;

  .contentContainer {
    margin-bottom: 90px;

    @include phone {
      margin-bottom: 60px;
    }
  }

  .descriptionContainer {
    @include flex(row, space-between);

    max-width: 994px;
    width: 100%;
    margin: 0 auto;

    @include below-tablet {
      @include flex(column, space-between, center);
    }
  }

  .descriptionIntro {
    max-width: 481px;
  }

  @include phone {
    padding-bottom: 60px;
  }
}
