.kitchen-equipment-customizer {
  background: $kitchenSecondary;

  .contentContainer {
    @include flex(row-reverse, space-between);

    position: relative;
    margin: 0;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .descriptionContainer {
    @include flex(column);

    max-width: 585px;
    margin: 0;

    @include tablet {
      @include flex(column, center, center);

      order: 1;
      margin-bottom: 24px;
    }
  }

  .descriptionIntro {
    margin: 0 0 64px;

    .title {
      @include fontSize(24px, 130%);

      margin: 0 0 8px;
      font-weight: 400;
      text-align: left;

      @include tablet {
        text-align: center;
      }
    }

    p {
      text-align: left;

      @include tablet {
        text-align: center;
      }
    }

    @include tablet {
      margin-bottom: 24px;
    }
  }
}
