.machine-learning-in-real-estate {
  padding: 60px 0;
  background-color: $realEstatePrimary;

  .contentContainer {
    margin: 0;
    max-width: $default-content-width;
  }

  .descriptionContainer {
    @include flex(row, space-between, flex-start);

    margin: 0;
    width: 100%;
    max-width: 100%;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .descriptionIntro {
    margin: 0;
    max-width: 481px;

    .sectionName {
      color: $gray0;
      opacity: 0.7;
    }

    .title {
      color: $gray0;
    }

    .description > p {
      color: $gray0;
      opacity: 0.7;
    }

    @include tablet {
      margin-bottom: 16px;
    }
  }

  @include below-tablet {
    padding: 30px 16px;
  }
}
