.seven-pm-thursday {
  background: $sevenPmPrimary;
  padding: 60px 40px;

  .contentContainer {
    margin: 0 auto 120px;

    @include phone {
      margin: 0 auto 30px;
    }
  }

  .sectionName {
    color: $gray500;
  }

  .title {
    color: $gray0;
  }

  .description {
    color: $gray500;
  }

  @include phone {
    padding: 30px 16px;
  }
}
