.seven-pm-thursday {
  background: $sevenPmPrimary;

  .sectionName {
    color: $gray500;
  }

  .title {
    color: $gray0;
  }

  .description {
    color: $gray500;
  }

  .descriptionIntro {
    margin-bottom: 32px;
  }
}
