@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.partnersContainer {
  @include flex(column, center, center);
  padding: $section-indent $side-indent;

  h1 {
    @include h1-title;
    color: $white;
  }
}

.partners {
  @include flex(row, space-between, center);
  width: 100%;
  max-width: 1150px;
  margin-top: 42.5px;

  @include phone {
    flex-direction: column;
    justify-content: flex-start;

    :global(.animated) {
      &:last-child {
        div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.partnersItem {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @include phone {
    margin-bottom: 70px;
    width: 65%;
  }
}