@import "styles/utils/mixins";

.container {
  @include flex(row, flex-start, flex-start, wrap);

  margin-left: -20px;

  @include below-tablet {
    margin-left: -10px;
  }
}

.type {
  margin-bottom: 20px;
}

.title {
  align-items: flex-start;

  h2 {
    @include fontSize(24px);

    margin-bottom: 30px;
  }
}
