.telemojo {
  @extend .container;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2);
  grid-column-gap: 180px;

  .title {
    @include fontSize(40px);
  }

  .teamItem {
    font-weight: 600;
  }
}
