@import 'styles/utils/mixins';

.container {
  margin: 0 auto;
  padding: calc(#{$header-height} + 60px) 0 0;

  @include phone {
    padding: calc(#{$header-height} + 40px) 0 0;
    overflow: hidden;
  }

  .pageTitle,
  .breadcrumbs {
    max-width: $max-content-width;
    margin: 0 auto;
  }

  .breadcrumbs {
    padding: 0 40px;

    @include phone {
      padding: 0 15px;
    }
  }

  &.chat-app-development-company {
    padding: calc(#{$header-height} + 60px) 0 0;

    .feedbackContainer {
      background: $alabaster;

      & > div {
        background: none;
      }
    }

    @include phone {
      padding: calc(#{$header-height} + 40px) 0 80px;
    }
  }

  &.web-app-development-company,
  &.ios-mobile-app-development-services,
  &.android-mobile-app-development-services,
  &.mvp-app-development-company,
  &.cloud-based-app-development-services,
  &.machine-learning-development-services,
  &.fintech-software-development-services {
    background-color: $cod-gray-1;

    .breadcrumbs {
      ol {
        a,
        li::after {
          color: $white;
          opacity: 0.3;
        }

        li:last-child > a {
          color: $white;
          opacity: 0.7;
        }
      }
    }
  }
}

.machine-learning-development-services,
.mobile-app-development-company {
  .feedbackContainer {
    h2 {
      max-width: 880px;
    }
  }
}

.fintech-software-development-services {
  overflow: hidden;
}
