@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.container {
  margin: 0 auto;
  padding: 105px 0 0;

  .pageTitle,
  .breadcrumbs {
    max-width: $wide-content-width;
    margin: 0 auto;
  }

  .breadcrumbs {
    padding: 0 40px;

    @include phone {
      padding: 0 15px;
    }
  }

  &.chat-app-development-company {
    .feedbackContainer {
      background: $gray50;

      & > div {
        background: none;
      }
    }
  }

  &.enterprise-resource-planning-software-services,
  &.web-app-development-company,
  &.ios-mobile-app-development-services,
  &.android-mobile-app-development-services,
  &.mvp-app-development-company,
  &.cloud-based-app-development-services,
  &.machine-learning-development-services,
  &.fintech-software-development-services,
  &.devops-development-services,
  &.data-science-development-company,
  &.cross-platform-development-services,
  &.artificial-intelligence-development-services,
  &.prototyping-services {
    background-color: $gray900;
  }

  @include phone {
    padding: calc(#{$header-height} + 40px) 0 0;
    overflow: hidden;
  }
}

.machine-learning-development-services,
.mobile-app-development-company,
.fintech-software-development-services {
  .feedbackContainer {
    h2 {
      max-width: 880px;
    }
  }
}

.fintech-software-development-services {
  overflow: hidden;
}
