@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.container {
  margin: 0 auto;
  padding: $new-header-height 0 0;
  overflow: hidden;

  .pageTitle,
  .breadcrumbs {
    max-width: $wide-content-width;
    margin: 0 auto;
  }

  .breadcrumbs {
    padding: 0 40px;

    @include phone {
      padding: 0 15px;
    }
  }

  &.chat-app-development-company {
    .feedbackContainer {
      background: $gray50;

      & > div {
        background: none;
      }
    }
  }

  &.book-a-call {
    .breadcrumbs {
      display: none;
    }
  }

  &.enterprise-resource-planning-software-services,
  &.web-app-development-company,
  &.ios-mobile-app-development-services,
  &.android-mobile-app-development-services,
  &.mvp-app-development-company,
  &.pwa-development-services,
  &.cloud-based-app-development-services,
  &.machine-learning-development-services,
  &.fintech-software-development-services,
  &.devops-development-services,
  &.data-science-development-company,
  &.cross-platform-development-services,
  &.artificial-intelligence-development-services,
  &.prototyping-services,
  &.software-quality-assurance-services,
  &.software-development-columbus,
  &.software-development-new-orleans,
  &.software-development-tulsa,
  &.software-development-minneapolis,
  &.software-development-omaha,
  &.software-development-miami,
  &.software-development-washington,
  &.software-development-nashville,
  &.software-development-raleigh,
  &.software-development-oklahoma,
  &.book-a-call,
  &.generative-AI-services,
  &.deep-learning,
  &.ai-staff-augmentation-services,
  &.ai-consulting-services,
  &.ai-chatbot-development-services,
  &.ai-software-development-services {
    background-color: $gray900;
  }

  &.penetration-testing,
  &.banking-software-development-company,
  &.delivery-quality-in-yellow,
  &.payment-gateway-development-company,
  &.e-wallet-app-development,
  &.billing-software-development-services {
    background-color: $gray50;
  }

  @include phone {
    padding: $header-height 0 0;
    overflow: hidden;
  }
}

.machine-learning-development-services,
.mobile-app-development-company,
.fintech-software-development-services {
  .feedbackContainer {
    h2 {
      max-width: 880px;
    }
  }
}

.fintech-software-development-services {
  overflow: hidden;
}
