.ai-mobile-cooking-app {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 211px;
  grid-auto-flow: row;

  .title {
    @include fontSize(30px, 130%);

    color: $gray900;
  }

  .teamItem {
    color: $gray500;
  }
}
