.dindon {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: row;
  grid-column-gap: 184px;
  max-width: 790px;

  @include tablet {
    grid-row-gap: 8px;
  }
}
