.enterprise-resource-planning-system {
  max-width: $default-content-width;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  column-gap: 162px;
  row-gap: 12px;

  .title {
    @include fontSize(38px, 130%);

    grid-row: 1/5;
    font-weight: 600;
  }

  p {
    position: relative;
    padding-left: 24px;
    color: $gray400;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-color: $erpAccent;
    }
  }

  @include tablet {
    display: grid;
    row-gap: 16px;
    column-gap: 48px;
  }

  @include below-tablet {
    @include flex(column, initial, flex-start);

    margin: 0 auto;
  }
}
