.fintech-app-for-credit-score {
  @include flex(column, center, flex-start);

  grid-gap: 8px;
  margin-top: 37px;

  .teamItem {
    color: $gray400;
  }

  @include tablet {
    @include flex(column, center, center);

    margin-top: 0;
  }
}
