.kitchen-equipment-customizer {
  @include flex(column, center, start);

  margin: 0 auto;
  max-width: 378px;
  width: 100%;
  gap: 0;

  .title {
    @include fontSize(24px, 130%);

    margin-bottom: 8px;
    font-weight: 400;
  }

  .teamItem {
    position: relative;
    padding-left: 25px;
    color: $gray400;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 4px;
      background-color: $gray400;
    }
  }

  @include below-tablet {
    margin: 0 auto 0 0;
  }
}
