.smartcenter {
  box-sizing: border-box;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(auto, 2);
  grid-auto-flow: row;
  justify-content: center;
  grid-column-gap: 174px;
  padding: 120px 0;
  max-width: 100%;
  width: 100%;
  background: $gray50;

  @include tablet {
    padding: 60px 0;
    grid-column-gap: 0;
    grid-row-gap: 8px;
  }
}
