.writer-chrome-extension {
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  background-color: $writerSecondary;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  grid-column-gap: 108px;
  grid-row-gap: 48px;
  padding: 120px 0;

  .title {
    grid-area: 1 / 1 / 2 / 5;
    margin: 0 auto;
    color: $gray0;
  }

  .teamList {
    @include flex(column);

    @include tablet {
      align-items: center;
    }
  }

  .listTitle {
    @include fontSize(18px, 180%);

    color: $gray0;
    font-weight: 700;
    margin: 0 0 16px;

    @include tablet {
      text-align: center;
      margin: 0 0 8px;
    }
  }

  .listItem {
    @include fontSize(16px, 150%);

    position: relative;
    color: $gray0;
    opacity: 0.7;
    padding-left: 20px;
    margin: 0 0 8px;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $writerAccent;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    @include tablet {
      text-align: center;
    }
  }

  @include tablet {
    padding: 60px 16px;
    grid-column-gap: 0;
    grid-row-gap: 24px;
  }
}
