.subscriber {
  background: url("./bg.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #706a6c;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 30px;
  text-align: center;

  p {
    color: #fff;
    font-size: 24px;
  }

  form {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 550px;
    width: 100%;

    @media (max-width: 768px) {
      width: initial;
    }

    input {
      padding: 1rem;
      border: none;
      border-radius: 0;
      outline: none;
      margin: 0;
      flex-grow: 1;
      background-color: #e0e0e0;
      font-size: 16px;
      z-index: 2;
      line-height: 20px;

      &::placeholder {
        color: #000;
      }
    }

    input[type="submit"] {
      padding: 1rem;
      border: none;
      max-width: 140px;
      background-color: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &.transparent {
    background: none;
    color: #000;
    margin-top: 85px;
    border-top: 1px solid #cdcdcd;

    @media (max-width: 768px) {
      min-height: 300px;
    }

    .heading {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1;
    }

    p {
      color: #000;
      font-weight: normal;
      font-size: 1.1rem;
      margin-bottom: 2.7rem;
    }

    form {
      input {
        border: 1px solid #c1bfbf;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
          color: #a9a9a9;
        }

        &[type="text"]:valid {
          +input[type="submit"] {
            background: #222;
            color: #fff;
            border: 1px solid #222;
            cursor: pointer;
          }
        }

        &[type="submit"] {
          border: 1px solid #c1bfbf;
          margin-left: 20px;
          text-transform: uppercase;
          color: #282828;
          transition: all 0.35s ease;

          &:after {
            position: absolute;
            display: block;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: #ffbf02;
            transform: scaleY(0);
            transform-origin: center top;
            transition: transform 0.2s ease-in;
            z-index: -1;
          }

          &:hover:after {
            transform: scaleY(1);
            transform-origin: center bottom;
          }

          @media (max-width: 568px) {
            margin-left: 10px;
          }
        }
      }
    }
  }

  &.insideArticle {
    background: #f4f4f8;
    min-height: auto;
    padding: 55px 20px 75px;
    margin: 0;

    .heading {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #000000;
    }

    p {
      margin: 2px 0 58px;
      max-width: 420px;
      font-size: 1rem;
      line-height: 1.42;
      text-align: center;
      color: #616161;
    }

    form {
      display: flex;
      width: 100%;
      max-width: 400px;

      input {
        border: 1px solid #c1bfbf;
        border-radius: 3px;
        background: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
          color: #a9a9a9;
        }

        &[type="email"] {
          flex: 2 1 auto;
          width: inherit;
        }

        &[type="emai"]:valid {
          +input[type="submit"] {
            background: #222;
            color: #fff;
            border: 1px solid #222;
            cursor: pointer;
          }
        }

        &[type="submit"] {
          flex: 1 1 auto;
          width: inherit;
          max-width: 120px;
          border: 1px solid #9f35e5;
          border-radius: 3px;
          background: #9f35e5;
          margin-left: 20px;
          color: white;
          transition: all 0.35s ease;

          &:after {
            position: absolute;
            display: block;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: #ffbf02;
            transform: scaleY(0);
            transform-origin: center top;
            transition: transform 0.2s ease-in;
            z-index: -1;
          }

          &:hover:after {
            transform: scaleY(1);
            transform-origin: center bottom;
          }

          @media (max-width: 568px) {
            margin-left: 10px;
          }
        }
      }
    }

    .notice {
      background: #f4f4f8;
    }
  }
}

.notice {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  width: 0;
  transition: width 0.47s ease-in-out;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    transition-delay: 0.2s;

    span {
      font-weight: bold;
      margin-left: 15px;
      text-transform: uppercase;
    }
  }

  &.active {
    width: 100%;
    z-index: 3;

    >.content {
      opacity: 1;
    }
  }
}