@import 'styles/utils/mixins';
@import 'styles/utils/theme/animations';

.burger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 27px 20px 27px 5.334vw;
  cursor: pointer;

  @include phone {
    @include flex(column, center, flex-end);
    z-index: -1;
  }

  div {
    display: block;
    cursor: pointer;
    z-index: -1;

    span {
      width: 20px;
      height: 2px;
      border: 0 none;
      border-radius: 10px;

      display: block;
      position: absolute;
      left: 0;
      background-color: $white;
      transition: transform $burger-transition-time cubic-bezier(.645, .045, .355, 1),
        top $burger-transition-time cubic-bezier(.645, .045, .355, 1) .2s,
        background-color $default-transition-time;
      pointer-events: none;
    }

    &>span:nth-of-type(1) {
      top: $burger-item-1;
    }

    &>span:nth-of-type(2) {
      top: $burger-item-2;
    }

    &>span:nth-of-type(3) {
      top: $burger-item-2;
    }
  }
}

.burgerOpened {
  z-index: 1700000;

  div {
    span {
      background-color: $white;
    }

    &>span:nth-of-type(1) {
      animation: burgerItem1 $burger-transition-time forwards;
    }

    &>span:nth-of-type(2) {
      animation: burgerItem2 $burger-transition-time forwards;
    }

    &>span:nth-of-type(3) {
      animation: burgerItem3 $burger-transition-time forwards;
    }
  }
}

.burgerClosed {
  div {
    z-index: 1;

    &>span:nth-of-type(1) {
      animation: burgerItem1Reverse $burger-transition-time forwards;
    }

    &>span:nth-of-type(2) {
      animation: burgerItem2Reverse $burger-transition-time forwards;
    }

    &>span:nth-of-type(3) {
      animation: burgerItem3Reverse $burger-transition-time forwards;
    }
  }
}

.additionalBurger {
  div {
    span {
      @include phone {
        background-color: $black !important;
      }
    }
  }
}

.additionalBurgerOpened {
  div {
    span {
      @include phone {
        background-color: $white !important;
      }
    }
  }
}