@import "styles/utils/mixins";

.mobileDropDownMenu {
  margin-top: 16px;

  .subMenuItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .subMenuItem {
      position: relative;
      font-weight: 700;
      color: $gray0;
      cursor: pointer;
    }

    .svgContainer {
      margin-right: 5px;
      outline: none;
      transform: rotate(-180deg);
      transition: transform $default-transition-time ease-in-out;

      & > svg > path {
        fill: $gray0;
      }
    }
  }

  &.light {
    .subMenuItem {
      color: $gray900;
    }

    .svgContainer > svg > path {
      fill: $gray900;
    }
  }

  .openedDropDown {
    .svgContainer {
      transform: rotate(0);
      transition: transform $default-transition-time ease-in-out;
    }
  }
}
