@import 'styles/utils/mixins';
@import '../styles.module';

.h1 {
  @include fontSize(44px);

  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  color: $timber-green;

  @include tablet {
    @include fontSize(38px);
  }

  @include below-tablet {
    @include fontSize(34px);
  }

  @include phone {
    @include fontSize(25px, 1.4);
  }
}

.article {
  margin: 0 auto;
  max-width: 1500px;
  background-color: $white;

  .body {
    max-width: 790px;
    margin: 0 auto;

    & > p {
      @extend .paragraph;
    }

    @include phone {
      padding: 0;
    }
  }

  .header {
    @include flex(row, center, center);

    width: 100%;
    padding: 40px 0 0;
    margin-bottom: 8vh;
    color: $black;

    .imageWrapper {
      @include flex(row, center);

      width: 50%;
      height: 100%;
      flex: 1 0 50%;
      border-radius: 4px;
      max-width: 630px;
      max-height: 630px;

      & > div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 100%;
        width: 100%;
        opacity: 1;
      }

      @include tablet {
        width: 100%;
        max-width: none;
        max-height: none;
        margin-bottom: 8vh;
      }

      @include phone {
        padding: 0;
      }
    }

    .container {
      max-width: 100%;
      padding: 0 60px;
      align-items: center;

      & > p {
        @include fontSize(21px);

        color: $mirage;
        line-height: 1.5;
        padding: 0;
        margin: 4vh 0 80px;
        font-weight: 500;

        @include tablet {
          @include fontSize(19px);
        }

        @include below-tablet {
          @include fontSize(18px);
        }

        @include phone {
          @include fontSize(14px,1.4);

          margin-bottom: 40px;
        }
      }

      .date {
        @include fontSize(14px);

        margin: 0;
        font-weight: 600;
        padding-bottom: 30px;
        text-transform: uppercase;

        @include phone {
          @include fontSize(12px);
        }
      }

      @include tablet {
        padding: 0;
        margin: 0 0 8vh;
        max-width: none;
      }

      @include below-tablet {
        margin: 0 auto 5vh;
      }

      @include phone {
        margin-bottom: 40px;
      }
    }

    @include desktop {
      min-height: 50vh;
    }

    @include tablet {
      @include flex(column-reverse, center, center);

      margin-bottom: 0;
    }

    @include below-tablet {
      padding: 0;
    }
  }
}
