@import 'styles/utils/mixins';
@import '../styles.module';

.h1 {
  @include fontSize(44px);

  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  color: $timber-green;

  @include tablet {
    @include fontSize(38px);
  }

  @include below-tablet {
    @include fontSize(34px);
  }

  @include phone {
    @include fontSize(25px, 1.4);
  }
}

.headImage {
  flex: 1 1 584px;
  border-radius: 4px;
  aspect-ratio: 584/480;

  img {
    object-fit: cover;
  }

  @include tablet {
    width: 100%;
    max-width: none;
    max-height: none;
    margin-bottom: 24px;
    flex-basis: auto;
  }

  @include phone {
    padding: 0;
  }
}

.article {
  margin: 0 auto;
  max-width: 1500px;
  background-color: $white;
}

.body {
  max-width: 790px;
  margin: 0 auto;

  & > p {
    @extend .paragraph;
  }

  @include phone {
    padding: 0;
  }
}

.header {
  @include flex(row, center, center);

  width: 100%;
  padding: 40px 0 0;
  margin-bottom: 8vh;
  color: $black;

  @include desktop {
    min-height: 50vh;
  }

  @include tablet {
    @include flex(column, center, center);

    margin: 24px 0 0;
  }

  @include below-tablet {
    padding: 0;
  }
}

.container {
  max-width: 100%;
  margin: 0 0 0 32px;
  align-items: center;
  flex: 1 1 584px;

  & > p {
    @include fontSize(21px);

    color: $mirage;
    line-height: 1.5;
    padding: 0;
    margin: 4vh 0 80px;
    font-weight: 500;

    @include tablet {
      @include fontSize(19px);
    }

    @include below-tablet {
      @include fontSize(18px);
    }

    @include phone {
      @include fontSize(14px,1.4);

      margin-bottom: 40px;
    }
  }

  .date {
    @include fontSize(14px);

    margin: 0;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: uppercase;

    @include phone {
      @include fontSize(12px);
    }
  }

  @include tablet {
    padding: 0;
    margin: 0 0 8vh;
    max-width: none;
    flex-basis: auto;
  }

  @include below-tablet {
    margin: 0 auto 5vh;
  }

  @include phone {
    margin-bottom: 40px;
  }
}
