@import 'styles/utils/mixins';
@import '../styles.module.scss';

.h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -2px;
  color: $timber-green;

  @include fontSize(44px);

  @include macbook-fifteen {
    @include fontSize(42px);
  }

  @include macbook-twelve {
    @include fontSize(35px);
  }

  @include tablet {
    @include fontSize(38px);
  }

  @include below-tablet {
    @include fontSize(34px);
  }

  @include phone {
    line-height: 1.4;

    @include fontSize(25px);
  }
}

.article {
  margin: 0 auto;
  max-width: 1500px;
  background-color: $white;

  .body {
    max-width: 720px;
    margin: 0 auto;

    @include phone {
      padding: 0 10px;
    }

    & > p {
      @extend .paragraph;
    }
  }

  .header {
    width: 100%;
    padding: 40px 0 0;
    margin-bottom: 8vh;
    color: $black;

    @include flex(row, center, center);

    @include desktop {
      min-height: 50vh;
    }

    @include tablet {
      margin-bottom: 0;

      @include flex(column, center, center);
    }

    @include phone {
      padding: 60px 0 0;
    }

    & > div:nth-of-type(1) {
      width: 100%;
      height: 100%;
      flex: 1 0 40%;
      border-radius: 4px;
      min-height: 65vh;
      max-width: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @include macbook-fifteen {
        min-height: 600px;
      }

      @include macbook-twelve {
        min-height: 500px;
        max-width: 480px;
      }

      @include tablet {
        height: 48vh;
        min-height: 480px;
        max-width: 100%;
      }

      @include phone {
        height: 250px;
        min-height: 250px;
        max-width: 100%;
      }
    }

    .container {
      max-width: 100%;
      padding: 0 60px;
      align-items: center;

      @include tablet {
        padding: 0;
        margin: 4vh auto 8vh;
        max-width: 720px;
      }

      @include below-tablet {
        margin: 4vh auto 5vh;
      }

      @include phone {
        padding: 0 10px;
      }

      & > p {
        color: $mirage;
        line-height: 1.5;
        padding: 0;
        margin: 4vh 0 0;
        font-weight: 500;

        @include fontSize(21px);

        @include macbook-fifteen {
          @include fontSize(20px);
        }

        @include macbook-twelve {
          @include fontSize(17px);
        }

        @include tablet {
          @include fontSize(19px);
        }

        @include below-tablet {
          @include fontSize(18px);
        }

        @include phone {
          line-height: 1.4;

          @include fontSize(15px);
        }
      }
    }
  }
}
