.bookBlock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $gray900;
  z-index: 60;
  opacity: 0;
  pointer-events: none;
  transition: ease 0.5s;
  padding: 0 16px;
  box-sizing: border-box;

  .blockWrapper {
    @include flex(row, initial, center);

    position: relative;
    margin: 0 auto;
    padding: 16px 0;
    max-width: $wide-content-width;

    @include below-tablet {
      @include flex(column, center, center);

      padding: 32px 0;
    }
  }

  .cta {
    margin: 0 40px 0 12px;
    padding: 0;
    width: 100%;
    min-height: unset;
    max-width: unset;
    background-color: transparent;
    z-index: 10;

    h3 {
      @include fontSize(16px, 150%);

      color: $gray0;
      font-weight: 400;

      @include below-tablet {
        margin-bottom: 24px;
      }
    }

    @include below-tablet {
      margin: 12px 0 0;
    }
  }

  .closeIcon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;

    path {
      fill: $gray500;
    }

    @include below-tablet {
      transform: unset;
      top: 16px;
      right: 0;
    }
  }

  .bookIcon {
    width: 56px;
    height: 56px;
  }
}

.blockShow {
  opacity: 1;
  pointer-events: auto;
}
