.discovery-phase-services {
  @include appFeaturesContainer;

  &.firstSectionView {
    background: $gray0;

    .titleWrapper {
      align-items: flex-start;
      margin: 0;

      h2 {
        max-width: 540px;
        margin-bottom: 32px;

        @include below-tablet {
          max-width: 100%;
          text-align: center;
        }
      }

      @include below-tablet {
        align-items: center;
      }
    }

    .container {
      @include tablet {
        flex-direction: column-reverse;
      }
    }

    .sectionContainer {
      max-width: 687px;

      @include tablet {
         margin: 0 auto;
      }
    }

    .imageContainer {
      width: 100%;
      max-width: 480px;

      @include tablet {
        margin: 0 auto 24px;
      }
    }

    .image {
      width: 480px;
      height: 449px;

      @include below-tablet {
        width: 100%;
        height: 320px;
      }
    }
  }

  &.secondSectionView {
    background-color: $gray900;

    [data-title] {
      color: $gray0;

      @include tablet {
        text-align: center;
      }
    }

    [data-description] {
      @include tablet {
        text-align: center;
        margin: 0 auto;
      }
    }

    .container {
      max-width: 1300px;

      .sectionContainer {
        @include flex(column, center);

        z-index: 100;
        max-width: 585px;
        order: 1;

        & > div:nth-child(7) {
          position: relative;
          margin-top: 32px;

          p {
            @include fontSize(16px, 150%);

            margin: 0;
            color: $yellow500;

            &::before {
              content: unset;
            }

            @include tablet {
              text-align: center;
              margin: 0;
            }
          }

          img {
            position: absolute;
            width: 200px;
            height: 200px;
            margin: 0;
            bottom: 50px;
            left: -215px;

            @include desktop {
              display: none;
            }
          }

          @include tablet {
            margin-top: 24px;
          }
        }

        @include desktop {
          max-width: 100%;
        }

        @include tablet {

        }
      }

      .imageWrapper {
        @include flex(row, center, center);

        width: 50%;
        position: relative;

        &::before {
          @include centered;

          content: '';
          width: 474px;
          height: 474px;
          background: $yellow500;
          border-radius: 50%;
        }

        @include desktop {
          width: 100%;
        }

        @include tablet {
          margin-top: 24px;
        }
      }

      .imageContainer {
        overflow: hidden;
        position: relative;
        border-radius: 51px;
        margin: 0 auto;
        width: min-content;

        .image {
          display: none;
        }

        @include desktop {
          margin: 0 auto;
        }
      }

      @include tablet {
        flex-direction: column-reverse;
        margin: 0 auto;
      }
    }
  }
}
