.enterprise-resource-planning-software-services {
  @include appFeaturesContainer();

  background-color: $very-dark-gray;

  [data-case-study-title] {
    color: $white;

    @include tablet-size-horizontal {
      text-align: center;
    }
  }

  .container {
    @include tablet-size-horizontal {
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
    }
  }

  .sectionContainer {
    order: 1;
  }

  .imageContainer {
    max-width: 700px;

    @include tablet-size-horizontal {
      margin: 30px auto 0;
    }
  }

  .image {
    transform: scale(1.6) translate(-220px, 110px);

    @include macbook-thirteen {
      transform: scale(1.2) translate(-150px, 110px);
    }

    @include tablet-size-horizontal {
      transform: none;
    }
  }
}
