.fintech-software-development-services {
  @include appFeaturesContainer;

  background: $gray0;

  [data-title] {
    margin-bottom: 32px;

    @include tablet {
      text-align: center;
      margin: 0 auto 20px;
    }
  }

  .container {
    justify-content: space-between;

    .imageContainer {
      max-width: 863px;

      @include tablet {
        max-width: 100%;
      }
    }

    .image {
      transform: scale(1.43) translate(110px, 50px);

      @include tablet {
        transform: unset;
      }
    }

    @include tablet {
      flex-direction: column;
    }
  }
}
