.fintech-software-development-services {
  @include appFeaturesContainer;

  background: $gray0;

  [data-title] {
    margin-bottom: 32px;

    @include below-tablet {
      @include fontSize(32px);

      margin-bottom: 20px;
      text-align: center;
    }
  }

  .container {
    justify-content: space-between;

    .imageContainer {
      max-width: 863px;

      img {
        transform: scale(1.43) translate(14.5%, 11.5%);

        @include tablet {
          transform: scale(1.93) translate(20%, 23%);
        }

        @include below-tablet {
          transform: unset;
        }
      }

      @include below-tablet {
        margin-left: unset;
      }

      @include phone {
        margin: 0 auto;
      }
    }

    .sectionContainer {
      max-width: 584px;

      @include below-tablet {
        max-width: 100%;
      }
    }

    @include below-tablet {
      flex-direction: column;
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}
