.fintech-software-development-services {
  @include appFeaturesContainer();

  background: $white;

  .container {
    .imageContainer {
      max-width: 863px;

      img {
        transform: scale(1.5) translate(20%, 20%);

        @include tablet {
          transform: unset;
        }
      }

      @include tablet {
        max-width: 100%;
        margin-left: unset;
      }

      @include phone {
        margin: 0 auto;
      }
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}
