.prototyping-services {
  @include appFeaturesContainer;

  padding: 120px 60px;
  background-color: $gray900;

  .container {
    gap: 24px;

    @include tablet {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  .logoImage {
    margin-bottom: 24px;
    width: 88px;
    height: 88px;

    @include tablet {
      margin: 0 auto 16px;
      width: 64px;
      height: 64px;
    }
  }

  .titleWrapper {
    margin: 0 auto 24px;
  }

  [data-title] {
    color: $gray0;

    @include tablet {
      text-align: center;
    }
  }

  [data-description] {
    max-width: 100%;

    @include tablet {
      margin: 8px auto 0;
    }

    @include phone {
      text-align: center;
    }
  }

  .sectionContainer {
    @include flex(column, center);

    max-width: 50%;

    @include tablet {
      max-width: 100%;
    }
  }

  .imageContainer {
    position: relative;
    z-index: 1;
    margin: 0 auto;

    &::before {
      @include circle($yellow400, 430px);
      @include centered;
    }
  }

  @include phone {
    padding: 60px 16px;
  }
}
