@import 'styles/utils/mixins';
@import 'utils/theme/animations';

.logo-image {
  height: $box_h;
  width: $box_h;
  border-radius: $initial-radius;
}

.logo {
  &-wrapper {
    transform: rotate(-30deg) scale(.6);

    @include phone {
      transform: rotate(-30deg) scale(.5);
    }
  }

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    @include flex(row, center, center);
    background-image: $gradient-border;

    &.logo-dot {
      right: 29%;
      top: 21%;
      left: auto;
      width: 8px;
      height: 8px;
      border-radius: $max-radius;
      background-image: $gradient-dot;
    }
  }

  &-border {
    width: 75%;
    height: 75%;
    margin-top: -42%;
    margin-left: -42%;
    border-radius: $initial-radius;
  }

  &-circle {
    width: 47%;
    height: 47%;
    margin-top: -28%;
    margin-left: -28%;
    border-radius: $max-radius;
  }
}

.overlay {
  width: calc(100% - #{$border});
  height: calc(100% - #{$border});
  background-color: $white;
  border-radius: calc(#{$initial-radius} - 5px);
}

.logo-border {
  animation: animateborder 5s infinite alternate;

  .overlay {
    animation: animateborder-overlay 5s infinite alternate;
  }
}

.logo-circle {
  animation: animatecircle 5s infinite alternate;

  .overlay {
    animation: animateborder 5s infinite alternate;
  }
}

.logo-dot {
  animation: animatedot 5s infinite normal;
}
