.discovery-phase-services {
  padding: 120px 40px;

  [data-case-study-title] {
    @include phone {
      @include fontSize(32px, 120%);
    }
  }

  .contentWrapper {
    margin: 0 auto;
    max-width: $max-content-width;

    .cardWrapper {
      @include flex(column, center);

      .typeTitle {
        text-align: center;
      }

      p {
        @include fontSize(18px, 180%);

        text-align: center;
        color: $silver-chalice;
        max-width: 340px;
        margin: 0 auto;
      }

      img {
        margin: 0 auto;
        max-width: 320px;
        order: -1;
      }
    }

    .cardsList > div > div:first-child {
      margin-bottom: 20px;
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}
