@import 'styles/utils/mixins';

.toTop {
  @include macbook-fifteen {
    right: 50px;
  }

  @include macbook-twelve {
    width: 50px;
    height: 50px;
  }

  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $turbo-100;
  z-index: 99999;
  outline: none;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition:
    visibility 0.3s,
    opacity 0.4s ease,
    transform 0.2s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .arrowUp {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include phone {
      width: 19px;
      height: 19px;
    }
  }

  @include phone {
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0.3s,
    opacity 0.4s ease;
}
