@import 'styles/utils/mixins';

.prototypeContainer {
  @include flex(row, center, center);

  overflow: hidden;
  position: relative;
  height: 600px !important;
  width: 293px !important;
  user-select: none;
  border-radius: 52px;

  .prototype {
    margin: 0 -40px !important;
    width: 362px !important;
    height: 750px !important;
  }

  .deviceFrame {
    position: absolute;
    left: -2px;
    width: 101.5%;
    height: 100%;
    pointer-events: none;
  }
}
