@import 'styles/utils/mixins';

.prototypeContainer {
  @include flex(row, center, center);

  overflow: hidden;
  position: relative;
  height: 636px !important;
  width: 313px !important;
  border-radius: 46px;
  user-select: none;

  @include phone {
    border-radius: 0;
  }
}

.prototype {
  margin: -112px -50px !important;
  width: 414px !important;
  height: 860px !important;

  @media (hover: none) and (pointer: coarse) {
    border-radius: 46px;
    margin: 13px 40px !important;
    width: 91.5% !important;
    height: 96% !important;
  }
}

.deviceFrame {
  position: absolute;
  display: none;
  left: -2px;
  width: 101.5%;
  height: 100%;
  pointer-events: none;

  @media (hover: none) and (pointer: coarse) {
    display: block;
  }
}
