@import 'styles/utils/mixins';
@import 'styles/utils/colors';

.prototypeContainer {
  @include flex(row, center, center);

  position: relative;
  width: 293px !important;
  height: 600px !important;
  user-select: none;

  .iframeContainer {
    @include flex(row, center, center);

    width: 264px !important;
    height: 574px !important;
    background-color: $gray900;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;
  }

  .prototype {
    @media (hover: hover) {
      margin: -48px !important;
      width: 427px !important;
      height: 923px !important;
    }

    width: 263px !important;
    height: 573px !important;
    border: none !important;
  }

  .deviceFrame {
    position: absolute;
    left: 0;
    top: 0;
    width: 293px;
    height: 599px;
    pointer-events: none;
  }
}
