@import "styles/utils/mixins";

.container {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: repeat(3, minmax(315px, 410px));
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  max-width: 1100px;

  @include tablet {
    grid-row-gap: 10px;
    padding-top: 80px;

    @include flex(column, center, center);
  }

  .title {
    margin: 0;
    grid-row: 1/4;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 120%;
    color: $dark-grey;

    @include fontSize(40px);

    @include tablet {
      margin-bottom: 40px;

      @include fontSize(32px);
    }

    @include phone {
      @include fontSize(24px);
    }
  }

  .teamItem {
    margin: 0;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 180%;
    color: $dark-grey;

    @include fontSize(18px);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      margin-bottom: 5px;

      @include fontSize(14px);
    }
  }
}

.fernwayer {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;
}

.stickerbox {
  @extend .container;

  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 110px;

  .title {
    grid-row: 1/5;
  }
}

.seven-pm-thursday,
.fusion-markets {
  @extend .container;

  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 160px;

  .title {
    color: $white;
    grid-row: 1/5;
  }

  .teamItem {
    font-weight: 500;
    color: $white;
  }
}

.fusion-markets {
  .teamItem {
    color: $silver-chalice;
  }
}

.fairy {
  @extend .container;

  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 95px;

  .title {
    margin-bottom: 80px;
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;

    @include fontSize(56px);
  }

  .teamItem {
    font-weight: 500;
  }
}

.blackbird {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;
  width: 100%;
  max-width: initial;
  bottom: 0;
  justify-content: center;

  .title {
    grid-row: 1/4;

    @include phone {
      @include fontSize(32px);
    }
  }

  .teamItem {
    @include phone {
      @include fontSize(18px);
    }
  }
}

.beautonomy,
.travel-trivia {
  @extend .container;

  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 210px;

  .title {
    grid-row: 1/5;

    @include phone {
      @include fontSize(38px);
    }
  }

  .teamItem {
    @include phone {
      @include fontSize(18px);
    }
  }

  .teamItem:nth-of-type(3) {
    grid-row: 3/5;
  }
}

.beautonomy {
  @include tablet {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 110px;
    align-items: unset;
    padding-top: 80px;
  }

  @include below-tablet {
    @include flex(column, center, center);
  }
}

.tell {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 220px;

  .title {
    position: relative;
  }
}

.writer-chrome-extension,
.open-sense,
.telemojo {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 150px;

  .title {
    padding-right: 60px;
  }
}

.writer-chrome-extension {
  grid-template-columns: repeat(2, auto);
  padding-top: 145px;

  .title {
    @include tablet {
      padding-right: 0;
    }
  }

  @include tablet {
    padding-top: 80px;
  }
}

.drive-focus,
.cash-chat {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;

  .teamItem:nth-of-type(2) {
    grid-row: 2/4;
  }
}

.smartcenter {
  @extend .container;

  position: absolute;
  background-color: $alabaster;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;
  width: 100%;
  max-width: initial;
  bottom: 0;
  padding: 150px 0;
  margin-top: 150px;
  justify-content: center;

  @include tablet {
    margin-top: 220px;
  }

  @include phone {
    padding: 80px 0;
  }
}

.meateater {
  @extend .container;

  position: absolute;
  background-color: $alabaster;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;
  width: 100%;
  max-width: initial;
  bottom: 0;
  padding: 80px 0;
  margin: 150px 0;
  justify-content: center;

  @include phone {
    margin: 80px 0;
  }

  .title {
    grid-row: 1/4;
  }
}

.telemojo {
  grid-auto-flow: unset;

  @include phone {
    .title {
      padding-right: 0;
    }
  }
}

.famlicious {
  @extend .container;

  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 110px;

  .title {
    grid-row: 1/4;
  }
}

.bionorica {
  @extend .container;

  position: absolute;
  bottom: 0;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: initial;
  grid-column-gap: 180px;
  justify-content: center;
  width: 100%;
  max-width: initial;
  padding: 80px 0;
  margin: 150px 0;
  background: linear-gradient(180deg, rgba($selago, 0) 0%, $selago 20.83%, $selago 49.48%, $selago 74.48%, rgba($selago, 0) 100%);

  @include phone {
    margin: 80px 0;
  }

  .title {
    grid-row: 1/4;
  }

  .bundleImage {
    position: absolute;
    right: 0;
    top: -50%;
    height: 370px;
    z-index: -1;

    @include tablet {
      top: -20%;
      height: 250px;
    }
  }
}
