@import 'styles/utils/mixins';

.container {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: repeat(3, minmax(315px, 410px));
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  max-width: 1100px;

  @include tablet {
    display: none;
  }

  .title {
    margin: 0;
    grid-row: 1/4;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 120%;
    color: $dark-grey;

    @include fontSize(40px);

    @include tablet {
      @include fontSize(32px);
    }

    @include phone {
      @include fontSize(24px);
    }
  }

  .teamItem {
    margin: 0;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 180%;
    color: $dark-grey;

    @include fontSize(18px);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      margin-bottom: 5px;

      @include fontSize(14px);
    }
  }
}

.fernwayer {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 180px;
}

.stickerbox {
  @extend .container;

  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 110px;

  .title {
    grid-row: 1/5;
  }
}

.seven-pm-thursday {
  @extend .container;

  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 160px;

  .title {
    color: $white;
    grid-row: 1/5;
  }

  .teamItem {
    font-weight: 500;
    color: $white;
  }
}

.fairy {
  @extend .container;

  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 95px;

  .title {
    margin-bottom: 80px;
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;

    @include fontSize(56px);
  }

  .teamItem {
    font-weight: 500;
  }
}

.tell {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 220px;

  .title {
    position: relative;
  }
}

.open-sense {
  @extend .container;

  grid-template-columns: repeat(3, auto);
  grid-column-gap: 150px;

  .title {
    padding-right: 60px;
  }
}
