@import "styles/utils/mixins";

.separate-us {
  @include caseStudyContainer;

  font-family: $case-studies-font;
  background-color: $mercury-1;

  .sectionContent {
    max-width: 1115px;
    margin: 0 auto;

    @include flex(row, space-between);

    @include below-tablet {
      flex-direction: column-reverse;
    }

    .sectionImage {
      width: 50%;
      max-width: 518px;
      margin-right: 115px;

      @include flex(column);

      @include below-tablet {
        width: 100%;
        margin: 0 auto;
        max-width: unset;
      }

      .photoCaption {
        color: $dark-grey;
        font-weight: 500;
        margin: 20px 0 0;

        @include fontSize(25px);
      }

      .photoSecription {
        color: $silver-chalice;
        margin: 5px 0 0;

        @include fontSize(18px);
      }
    }

    .sectionInfo {
      width: 50%;

      @include flex(column);

      @include below-tablet {
        width: 100%;
        margin-bottom: 100px;
      }

      .sectionTitle {
        font-weight: 700;
        color: $dark-grey;
        margin: 30px 0 0;

        @include fontSize(56px);

        @include below-tablet {
          text-align: center;

          @include fontSize(40px);
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      p {
        color: $silver-chalice;
        margin: 30px 0 0;

        @include fontSize(18px);
      }
    }
  }

  .video {
    max-width: 1115px;
    margin: 150px auto 0;
  }
}
