@import 'styles/utils/mixins';

.container {
  flex: 1 1 auto;
  margin-left: 32px;
  max-width: 213px;

  @include below-tablet {
    margin: 0 auto;
  }
}

.field {
  margin-bottom: 0;

  @include below-tablet {
    margin-top: 16px;
  }
}

.button {
  margin: 16px 0 0 auto;
  padding: 0;
}
