/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.dropDownMenu {
  position: absolute;
  top: $header-height - 0.5px;
  left: 0;
  width: 100%;
  padding: 64px 0;
  background-color: $dark-grey;
  color: $white;
  z-index: -1;
  opacity: 1;
  visibility: visible;
  transition:
  visibility 0.2s,
  opacity 0.3s ease;
  box-shadow: none;

  @include macbook-twelve {
    padding-bottom: 80px;
  }

  @include phone {
    position: relative;
    top: 0;
    padding: 0;
    margin-top: 20px;
    width: unset;
    z-index: unset;
    background-color: $black;
  }

  .dropDownNavContainer {
    max-width: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 32px 120px;

    @include macbook-twelve {
      grid-template-columns: repeat(2, auto);
    }

    @include below-tablet {
      display: block;
      margin: 0;
      width: unset;
      grid-column-gap: unset;
      grid-template-columns: unset;
    }

    .itemContainer {
      outline: none;

      .link {
        @include fontSize(16px, 150%);

        display: block;
        margin: 0;

        &.title {
          font-weight: 700;
          color: $white;
          transition: color 0.3s ease-in-out;
        }

        .subtitle {
          font-weight: 400;
          line-height: 2;
          color: $silver-chalice;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
          display: block;

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }

        &:hover {
          &.title {
            color: $turbo-100;
          }

          & > span {
            color: $turbo-100;
            opacity: 0.7;
          }
        }
      }

      .menuLink {
        display: block;
        margin: 12px 0 0 0;

        @include fontSize(16px, 150%);

        .menuText {
          color: $silver-chalice;
          outline: none;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        &:hover {
          .menuText {
            color: $turbo-100;
            opacity: 0.7;
          }
        }
      }

      &:nth-child(2) {
        grid-column: 2/3;

        @include phone {
          grid-row: unset;
          grid-column: unset;
        }
      }

      @include below-tablet {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }

  @include below-tablet {
    position: relative;
    top: 0;
    padding: 0;
    margin-top: 20px;
    width: unset;
    z-index: unset;
  }
}

.pageScrolling {
  background-color: $white;
  box-shadow: 0 40px 60px -40px rgb(0 0 0 / 0.1);
  border-bottom: none;

  .dropDownNavContainer {
    .itemContainer {
      .link {
        &.title {
          color: $dark-grey;
        }
      }
    }
  }
}

.closed {
  opacity: 0;
  visibility: hidden;
  transition:
  visibility 0.4s,
  opacity 0.5s ease;
}

.lightTheme {
  background-color: $white;

  .dropDownNavContainer > .itemContainer {
    .link {
      &.title {
        color: $dark-grey;
      }

      .subtitle {
        color: $gray400;
      }
    }

    .menuLink {
      .menuText {
        color: $gray400;
      }
    }
  }
}
