@import "styles/utils/mixins";

.advantages {
  min-height: calc(100vh - 100px * 2);

  @include flex(column, center, center);

  @include ultra-hd {
    padding: 300px $side-indent $section-indent;
  }

  @include quad-hd {
    padding: $section-indent $side-indent;
  }

  @include full-hd {
    min-height: calc(90vh - 2 * #{$section-indent});
  }

  @include tablet {
    min-height: auto;
  }

  @include phone {
    padding: $mobile-section-indent $side-indent;
  }

  .subtitle {
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-align: center;
    color: $black;

    @include flex(column, center, center);
  }
}
