@import 'styles/utils/mixins';

.advantages {
  min-height: calc(100vh - 100px * 2);

  @include flex(column, center, center);

  @include ultra-hd {
    padding: 300px $side-indent $section-indent;
  }

  @include quad-hd {
    padding: $section-indent $side-indent;
  }

  @include full-hd {
    min-height: calc(90vh - 2 * #{$section-indent});
  }

  @include tablet {
    min-height: auto;
  }

  @include phone {
    padding: $mobile-section-indent $side-indent;
  }

  .container {
    max-width: 744px;

    .title {
      @include fontSize(56px);

      line-height: 120%;
    }

    .subtitle {
      @include fontSize(18px);

      text-align: center;
      color: rgba($dark-grey, 0.6);

      @include flex(column, center, center);
    }
  }
}
