.balzano {
  &.firstSectionView {
    @include flex(row, center, initial, wrap);

    margin: 0 -20px;
    overflow: hidden;

    .contentContainer {
      margin: 0 20px;
      display: block;
      max-width: 400px;

      .title {
        @include fontSize(36px, 120%);

        color: $dark-grey;
      }

      .infoContainer {
        h2 {
          @include fontSize(24px, 120%);
        }

        p {
          margin-bottom: 40px;
        }

        @include phone {
          margin-right: 0;
        }
      }

      .images {
        .image {
          display: none;
          margin-top: 40px;
          filter: none;

          @include phone {
            display: block;
          }
        }

        .imageBundle {
          max-width: 1200px;
          transform: translate(-50%, 0%);
          margin-top: 120px;
          
          @include desktop {
            max-width: 700px;
            margin-top: 60px;
            transform: translate(-20%, 0%);
          }

          @include below-tablet {
            max-width: 500px;
            transform: translate(-10%, 0%);
          }

          @include phone {
            display: none;
          }
        }
      }
    }
  }

  &.secondSectionView {
    .title {
      color: $white;
    }

    .swiperBullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 100%;
      border: 1px solid $white;
    }

    .swiperBulletActive {
      background-color: $white;
    }

    h3 {
      color: $white;
    }

    p {
      color: $white;
      opacity: 0.7;
    }
  }
}