.leftAlign {
  @include flex(row-reverse, flex-end);

  .infoContainer {
    margin: 0 100px 0 0;

    @include tablet {
      margin-left: 30px;
    }
  }

  .images {
    .image {
      position: relative;
      transform: translate(-12%, 0);

      @include tablet {
        transform: unset;
      }
    }
  }

  @include tablet {
    @include flex(column, center, center);

    .infoContainer {
      margin: 0;
      text-align: center;
    }
  }
}

.rightAlign {
  @include flex(row, flex-end);

  .infoContainer {
    margin: 0 0 0 100px;

    @include tablet {
      margin-right: 30px;
    }
  }

  .images {
    .image {
      position: relative;
      max-width: 1115px;
      transform: translate(16%, 0);

      @include tablet {
        transform: unset;
      }
    }
  }

  @include tablet {
    @include flex(column, center, center);

    .infoContainer {
      text-align: center;
      margin: 0;
    }
  }
}

.centerAlign {
  @include flex(column, center, center);

  .infoContainer {
    margin: 0;
    text-align: center;
  }
}

.cinnabar {
  .contentContainer {
    position: relative;

    @include phone {
      margin-bottom: 15px;
    }

    .infoContainer {
      max-width: 455px;

      h2,
      h3,
      p {
        color: $white;
      }
    }

    .imageBundle {
      position: absolute;
    }

    &:not(.special) {
      &:nth-of-type(1) {
        .imageBundle {
          &-1 {
            top: -50%;
            left: -30%;
            max-width: 160px;

            @include macbook-fifteen {
              left: -15%;
            }

            @include phone {
              display: none;
            }
          }

          &-2 {
            top: -25%;
            left: -20%;
            max-width: 77px;

            @include macbook-fifteen {
              left: -6%;
            }

            @include phone {
              display: none;
            }
          }
        }
      }

      &:nth-of-type(2) {
        .imageBundle {
          &-1 {
            top: 16%;
            right: -30%;
            z-index: 1;
            max-width: 160px;

            @include macbook-fifteen {
              right: -19%;
              top: 20%;
            }

            @include tablet {
              right: 0;
              top: 93%;
              max-width: 45px;
            }
          }

          &-2 {
            top: 40%;
            right: -50%;
            max-width: 468px;

            @include macbook-fifteen {
              right: -40%;
            }

            @include tablet {
              right: -15%;
              top: 95%;
              max-width: 133px;
            }
          }
        }
      }

      @include phone {
        &:nth-child(2),
        &:nth-child(3) {
          .imageBundle {
            &-1 {
              display: none;
            }

            &-2 {
              display: none;
            }
          }
        }
      }
    }
  }

  &.firstSectionView {
    .contentContainer {
      margin: 0 auto 60px;

      @include phone {
        margin-bottom: 40px;
      }

      .infoContainer {
        order: unset;

        .title {
          color: $white;
        }

        & > div {
          h3 {
            color: $white;
          }

          p {
            margin: 0 0 24px;
            color: $white;
            opacity: 0.7;

            @include phone {
              margin: 0;
            }
          }
        }
      }

      &:not(.special) {
        overflow: hidden;
      }
    }

    .special {
      margin-bottom: 0;
      max-width: unset;

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(6) {
        @extend .leftAlign;
      }

      &:nth-child(2),
      &:nth-child(5) {
        @extend .rightAlign;
      }

      &:nth-child(3),
      &:nth-child(7) {
        @extend .centerAlign;
      }

      &:nth-child(1) {
        .images {
          .imageBundle {
            &-1 {
              top: -10%;
              right: -55%;
              z-index: 1;
              max-width: 138px;

              @include macbook-fifteen {
                top: -15%;
              }

              @include tablet {
                top: -45%;
                left: -5%;
                max-width: 119px;
              }

              @include phone {
                top: -90%;
                left: -17%;
              }
            }

            &-2 {
              top: 5%;
              right: -55%;
              z-index: 1;
              max-width: 59px;
              transform: translate(10%, -35%);

              @include tablet {
                top: -48%;
                left: 3%;
                max-width: 62px;
                transform: translate(0, 10%);
              }

              @include phone {
                top: -69%;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        .images {
          .imageBundle {
            &-1 {
              top: 15%;
              left: -60%;
              max-width: 111px;

              @include macbook-fifteen {
                top: 3%;
              }

              @include macbook-twelve {
                top: -12%;
                left: -70%;
              }

              @include tablet {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        .images {
          .imageBundle {
            &-1 {
              top: 39%;
              left: -24%;
              z-index: 1;
              max-width: 138px;
              transform: translate(5%, -10%);

              @include macbook-fifteen {
                top: 34%;
                left: -27%;
              }

              @include macbook-twelve {
                display: none;
              }
            }

            &-2 {
              top: -2%;
              left: -20%;
              z-index: -1;
              max-width: 431px;
              transform: translate(-5%, 5%);

              @include macbook-twelve {
                left: -15%;
              }

              @include tablet {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        .images {
          .imageBundle {
            &:nth-child(2) {
              top: 19%;
              right: -69%;
              z-index: 1;
              max-width: 123px;
              transform: translate(0, -20%);

              @include macbook-fifteen {
                right: -61%;
                transform: translate(0, -5%);
              }

              @include macbook-twelve {
                display: none;
              }
            }

            &:nth-child(3) {
              top: -8%;
              right: -82%;
              z-index: -1;
              max-width: 270px;

              @include macbook-fifteen {
                right: -77%;
              }

              @include macbook-twelve {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(5) {
        .images {
          .imageBundle {
            &:nth-child(2) {
              display: none;

              @include phone {
                top: 70%;
                right: -10%;
                max-width: 96px;
                transform: translate(0, 10%);
              }
            }

            &:nth-child(3) {
              display: none;

              @include phone {
                top: 71%;
                right: 10%;
                max-width: 38px;
                transform: translate(-3%, -6%);
              }
            }
          }
        }
      }

      &:nth-child(6) {
        .images {
          .imageBundle {
            &:nth-child(2) {
              top: 24%;
              right: -57%;
              z-index: 1;
              max-width: 57px;
              transform: translate(-20%, -30%);

              @include tablet {
                top: -8%;
                right: 6%;
                max-width: 38px;
                transform: translate(20%, 5%);
              }

              @include phone {
                display: none;
              }
            }

            &:nth-child(3) {
              top: 16%;
              right: -60%;
              z-index: -1;
              max-width: 82px;

              @include tablet {
                top: -7%;
                right: -2%;
                max-width: 96px;
              }

              @include phone {
                display: none;
              }
            }

            &:nth-child(4) {
              display: none;

              @include tablet {
                top: 70%;
                left: -2%;
                z-index: -1;
                display: block;
                max-width: 112px;
              }
            }
          }
        }
      }

      &:nth-child(7) {
        .images {
          .imageBundle {
            &:nth-child(2) {
              top: 36%;
              left: -13%;
              z-index: -1;
              max-width: 384px;
              transform: translate(0, 6%);

              @include macbook-fifteen {
                top: 28%;
                left: -23%;
                transform: translate(0, 2%);
              }

              @include tablet {
                top: 17%;
                right: -1%;
                left: unset;
                max-width: 101px;
              }

              @include phone {
                right: -5%;
                top: 27%;
              }
            }

            &:nth-child(3) {
              top: 60%;
              left: -19%;
              z-index: -1;
              max-width: 123px;
              transform: translate(5%, -20%);

              @include macbook-fifteen {
                top: 55%;
                left: -30%;
              }

              @include tablet {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        .infoContainer {
          .title,
          & > div > h3,
          & > div > p {
            color: $dark-grey;
          }

          & > div {
            p {
              margin: 0 0 24px;
              opacity: 0.7;
            }
          }
        }
      }

      .images {
        position: relative;

        .image {
          max-width: 1115px;
          width: 100%;
          height: unset;
          max-height: unset;
          filter: none;

          @include macbook-fifteen {
            max-width: 890px;
          }
        }

        .imageBundle {
          position: absolute;
        }
      }
    }
  }

  &.secondSectionView {
    .swiperBullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      border-radius: 100%;
      border: 1px solid $white;
    }

    .swiperBulletActive {
      background-color: $white;
    }
  }
}
