/* stylelint-disable no-descending-specificity */
.fireaway {
  .contentContainer {
    .image {
      filter: unset;
    }

    & > div:last-child {
      position: relative;

      .imageBundle {
        position: absolute;
      }
    }

    @include phone {
      .infoContainer {
        p {
          margin: 0 6px 30px;
        }
      }
    }
  }

  .contentContainer:nth-of-type(1) {
    margin: 0 auto;

    & > div:last-child {
      .imageBundle {
        &:nth-child(2) {
          max-width: 130px;
          top: 0;
          right: 0;
          transform: translate(0%, 17%);

          @include macbook-twelve {
            display: none;
          }

          @include phone {
            display: none;
          }

          @include small-phone {
            display: none;
          }
        }

        &:nth-child(3) {
          max-width: 95px;
          left: 54px;
          bottom: 233px;
          transform: translate(-45%, -55%);

          @include macbook-twelve {
            display: none;
          }

          @include phone {
            display: none;
          }
        }

        &:nth-child(4) {
          display: none;

          @include macbook-twelve {
            display: none;
          }

          @include phone {
            display: block;
          }
        }
      }
    }
  }

  .contentContainer:nth-of-type(2) {
    margin: 30px auto 130px;

    @include phone {
      margin-top: 35px;
      margin-bottom: 50px;
    }

    .image {
      max-width: 374px;

      @include tablet {
        max-height: 512px;
      }

      @include below-tablet {
        max-height: 390px;
      }

      @include phone {
        max-height: 405px;
        transform: translate(-3%, 0);
      }
    }

    & > div:last-child {
      .imageBundle {
        &:nth-child(2) {
          max-width: 374px;
          top: 0;
          right: 0;
          transform: translate(165%, 40%);

          @include tablet {
            max-height: 512px;
            transform: translate(189%, 40%);
          }

          @include below-tablet {
            max-height: 390px;
            transform: translate(143%, 40%);
          }

          @include phone {
            display: none;
          }
        }

        &:nth-child(3) {
          max-width: 190px;
          top: 0;
          right: 0;
          transform: translate(-115%, -80%);

          @include tablet {
            max-width: 148px;
            transform: translate(-117%, -82%);
          }

          @include below-tablet {
            max-width: 112px;
            transform: translate(-153%, -75%);
          }

          @include phone {
            display: none;
          }
        }

        &:nth-child(4) {
          display: none;

          @include phone {
            display: block;
            top: 0;
            right: 0;
            transform: translate(-165%, -45%);
          }
        }
      }
    }
  }

  .contentContainer:nth-of-type(3) {
    .image {
      display: none;
    }

    @include phone {
      .image {
        display: block;
        max-height: 405px;
        transform: translate(-3%, 0);
      }
    }
  }
}
