.humankind {
  &.firstSectionView {
    @include tablet {
      padding-bottom: 0;
    }

    .contentContainer {
      margin: 0 auto 121px;

      @include tablet {
        margin-bottom: 60px;
      }

      .infoContainer {
        max-width: unset;
        margin: 0;

        @include tablet {
          margin: 0;
          order: 0;
        }

        .title,
        p {
          max-width: 430px;

          @include tablet {
            text-align: center;
          }
        }
      }

      .image {
        filter: drop-shadow(12px 12px 74px rgba(0, 0, 0, 0.08));
        max-width: 1110px;
      }
    }

    .special {
      max-width: unset;
  
      &:nth-child(2n + 1) {
        @include flex(row, flex-end);

        padding-left: 200px;

        .image {
          transform: translate(140px, 0px);

          @include tablet {
            transform: none;
          }
        }

        & > div:last-child {
          @extend .openSenseGradient;
  
          &::after {
            right: -240px;
            background: linear-gradient(90deg, rgba($white, 0) 0%, $white 78.3%);
            width: 80%;

            @include tablet {
              display: none;
            }
          }
        }

        @include macbook-fifteen {
          padding-left: 100px;
        }
  
        @include macbook-twelve {
          padding-left: 40px;
        }

        @include tablet {
          padding-left: 0;
        }
      }
  
      &:nth-child(2n) {
        @include flex(row, flex-start);
        padding-right: 200px;

        @include macbook-fifteen {
          padding-right: 100px;
        }
  
        @include macbook-twelve {
          padding-right: 40px;
        }

        @include tablet {
          padding-right: 0;
        }

        .image {
          transform: translate(-140px, 0px);

          @include tablet {
            transform: none;
          }
        }
  
        & > div:last-child {
          @extend .openSenseGradient;
  
          &::after {
            left: -340px;
            background: linear-gradient(
              269.82deg,
              rgba($white, 0) 0.15%,
              $white 60.38%
            );
            width: 80%;
  
            @include tablet {
              display: none;
            }
          }
        }
      }
  
      &:nth-child(2n + 1),
      &:nth-child(2n) {
        @include tablet {
          @include flex(column, center, center);
        }
      }
    }
  }

  &.secondSectionView {
    .title {
      color: $white;
    }

    h3 {
      color: $white;
    }

    p {
      color: $white;
      opacity: 0.7;
    }
  }
}