.marketplace-for-clairvoyant-services {
  .special {
    max-width: unset;

    & > div:last-child {
      position: relative;

      .image {
        filter: unset;
        width: 100%;
        height: unset;
        max-height: unset;
        max-width: 1110px;
      }

      .imageBundle {
        position: absolute;
        max-width: 157px;
        top: 50%;
        transform: translate(-40%, -110%);

        @include macbook-twelve {
          max-width: 130px;
          transform: translate(-30%, -125%);
        }

        @include below-tablet {
          max-width: 100px;
          transform: translate(-50%, -125%);
        }

        @include phone {
          display: none;
        }
      }
    }

    .infoContainer {
      h2 {
        @include fontSize(36px);

        line-height: 43px;

        @include tablet {
          @include fontSize(30px);

          line-height: 34px;
        }

        @include phone {
          @include fontSize(24px);

          line-height: 28px;
        }
      }

      p {
        max-width: 429px;
        line-height: 32px;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }
      }
    }

    &:nth-child(2n + 1) {
      @include flex(row, flex-end);

      @include macbook-fifteen {
        padding-left: 100px;
      }

      @include tablet {
        padding-left: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          right: 0;
          transform: translate(10px, -1px);
          background: linear-gradient(90deg, rgba($white, 0) 0%, $white 73%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n) {
      @include flex(row, flex-start);

      @include macbook-fifteen {
        padding-right: 100px;
      }

      @include tablet {
        padding-right: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          left: 0;
          transform: translate(10px, -1px);
          background: linear-gradient(270deg, rgba($white, 0) 0%, $white 73%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n + 1),
    &:nth-child(2n) {
      .infoContainer {
        max-width: 460px;
        margin: 0;
      }

      @include phone {
        @include flex(column, center, center);
      }
    }
  }

  .contentContainer:not(.special) {
    .infoContainer {
      .title,
      h3 {
        color: $white;
      }

      p {
        margin-bottom: 10px;
        color: rgba($white, 0.7);
      }

      ul {
        margin-left: 18px;
        margin-top: 0;
        padding: 0;

        & > li {
          margin: 13px 0 0;
          list-style: none;

          p {
            position: relative;
            margin-bottom: 0;

            &::before {
              position: absolute;
              left: -15px;
              content: ' ';
              height: 6px;
              width: 6px;
              border-radius: 10px;
              background-color: $white;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        @include phone {
          padding: 0;
          margin: 0 10px;

          & > li {
            list-style: none;

            & > p {
              position: relative;

              &::before {
                position: absolute;
                top: 10px;
                left: -7px;
                content: ' ';
                height: 4px;
                width: 4px;
                border-radius: 10px;
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }
}
