/* stylelint-disable no-descending-specificity */

.marketplace-for-clairvoyant-services {
  .special {
    max-width: unset;

    &:nth-child(2n + 1) {
      @include flex(row, flex-end);

      @include macbook-fifteen {
        padding-left: 100px;
      }

      @include tablet {
        padding-left: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          right: 0;
          height: 107%;
          transform: translate(10px, -1px);
          background: linear-gradient(90deg, rgb($white 0) 0%, $white 83%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n) {
      @include flex(row, flex-start);

      @include macbook-fifteen {
        padding-right: 100px;
      }

      @include tablet {
        padding-right: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          left: 0;
          height: 107%;
          transform: translate(0, -1px);
          background: linear-gradient(270deg, rgb($white 0) 0%, $white 83%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n + 1),
    &:nth-child(2n) {
      .infoContainer {
        max-width: 460px;
        margin: 0;
      }

      @include phone {
        @include flex(column, center, center);
      }
    }

    .infoContainer {
      h2 {
        line-height: 43px;

        @include fontSize(36px);

        @include tablet {
          line-height: 34px;

          @include fontSize(30px);
        }

        @include phone {
          line-height: 28px;

          @include fontSize(24px);
        }
      }

      p {
        max-width: 429px;
        line-height: 32px;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }
      }
    }

    & > div:last-child {
      position: relative;

      .image {
        width: 100%;
        height: unset;
        max-height: unset;
        max-width: 1110px;
        filter: drop-shadow(0 14px 44px rgb($black 0.07));
      }
    }
  }

  .contentContainer:not(.special) {
    display: inline-flex;
    max-width: calc(50% - 20px);

    &:first-of-type {
      margin-right: 20px;
    }

    &:last-of-type {
      margin-left: 20px;
    }

    .infoContainer {
      max-width: unset;
      margin: 0;

      .title,
      h3 {
        color: $white;
      }

      p {
        margin-bottom: 10px;
        color: rgb($white 0.7);
      }

      ul {
        margin-left: 18px;
        margin-top: 0;
        padding: 0;

        & > li {
          margin: 13px 0 0;
          list-style: none;

          p {
            position: relative;
            margin-bottom: 0;

            &::before {
              position: absolute;
              left: -15px;
              content: " ";
              height: 6px;
              width: 6px;
              border-radius: 10px;
              background-color: $white;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        @include phone {
          padding: 0;
          margin: 0 10px;

          & > li {
            list-style: none;

            & > p {
              position: relative;

              &::before {
                position: absolute;
                top: 10px;
                left: -7px;
                content: " ";
                height: 4px;
                width: 4px;
                border-radius: 10px;
                background-color: $white;
              }
            }
          }
        }
      }
    }

    @include phone {
      display: block;
      max-width: 100%;

      &:first-of-type,
      &:last-of-type {
        margin: 20px 0 0;
      }
    }
  }
}
