.meetava.secondSectionView {
  background-color: $green-aloha;

  .contentContainer {
    margin: 0 auto 10px;

    .image {
        filter: unset;
    }
  }

  &.secondSectionView {
    .contentContainer {
      .infoContainer {
        h2,
        h3 {
          color: $white;
        }

        p {
          color: rgba($white, 0.7);
        }
      }
    }
  }
}