.android-mobile-app-development-services {
  &.firstSectionView,
  &.secondSectionView,
  &.thirdSectionView,
  &.fourthSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    @extend .cardsWithShadow;

    @include iconsWithinCircle;
  }

  &.secondSectionView {
    @extend .cardsWithFullWidthImage;

    .titleStyle {
      max-width: 908px;
    }
  }

  &.thirdSectionView {
    @extend .cardsWithShadow;

    @include iconsWithinCircle;

    .contentWrapper {
      @extend .threeColumnsCards;
    }
  }

  &.fourthSectionView {
    @include iconsWithinCircle;

    .cards > div {
      @include flex();

      background-color: transparent;

      .typeTitle {
        margin-top: 0;
      }
    }

    .contentWrapper {
      @extend .threeColumnsCards;
    }
  }
}
