.artificial-intelligence-development-services {
  &.firstSectionView {
    @extend .greySection;

    @include iconsWithinCircle;

    .contentWrapper {
      .titleStyle {
        width: 800px;

        h2 {
          @include phone {
            @include fontSize(28px);
          }
        }

        @include below-tablet {
          width: 700px;
        }

        @include phone {
          width: 300px;
        }
      }
    }
  }

  &.secondSectionView {
    @extend .cardsWithShadow;

    padding-bottom: 0;

    .contentWrapper {
      @extend .threeColumnsCards;

      .cards > div {
        padding: 30px 30px 30px 48px;
      }

      h2 {
        @include phone {
          @include fontSize(27px);
        }
      }
    }

    .cardContent {
      position: relative;

      &::before {
        content: '';
        background: $turbo-100;
        height: 100%;
        width: 2px;
        position: absolute;
        left: -16px;
      }
    }

    .callToAction {
      @include defaultCallToAction;
  
      background: $alabaster;
      margin-bottom: 120px; 
    }
  }

  &.thirdSectionView {
    @extend .cardsWithShadow;
    @extend .cardsWithFullWidthImage;
    @extend .greySection;

    .contentWrapper {
      @extend .threeColumnsCards;

      .cards > div {
        padding: 30px 30px 30px 48px;
      }

      .cardContent {
        .typeTitle {
          text-align: center;
        }
      }

      .cardContent p {
        display: none;

        @include below-tablet {
          display: block;
        }
      }
    }

    .overlay {
      padding: 20px 15px 15px;
      @include below-tablet {
        display: none;
      }
    }
  }

  &.fourthSectionView {
    @extend .cardsWithShadow;

    @include iconsWithinCircle;

    .contentWrapper {
      h2 {
        @include phone {
          @include fontSize(28px);
        }
      }
    }
  }
}