.chat-app-development-company {
  &.firstSectionView,
  &.secondSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    @extend .cardsWithShadow;

    @include iconsWithinCircle;

    .contentWrapper {
      @extend .threeColumnsCards;
    }

    .callToAction {
      margin: 60px auto 0;
      padding: 0;
      background: none;

      div[role='button'] {
        margin: auto;
      }
    }
  }

  &.secondSectionView {
    @extend .cardsWithShadow;

    @include iconsWithinCircle;

    .titleStyle {
      max-width: 805px;
    }
  }
}
