.chat-app-development-company {
  @include appDevelopmentContainer;

  &.firstSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .threeColumnCards;
    }

    .callToAction {
      margin: 60px auto 0;
      padding: 0;

      @include below-tablet {
        margin: 40px auto 60px;
      }
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .typeTitle {
      max-width: 235px;
    }
  }
}
