.chat-app-development-company {
  &.firstSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .threeColumnsCards;

      @include below-tablet {
        .cards {
          grid-template-rows: repeat(3, auto);

          & > div {
            padding: 24px;
          }
        }
      }
    }

    .callToAction {
      margin: 60px auto 0;
      padding: 0;
      justify-content: center;

      div[role=button] {
        margin: auto;
      }
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .typeTitle {
      max-width: 235px;
    }

    @include below-tablet {
      .cards {
        grid-template-rows: repeat(3, auto);

        & > div {
          padding: 24px;
        }
      }
    }
  }
}
