.cloud-based-app-development-services {
  &.firstSectionView {
    @extend .greySection;
    @extend .cardsWithShadow;
    @include iconsWithinCircle;
  }

  &.secondSectionView {
    @include iconsWithinCircle;
  }

  &.thirdSectionView {
    @extend .cardsWithFullWidthImage;

    background: $cod-gray-1;

    .imageWrapper {
      background: $white;
    }

    .typeTitle,
    .titleStyle h2 {
      color: $white;
    }

    .titleStyle {
      max-width: 762px;
    }
  }

  &.fourthSectionView {
    @include iconsWithinCircle;

    padding-bottom: 0;
  }
}
