.cards {
  @extend .twoСolumnsСards;
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  & > div {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;

    .imageWrapper {
      margin-right: 40px;

      @include phone {
        margin-right: 16px;
      }
    }

    .cardContent {
      .typeTitle {
        @include fontSize(24px, 180%);

        font-weight: 700;
        margin: 0 0 10px;

        @include macbook-twelve {
          @include fontSize(22px);
        }

        @include phone {
          @include fontSize(18px);
        }
      }

      p {
        @include fontSize(18px, 180%);

        color: $silver-chalice;
        margin: 0;

        @include phone {
          @include fontSize(16px);
        }
      }
    }

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }
  }

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }
}

.cardsWithFullWidthImage {
  .cards {
    @include below-tablet {
      grid-gap: 33px;
    }
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;

    & > div {
      @include centeredBackgroundImage;

      width: 100%;
      padding-top: 85%;
      background-size: contain;

      @include tablet {
        padding-top: 72%;
      }
    }
  }

  .typeTitle {
    margin: 24px 0 10px;

    @include below-tablet {
      margin: 20px 0 10px;
      text-align: center;
    }
  }
}

.chat-app-development-company,
.mobile-app-development-company,
.web-app-development-company,
.ui-ux-services,
.ios-mobile-app-development-services,
.android-mobile-app-development-services,
.cloud-based-app-development-services,
.mvp-app-development-company,
.machine-learning-development-services {
  @include appDevelopmentContainer;
  @extend .twoСolumnsСards;

  background: $white;

  .contentWrapper {
    @include smallSectionWrapper;
  }

  .callToAction {
    @include defaultCallToAction;
  }
}
