.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  & > div {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;

    .imageWrapper {
      margin-right: 40px;

      @include phone {
        margin-right: 16px;
      }
    }

    .cardContent {
      .typeTitle {
        @include fontSize(24px, 180%);

        font-weight: 700;
        margin: 0 0 10px;

        @include macbook-twelve {
          @include fontSize(22px);
        }

        @include phone {
          @include fontSize(18px);
        }
      }

      p {
        @include fontSize(18px, 180%);

        color: $silver-chalice;
        margin: 0;

        @include phone {
          @include fontSize(16px);
        }
      }
    }

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }
  }

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }
}

.android-mobile-app-development-services,
.chat-app-development-company,
.cloud-based-app-development-services,
.ios-mobile-app-development-services,
.machine-learning-development-services,
.mobile-app-development-company,
.mvp-app-development-company,
.ui-ux-services,
.web-app-development-company {
  @include appDevelopmentContainer;

  background: $white;

  .titleStyle {
    @include defaultTitle;
  }

  .cards > div {
    @include defaultCard;
  }

  .contentWrapper {
    @extend .twoColumnsCards;
    @include smallSectionWrapper;
  }

  .callToAction {
    @include defaultCallToAction;
  }
}
