.fintech-software-development-services {
  &.firstSectionView {
    @extend .greySection;

    @include iconsWithinCircle;
  }
  
  &.secondSectionView {
    @extend .cardsWithShadow;
    @extend .cardsWithFullWidthImage;
    @extend .greySection;

    @include iconsWithinCircle;

    .contentWrapper {
      max-width: 1300px;

      .cards {
        grid-template-columns: repeat(3, 1fr);

        & > div {
          height: 400px;

          @include phone {
            width: 300px;
          }
        }

        * {
          text-align: center;
        }

        & > div {
          padding: 20px 15px;
        }

        @include tablet {
          grid-template-columns: repeat(2, 1fr);
        }

        @include below-tablet {
          grid-template-columns: repeat(1, 1fr);
        }

        @include phone {
          overflow-x: scroll;
          overflow-y: hidden;
          grid-template-columns: repeat(6, 1fr);
        }
      }

      .imageWrapper {
        margin: 60px auto;

        @include below-tablet {
          display: none;
        }
      }

      .typeTitle {
        @include below-tablet {
          display: none;
        }
      }

      .cardContent p, ul {
        display: none;
        text-align: left;

        @include below-tablet {
          display: block;
        }
      }
    }

    .overlay {
      .imageWrapper {
        display: none;
      }

      .typeTitle {
        display: none;
      }

      .cardContent p, ul {
        display: block;

        @include phone {
          @include fontSize(10px);
        }
      }

      & > p {
        margin-top: -70px;
      }

      @include below-tablet {
        display: none;
      }
    }
  }

  &.thirdSectionView {
    background-color: $very-dark-gray;
    padding: 0;

    .cards {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 80px;
      margin-bottom: 120px;

      .imageWrapper {
        svg {
          @include below-tablet {
            width: 70px;
            margin-left: 5px;
          }

          @include phone {
            width: 50px;
          }
        }
      }

      .cardContent {
        @include below-tablet {
          margin: 10px;
        }
      }

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include below-tablet {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .titleStyle h2,
    .typeTitle {
      color: $white;
    }

    .titleStyle h2 {
      @include phone {
        width: 320px;
        padding-top: 60px;
      }
    }

    li {
      &::marker {
        color: $case-study-dindon-paragraph;
      }
    }
  }
}
