.ios-mobile-app-development-services {
  &.firstSectionView,
  &.thirdSectionView {
    @include iconsWithinCircle;
  }

  &.secondSectionView {
    @extend .cardsWithFullWidthImage;

    background: $black;

    .imageWrapper {
      div {
        background-position: left;
      }
    }

    .titleStyle h2,
    .typeTitle {
      color: $white;
    }

    .cardContent {
      p {
        max-width: 370px;
      }
    }
  }

  &.thirdSectionView {
    @extend .greySection;
    @extend .cardsWithShadow;

    .contentWrapper {
      @extend .threeColumnsCards;
    }
  }
}
