.ios-mobile-app-development-services {
  &.firstSectionView,
  &.thirdSectionView {
    @include iconsWithinCircle;
  }

  &.secondSectionView {
    @extend .cardsWithFullWidthImage;

    background: $black;

    .imageWrapper {
      background: $white;
    }

    .titleStyle h2,
    .typeTitle {
      color: $white;
    }
  }

  &.thirdSectionView {
    @extend .greySection;
    @extend .cardsWithShadow;

    .contentWrapper {
      @extend .threeColumnsCards;
    }
  }
}
