.mobile-app-development-company {
  .contentWrapper {
    .smallCards {
      & > div {
        @include flex();
      }

      .imageWrapper {
        @include phone {
          width: 50px;
        }
      }
    }
  }

  &.firstSectionView {
    background-color: $alabaster;

    .cards > div {
      .imageWrapper {
        @include phone {
          width: 90px;
          background: $white;
        }
      }

      @include phone {
        padding: 20px !important;
      }
    }
  }

  &.secondSectionView {
    background-color: $white;

    .cards > div {
      box-shadow: none;

      .imageWrapper {
        @include phone {
          width: 90px;
          background: $white;
        }
      }

      @include phone {
        padding: 20px !important;
      }
    }
  }

  &.thirdSectionView {
    background-color: $very-dark-gray;
    color: $white;

    .cards > div {
      background-color: $very-dark-gray;
      box-shadow: none;

      .imageWrapper {
        @include phone {
          background: $very-dark-gray;
          width: 90px;
        }
      }

      .typeTitle {
        color: $white;
      }

      @include phone {
        padding: 10px 0;
      }
    }
  }
}
