.ui-ux-services {
  &.firstSectionView,
  &.secondSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    @extend .cardsWithShadow;
    @include iconsWithinCircle;

    .titleStyle {
      h2 {
        max-width: 705px;
      }
    }
  }

  &.secondSectionView {
    @include iconsWithinCircle;

    .titleStyle {
      h2 {
        max-width: 742px;
      }

      p {
        max-width: 742px;
      }
    }
  }
}
