.ui-ux-services {
  background-color: $alabaster;

  .titleStyle {
    h2 {
      max-width: 855px;
    }

    p {
      max-width: 800px;
      width: unset;
    }
  }

  &.firstSectionView {
    .titleStyle {
      h2 {
        max-width: 705px;
      }
    }

    .callToAction {
      @include defaultCallToAction;

      box-shadow: $card-bow-shadow;

      h3 {
        max-width: 572px;
      }
    }
  }

  &.thirdSectionView {
    background-color: $alabaster;
    padding-bottom: 120px;

    .titleStyle {
      p {
        max-width: 742px;
      }
    }
  }
}
