.web-app-development-company {
  &.firstSectionView,
  &.fourthSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    @extend .cardsWithShadow;
    @include iconsWithinCircle;
  }

  &.secondSectionView {
    @include iconsWithinCircle;

    .cards > div {
      background-color: $white;
    }
  }

  &.thirdSectionView {
    @extend .cardsWithShadow;
    @include iconsWithinCircle;

    background: $dark-grey;

    .titleStyle h2 {
      color: $white;
    }
  }

  &.fourthSectionView {
    @include iconsWithinCircle;
  }
}
