.web-app-development-company {
  .titleStyle {
    p {
      max-width: 745px;
    }
  }

  &.firstSectionView {
    background-color: $alabaster;
  }

  &.secondSectionView {
    background-color: $cod-gray-1;

    .titleStyle h2 {
      color: $white;
    }

    .cards > div {
      background-color: $white;
    }
  }

  &.thirdSectionView {
    @include iconsWithinCircle;

    padding-bottom: 0;

    .cardContent .typeTitle {
      margin-top: 20px;
    }

    .contentWrapper {
      @extend .twoСolumnsСards;

      .smallCards {
        grid-gap: 72px 10vw;

        @include below-tablet {
          grid-gap: 40px;
        }
      }
    }
  }

  &.fourthSectionView {
    @include iconsWithinCircle;

    .cardContent .typeTitle {
      margin-top: 20px;
    }

    .contentWrapper {
      .smallCards {
        grid-gap: 72px 7vw;

        @include below-tablet {
          grid-gap: 24px;
        }
      }

      & > div:last-child {
        width: 100%;
      }
    }
  }
}
