@import 'styles/utils/mixins';

.portfolio {
  @include flex(column, flex-start, center);
  padding: 0 $side-indent 200px $side-indent;
  background-color: $works-third-accent-color;

  @include phone {
    padding: 0 $side-indent $mobile-section-indent;
  }

  .bottomOfPortfolio {
    @include flex(column, flex-start, center);

    .title {
      color: $white;

      @include below-tablet {
        font-size: 3rem;
      }

      @include phone {
        font-size: 1.5rem;
      }
    }
  
    .subtitle {
      @include flex(column, center, center);
      color: $white;

      @include phone {
        font-size: 14px;
      }
    }
  
    .portfolioButton {
      @include buttonMore($accent-color, $works-third-accent-color, $accent-color, $accent-color);
      margin-top: $mobile-more-button-indent;
      z-index: 1;
    }
  }
}