@import 'styles/utils/mixins';

.subtitle {
  @include fontSize(16px, 150%);

  color: $gray400;
  margin-bottom: 32px;
  max-width: 900px;

  @include phone {
    margin-bottom: 24px;
  }
}

.callToAction {
  @include flex(column, center, center);

  & > h3 {
    max-width: 750px;
    margin-top: 0;
  }
}
