@import 'styles/utils/mixins';

.portfolio {
  @include flex(column, flex-start, center);
  padding: 0 $side-indent $section-indent $side-indent;
  background-color: $works-third-accent-color;

  @include phone {
    padding: 0 $side-indent $mobile-section-indent;
  }

  .title {
    color: $white;
  }

  .subtitle {
    @include flex(column, center, center);
    color: $white;
  }

  .portfolioButton {
    @include buttonMore($accent-color, $works-third-accent-color, $accent-color, $accent-color);
    margin-top: $mobile-more-button-indent;
  }
}