@import 'styles/utils/mixins';

.feedbackForm {
  position: relative;
  width: 100%;
  max-width: 790px;
  transition: height 0.4s ease;
  margin: 0 auto;

  @include flex(row, center, center);

  .disabled {
    pointer-events: none;
    transition: none;

    & > div {
      color: rgba($dark-grey, 0.3);
      border-color: rgba($dark-grey, 0.3);
    }
  }

  .inputs {
    @include flex(row, space-between, center);

    & > div {
      width: 46%;
    }

    @include below-tablet {
      @include flex(column);

      & > div {
        width: 100%;
      }
    }
  }

  .budget {
    margin-top: 50px;
    text-align: left;

    @include phone {
      margin-top: 50px;
    }

    span {
      font-size: 1.1875rem;

      @include phone {
        font-size: 1.125rem;
      }
    }

    .price {
      color: $black;
      font-size: 1.1875rem;

      @include phone {
        font-size: 1.125rem;
      }
    }
  }

  .errorMessage {
    color: $red;
    margin-top: 15px;
  }

  .submit {
    padding: 16px 32px 16px 32px ;
    font-weight: 500;

    @include phone {
      margin: 60px auto 0;
    }
  }
}
