@import 'styles/utils/mixins';

.form {
  @include flex(column, initial, center);
  width: 100%;
  max-height: auto;
  color: $silver;
  margin-bottom: 200px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include phone {
    margin-bottom: 50px;
  }

  &>div {
    width: 100%;
  }

  label {
    font-size: 1.1875rem;
    color: $black;
    font-weight: 500;
  }

  input {
    font-size: 1.1875rem;
    padding-top: 0;
    padding-bottom: 8px;

    @include phone {
      font-size: 1.125rem;
      padding-top: 20px;
      padding-bottom: 8px;
    }
  }

  .inputs {
    @include flex(row, space-between, center);

    &>div {
      width: 46%;
      padding-top: 30px;

      &>div {
        padding: 0;
        margin: 0;
      }
    }

    @include below-tablet {
      @include flex(column);

      &>div {
        width: 100%;
        padding-top: 40px;
      }

      &>div:first-child {
        padding-top: 0;
      }
    }
  }

  .budget {
    margin-top: 50px;
    text-align: left;

    @include phone {
      margin-top: 50px;
    }

    span {
      font-size: 1.1875rem;
      padding-bottom: 20px;
      color: $boulder;

      @include phone {
        font-size: 1.125rem;
      }
    }

    .price {
      color: $black;
      font-size: 1.1875rem;

      @include phone {
        font-size: 1.125rem;
      }
    }

    :global(.rc-slider) {
      margin-top: 20px;
    }

    :global(.rc-slider-rail) {
      background-color: $black-haze;
    }

    :global(.rc-slider-track) {
      background-color: $black;
    }

    :global(.rc-slider-dot) {
      border: 2px solid $scorpion;
      background-color: $scorpion;
    }

    :global(.rc-slider-handle) {
      width: 14px !important;
      height: 14px !important;
      border: solid 3px $black;
      background-color: $white;

      &:active,
      &:focus {
        box-shadow: none;
      }
    }

    :global(.rc-slider-dot-active) {
      border: 2px solid $turbo-100;
      background-color: $turbo-100;
    }
  }

  .initialBudget {
    :global(.rc-slider-handle) {
      border: solid 3px $black;
      background-color: $white;
    }
  }

  .checkboxContainer {
    @include flex(row, flex-start, center);
    margin-top: 15px;
    width: 100%;

    @include phone {
      @include flex(column);

      label:last-child {
        margin-top: 20px;
        margin-left: 0 !important;
      }
    }
  }

  .submit {
    @include button-more($black, $black, transparent, $turbo-100, $black, $turbo-100);
    min-width: 330px;
    font-weight: 600;

    @include phone {
      margin: 60px auto 0;
      min-width: 300px;
    }
  }
}