@import 'styles/utils/mixins';

.feedbackForm {
  position: relative;
  width: 100%;
  max-width: 1000px;
  transition: height 0.4s ease;

  @include flex(row, center, center);

  .disabled {
    pointer-events: none;
    transition: none;

    & > div {
      color: rgba($dark-grey, 0.3);
      border-color: rgba($dark-grey, 0.3);
    }
  }

  .inputs {
    @include flex(row, space-between, center);

    & > div {
      width: 46%;
      padding-top: 30px;

      & > div {
        padding: 0;
        margin: 0;
      }
    }

    @include below-tablet {
      @include flex(column);

      & > div {
        width: 100%;
        padding-top: 40px;
      }

      & > div:first-child {
        padding-top: 0;
      }
    }

    @include phone {
      & > div {
        padding-top: 0;
      }
    }
  }

  .budget {
    margin-top: 50px;
    text-align: left;

    @include phone {
      margin-top: 50px;
    }

    span {
      font-size: 1.1875rem;

      @include phone {
        font-size: 1.125rem;
      }
    }

    .price {
      color: $black;
      font-size: 1.1875rem;

      @include phone {
        font-size: 1.125rem;
      }
    }
  }

  .errorMessage {
    color: $red;
    margin-top: 15px;
  }

  .submit {
    @include button-more($black, $black, transparent, $turbo-100, $black, $turbo-100);

    border-radius: $button-border-radius;
    min-width: 330px;
    font-weight: 600;
    outline: none;

    @include phone {
      margin: 60px auto 0;
      min-width: 300px;
    }
  }
}
