@import 'styles/utils/mixins';

.fernwayer,
.stickerbox,
.fairy,
.tell,
.open-sense,
.separate-us,
.natp {
  @include caseStudyContainer;

  background-color: $white;
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.fernwayer {
  &.secondSectionView {
    padding: 140px 40px 0;
  }
}
