@import 'styles/utils/mixins';

.writer-chrome-extension,
.fernwayer,
.beautonomy,
.stickerbox,
.fairy,
.tell,
.open-sense,
.separate-us,
.natp,
.drive-focus,
.travel-trivia,
.cash-chat,
.smartcenter,
.meateater,
.ubichat,
.fireaway,
.famlicious,
.telemojo,
.bionorica,
.marketplace-for-clairvoyant-services {
  @include caseStudyContainer;

  background-color: $white;
}

.writer-chrome-extension {
  padding-top: 70px;

  @include tablet {
    padding-top: 55px;
  }

  @include phone {
    padding-top: 40px;
  }
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.fernwayer {
  &.secondSectionView {
    padding: 140px 40px 0;
  }
}

.fireaway {
  padding: 0 40px 150px;

  @include phone {
    padding-bottom: 110px;
  }
}

.telemojo {
  @include centeredBackgroundImage;

  overflow: hidden;
}

.famlicious {
  @include caseStudyContainer;

  &.firstSectionView {
    background-color: $athens-gray-1;
    position: relative;
  }
}

.bionorica {
  position: relative;
  overflow: hidden;

  & > * {
    z-index: 10;
  }

  .bundleImage {
    position: absolute;
    z-index: 0;

    &:nth-of-type(1) {
      left: 0;
      top: -20%;

      @include tablet {
        height: 500px;
        left: -10%;
      }

      @include phone {
        height: 300px;
        top: -10%;
      }
    }

    &:nth-of-type(2) {
      right: 0;
      bottom: 0;
      opacity: 0.7;

      @include tablet {
        height: 300px;
        right: -10%;
      }

      @include phone {
        height: 250px;
      }
    }
  }
}

.fusion-markets {
  @include caseStudyContainer;

  background: $eerie-black;
  padding: 80px 40px;

  [data-case-study-title] {
    color: $white;
  }
}

.blackbird {
  @include caseStudyContainer;

  &.firstSectionView {
    background-color: $white;
  }

  &.secondSectionView {
    background: $chinese-black;

    [data-case-study-title] {
      color: $white;
    }

    [data-case-study-description] {
      max-width: 651px;
      color: $silver-chalice;
    }
  }

  &.thirdSectionView {
    background: $white;
    padding: 80px 15px;

    [data-case-study-title] {
      @include fontSize(24px);
    }

    [data-case-study-description] {
      max-width: 458px;

      @include phone {
        max-width: 327px;
      }
    }
  }
}
