@import 'styles/utils/mixins';

.fernwayer {
  @include caseStudyContainer;

  background-color: $white;
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: #1C1E20;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}
