.section {
  padding: 120px 40px;
  background-color: $gray0;

  .contentWrapper {
    max-width: $wide-content-width;
    margin: 0 auto;
  }

  .titleStyle {
    margin: 0 0 48px;

    [data-title],
    [data-second-title] {
      @include fontSize(38px, 130%);

      @include below-tablet {
        @include fontSize(24px, 130%);
      }
    }

    [data-title] {
      margin: 0 0 16px;
      text-align: left;

      @include tablet {
        margin: 0 0 8px;
        text-align: center;
      }
    }

    @include tablet {
      margin: 0 0 24px;
    }
  }

  .form {
    & > button {
      align-self: flex-start;

      @include tablet {
        align-self: center;
      }
    }
  }

  .linkText {
    @include fontSize(16px, 150%);

    margin: 0;
    color: $gray400;

    @include tablet {
      text-align: center;
    }
  }

  .link {
    color: $gray400;
    margin-left: 10px;
    text-decoration: underline;
  }

  @include tablet {
    padding: 60px 32px;
  }

  @include below-tablet {
    padding: 60px 16px;
  }
}
