.seven-pm-thursday {
  background-color: $sevenPmPrimary;
  padding: 60px 32px;

  [data-title] {
    color: $gray0;
  }

  .linkText {
    color: $gray500;
  }

  .link {
    color: $gray500;
  }

  @include phone {
    padding: 30px 16px;
  }
}
