.homepage {
  background: $gray900;

  .titleStyle {
    margin-bottom: 0;
  }

  [data-title] {
    @include fontSize(46px, 120%);

    max-width: 680px;

    @include phone {
      @include fontSize(24px, 130%)
    }
  }

  [data-description] {
    @include fontSize(16px, 150%);

    max-width: 680px;
  }
}