@import 'styles/utils/mixins';

.sectionTitle {
  margin: 0 0 30px;

  @include fontSize(46px);

  @include macbook-twelve {
    @include fontSize(40px);
  }

  @include tablet {
    @include fontSize(35px);
  }

  @include phone {
    @include fontSize(30px);
  }
}

.default {
  @include flex(column, center, center);

  .title {
    text-align: center;
  }

  .description {
    margin: 0 auto 80px;
    color: $silver-chalice;
    line-height: 2;
    text-align: center;
    width: 55vw;

    @include fontSize(18px);

    @include macbook-fifteen {
      @include fontSize(16px);
    }

    @include phone {
      width: 90vw;

      @include fontSize(14px);
    }
  }
}

.side {
  .title {
    @include below-tablet {
      text-align: center;
    }
  }

  .subtitle {
    margin: 0 0 30px;
    padding-right: 50px;
    line-height: 1.5;
    font-weight: 700;

    @include fontSize(20px);

    @include below-tablet {
      padding-right: 0;

      @include fontSize(18px);
    }

    @include phone {
      @include fontSize(16px);
    }
  }
}
