@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.main {
  width: 100%;
  padding-top: 88.5px;
  box-sizing: border-box;
  margin: 0;
  background-color: $gray50;

  .breadcrumbsStyles {
    max-width: $wide-content-width;
    margin: 16px auto 0;
    padding: 0 40px;

    @include tablet {
      padding: 0 32px;
    }

    @include phone {
      padding: 0 16px;
    }
  }

  @include phone {
    padding-top: 65.5px;
  }
}
