@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.breadcrumbsStyles {
  max-width: $wide-content-width;
  margin: 0 auto;
}

.titleStyles {
  max-width: $wide-content-width;
  margin: 0 auto;
}
