@import 'styles/utils/mixins';

.companyContainer {
  position: relative;
  z-index: 2;
  @include flex(column, center, center);
  padding: 0 80px 0 80px;
  background-color: $white;

  @include tablet {
    padding: calc(81px + 40px) 40px 0 40px;
  }

  @include phone {
    padding: 66px $side-indent 0;
  }
}

.companyReviews {
  padding-top: 0;
  background-color: $white;

  @include below-tablet {
    padding-top: 100px;
  }

  @include phone {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  :global(.slick-list):before {
    background-image: linear-gradient(to left, rgba(247, 248, 247, 0), $white);
  }

  :global(.slick-list):after {
    background-image: linear-gradient(to right, rgba(247, 248, 247, 0), $white);
  }
}

.companyBottom {
  @include flex(column, center, center);
  padding: 100px 80px 200px;
  background-color: $white;

  @include tablet {
    padding: 100px 40px 200px;
  }

  @include below-tablet {
    padding-top: 0;
  }

  @include phone {
    padding: 100px $side-indent $mobile-section-indent - 20px;
  }
}