.container {
  @include flex(row, center, center);

  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 790/480;
}

.image {
  width: 100%;
  height: 100%;

  img {
    object-fit: cover !important;
  }
}
