@import 'styles/utils/mixins';

.container {
  @include flex(row, center, center);

  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  height: 480px;
  width: 100%;

  @include below-tablet {
    height: 350px;
  }

  @include phone {
    height: 250px;
  }
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

