.section {
  padding: 120px 40px;
  background-color: $gray0;

  .secondDescription {
    display: none;
  }

  .titleStyle {
    @include phone {
      margin: 0 auto 24px;
    }
  }

  @include tablet {
    padding: 60px 16px;
  }
}
