.blackbird {
  &.secondSectionView {
    background-color: $blackbirdPrimary;

    [data-title] {
      color: $gray0;
    }

  }

  &.thirdSectionView {
    [data-title] {
      font-size: 24px;
    }

    [data-description] {
      max-width: 556px;
    }
  }

  @include phone {
    padding: 60px 16px;
  }
}
