.drive-focus {
  &.firstSectionView {
    padding: 0 0 120px;

    .titleStyle {
      margin: 0;
    }

    @include phone {
      padding-bottom: 0;
    }
  }

  &.thirdSectionView {
    padding: 0;

    .titleStyle {
      display: none;
    }
  }
}
