.enterprise-resource-planning-system {
  [data-title] {
    font-weight: 600;
  }

  &.firstSectionView {
    background-color: $gray800;

    .titleStyle {
      padding: 0 16px;
    }

    [data-title] {
      color: $gray0;
    }

    [data-description] {
      color: $gray400;
    }
  }

  &.secondSectionView {
    padding: 120px 40px 0;
    background-color: $gray50;

    .titleStyle {
      @include flex(row, space-between, flex-start, wrap);

      & > div {
        max-width: 481px;
        width: 100%;

        &:last-child {
          @include flex(column, flex-start, flex-start);
        }
      }
    }

    [data-title] {
      @include flex(column ,flex-start, flex-start);

      span {
        width: 100%;
        text-align: left;

        &:last-of-type {
          @include fontSize(16px, 150%);

          color: $gray400;
          font-weight: 400;
        }
      }
    }

    [data-description] {
      margin: 0 0 8px;
      color: $gray400;
      text-align: left;

      &:nth-of-type(1),
      &:nth-of-type(3) {
        position: relative;
        margin-bottom: 4px;
        padding-left: 24px;
        color: $gray900;
        font-weight: 600;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 12px;
          height: 12px;
          background-color: $erpAccent;
        }
      }
    }

    @include below-tablet {
      padding: 60px 16px 0;
    }
  }

  &.thirdSectionView {
    background-color: $gray50;

    .titleStyle {
      margin: 0 auto;
      max-width: 773px;
    }

    [data-title] {
      font-weight: 600;
    }
  }
}
