.fernwayer {
  padding: 60px 0;

  .titleStyle {
    @include phone {
      padding: 0 16px;
    }
  }

  &.secondSectionView {
    .titleStyle {
      max-width: 539px;
    }
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .titleStyle {
      max-width: 772px;
    }

    .text {
      color: $gray400;
      text-align: center;
      margin: 24px auto 0;
    }
  }

  @include phone {
    padding: 30px 0;
  }
}
