.hotel-data-cloud {
  position: relative;
  z-index: 1;
  padding: 60px 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $hotelDataCloudGradient;
    width: 687px;
    height: 687px;
    opacity: 0.15;
    filter: blur(237px);
    z-index: -1;
  }

  @include phone {
    padding: 30px 0;
  }
}
