.mobile-bank-application {
  &.firstSectionView {
    background-color: $mobileBankPrimary;

    [data-title] {
      color: $gray0;
    }
  }

  &.secondSectionView {
    background-color: $gray50;

    [data-title] {
      margin-bottom: 14px;
    }
  }
}
