@import 'styles/utils/mixins';

.container {
  @include caseStudyContainer;
  @include flex(column, center, center);

  .contentContainer {
    @include flex(row, center, center);

    width: 100%;
    padding-bottom: 140px;

    .descriptionContainer {
      @include flex(column, center);

      max-width: 630px;
      margin-left: 112px;

      .sectionName {
        @include fontSize(16px);

        margin: 0 0 20px;
        font-family: $case-studies-font;
        font-weight: bold;
        line-height: 180%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $silver-chalice;

        @include tablet {
          @include fontSize(14px);

          margin: 0 0 10px;
        }
      }

      .title {
        @include fontSize(56px, 120%);

        margin: 0 0 30px;
        font-family: $case-studies-font;
        font-weight: bold;
        color: $dark-grey;

        @include tablet {
          @include fontSize(40px);

          margin: 0 0 15px;
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      .description {
        @include fontSize(18px);

        max-width: 445px;
        margin: 0 0 80px;
        font-family: $case-studies-font;
        line-height: 180%;
        color: $silver-chalice;

        & > p {
          margin: 0;
        }

        @include tablet {
          @include fontSize(16px);

          max-width: 270px;
        }

        @include phone {
          @include fontSize(14px);

          max-width: 345px;
          margin: 0 auto 40px;
        }
      }

      .additionalInfoContainer {
        @include flex;

        @include phone {
          @include flex(column);
        }
      }

      @include tablet {
        max-width: 270px;
        margin-left: 30px;
      }

      @include phone {
        max-width: 100%;
        margin: 0 0 40px;
        text-align: center;
        order: 1;
      }
    }

    @include tablet {
      padding: 0;
    }

    @include phone {
      @include flex(column, center, center);
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 40px;
      margin-right: 0 !important;
    }
  }
}

.fernwayer {
  @extend .container;

  background-color: $white;
  padding-bottom: 0;

  @include tablet {
    padding-bottom: 100px;
  }

  @include phone {
    padding-bottom: 40px;
  }
}

.software-for-mri-interpretation {
  @extend .container;

  background-color: $white;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .description {
          margin: 0 0 40px;

          @include phone {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.stickerbox {
  @extend .container;

  background-color: $white;
}

.travel-trivia {
  @extend .container;

  background-color: $white;
}

.seven-pm-thursday {
  @extend .container;

  background-color: $dark-blue-1;

  .contentContainer {
    .descriptionContainer {
      .title {
        color: $white;
      }

      .description {
        max-width: 406px;
      }
    }
  }

  @include tablet {
    padding-bottom: 100px;
  }

  @include phone {
    padding-bottom: 40px;
  }
}

.fairy {
  @extend .container;

  background-color: $white;
}

.tell {
  @extend .container;

  .contentContainer {
    @include tablet {
      @include flex(row, space-around, center);
    }

    @include phone {
      @include flex(column, center, center);
    }
  }
}

.humankind {
  @extend .container;

  background: $athens-gray;

  .contentContainer {
    @include flex(column-reverse, center, center);

    padding-bottom: 0;

    .descriptionContainer {
      @include flex(row, center);

      padding-bottom: 120px;
      max-width: unset;
      margin-left: 0;

      .descriptionIntro {
        margin-right: 245px;

        .description {
          max-width: 643px;

          @include phone {
            margin-bottom: 40px;
          }
        }

        @include tablet {
          margin-right: 0;
        }
      }

      @include tablet {
        flex-direction: column;
        padding-bottom: 0;
      }

      @include phone {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    @include phone {
      flex-direction: column;
    }
  }
}

.dindon {
  @extend .container;

  background-color: $white;
  max-width: 1400px;
  margin: 0 auto;
  align-items: flex-start;
  flex-direction: row;

  .contentContainer {
    width: auto;
    margin-right: 260px;
    padding-bottom: 0;

    .descriptionContainer {
      margin: 0;

      .description {
        max-width: 548px;

        @include phone {
          max-width: 350px;
          margin-bottom: 0;
        }
      }

      @include tablet {
        max-width: unset;
      }
    }

    @include tablet {
      width: 345px;
      margin: 0 auto;
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.open-sense,
.separate-us,
.telemojo {
  @extend .container;
}

.writer-chrome-extension,
.natp,
.meateater,
.bionorica,
.fusion-markets {
  @extend .container;

  background-color: $white;

  .contentContainer {
    @include flex(column-reverse, center, center);

    padding-bottom: 0;

    .descriptionContainer {
      @include flex(row, center);

      padding-bottom: 150px;
      max-width: unset;
      margin-left: 0;

      .descriptionIntro {
        margin-right: 150px;

        .sectionName {
          margin: 0;
        }

        .description {
          max-width: 407px;
        }

        @include tablet {
          margin-right: 0;
        }
      }

      @include tablet {
        flex-direction: column;
        padding-bottom: 100px;
      }

      @include phone {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    @include phone {
      flex-direction: column;
    }
  }
}

.drive-focus {
  @extend .container;

  padding-bottom: 0;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .description {
          max-width: 518px;
        }
      }
    }
  }
}

.cash-chat {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          & > p {
            padding: 0 6px;
          }
        }
      }

      @include desktop {
        margin-left: 40px;
      }

      @include tablet {
        margin-left: 60px;
      }

      @include phone {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 80px;

      @include phone {
        margin-top: 40px;
      }
    }
  }

  @include phone {
    padding: 80px 15px 35px;
  }
}

.writer-chrome-extension {
  padding-bottom: 70px;

  @include tablet {
    padding-bottom: 55px;
  }

  @include phone {
    padding-bottom: 40px;
  }
}

.beautonomy {
  @extend .container;

  background-color: $white;

  .contentContainer {
    justify-content: space-between;
    max-width: $max-content-width;
    padding-bottom: 0;
    margin-bottom: 150px;

    .descriptionContainer {
      @include macbook-twelve {
        max-width: max-content;
        margin-left: 30px;
      }

      max-width: 520px;
      margin-left: 0;

      .descriptionIntro {
        .sectionName {
          margin: 10px 0 20px;
        }

        .description {
          max-width: 520px;
          margin-bottom: 60px;

          @include phone {
            margin-bottom: 40px;
          }
        }
      }

      @include phone {
        margin: 0;
      }
    }

    @include tablet {
      @include flex(column, center, center);

      margin-bottom: 0;
    }
  }
}

.smartcenter {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    margin-bottom: 250px;

    @include tablet {
      margin-bottom: 500px;
    }

    @include phone {
      margin-bottom: 0;
    }
  }
}

.ubichat {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;
  }
}

.meateater,
.bionorica {
  position: relative;
  padding: 150px 40px;

  .contentContainer {
    @include flex(column, center, center);

    padding-bottom: 150px;

    .descriptionContainer {
      @include phone {
        @include flex(column, center, center);
      }
    }

    @include phone {
      padding-bottom: 0;
    }
  }

  @include tablet {
    flex-direction: column;
    padding: 80px 0 400px;
  }

  @include phone {
    padding: 80px 15px 580px;
  }
}

.fireaway {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          & > p {
            padding: 0 6px;
          }
        }
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 80px;
    }
  }

  @include phone {
    padding: 80px 15px 35px;
  }
}

.famlicious {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          & > p {
            padding: 0 6px;
          }
        }
      }

      @include desktop {
        margin-left: 40px;
      }

      @include tablet {
        margin-left: 60px;
      }

      @include phone {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 80px;

      @include phone {
        margin-top: 40px;
      }
    }
  }

  @include phone {
    padding: 80px 15px 35px;
  }
}

.fusion-markets {
  background-color: $eerie-black;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .title {
          background:
            linear-gradient(
              to right,
              $ocean-blue 0%,
              $jacksons-purple 50%
            );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .description {
          max-width: 518px;

          @include phone {
            max-width: 340px;
          }
        }
      }
    }
  }
}

.blackbird {
  @extend .container;

  background-color: $white;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .description {
          max-width: 518px;

          @include phone {
            max-width: 340px;
          }
        }
      }

      @include phone {
        margin-bottom: 0;
      }
    }
  }
}

.fintech-app-for-credit-score {
  @extend .container;
  @include flex(row, space-around, center);

  background-color: $white;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  .contentContainer {
    padding-bottom: 0;
    justify-content: space-between;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          & > p {
            width: 560px;
            padding: 0 6px;

            @include below-tablet {
              width: 400px;
            }

            @include phone {
              width: 250px;
            }
          }
        }
      }

      @include desktop {
        margin-left: 40px;
      }

      @include tablet {
        margin-left: 60px;
      }

      @include phone {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }

  @include phone {
    padding: 80px 15px 45px;
    flex-direction: column;
    justify-content: center;
  }
}

.hotel-data-cloud,
.marketplace-for-clairvoyant-services {
  @extend .container;

  position: relative;
  padding: 150px 40px;
  background-color: $white;

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          max-width: 520px;

          @include phone {
            max-width: 340px;
          }
        }
      }
    }
  }
}

.machine-learning-in-real-estate {
  @extend .container;

  background-color: $very-dark-blue;
  color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      @include flex(row, space-around);

      max-width: unset;
      width: 100%;
      margin-left: unset;

      .descriptionIntro {
        .sectionName {
          color: $white;
        }

        .title {
          color: $white;
        }

        .description {
          color: $white;
          max-width: unset;
          width: 517px;

          @include below-tablet {
            width: 300px;
          }
        }

        @include below-tablet {
          width: 300px;
        }

        @include phone {
          margin: 0 auto;
        }
      }

      @include phone {
        flex-direction: column;
        margin-bottom: unset;
      }
    }
  }

  .mobileAdditionalInformation {
    & > div {
      @include phone {
        margin-top: unset;
      }
    }
  }

  & > div:last-child {
    @include quad-hd {
      left: 69.2%;
    }

    @include full-hd {
      top: 53%;
      left: 67.1%;
    }

    @include macbook-thirteen {
      left: 64.5%;
    }

    position: absolute;
    top: 53%;
    left: 64.5%;

    @include tablet {
      top: 40%;
      left: 60.8%;
    }

    @include below-tablet {
      top: 35%;
    }

    @include phone {
      top: 73%;
      left: 30%;
    }
  }

  @include phone {
    padding: 30px 15px 100px;
  }
}

.hotel-data-cloud {
  @include phone {
    padding: 80px 15px;
  }
}

.cinnabar {
  @extend .container;

  padding: 120px 40px 90px;

  .contentContainer {
    padding-bottom: 120px;

    .descriptionContainer {
      .description {
        max-width: 565px;
      }

      .sectionName {
        @include phone {
          display: block;
        }
      }
    }

    @include phone {
      padding-bottom: 60px;
    }
  }

  @include tablet {
    padding: 70px 0;
  }

  @include phone {
    padding: 60px 15px;
  }
}

.mobile-bank-application {
  @extend .container;

  padding: 120px 40px;

  .contentContainer {
    padding-bottom: 80px;

    .descriptionContainer {
      .sectionName {
        display: block;
      }

      .title,
      .sectionName {
        margin-bottom: 20px;
      }

      .description {
        max-width: 576px;
        margin-bottom: 60px;
      }
    }

    @include phone {
      padding-bottom: 60px;
    }
  }

  @include tablet {
    padding: 70px 0;
  }

  @include phone {
    padding: 60px 15px;
  }
}
