@import "styles/utils/mixins";

.container {
  @include caseStudyContainer;
  @include flex(column, center, center);

  .contentContainer {
    width: 100%;
    padding-bottom: 140px;

    @include flex(row, center, center);

    @include tablet {
      padding: 0;
    }

    @include phone {
      @include flex(column, center, center);
    }

    .descriptionContainer {
      max-width: 630px;
      margin-left: 112px;

      @include flex(column, center);

      @include tablet {
        max-width: 270px;
        margin-left: 30px;
      }

      @include phone {
        max-width: 100%;
        margin: 0 0 40px;
        text-align: center;
        order: 1;
      }

      .sectionName {
        margin: 0 0 20px;
        font-family: $case-studies-font;
        font-weight: bold;
        line-height: 180%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $silver-chalice;

        @include fontSize(16px);

        @include tablet {
          margin: 0 0 10px;

          @include fontSize(14px);
        }
      }

      .title {
        margin: 0 0 30px;
        font-family: $case-studies-font;
        font-weight: bold;
        line-height: 120%;
        color: $dark-grey;

        @include fontSize(56px);

        @include tablet {
          margin: 0 0 15px;

          @include fontSize(40px);
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      .description {
        max-width: 445px;
        margin: 0 0 80px;
        font-family: $case-studies-font;
        line-height: 180%;
        color: $silver-chalice;

        @include fontSize(18px);

        & > p {
          margin: 0;
        }

        @include tablet {
          max-width: 270px;

          @include fontSize(16px);
        }

        @include phone {
          max-width: 345px;
          margin: 0 auto 40px;

          @include fontSize(14px);
        }
      }

      .additionalInfoContainer {
        @include flex;

        @include phone {
          @include flex(column);
        }
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 40px;
      margin-right: 0 !important;
    }
  }
}

.fernwayer {
  @extend .container;

  background-color: $white;
  padding-bottom: 0;

  @include tablet {
    padding-bottom: 100px;
  }

  @include phone {
    padding-bottom: 40px;
  }
}

.stickerbox {
  @extend .container;

  background-color: $white;
}

.travel-trivia {
  @extend .container;

  background-color: $white;
}

.seven-pm-thursday {
  @extend .container;

  background-color: $dark-blue-1;

  @include tablet {
    padding-bottom: 100px;
  }

  @include phone {
    padding-bottom: 40px;
  }

  .contentContainer {
    .descriptionContainer {
      .title {
        color: $white;
      }

      .description {
        max-width: 406px;
      }
    }
  }
}

.fairy {
  @extend .container;

  background-color: $white;
}

.tell {
  @extend .container;

  .contentContainer {
    @include tablet {
      @include flex(row, space-around, center);
    }

    @include phone {
      @include flex(column, center, center);
    }
  }
}

.open-sense,
.separate-us,
.telemojo {
  @extend .container;
}

.writer-chrome-extension,
.natp,
.meateater,
.bionorica,
.fusion-markets {
  @extend .container;

  background-color: $white;

  .contentContainer {
    padding-bottom: 0;

    @include flex(column-reverse, center, center);

    @include phone {
      flex-direction: column;
    }

    .descriptionContainer {
      padding-bottom: 150px;
      max-width: unset;
      margin-left: 0;

      @include flex(row, center);

      @include tablet {
        flex-direction: column;
        padding-bottom: 100px;
      }

      @include phone {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .descriptionIntro {
        margin-right: 150px;

        @include tablet {
          margin-right: 0;
        }

        .sectionName {
          margin: 0;
        }

        .description {
          max-width: 407px;
        }
      }
    }
  }
}

.drive-focus {
  @extend .container;

  padding-bottom: 0;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .description {
          max-width: 518px;
        }
      }
    }
  }
}

.cash-chat {
  @extend .container;

  background-color: $white;

  .contentContainer {
    padding-bottom: 0;
    max-width: 1250px;

    @include flex(column-reverse, center, flex-start);

    @include phone {
      flex-direction: column;
    }

    .descriptionContainer {
      max-width: unset;
      margin-left: 0;

      @include flex(row, center);

      @include tablet {
        flex-direction: column;
        padding-bottom: 100px;
      }

      @include phone {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .descriptionIntro {
        margin-right: 150px;

        .sectionName {
          margin: 20px 0;
        }

        .description {
          max-width: 407px;
        }

        @include tablet {
          margin-right: 0;
        }
      }
    }
  }
}

.writer-chrome-extension {
  padding-bottom: 70px;

  @include tablet {
    padding-bottom: 55px;
  }

  @include phone {
    padding-bottom: 40px;
  }
}

.beautonomy {
  @extend .container;

  background-color: $white;

  .contentContainer {
    justify-content: space-between;
    max-width: $max-content-width;
    padding-bottom: 0;
    margin-bottom: 150px;

    @include tablet {
      margin-bottom: 0;

      @include flex(column, center, center);
    }

    .descriptionContainer {
      max-width: 520px;
      margin-left: 0;

      @include macbook-twelve {
        max-width: max-content;
        margin-left: 30px;
      }

      @include phone {
        margin: 0;
      }

      .descriptionIntro {
        .sectionName {
          margin: 10px 0 20px;
        }

        .description {
          max-width: 520px;
          margin-bottom: 60px;

          @include phone {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

.smartcenter {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    margin-bottom: 250px;

    @include tablet {
      margin-bottom: 500px;
    }

    @include phone {
      margin-bottom: 0;
    }
  }
}

.ubichat {
  @extend .container;

  background-color: $white;
  position: relative;

  .contentContainer {
    padding-bottom: 0;
  }
}

.meateater,
.bionorica {
  position: relative;
  padding: 150px 40px;

  @include tablet {
    flex-direction: column;
    padding: 80px 0 400px 0;
  }

  @include phone {
    padding: 80px 15px 580px;
  }

  .contentContainer {
    padding-bottom: 150px;

    @include flex(column, center, center);

    @include phone {
      padding-bottom: 0;
    }

    .descriptionContainer {
      @include phone {
        @include flex(column, center, center);
      }
    }
  }
}

.fireaway {
  @extend .container;

  background-color: $white;
  position: relative;

  @include phone {
    padding: 80px 15px 35px;
  }

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      .descriptionIntro {
        .description {
          & > p {
            padding: 0 6px;
          }
        }
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 80px;
    }
  }
}

.famlicious {
  @extend .container;

  background-color: $white;
  position: relative;

  @include phone {
    padding: 80px 15px 35px;
  }

  .contentContainer {
    padding-bottom: 0;

    .descriptionContainer {
      @include desktop {
        margin-left: 40px;
      }

      @include tablet {
        margin-left: 60px;
      }

      @include phone {
        margin-left: 0;
        margin-bottom: 0;
      }

      .descriptionIntro {
        .description {
          & > p {
            padding: 0 6px;
          }
        }
      }
    }
  }

  .mobileAdditionalInformation {
    flex-direction: column;

    & > div {
      margin-top: 80px;

      @include phone {
        margin-top: 40px;
      }
    }
  }
}

.fusion-markets {
  background-color: $eerie-black;

  .contentContainer {
    .descriptionContainer {
      .descriptionIntro {
        .title {
          background: linear-gradient(to right, $ocean-blue 0%, $jacksons-purple 50%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .description {
          max-width: 518px;

          @include phone {
            max-width: 340px;
          }
        }
      }
    }
  }
}

.blackbird {
  @extend .container;

  background-color: $white;

  .contentContainer {
    .descriptionContainer {
      @include phone {
        margin-bottom: 0;
      }

      .descriptionIntro {
        .description {
          max-width: 518px;

          @include phone {
            max-width: 340px;
          }
        }
      }
    }
  }
}
