/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.mobile-app-development-company,
.web-app-development-company {
  @include appDevelopmentContainer;

  background-color: $alabaster;

  & > div:last-child {
    padding: 50px 0 0;
    margin-top: 0;

    & > div {
      max-width: 855px;
      padding: 40px 0;

      @include phone {
        padding: 16px 0;
      }
    }
  }
}

.web-app-development-company {
  background-color: $white;
  padding-bottom: 0;

  & > div {
    background-color: $white;
  }
}
