/* stylelint-disable no-duplicate-selectors */

@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/styles.module.scss';

.mobile-app-development-company,
.web-app-development-company,
.ios-mobile-app-development-services,
.ui-ux-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.chat-app-development-company,
.fintech-software-development-services,
.devops-development-services,
.artificial-intelligence-development-services {
  @include appDevelopmentContainer;

  background-color: $alabaster;

  .title {
    @include defaultSectionTitle;
  }

  & > div:last-child {
    padding: 0;
    margin-top: 0;

    & > div {
      max-width: 855px;
      padding: 40px 0;

      @include phone {
        padding: 16px 0;
      }
    }
  }
}

.web-app-development-company,
.ios-mobile-app-development-services,
.ui-ux-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.chat-app-development-company,
.mobile-app-development-company,
.fintech-software-development-services,
.devops-development-services,
.artificial-intelligence-development-services {
  background-color: $white;

  & > div {
    background-color: $white;
  }
}

.web-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.ui-ux-services,
.mobile-app-development-company,
.fintech-software-development-services,
.artificial-intelligence-development-services {
  padding-bottom: 0;
}
