/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.formContainer {
  position: relative;
  z-index: 2;
  padding: $section-indent 0;
  background-color: $white;

  @include flex(column, flex-start, center);

  @include phone {
    padding: $mobile-section-indent 0 $mobile-section-indent - 20px;
  }

  & > div:first-child {
    width: 100%;
    text-align: center;
    margin-bottom: $after-mobile-title-margin;

    .title {
      @include phone {
        width: 100%;
      }
    }
  }

  .subtitle {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    color: rgba($dark-grey, 0.3);

    span {
      cursor: pointer;
      padding: 0 0 5px;
      color: rgba($dark-grey, 0.3);

      a {
        margin-left: 5px;
        text-decoration: none;
        font-size: 0.9rem;
        line-height: 1.55;
        letter-spacing: 0.5px;
        transition: color $accelerated-transition-time;
        border: none;
        outline: none;
        background-color: transparent;
        color: rgba($dark-grey, 0.3);
        position: relative;
        display: inline-block;
        padding: 0;

        &::before {
          content: '';
          cursor: pointer;
          position: absolute;
          bottom: -2px;
          right: 0;
          width: 100%;
          border-bottom: 1px rgba($dark-grey, 0) solid;
          background-color: rgba($dark-grey, 0.2);
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }

      &:hover {
        cursor: pointer;

        a {
          &::before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            -webkit-transform: translateZ(0);
          }
        }
      }
    }
  }

  & > form {
    max-width: $max-content-width-macbook-twelve;
  }
}

.seven-pm-thursday,
.fusion-markets,
.blackbird,
.fintech-app-for-credit-score {
  @extend .formContainer;

  background-color: $dark-blue-1;

  /* stylelint-disable-next-line */
  .title {
    color: $white;
  }

  .subtitle {
    color: rgba($white, 0.4);

    /* stylelint-disable-next-line */
    span {
      /* stylelint-disable-next-line */
      a {
        color: rgba($white, 0.4);

        /* stylelint-disable-next-line */
        &::before {
          border-bottom: 1px rgba($white, 0.4) solid;
          background-color: rgba($white, 0.4);
        }
      }
    }
  }

  & > div:last-child {
    & > form {
      ::placeholder {
        color: $white;
      }

      :-ms-input-placeholder {
        color: $white;
      }

      ::-ms-input-placeholder {
        color: $white;
      }

      & > div:last-child {
        a {
          div {
            color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}

.fusion-markets {
  padding: 40px 0;
  background: $eerie-black;
}

.blackbird {
  padding: 120px 0;
  margin-top: 140px;
  background: $chinese-black;

  @include phone {
    padding: 0;
    margin-top: 0;
  }
}

.fintech-app-for-credit-score {
  padding: 120px 0;
  background: $white;
  color: $black;

  @include phone {
    padding: 0 auto;
    margin-top: 0;
  }

  .title {
    color: $black;
  }

  .subtitle {
    color: $feedback-form-grey;

    /* stylelint-disable-next-line */
    span {
      /* stylelint-disable-next-line */
      a {
        color: $feedback-form-grey;

        /* stylelint-disable-next-line */
        &::before {
          border-bottom: 1px $feedback-form-grey solid;
          background-color: $feedback-form-grey;
        }
      }
    }
  }

  & > div:last-child {
    & > form {
      ::placeholder {
        color: $feedback-form-grey;
      }

      :-ms-input-placeholder {
        color: $feedback-form-grey;
      }

      ::-ms-input-placeholder {
        color: $feedback-form-grey;
      }

      & > div:last-child {
        a {
          div {
            color: $feedback-form-grey;
            border-color: $feedback-form-grey;
          }
        }
      }
    }
  }
}

.open-sense {
  @extend .formContainer;

  .title {
    color: $dark-grey;
  }

  .subtitle {
    color: rgba($dark-grey, 0.3);

    span {
      a {
        color: rgba($dark-grey, 0.3);

        &::before {
          border-bottom: 1px rgba($dark-grey, 0.1) solid;
          background-color: rgba($dark-grey, 0.1);
        }
      }
    }
  }
}

.web-app-development-company,
.ui-ux-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.machine-learning-development-services,
.mobile-app-development-company,
.chat-app-development-company {
  @extend .formContainer;

  padding: 100px 16px;

  @include tablet {
    padding: 80px 16px;
  }

  .title {
    max-width: 786px;
  }
}

.ui-ux-services {
  .title {
    @include fontSize(56px);

    letter-spacing: unset;
    margin-bottom: 30px;
    max-width: 912px;

    @include tablet {
      @include fontSize(44px);
    }

    @include phone {
      margin-bottom: 20px;

      @include fontSize(32px);
    }
  }
}

.writer-chrome-extension {
  @extend .formContainer;

  background-color: unset;

  @include phone {
    padding: 0;
  }
}

.mvp-app-development-company {
  .title {
    max-width: 878px;
  }
}

.marketplace-for-clairvoyant-services {
  @extend .formContainer;

  @include phone {
    padding-top: 0;

    .title {
      @include fontSize(32px);

      font-weight: 700;
      font-family: $case-studies-font;
    }
  }
}
