.ai-based-travel-planner {
  background-color: $travelBlue;

  [data-title],
  [data-description] {
    color: $gray0;
  }

  [data-title] {
    color: $gray0;
    opacity: 0.7;
  }

  .iconLink,
  .question {
    color: $gray0;
  }

  .more {
    color: $gray0;
    border: 1px solid $gray0;
  }

  .link {
    color: $gray0;
    opacity: 0.7;
  }
}
