.beautonomy {
  background: $beautonomyBackground;

  [data-title] {
    color: $gray400;
  }

  [data-description] {
    color: $gray900;
  }

  .more {
    border: 1px solid $gray900;
    color: $gray900;
  }

  .question {
    color: $gray900;
  }

  .link {
    font-weight: 500;
    color: $gray400;
  }

  .iconLink {
    circle {
      stroke: $gray300;
    }
    path {
      fill: $gray900;
    }
  }
}
