.humankind {
  background: $humankindGradient;

  [data-title],
  [data-description] {
    color: $gray0;
  }

  [data-title] {
    opacity: 0.7;
  }

  .more {
    border: 1px solid $gray0;
    color: $gray0;
  }

  .question,
  .iconLink {
    color: $gray0;
  }

  .link {
    color: $gray0;
    opacity: 0.7;
  }
}
