.stickerbox {
  @extend .container;

  background: $stickerBoxPrimary;

  .nextProjectContainer {
    .subtitle {
      color: $gray400;
    }

    .projectName {
      color: $gray0;
    }

    .more {
      border: 1px solid $gray0;
      color: $gray0;
    }
  }

  .question {
    color: $gray0;
  }

  .link {
    color: $gray400;
  }

  .iconLink {
    color: $gray0;
  }
}