.mobile-bank-application {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 120px 40px;

  .cardsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include below-tablet {
      grid-template-columns: auto;
      grid-gap: 24px;
    }

    @include phone {
      display: unset;
    }

    .cardContainer {
      @include flex(column, center, center);

      position: relative;
      padding: 20px;
      box-shadow: 0px 8px 35px rgba(110, 120, 130, 0.1);

      .imageContainer {
        display: flex;
        justify-content: center;

        .image {
          max-width: 265px;
        }
      }

      .cardContent {
        text-align: center;

        .typeTitle {
          @include fontSize(24px);

          margin: 15px 0 0;
        }
      }

      .overlay {
        @include fontSize(18px);
        @include flex(column, center, center);

        position: absolute;
        padding: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background: white;
        color: $silver-chalice;
        text-align: center;
        opacity: 0;
        cursor: pointer;

        .typeTitle {
          @include fontSize(24px);

          color: black;
          margin: 15px 0 0;

          @include phone {
            display: none;
          }
        }

        p {
          @include phone {
            @include fontSize(14px);
          }
        }

        @include phone {
          position: static;
          opacity: 1;
          height: 100%;
          width: 100%;
          padding: 0;
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }

      @include phone {
        margin: 10px;
      }
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}