.bionorica {
  &.firstSectionView {
    .image {
      width: 576px;
      height: 336px;
    }
  }

  &.secondSectionView {
    overflow: hidden;

    .image {
      width: 994px;
      height: 542px;
      transform: scale(1.1);

      @include tablet {
        width: 100%;
        height: 350px;
      }

      @include phone {
        height: 187px;
      }
    }
  }
}
