.cinnabar {
  .image-1 {
    width: 994px;
    height: 272px;

    @include phone {
      display: none;
    }
  }

  .image-2 {
    display: none;
    width: 1636px;
    height: 120px;

    @include phone {
      display: block;
    }
  }
}
