.crowdfunding-platform {
  &.firstSectionView {
    .image {
      height: 144px;
      width: 100%;
      max-width: $wide-content-width;

      @include tablet {
        width: 950px;
      }
    }
  }

  &.secondSectionView {
    .image {
      height: 383px;
      width: 100%;
      max-width: $wide-content-width;

      img {
        object-fit: fill;
      }

      @include tablet {
        height: 244px;
      }
    }
  }

  &.thirdSectionView {
    @include flex (row, space-between, center);

    max-width: $default-content-width;
    margin: 0 auto;

    & > * + * {
      margin-left: 32px;
    }

    .image {
      height: 378px;
    }

    @include tablet {
      flex-direction: column;

      & > * + * {
        margin-left: 0;
      }

      .image {
        width: 100%;
      }
    }
  }

  &.fourthSectionView {
    overflow: hidden;
    padding-top: 0;

    .image {
      width: 120%;
      height: 244px;

      @include tablet {
        height: 130px;
      }
    }
  }
}
