.drive-focus {
  &.firstSectionView {
    .image {
      @include phone {
        height: 202px;
        width: 343px;
      }
    }
  }

  &.secondSectionView {
    .image {
      width: 994px;

      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }
}
