.enterprise-resource-planning-system {
  &.firstSectionView {
    .image {
      width: 994px;
      height: 532px;
    }
  }

  &.secondSectionView {
    overflow: hidden;

    .image {
      display: block;
      margin: 0 auto;
      width: 994px;
      height: 521px;
      border: solid $gray0 5px;
      border-radius: 8px 8px 0 0;
      border-bottom: none;

      @include tablet {
        width: 700px;
        height: 368px;
      }

      @include below-tablet {
        width: 532px;
        height: 280px;
      }

      @include phone {
        width: 310px;
        height: 163px;
      }
    }
  }
}
