.fernwayer {
  &.firstSectionView {
    .image {
      width: 995px;
      height: 556px;
    }
  }

  &.secondSectionView {
    .image {
      width: auto;

      @include phone {
        height: 247px;
      }
    }
  }

  &.thirdSectionView {
    .image {
      width: auto;

      @include phone {
        height: 378px;
      }
    }
  }
}
