.mobile-music-app {
  &.firstSectionView {
    margin: 0 auto 48px;
    max-width: 1120px;
    width: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 460px;

      @include tablet {
        height: 360px;
      }

      @include below-tablet {
        height: 260px;
      }

      @include phone {
        height: 140px;
      }
    }

    @include below-tablet {
      margin: 0 auto 24px;
    }
  }

  &.thirdSectionView {
    overflow-y: hidden;

    .image {
      margin: 0;
      width: $macbook-thirteen;
      height: 630px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include tablet {
      height: 570px;
    }

    @include phone {
      .image {
        margin-left: -60px;
      }
    }
  }
}
