.mobile-bank-application {
  &.firstSectionView {
    .image {
      &-1 {
        max-width: 1200px;
        width: 100%;
        height: 340px;

        @include phone {
          display: none;
        }
      }

      &-2 {
        display: none;
        width: 2028px;
        height: 120px;

        @include phone {
          display: block;
        }
      }
    }
  }
}
