.telemojo {
  &.firstSectionView {
    .image {
      width: 995px;
      height: 532px;
    }
  }

  &.secondSectionView {
    .image-1 {
      width: 995px;
      height: 532px;

      @include phone {
        display: none;
      }
    }

    .image-2 {
      display: none;
      width: 340px;
      height: 896px;

      @include phone {
        display: block;
      }
    }
  }
}
