.web-p2p-lending-platform {
  &.firstSectionView {
    .image {
      height: 165px;
      width: 100%;
      max-width: $wide-content-width;

      @include tablet {
        width: 950px;
      }
    }
  }

  &.secondSectionView {
    .image {
      max-width: $wide-content-width;
      width: 100%;

      @include tablet {
        height: 200px;
      }
    }
  }
}
