.writer-chrome-extension {
  &.firstSectionView {
    .image {
      width: 892px;
      height: 532px;
    }
  }

  &.secondSectionView {
    .image-1 {
      width: 100%;
      height: 140px;

      @include below-tablet {
        display: none;
      }
    }

    .image-2 {
      display: none;
      width: 100%;
      height: 452px;

      @include below-tablet {
        display: block;
      }
    }
  }
}
