/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-eol-whitespace */
@import "styles/utils/mixins";

.container {
  box-sizing: border-box;
  padding: 330px 40px 150px;
  overflow: hidden;

  @include tablet {
    height: auto;
    padding-top: 145px;
    padding-bottom: 70px;
  }

  @include phone {
    padding: 135px 15px 105px;
  }

  .projectInfoContainer {
    z-index: 100;

    @include tablet {
      margin-bottom: 60px;
      text-align: center;
    }

    .logo {
      width: 83px;
      height: 83px;
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 15px;
      }

      @include phone {
        width: 60px;
        height: 60px;
      }
    }

    .title {
      .projectTitle {
        margin: 0 0 30px;
        font-family: $case-studies-font;
        font-weight: bold;
        line-height: 120%;

        @include fontSize(100px);

        @include tablet {
          @include fontSize(60px);
        }

        @include phone {
          @include fontSize(46px);
        }
      }
    }

    .projectSubtitle {
      margin: 0 0 20px;
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 150%;
    }

    .projectDescription {
      max-width: 400px;
      margin: 0 0 40px;
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        margin: 0 auto 40px;

        @include fontSize(16px);
      }
    }
  }

  .experiencesContainer {
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
    font-family: $case-studies-font;

    @include fontSize(18px);
    @include flex(row, space-between);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      overflow-x: auto;
      white-space: pre;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .experience {
      margin-right: 15px;

      @include phone {
        margin-right: 40px;
      }

      &:last-of-type {
        margin: 0;
      }

      .infoTitle {
        margin: 0 0 10px;
        font-weight: bold;
        line-height: 180%;
      }

      p {
        margin: 0;
        line-height: 180%;
      }
    }
  }

  .imageContainer {
    position: relative;
    z-index: 1;

    .image {
      object-fit: cover;
      width: 100%;
    }
  }
}

.introSection {
  max-width: 1400px;
  margin: 0 auto 240px;

  @include tablet {
    margin: 0 auto 60px;

    @include flex(column, initial, center);
  }
}

.backgroundImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.webSiteLink {
  display: inline-block;
  color: $white;
  font-weight: 500;
  padding: 18px 64px;
  border-radius: 8px;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);

  @include fontSize(20px);

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
  }

  @include phone {
    @include fontSize(18px);
  }
}

.open-sense {
  @extend .container;

  @include centeredBackgroundImage;

  padding: 230px 40px 150px;
  background-color: $white;

  .projectInfoContainer {
    @include flex(column, center, center);

    .title {
      position: relative;

      .projectTitle {
        margin-bottom: 65px;
      }

      .titleBackground {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-27px, -17px);

        @include tablet {
          width: 490px;
          transform: translate(-27px, -60px);
        }

        @include phone {
          display: none;
        }
      }
    }

    .projectSubtitle {
      @include fontSize(24px);
    }

    .projectDescription {
      max-width: 650px;
      opacity: 0.7;
      text-align: center;
    }
  }

  a {
    @extend .webSiteLink;

    background-color: $dodger-blue;
  }

  .experiencesContainer {
    .experience {
      max-width: 220px;

      p:not(.infoTitle) {
        color: $silver-chalice;
      }

      @include phone {
        max-width: unset;
      }
    }
  }
}

.separate-us {
  @extend .container;

  background-color: $white;
  padding-top: 190px;

  @include tablet {
    padding-top: 145px;
  }

  @include phone {
    padding-top: 135px;
  }

  .introSection {
    margin-bottom: 150px;

    @include flex(column, center, center);
  }

  .projectInfoContainer {
    order: 1;

    @include flex(column, center, center);

    .title {
      .projectTitle {
        color: $mercury-1;

        .pinkText {
          color: $brink-pink;
        }
      }
    }

    .projectSubtitle {
      color: rgba($dark-grey, 0.7);
      margin-bottom: 100px;

      @include fontSize(24px);

      @include tablet {
        margin-bottom: 0;

        @include fontSize(18px);
      }
    }
  }

  .imageContainer {
    order: 2;

    .image {
      max-width: 1250px;
    }
  }

  a {
    @extend .webSiteLink;

    order: 3;
    margin: 80px auto 0;
    background-color: $mine-shaft-1;
  }

  .experiencesContainer {
    .experience {
      .infoTitle {
        color: $dark-grey;
      }

      p {
        color: $silver-chalice;
      }
    }
  }
}

.smartcenter {
  @extend .container;

  background: linear-gradient(to bottom, $regent-gray 0%, $slate-gray2 100%);
  position: relative;
  padding-top: 207px;

  @include tablet {
    padding-top: 145px;
  }

  @include phone {
    padding-top: 135px;
  }

  .introSection {
    @include flex(column, center, center);

    margin-bottom: 80px;
  }

  .projectInfoContainer {
    text-align: center;
    z-index: initial;

    .logo {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 90%;
    }

    .title {
      .projectTitle {
        color: $white;

        @include fontSize(56px);

        @include phone {
          font-size: 2.4rem;
        }
      }
    }

    .projectDescription {
      margin: 0;
    }

    .projectSubtitle {
      color: $white;
      font-weight: 400;
    }
  }

  .imageContainer {
    position: relative;
    max-width: 1084px;
  }

  .experiencesContainer {
    .experience {
      .infoTitle {
        color: $white;
      }

      p {
        color: $white;
        font-weight: 400;
        max-width: 242px;

        @include fontSize(18px);
      }
    }
  }
}

.telemojo {
  @extend .smartcenter;

  padding-top: 180px;
  padding-bottom: 120px;

  .projectInfoContainer {
    .logo {
      top: 0;
      right: 0;
      height: 56vh;
      width: 100%;
      transform: translate(0%, 85%);

      @include macbook-fifteen {
        height: 52vh;
        transform: translate(0%, 80%);
      }

      @include macbook-thirteen {
        height: 55vh;
        transform: translate(0%, 80%);
      }

      @include tablet {
        height: 61vh;
        transform: translate(0%, 100%);
      }

      @include below-tablet {
        height: 52vh;
        transform: translate(0%, 160%);
      }

      @include phone {
        height: 22vh;
        transform: translate(0%, 220%);
      }
    }
  }
}
