@import 'styles/utils/mixins';

.advantagesSection {
  margin: 150px auto 100px;
  padding: 0 100px;
  position: relative;

  @include flex(column, center, center);

  @include below-tablet {
    margin: 100px 0;
    padding: 0;
  }

  .advantagesList {
    width: 100%;
    margin-bottom: 80px;

    @include flex(row, initial, center, wrap);

    @include below-tablet {
      margin-bottom: 40px;

      @include flex(column, initial, center);
    }

    & > div {
      padding: 30px 50px;
      margin-bottom: 30px;
      box-shadow: $card-bow-shadow;
      border-radius: 5px;
      width: calc(50% - 115px);

      @include flex(row, flex-start, center);

      &:nth-of-type(odd) {
        margin-right: 30px;

        @include below-tablet {
          margin-right: 0;
        }
      }

      @include tablet {
        margin-right: 20px;
        padding: 20px 40px;
      }

      @include below-tablet {
        margin-right: 0;
        margin-bottom: 30px;
        width: calc(100% - 80px);
      }

      .advantageTitle {
        font-weight: 700;
        margin: 0 0 0 25px;

        @include fontSize(24px);

        @include macbook-twelve {
          @include fontSize(22px);
        }

        @include phone {
          @include fontSize(18px);
        }
      }
    }
  }
}
