.generative-AI-services {
  .textContent > div:nth-child(2) {
    width: 100%;
    max-width: 787px;
  }

  .text {
    width: 100%;

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 113px;
      padding: 0;
      margin: 0;

      @include below-tablet {
        @include flex(column, flex-start, center);
      }
    }

    li {
      flex: 1 1 30%;
      margin-bottom: 12px;

      &::marker {
        color: $yellow400;
      }

      p {
        margin: 0;
      }
    }
  }
}
