.penetration-testing {
  &.firstSectionView {
    background-color: $gray900;

    .titleStyle {
      max-width: 749px;
      color: $gray0;
      margin: 0;

      & p:first-child {
        margin-bottom: 24px;
      }
    }
  }

  &.secondSectionView {
    & .contentWrapper {
      @include flex(row, center, center);

      max-width: 1200px;

      & > div {
        width: 100%;
        height: 100%;
      }

      @include below-tablet {
        @include flex(column);
      }

     .textContent {
        margin: 0 32px 0 0 ;
        max-width: 687px;

        .titleStyle {
          text-align: left;
          margin-bottom: 8px;

          @include below-tablet {
            text-align: center;
          }

          h2 {
            text-align: left;

            @include below-tablet {
              text-align: center;
            }
          }
        }

       .text {
         & > p {
           @include fontSize(16px, 150%);

           color: $gray400;
           margin-top: 0;

           @include below-tablet {
             text-align: center;
           }
         }

         & > ul {
           @include flex(column, center, flex-start, wrap);

           margin: 32px 0 0 5px;
           max-height: 132px;
           width: 534px;

           @include tablet {
             width: fit-content;
             max-height: none;
           }

           @include below-tablet {
             @include flex(column);
             align-items: center;
             margin: 0 auto;
           }

           & li {
             @include fontSize(16px, 150%);

             margin-bottom: 8px;

             &::marker {
               color: $yellow400;
             }

             & p {
               margin: 0;
             }

             &:last-child {
               margin-bottom: 0;
             }
           }
         }
       }
     }
    }
  }

  &.thirdSectionView {
    .titleStyle {
      max-width: 823px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 755px;

      & > p {
        display: none;
      }

      @include below-tablet {
        flex-direction: column-reverse;
        width: initial;
      }

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        height: 288px;
        width: 100%;
        align-content: space-between;
        margin: 0;

        @include below-tablet {
          height: 240px;
          overflow: hidden;
          flex-wrap: nowrap;
          align-items: center;
        }

        & li {
          @include fontSize(16px, 150%);
          list-style: none;
          display: inline-block;
          max-width: 221px;
          flex: none;

          @include below-tablet {
           text-align: center;
            margin-bottom: 12px;
          }

          & p {
            display: flex;
            position: relative;
            padding-left: 16px;
            margin: 0;

            &::after {
              content: '';
              position: absolute;
              height: 8px;
              width: 8px;
              background-color: $yellow500;
              top: calc(50% - 4px);
              left: 0;
              border-radius: 100%;
            }
          }

          &:last-child {
            margin-bottom: 0;
            margin-right: 0;
          }
        }
      }

      &.seeMore > ul {
        height: fit-content;
      }
    }
  }

  &.fourthSectionView {
    background-color: $gray900;

    .titleStyle {
      max-width: 749px;
      color: $gray0;
      margin-bottom: 48px;

      @include phone {
        margin-bottom: 0;
      }
    }

    .text {
      table {
        width: 995px;
        border-radius: 16px;
        margin: 0;

        @include tablet {
          width: 650px;
        }

        @include below-tablet {
          width: 475px;
        }

        @include phone {
          display: none;
        }

        & thead {
          & th {
            @include fontSize(20px, 30px);

            padding: 16px 0;
            border-color:  $gray700;
          }
        }

        & tbody {
          background-color: $gray800;
          color: $gray400;

          & td {
            @include fontSize(16px, 24px);

            padding: 18px 0;
            color: $gray400;
            text-align: center;
            border-color:  $gray700;
          }
        }
      }
    }
  }

  .pageImage {
    max-width: 480px;
    height: 449px;
    padding-top: 0;

    @include below-tablet {
      height: 330px;
    }
  }
}
