@import 'styles/utils/mixins';

.tableContainer {
  @include phone {
    overflow: scroll;
  }
}

.table {
  margin: 60px 0 80px;
  border-collapse: separate;
  border: solid $dark-grey 1px;
  border-radius: 8px;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;

  @include phone {
    margin-right: 15px;
    margin-left: 15px;
  }

  td,
  th {
    border-left: solid $dark-grey 1px;
    border-top: solid $dark-grey 1px;
    padding: 20px;
    color: $dark-grey;
    line-height: 1.5;

    @include fontSize(14px);

    @include phone {
      padding: 10px;

      @include fontSize(13px);
    }
  }

  th {
    background-color: $turbo-100;
    border-top: none;
    font-weight: 700;
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }

  .tableVerticalHeader {
    border-top: solid $dark-grey 1px;
  }
}
