@import 'styles/utils/mixins';

.imgWrapper {
  width: 55%;
  height: 100%;
  transform: scale(1);
  will-change: transform, opacity;

  @include flex(column, center, center);

  @include tablet {
    width: calc(100% - (40px + 40px));
    margin-right: 40px;
    margin-left: 40px;
    max-height: 50%;
  }

  @include below-tablet-horizontal {
    width: 50%;
  }

  @include phone {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  div {
    width: 100%;
    height: max-content;

    @include flex(column, center, center);

    div {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      padding-top: calc(100% / (4 / 3));
      width: 100%;
      opacity: 1;
    }
  }
}
