@import 'styles/utils/mixins';

.imgWrapper {
  width: 55%;
  height: 100%;
  @include flex(column, center, center);
  transform: scale(1);
  will-change: transform, opacity;

  @include tablet {
    width: calc(100% - (40px + 40px));
    margin-right: 40px;
    margin-left: 40px;
    max-height: 50%;
  }

  @include below-tablet-horizontal {
    width: 50%;
  }

  @include phone {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  div {
    width: 100%;
    height: max-content;
    @include flex(column, center, center);

    & > span {
      width: 100%;

      & > img {
        width: 100%;
      }
    }
  }
}