@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    @include h1-title;
  }

  span {
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-align: center;
    color: $text-color;
  }
}