@import 'styles/utils/mixins';

:global(.slick-slider) {
  @include flex(row, center, center);
  width: 100%;
  margin: 0;
}

:global(.slick-list) {
  max-width: $max-content-width;
  will-change: height;
  transition: height calc(#{$default-transition-time} / 2);
  position: relative;
  z-index: 3;

  @include full-hd {
    max-width: $max-content-width-full-hd;
  }

  @include macbook-fifteen {
    max-width: $max-content-width-macbook-fifteen * .8;
  }

  @include macbook-twelve {
    max-width: $max-content-width-macbook-twelve;
  }

  @include phone {
    max-width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(to left, rgba(247, 248, 247, 0), $gray-nurse);
    top: 0;
    left: 0;
    z-index: 5;
  }

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(247, 248, 247, 0), $gray-nurse);
    top: 0;
    right: 0;
    z-index: 5;
  }
}

:global(.slick-dots) {
  bottom: -85px;

  li {
    width: 8px;
    height: 8px;

    button {
      padding: 0 !important;
      width: 8px !important;
      height: 8px !important;
      border: none !important;
      border-radius: 50%;
      background-color: $alto;

      &::before {
        content: '' !important;
      }
    }
  }
}

:global(.slick-active) {
  button {
    background-color: $jumbo !important;
  }
}