.devops-development-services {
  &.firstSectionView {
    .title {
      width: 453px;
      text-align: center;

      @include below-tablet {
        width: 100%;
      }
    }
  }

  &.secondSectionView {
    background: $gray50;

    .title {
      max-width: 476px;

      @include phone {
        width: 100%;
      }
    }
  }
}
