/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.dropDownMenu {
  position: absolute;
  top: $header-height - 0.5px;
  left: 0;
  width: 100%;
  padding: 80px 0 40px;
  background-color: $black;
  color: $white;
  z-index: -1;
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0.2s,
    opacity 0.3s ease;
  box-shadow: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);

  @include macbook-twelve {
    padding-bottom: 80px;
  }

  @include phone {
    position: relative;
    top: 0;
    padding: 0;
    margin-top: 20px;
    width: unset;
    z-index: unset;
    background-color: $black;
  }

  .dropDownNavContainer {
    max-width: max-content;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 150px;

    @include macbook-twelve {
      grid-template-columns: repeat(2, auto);
    }

    @include below-tablet {
      display: block;
      grid-template-columns: unset;
      margin-left: 40px;
    }

    @include phone {
      margin: 0;
      grid-column-gap: unset;
      width: unset;
    }

    .itemContainer {
      margin-bottom: 40px;
      outline: none;

      @include phone {
        margin-bottom: 20px;
        width: 100%;
      }

      &:nth-child(2) {
        grid-column: 2/3;

        @include phone {
          grid-row: unset;
          grid-column: unset;
        }
      }

      .link {
        display: block;
        margin: 0;

        .title {
          margin: 0 0 7px;
          font-weight: 500;
          line-height: 1.5;
          color: $white;
          transition: color 0.3s ease-in-out;

          @include fontSize(20px);
        }

        .subtitle {
          line-height: 2;
          color: $silver-chalice;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;

          @include fontSize(18px);
        }

        &:hover {
          .title {
            color: $turbo-100;
          }

          & > span {
            color: $turbo-100;
            opacity: 0.7;
          }
        }

        @include phone {
          .title,
          .subtitle {
            @include fontSize(14px);
          }
        }
      }

      .menuLink {
        display: block;
        margin: 0;

        @include fontSize(18px);

        .menuText {
          line-height: 2;
          color: $silver-chalice;
          outline: none;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        &:hover {
          .menuText {
            color: $turbo-100;
            opacity: 0.7;
          }
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }
}

.pageScrolling {
  background-color: $white;
  box-shadow: 0 40px 60px -40px rgba(0, 0, 0, 0.1);
  border-bottom: none;

  .dropDownNavContainer {
    .itemContainer {
      .link {
        .title {
          color: $dark-grey;
        }
      }
    }
  }
}

.closed {
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0.4s,
    opacity 0.5s ease;
}
