.beautonomy {
  @extend .container;

  background: $coffee;

  .introSection {
    .projectInfoContainer {
      max-width: 435px;
      color: $dark-grey;

      .logo {
        width: 67px;
        height: 67px;

        @include phone {
          width: 60px;
          height: 60px;
        }
      }

      .projectTitle {
        filter: drop-shadow(0 4px 4px $work-beautonomy-title-shadow);

        @include fontSize(65px);

        @include tablet {
          @include fontSize(48px);
        }

        @include phone {
          @include fontSize(44px);
        }
      }

      .projectSubtitle {
        max-width: 410px;

        @include fontSize(24px);

        @include tablet {
          max-width: unset;
          margin: 0 auto 16px;

          @include fontSize(18px);
        }
      }

      @include tablet {
        max-width: unset;
      }
    }
  }

  .experiencesContainer {
    .experience {
      @include phone {
        margin-right: 80px;

        .infoTitle,
        p {
          @include fontSize(14px);
        }
      }

      p {
        line-height: 1.5;
        color: $silver-chalice;

        @include fontSize(18px);
      }

      .infoTitle {
        color: $dark-grey;
      }
    }
  }

  .imageContainer {
    @include tablet {
      height: 600px;
    }

    @include phone {
      height: 240px;
      width: 430px;
    }

    .image {
      top: 40%;
      left: 25vw;

      @include macbook-twelve {
        left: 60%;
      }

      @include tablet {
        top: 45%;
        left: 50%;
      }

      @include phone {
        top: 40%;
        left: 45%;
        width: 420px;
        height: auto;
      }
    }
  }

  a {
    @extend .webSiteLink;

    background-color: $mine-shaft-1;
  }
}
