.container {
  height: 1269px;
  box-sizing: border-box;
  padding: 330px 40px 150px;
  overflow: hidden;
  position: relative;

  @include tablet {
    height: auto;
    padding-top: 145px;
    padding-bottom: 70px;
  }

  @include phone {
    padding: 135px 15px 105px;
  }

  .projectInfoContainer {
    z-index: 100;

    @include tablet {
      margin-bottom: 60px;
      text-align: center;
    }

    .logo {
      width: 83px;
      height: 83px;
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 15px;
      }

      @include phone {
        width: 60px;
        height: 60px;
      }
    }

    .projectTitle {
      @include fontSize(100px, 120%);

      margin: 0 0 30px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 120%;

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectSubtitle {
      margin: 0 0 20px;
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 150%;
    }

    .projectDescription {
      max-width: 400px;
      margin: 0 0 40px;
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        margin: 0 auto 40px;

        @include fontSize(16px);
      }
    }

    .appLink {
      width: 201px;
      height: 67px;

      @include tablet {
        width: 168px;
        height: 56px;
      }

      @include phone {
        width: 135px;
        height: 45px;
      }
    }
  }

  .experiencesContainer {
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
    font-family: $case-studies-font;

    @include fontSize(18px);
    @include flex(row, space-between);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      overflow-x: auto;
      white-space: pre;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .experience {
      margin-right: 15px;

      @include phone {
        margin-right: 40px;
      }

      &:last-of-type {
        margin: 0;
      }

      .infoTitle {
        margin: 0 0 10px;
        font-weight: bold;
        line-height: 180%;
      }

      p {
        margin: 0;
        line-height: 180%;
      }
    }
  }

  .imageContainer {
    position: relative;
    width: 650px;
    z-index: 1;

    @include tablet {
      height: calc(100vw - 100px);
    }

    @include phone {
      max-width: 450px;
    }

    .image {
      object-fit: cover;

      @include centered;

      @include tablet {
        height: 100%;
      }
    }
  }
}

.introSection {
  max-width: 1400px;
  margin: 0 auto 240px;

  @include flex(row, space-between);

  @include tablet {
    margin: 0 auto 60px;

    @include flex(column, initial, center);
  }

  a {
    @include phone {
      margin-top: 60px;
    }
  }
}

.webSiteLink {
  display: inline-block;
  color: $white;
  font-weight: 500;
  padding: 18px 64px;
  border-radius: 8px;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);

  @include fontSize(20px);

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
  }

  @include phone {
    @include fontSize(18px);
  }
}
