.dindon {
  @extend .container;

  background: $cherry-red;
  background-position: bottom -707px right -961px;
  background-repeat: no-repeat;

  .introSection {
    margin: 0 auto 340px;

    @include below-tablet {
      margin-bottom: 40px;
    }
  }

  .experiencesContainer {
    /* stylelint-disable-next-line */
    .experience {
      margin-right: 15px;

      @include phone {
        margin-right: 60px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      .infoTitle {
        color: $white;

        @include phone {
          @include fontSize(14px);
        }
      }

      p {
        color: rgba($white, 0.7);

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .projectInfoContainer {
    @include below-tablet {
      margin-bottom: 30px;
    }

    .projectTitle {
      color: $white;

      @include phone {
        @include fontSize(36px);
      }
    }

    .projectSubtitle {
      color: $white;
      max-width: 450px;
      font-size: 24px;
      line-height: 36px;

      @include phone {
        line-height: 160%;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 8px;

        @include fontSize(18px);
      }
    }

    .projectDescription {
      color: rgba($white, 0.7);
      max-width: 470px;

      @include below-tablet {
        margin-bottom: 0;
      }

      @include phone {
        line-height: 180%;
        max-width: 315px;

        @include fontSize(14px);
      }
    }
  }

  .imageContainer {
    @include tablet {
      width: auto;
      height: auto;
    }

    .image {
      position: absolute;
      top: -56%;
      left: -35%;
      transform: scale(1);

      @include desktop {
        left: -0%;
      }

      @include tablet {
        height: auto;
        left: unset;
        top: unset;
        position: static;
        transform: unset;
        max-width: 760px;
      }

      @include phone {
        max-width: 395px;
      }
    }
  }
}
