.drive-focus {
  @extend .container;

  background: linear-gradient(180deg, $flamenco 0%, $yellow-orange 100%);
  background-size: cover;
  height: unset;
  padding-top: 420px;

  @include macbook-twelve {
    padding-top: 300px;
  }

  @include tablet {
    padding-top: 200px;
  }

  @include phone {
    padding-top: 100px;
  }

  .introSection {
    margin-bottom: 330px;

    @include tablet {
      margin-bottom: 100px;
    }
  }

  .projectInfoContainer {
    color: $white;

    @include phone {
      margin-bottom: 20px;
    }

    .projectTitle {
      @include macbook-fifteen {
        @include fontSize(85px);
      }

      @include phone {
        @include fontSize(60px);
      }
    }

    .projectSubtitle {
      opacity: 0.8;

      @include fontSize(24px);
    }

    .projectDescription {
      opacity: 0.8;
      max-width: 407px;
    }
  }

  .imageContainer {
    @include tablet {
      width: 100%;
      height: unset;
    }

    .image {
      max-width: 1484px;
      transform: translate(-25%, -45%);

      @include macbook-twelve {
        max-width: $max-content-width-small-section;
      }

      @include tablet {
        position: relative;
        width: 100%;
        height: unset;
        transform: unset;
        top: 0;
        left: 0;
      }
    }
  }

  .experiencesContainer {
    .experience {
      color: $white;

      p {
        opacity: 0.7;
      }
    }
  }

  .bundleImage {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(33%, -50%);
    max-width: 2667px;

    @include macbook-fifteen {
      max-width: 2050px;
    }

    @include tablet {
      transform: translate(60%, -50%);
    }

    @include phone {
      transform: translate(78%, -50%);
    }
  }

  a {
    @extend .webSiteLink;

    background-color: $white;
    color: $flamenco;

    @include phone {
      margin-top: 60px;
    }
  }
}
