.famlicious {
  @extend .container;

  padding-top: 245px;

  @include tablet {
    padding-top: 145px;
  }

  @include phone {
    padding-top: 122px;
  }

  .experiencesContainer {
    & > * {
      z-index: 3;
    }

    @include full-hd {
      max-width: 1210px;
      padding-top: 20px;
    }

    @include phone {
      padding-top: 50%;
    }

    /* stylelint-disable-next-line */
    .experience {
      .infoTitle {
        color: $black;
      }

      p {
        color: rgba($black, 0.4);
      }
    }
  }

  .projectInfoContainer {
    margin-bottom: 0;

    .projectTitle {
      color: $black;
      margin-bottom: 0;

      @include fontSize(90px);

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectSubtitle {
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 150%;
      color: $black;
      margin-bottom: 34px;

      @include fontSize(24px);
    }

    .projectDescription {
      max-width: 518px;
      color: rgba($black, 0.7);
    }
  }

  .imageContainer {
    position: relative;
    z-index: 1;
    height: auto;
    margin-top: -60px;

    @include tablet {
      transform: scale(0.7);
      //margin-top: 0;
    }

    @include phone {
      order: 3;
    }

    .image {
      position: relative;
      height: 812px;
      z-index: 6;
      margin: 0 auto;

      @include tablet {
        transform: none;
        display: block;
        left: 0;
      }

      @include phone {
        //max-width: 200px;
      }
    }

    &::before {
      --size: 1024px;

      content: '';
      position: absolute;
      background: $white;
      border-radius: 50%;
      width: var(--size);
      height: var(--size);
      box-shadow: 0 0 0 178px rgba($white, 0.5);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      @include tablet {
        --size: 550px;
      }
    }
  }

  .bundleImage {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;

    @include tablet {
      top: 67%;
      left: 50%;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      z-index: 2;
      max-width: 82px;

      @include tablet {
        max-width: 46px;
      }
    }

    &:nth-child(3) {
      transform: translate(-475%, 255%);
    }

    &:nth-child(4) {
      transform: translate(500%, 255%);
    }

    &:nth-child(5) {
      transform: translate(500%, -500%);
    }

    &:nth-child(6) {
      @include phone {
        max-width: 75px;
      }
    }
  }

  .introSection {
    margin: 0 auto 100px;
    z-index: 0;
    position: relative;

    @include tablet {
      margin-bottom: 0;
    }

    a {
      @extend .webSiteLink;

      padding: 0;

      path {
        color: $black;
        fill: $black;
      }
    }
  }
}
