.fireaway {
  @extend .container;

  padding-top: 245px;
  background: $dark-blue-1;

  @include tablet {
    padding-top: 145px;
  }

  @include phone {
    padding-top: 135px;
  }

  .experiencesContainer {
    @include full-hd {
      max-width: 1210px;
      padding-top: 60px;
    }

    /* stylelint-disable-next-line */
    .experience {
      .infoTitle {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }

  .projectInfoContainer {
    @include full-hd {
      margin-left: 6%;
    }

    .projectTitle {
      color: $white;

      @include fontSize(90px);

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectSubtitle {
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 150%;
      color: $white;

      @include fontSize(24px);
    }

    .projectDescription {
      max-width: 518px;
      color: rgba($white, 0.7);
    }
  }

  .imageContainer {
    .image {
      max-width: 785px;
      left: 38%;
      transform: translate(-76%, -31%);

      @include full-hd {
        left: 62%;
        transform: translate(-91%, -33%);
      }
    }
  }

  .bundleImage {
    position: absolute;

    &:nth-child(3) {
      top: 0;
      right: 0;
      transform: translate(5%, -9%);

      @include full-hd {
        transform: translate(-11%, -8%);
      }
    }

    &:nth-child(4) {
      max-width: 60px;
      top: 50%;
      right: 0;
      transform: translate(-120%, -200%);

      @include full-hd {
        top: 21%;
        right: 14%;
        transform: translate(-200%, -200%);
      }

      @include phone {
        max-width: 47px;
      }
    }

    &:nth-child(5) {
      max-width: 115px;
      top: 50%;
      left: 0;
      transform: translate(85%, 165%);

      @include full-hd {
        top: 18%;
        left: 80%;
        transform: translate(120%, 165%);
      }

      @include phone {
        max-width: 75px;
      }
    }

    &:nth-child(6) {
      max-width: 140px;
      top: 50%;
      left: 0;
      transform: translate(85%, 165%);

      @include full-hd {
        top: 36%;
        left: 0;
      }

      @include phone {
        max-width: 95px;
      }
    }
  }

  .introSection {
    margin-bottom: 350px;

    @include tablet {
      margin-bottom: 60px;
    }
  }
}
