.mobile-bank-application {
  @extend .container;

  height: unset;
  padding: 420px 40px 120px;

  @include macbook-fifteen {
    padding-top: 300px;
  }

  @include tablet {
    padding-top: 160px;
    padding-bottom: 60px;
  }

  @include phone {
    padding: 125px 15px 60px;
  }

  .introSection {
    margin-bottom: 340px;

    @include macbook-fifteen {
      margin-bottom: 220px;
    }

    @include tablet {
      margin-bottom: 100px;
    }

    @include phone {
      margin-bottom: 60px;
    }

    .imageContainer {
      &::after {
        content: '';
        position: absolute;
        bottom: -500%;
        left: -96%;
        width: 2667px;
        height: 2667px;
        border-radius: 50%;
        opacity: 0.3;
        background: linear-gradient(135.08deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 99.98%);

        @include tablet {
          bottom: -50%;
          left: 40%;
          width: 1500px;
          height: 1500px;
        }

        @include phone {
          bottom: -45%;
          left: 65%;
          width: 627px;
          height: 627px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -365%;
        left: -25%;
        width: 1979px;
        height: 1980px;
        border-radius: 50%;
        background: linear-gradient(135.08deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 99.98%);
        opacity: 0.3;

        @include tablet {
          bottom: -86%;
          left: 6%;
          width: 2000px;
          height: 2000px;
        }

        @include phone {
          left: 38%;
          width: 845px;
          height: 845px;
        }
      }

      .image {
        max-width: 1070px;
        transform: translate(-38%, -50%);

        @include macbook-fifteen {
          max-width: 870px;
          transform: translate(-48%, -50%);
        }

        @include tablet {
          transform: translate(-50%, -50%);
        }
      }
    }

    .projectInfoContainer {
      color: $white;

      .projectTitle {
        @include fontSize(65px);

        @include tablet {
          @include fontSize(50px);
        }

        @include phone {
          @include fontSize(36px);
        }
      }

      .projectSubtitle {
        @include fontSize(18px);

        opacity: 0.7;

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .experiencesContainer {
    color: $white;
  }
}