.natp {
  @extend .container;

  height: unset;
  background: linear-gradient(180deg, $nevada-1 0%, $shark-1 100%) no-repeat center;
  background-size: cover;

  .introSection {
    margin-bottom: 300px;

    @include tablet {
      margin-bottom: 100px;
    }
  }

  .projectInfoContainer {
    color: $white;

    .projectTitle {
      @include macbook-fifteen {
        @include fontSize(85px);
      }

      @include phone {
        @include fontSize(60px);
      }
    }

    .projectDescription {
      opacity: 0.7;
      max-width: 407px;
    }
  }

  .imageContainer {
    @include tablet {
      width: 100%;
      height: unset;
    }

    .image {
      max-width: 1084px;
      transform: translate(-38%, -45%);

      @include tablet {
        position: relative;
        width: 100%;
        height: unset;
        transform: unset;
        top: 0;
        left: 0;
      }
    }
  }

  .experiencesContainer {
    .experience {
      color: $white;

      p {
        opacity: 0.7;
      }
    }
  }

  .bundleImage {
    position: absolute;
    top: 0;
    right: 0;

    @include phone {
      display: none;
    }
  }

  a {
    @extend .webSiteLink;

    background-color: $sushi;
  }
}
