.travel-trivia {
  @extend .container;

  background: linear-gradient(51.28deg, #e66bce 11.39%, #eb6b96 81.95%);
  height: unset;

  .experiencesContainer {
    /* stylelint-disable-next-line */
    .experience {
      .infoTitle {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }

      p:not(.infoTitle) {
        max-width: 295px;
      }
    }
  }

  .projectInfoContainer {
    .logo {
      width: 67px;
      height: 67px;
    }

    .projectTitle {
      @include fontSize(65px);

      color: $white;

      @include phone {
        @include fontSize(56px);
      }
    }

    .projectSubtitle {
      @include fontSize(24px);

      color: $white;

      @include phone {
        opacity: 0.8;

        @include fontSize(18px);
      }
    }

    .projectDescription {
      color: $white;
      line-height: 180%;
      opacity: 0.8;
      max-width: 407px;

      @include fontSize(18px);
    }
  }

  .introSection {
    margin: 0 auto 300px;

    @include tablet {
      margin: 0 auto 60px;
    }
  }
}
