.writer-chrome-extension {
  @extend .container;

  z-index: 0;
  background: $sea-blue;
  background-size: cover;

  .projectInfoContainer {
    color: $white;

    .projectTitle {
      color: $white;

      @include fontSize(65px);

      @include tablet {
        @include fontSize(44px);
      }
    }

    .projectDescription {
      opacity: 0.7;
      max-width: 407px;
    }
  }

  .bundleImage {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    @include tablet {
      right: -350px;
    }

    @include below-tablet {
      right: -450px;
    }

    @include phone {
      right: -550px;
    }
  }

  .experiencesContainer {
    .experience {
      p {
        line-height: 1.5;

        @include fontSize(18px);

        @include phone {
          margin-right: 60px;
        }
      }

      .infoTitle {
        color: $white;
      }

      p:not(.infoTitle) {
        color: $white;
        opacity: 0.8;
      }
    }
  }

  a {
    @extend .webSiteLink;

    color: $black;
    background-color: $white;
  }
}
