@import 'styles/utils/mixins';

.technologiesSection {
  margin: 150px 0;

  .technologiesList {
    margin-bottom: 150px;

    @include flex(row, space-between, center, wrap);

    & > div {
      flex: 1 0 20%;
      text-align: center;
      margin-top: 80px;

      @include tablet {
        flex: 1 0 50%;
      }
    }
  }
}
