@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.animatedInput {
  @include flex(column);

  label {
    position: absolute;
    touch-action: none;
    user-select: none;
    cursor: text;
    transform: translateY(15px);
    transition: transform $accelerated-transition-time, font-size $accelerated-transition-time;
  }
  
  input {
    width: 100%;
  }
}

.active {
  label {
    font-size: .6rem !important;
    transform: translateY(0);
    transition: transform $accelerated-transition-time, font-size $accelerated-transition-time;
  }
}