@import 'styles/utils/mixins';
@import 'styles/utils/sizes';
@import 'styles/utils/theme/animations';

.pageIntroSection {
  position: relative;
  background: $gray900;
  padding: 60px 32px 212px;
  box-sizing: border-box;

  .arrow {
    position: absolute;
    bottom: 120px;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    animation-name: cedar-bounce;
    animation-timing-function: ease;
    transform-origin: bottom;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
  }

  .contentWrapper {
    margin: 0 auto;
    max-width: $wide-content-width;
  }

  .pageWrapper {
    @include flex(row, center, center);

    gap: 24px;

    @include tablet {
      flex-wrap: wrap-reverse;
    }
  }

  .pageTextContainer {
    max-width: 624px;
  }

  .title {
    margin: 0 66px 32px 0;

    * {
      text-align: left;
    }

    h2 {
      color: $gray0;
    }

    @include tablet {
      margin: 24px auto;

      * {
        text-align: center;
      }
    }
  }

  .widgetContainer {
    position: relative;
    z-index: 1;
    flex: 0 0 550px;
    max-width: 550px;
    height: 536px;

    &::before {
      @include circle($yellow500, 369px);

      top: 0;
      left: 0;

      @include phone {
        width: 300px;
        height: 300px;
      }
    }

    @include phone {
      flex: 0 0 100%;
      height: 500px;
    }
  }

  .widgetFrame {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    border: 0.9px solid $gray200;
    background-color: $gray0;
    border-radius: 14px;
    box-shadow: 0 8px 35px 0 rgb(110 120 130 / 10%);
    box-sizing: border-box;
    overflow: hidden;

    @include phone {
      width: 340px;
      height: 340px;
    }
  }

  .widgetImage {
    position: absolute;
    bottom: 84px;
    right: 20px;
    transform: rotate(6.304deg);
    width: 354px;
    height: 388px;

    @include phone {
      width: 340px;
      height: 340px;
    }
  }

  .actionWrapper {
    @include flex(row, flex-start, center);

    gap: 16px;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .linkButton {
    @include fontSize(16px, 150%);

    display: block;
    padding: 16px 32px;
    width: 100%;
    max-width: 202px;
    background-color: $yellow500;
    border: 1px solid $yellow500;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
  }

  .ctaButton {
    color: $gray0;
    background-color: transparent;
    border: 1px solid $gray0;

    @include tablet {
      display: block;
      margin: 0 auto;
      width: 202px;
    }
  }

  @include tablet {
    padding: 24px 32px 60px;
  }

  @include below-tablet {
    padding: 16px 16px 92px;
  }
}
