/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";

.footerContainer {
  position: relative;
  z-index: 99999;
  width: 100%;
  background-color: $woodsmoke;
  padding: 70px 0 35px;
  color: $white;
  box-sizing: border-box;

  @include flex(column, center, center);

  @include macbook-twelve {
    padding: 70px 20px 35px;
  }

  .footer {
    width: 100%;
    max-width: $max-content-width;

    @include flex(row, space-between);

    @include below-tablet {
      flex-direction: column;
    }

    @include horizontal-mobile {
      flex-direction: column;
    }
  }
}
