@import 'styles/utils/mixins';

footer {
  position: relative;
  z-index: 1;
  @include flex(row, center, center);
  width: 100%;
  background-color: $woodsmoke;

  .forms {
    position: relative;
    z-index: 0;
    top: 0;
    @include flex(row, space-between);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 55px;

    :global(.animated) {
      animation-name: unset;
      opacity: 1 !important;
    }

    h1 {
      color: $white;
    }

    & > div {
      height: max-content;
      padding: 80px 0 $side-indent;

      @include phone {
        padding-bottom: 50px;
      }
    }

    @include phone {
      @include flex(column, flex-start);
      padding: 0;
      text-align: center;
    }

    .footerNav {
      @include flex(column, inherit, flex-end);
      position: relative;

      @include phone {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          span {
            color: $white;
          }
        }

        @include tablet {
          li {
            margin-left: 30px;
          }
        }

        @include below-tablet {
          @include flex(row, inherit, flex-end);
          width: 120%;
          li {
            margin-left: 6px;
          }
        }

        li:last-child {
          border: none;
          padding: 0;

          &:hover {
            span {
              color: $mountain-mis;
            }
          }
        }
      }

      .button {
        @include buttonMore($white, $turbo-100, $turbo-100, $white);
        line-height: 1.55;
        letter-spacing: 0.5px;
        text-align: center;
        font-size: 14px !important;
        border: none;
        border-radius: 10rem;
        color: $black;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: background-color 0.4s, // TODO
                    width 0.4s,
                    color 0.4s;

        @include phone {
          width: 90%;
          margin: 50px auto 0 auto;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $turbo-100;
          border-radius: 10rem;
          z-index: -2;
        }
        
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken($turbo-200, 3%);
          transition: background-color 0.4s,
                      width 0.4s,
                      color 0.4s;
          border-radius: 10rem;
          z-index: -1;
        }
        &:hover {
          border: none;
          color: $black;
    
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}