@import 'styles/utils/mixins';

.reviews {
  max-width: 1300px;
  margin: 0 auto;

  .desktopReviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;

    @include macbook-fifteen {
      margin: 20px 0 0;
    }

    @include tablet {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 40px;
    }

    @include phone {
      display: none;
    }

    :global(.swiper-slide) {
      //width: 400px !important;
    }
  }

  .mobileReviews {
    display: none;

    @include phone {
      display: block;
    }

    :global(.swiper-container) {
      overflow-x: initial;
      overflow-y: hidden;
      padding: 60px 0;
    }

    :global(.swiper-slide) {
      margin: auto;
    }
  }
}
