@import 'styles/utils/mixins';

.reviews {
  max-width: $max-content-width;
  margin: 0 auto;

  .desktopReviews {
    :global(.swiper-container) {
      margin-top: -120px;
      padding-top: 120px;
    }

    :global(.swiper-next-el) {
      top: 0;
      right: 0;
    }

    :global(.swiper-prev-el) {
      top: 0;
      right: 80px;
    }

    @include phone {
      display: none;
    }
  }

  .mobileReviews {
    display: none;

    @include phone {
      display: block;
    }

    :global(.swiper-container) {
      overflow: hidden;
      padding: 60px 0;
    }

    :global(.swiper-slide) {
      margin: auto;
    }
  }
}
