@import 'styles/utils/mixins';

.reviews {
  max-width: $max-content-width;
  margin: 0 auto;

  .desktopReviews {
    :global(.swiper-container) {
      padding-bottom: 100px;

      @include below-tablet {
        margin: 0 -40px;
      }

      @include phone {
        margin: 0 -15px;
      }
    }

    @include phone {
      display: none;
    }
  }

  .mobileReviews {
    display: none;

    @include phone {
      display: block;
    }

    :global(.swiper-container) {
      overflow: hidden;
      padding: 60px 0;
    }

    :global(.swiper-slide) {
      margin: auto;
    }
  }
}
