@import 'styles/utils/mixins';

.worksContainer {
  @include flex(row, flex-start, flex-start, wrap);

  --gap: 40px;

  padding: 0 0 100px;
  width: 100%;
  background-color: $white;
  margin: 90px 0 0 calc(-1 * var(--gap));

  @include below-tablet {
    margin: 15px 0 0;
  }

  & > * {
    flex: 1 1 calc(45% - var(--gap) / 2);
    margin: 0 0 var(--gap) var(--gap);

    &:nth-child(8n + 3),
    &:nth-child(8n + 8) {
      flex-basis: calc(50% - var(--gap) / 2);
    }

    &:nth-child(8n + 4),
    &:nth-child(8n + 7) {
      flex-basis: calc(30% - var(--gap) / 2);
    }

    @include below-tablet {
      margin: 40px 0 0;
    }
  }

  @include ultra-hd {
    max-width: $max-content-width;
  }

  @include macbook-fifteen {
    width: 100%;
  }

  @include tablet {
    padding: 0;
    display: block;
  }
}
