@import 'styles/utils/mixins';

.worksContainer {
  @include flex(row, flex-start, flex-start, wrap);

  --gap: 40px;

  padding: 0 0 80px;
  width: 100%;
  background-color: $white;
  margin: 20px 0 0 calc(-1 * var(--gap));

  @include below-tablet {
    margin: 15px 0 0;
  }

  & > * {
    flex: 1 1 calc(45% - var(--gap) / 2);
    margin: 0 0 var(--gap) var(--gap);

    &:nth-child(8n + 3),
    &:nth-child(8n + 8) {
      flex-basis: calc(50% - var(--gap) / 2);
    }

    &:nth-child(8n + 4),
    &:nth-child(8n + 7) {
      flex-basis: calc(30% - var(--gap) / 2);
    }

    @include below-tablet {
      margin: 40px 0 0;
    }
  }

  @include ultra-hd {
    max-width: $max-content-width;
  }

  @include macbook-fifteen {
    width: 100%;
  }

  @include tablet {
    padding: 0;
    display: block;
  }
}

.showMoreButton {
  @include button-more($black, $black, none, $turbo-100, $black, $turbo-100);

  margin: 40px auto 0;
  border-radius: 8px;
  font-weight: 600;

  @include below-tablet {
    border: none;
    text-decoration: underline;
  }

  &:hover {
    background: $turbo-100;
    border-color: $turbo-100;
    color: $dark-grey;
    transform: scale(0.96);

    @include below-tablet {
      transform: none;
      border: none;
      background: none;
      color: $silver-chalice;
    }
  }
}
