@import 'styles/utils/mixins';

.worksContainer {
  --gap: 32px;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0 32px;

  @include tablet {
    display: block;
    margin: 32px 0;
  }
}

.showMoreButton {
  @include button-more($gray1000, $gray1000, none, $yellow500, $gray1000, $yellow500);
  @include fontSize(16px, 150%);

  padding: 16px 0;
  margin: 8px auto 0;
  border-radius: 8px;
  font-weight: 600;
  max-width: 210px;

  &:hover {
    background: $yellow500;
    border-color: $yellow500;
    color: $gray900;
    transform: scale(0.96);

    @include tablet {
      transform: none;
      border: none;
      background: none;
    }
  }

  @include tablet {
    border: none;
    text-decoration: underline;
  }
}
