.android-mobile-app-development-services,
.chat-app-development-company,
.cloud-based-app-development-services,
.ios-mobile-app-development-services,
.machine-learning-development-services,
.mobile-app-development-company,
.mvp-app-development-company,
.ui-ux-services,
.web-app-development-company,
.devops-development-services,
.fintech-software-development-services,
.artificial-intelligence-development-services,
.enterprise-resource-planning-software-services,
.homepage {
  @include appDevelopmentContainer;

  .titleStyle {
    @include defaultSectionTitle;
  }

  .callToAction {
    @include defaultCallToAction;
  }

  .groupTitle {
    @include fontSize(32px, 120%);

    text-align: center;
    margin-bottom: 34px;

    @include below-tablet {
      @include fontSize(24px);

      margin-bottom: 25px;
    }
  }
}

.web-app-development-company,
.mvp-app-development-company,
.mobile-app-development-company,
.homepage {
  &.secondSectionView {
    @extend .greySection;

    @include centeredIcons;
  
    padding-top: 0;
  }
}
