.chat-app-development-company {
  @include sliderTwoRows;

  [data-title],
  [data-description] {
    max-width: 620px;
  }

  .callToAction {
    background: $gray50;
    max-width: $default-content-width;
    margin: 48px auto 0;

    h3 {
      max-width: 535px;
    }
  }
}
