.homepage {
  &.firstSectionView,
  &.secondSectionView {
    @extend .greySection;

    padding-top: 0;

    :global(.swiper-wrapper) {
      min-height: 72px;
    }

    :global(.swiper-slide) {
      align-items: center;
    }
  }

  &.thirdSectionView {
    [data-title],
    [data-description] {
      max-width: 705px;

      @include phone {
        max-width: 370px;
      }
    }
  }
}
