.ai-consulting-services {
  background-color: $gray0;

  .contentWrapper {
    max-width: $wide-content-width;
  }

  .sliderList {
    @include flex(row, space-between, initial, wrap);

    gap: 30px;
    background-color: $gray50;

    & > div {
      flex: 0 0 47%;
    }

    @include tablet {
      display: block;
    }
  }
}
