.fintech-software-development-services {
  background-color: $gray50;

  .titleStyle {
    max-width: 671px;
  }

  .sliderList {
    padding: 48px 100px;

    .item {
      .slideTitle {
        @include fontSize(24px);
      }

      .slideSubtitle {
        @include fontSize(18px);
      }
    }

    :global(.swiper-scrollbar) {
      margin-top: 18px;
    }

    @include phone {
      padding: 40px 20px;
    }
  }
}
