@import 'styles/utils/mixins';

.container {
  height: 1269px;
  box-sizing: border-box;
  padding: 330px 40px 150px;
  overflow: hidden;

  @include tablet {
    height: auto;
    padding-top: 145px;
    padding-bottom: 70px;
  }

  @include phone {
    padding: 135px 15px 105px;
  }

  .projectInfoContainer {
    z-index: 100;

    @include tablet {
      margin-bottom: 60px;
      text-align: center;
    }

    .logo {
      width: 83px;
      height: 83px;
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 15px;
      }

      @include phone {
        width: 60px;
        height: 60px;
      }
    }

    .projectTitle {
      margin: 0 0 30px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 120%;

      @include fontSize(100px);

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectDescription {
      max-width: 400px;
      margin: 0 0 40px;
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        margin: 0 auto 40px;

        @include fontSize(16px);
      }
    }

    .appStore {
      width: 201px;
      height: 67px;

      @include tablet {
        width: 168px;
        height: 56px;
      }

      @include phone {
        width: 135px;
        height: 45px;
      }
    }
  }

  .experiencesContainer {
    z-index: 10;
    max-width: 1400px;
    margin: 0 auto;
    font-family: $case-studies-font;

    @include fontSize(18px);
    @include flex(row, space-between);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      overflow-x: auto;
      white-space: pre;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .experience {
      margin-right: 15px;

      &:last-of-type {
        margin: 0;
      }

      .infoTitle {
        margin: 0 0 10px;
        font-weight: bold;
        line-height: 180%;
      }

      p {
        margin: 0;
        line-height: 180%;
      }
    }
  }

  .imageContainer {
    position: relative;
    width: 650px;
    z-index: 1;

    @include tablet {
      height: calc(100vw - 100px);
    }

    @include phone {
      max-width: 450px;
    }

    .image {
      object-fit: cover;

      @include centered;

      @include tablet {
        height: 100%;
      }
    }
  }
}

.introSection {
  max-width: 1400px;
  margin: 0 auto 240px;

  @include flex(row, space-between);

  @include tablet {
    margin: 0 auto 60px;

    @include flex(column, initial, center);
  }
}

.fernwayer {
  @extend .container;

  background: linear-gradient(180deg, $pink 0%, $light-pink 100%);

  .experiencesContainer {
    /* stylelint-disable-next-line */
    .experience {
      .infoTitle {
        color: $white;
      }

      p {
        color: rgba($white, 0.7);
      }
    }
  }

  .projectInfoContainer {
    .projectTitle {
      color: $white;
    }

    .projectDescription {
      color: rgba($white, 0.7);
    }
  }
}

.seven-pm-thursday {
  @extend .container;

  padding-top: 245px;
  background: #191B1E;

  @include tablet {
    padding-top: 145px;
  }

  @include phone {
    padding-top: 135px;
  }

  .experiencesContainer {
    /* stylelint-disable-next-line */
    .experience {
      .infoTitle {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }

  .projectInfoContainer {
    .projectTitle {
      color: $white;

      @include fontSize(90px);

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectSubtitle {
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 150%;
      color: $silver-chalice;

      @include fontSize(24px);
    }

    .projectDescription {
      max-width: 518px;
      color: rgba($white, 0.4);
    }
  }
}
