@import 'styles/utils/mixins';

.container {
  height: 1269px;
  box-sizing: border-box;
  padding: 330px 40px 150px;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(325px, 650px) minmax(auto, 100px) minmax(325px, 650px);
  row-gap: 240px;
  overflow: hidden;

  @include tablet {
    height: auto;
    padding-top: 145px;
    padding-bottom: 70px;
    row-gap: 60px;
    grid-template-columns: repeat(4, minmax(auto, 170px));
  }

  @include phone {
    padding: 135px 15px 105px;
    display: inherit;
  }

  .projectInfoContainer {
    grid-column: 1/5;
    grid-row: 1;
    z-index: 100;

    @include tablet {
      text-align: center;
    }

    .logo {
      width: 83px;
      height: 83px;
      margin-bottom: 20px;

      @include phone {
        width: 60px;
        height: 60px;
      }

      @include tablet {
        margin-bottom: 15px;
      }
    }

    .projectTitle {
      margin: 0 0 30px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 120%;

      @include fontSize(100px);

      @include tablet {
        @include fontSize(60px);
      }
    }

    .projectDescription {
      max-width: 400px;
      margin: 0 0 40px;
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        margin: 0 auto 40px;

        @include fontSize(16px);
      }
    }

    .appStore {
      width: 201px;
      height: 67px;

      @include tablet {
        width: 168px;
        height: 56px;
      }

      @include phone {
        width: 135px;
        height: 45px;
      }
    }
  }

  .infoContainer {
    z-index: 10;
    gap: 45px;
    grid-column: 1/4;
    font-family: $case-studies-font;

    @include fontSize(18px);
    @include flex(row, space-between);

    @include tablet {
      gap: 45px;
      grid-column: 1/5;

      @include fontSize(16px);
    }

    @include phone {
      gap: 15px;
      overflow-x: auto;
      white-space: pre;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .infoTitle {
      margin: 0 0 10px;
      font-weight: bold;
      line-height: 180%;
    }

    .infoDescription {
      margin: 0;
      line-height: 180%;
    }
  }

  .imageContainer {
    position: relative;
    grid-row: 1;
    grid-column: 3/4;
    z-index: 1;

    @include tablet {
      height: calc(100vw - 100px);
      grid-row: 2;
      grid-column: 1/5;
    }

    @include phone {
      margin: 60px;
    }

    .image {
      object-fit: cover;

      @include centered;

      @include tablet {
        height: 100%;
      }
    }
  }
}

.fernwayer {
  background: linear-gradient(180deg, $pink 0%, $light-pink 100%);

  .projectInfoContainer {
    .projectTitle {
      color: $white;
    }

    .projectDescription {
      color: rgba($white, 0.7);
    }
  }

  .infoContainer {
    position: relative;

    .infoTitle {
      color: $white;
    }

    .infoDescription {
      color: rgba($white, 0.7);
    }
  }
}

.stickerbox {
  background: linear-gradient(180deg, #26282D 0%, #181A1D 100%);

  .projectInfoContainer {
    .projectTitle {
      color: $white;
    }

    .projectSubtitle {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #A0A0A0;
    }

    .projectDescription {
      color: rgba($white, 0.4);
    }
  }

  .infoContainer {
    .infoTitle {
      color: $white;
    }

    .infoDescription {
      color: rgba($white, 0.4);
    }
  }
}
