@import 'styles/utils/mixins';
@import 'styles/utils/theme/animations';

.contactsContainer {
  @include phone {
    overflow: hidden;
  }

  .mobileFooterTitle {
    margin-bottom: 60px;
    font-size: 1.8rem;
  }

  & > div {
    display: block;
    text-align: left;

    h1 {
      text-align: left;
      display: none;
    }

    @include phone {
      text-align: center;

      h1 {
        text-align: center;
        display: block;
      }
    }
  }

  .contacts {
    @include flex(column);

    span {
      font-size: 0.875rem;
      font-weight: 500;
      color: $white;
      margin-bottom: 10px;
      
      &:not(:nth-child(2n)) {
        margin-top: 25px;
      }

      &:first-child {
        margin-top: 0; 
      }

      a {
        font-size: 1rem;
        text-decoration: none;
        color: $silver;
        font-weight: 500;
        position: relative;
        width: 99%;
        left: 0.5%;
        border-bottom: 1px $woodsmoke solid;
        transition: color $accelerated-transition-time;
        
        &:hover {
          cursor: pointer;
          color: $turbo-100;

          &:before {
            border-bottom: 1px $turbo-100 solid;
          }
        }
      }
    }

    span:nth-of-type(2) {
      padding-bottom: 4px;

      a {
        position: relative;
        text-decoration: none;
        transition: color $accelerated-transition-time;

        &:before {
          width: 98%;
          content: '';
          cursor: pointer;
          position: absolute;
          bottom: -5px;
          right: 1%;
          border-bottom: 1.5px $silver solid;
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }

      &:hover {
        cursor: pointer;

        a {
          color: $turbo-100;

          &:before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateZ(0);
          }
        }
      }
    }

    @include phone {
      @include flex(column, flex-start, center);
    }
  }

  .social {
    margin-top: 30px;

    @include phone {
      margin-top: 80px;
    }
  
    .icons {
      margin-top: 15px;

      a {
        cursor: pointer;
        margin-right: 20px;
        display: inline-block;
        width: max-content;

        img {
          height: 33px;
          width: 33px;
          will-change: transform;
          transform: translateY(0);
          transition: transform .2s;
  
          &:hover {
            transform: translateY(-5px);
          }
        }
      }

      @include phone {
        a:last-child {

          img {
            margin-right: 0;
          }
        }
      }
    }
  }

  .estimationButton {
    display: none;
    margin-top: $mobile-more-button-indent;

    @include phone {
      display: block;
    }

    .button {
      margin-top: 50px;
      @include button-more($woodsmoke, $woodsmoke, $turbo-100, $turbo-100);
      min-width: 330px;
      font-weight: 600;
      text-transform: uppercase;
  
      @include phone {
        min-width: 300px;
        margin: 60px auto 0 auto;
      }
      // TODO margin-top: 50px;
      // @include button-more($black, $black, $turbo-100, $turbo-100);
      // background-color: $turbo-100;
      // color: $woodsmoke;
      // line-height: 1.55;
      // letter-spacing: 0.5px;
      // text-align: center;
      // font-size: 1rem;
  
      // @include phone {
      //   width: 90%;
      //   margin: 90px auto 0 auto;
      // }
    }
  }

  .text {
    opacity: 0.32;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    color: $white;
    margin-top: 80px;

    @include phone {
      @include flex(column, flex-start, center);
      margin-top: 70px;

      span:first-child {
        margin-bottom: 5px;
      }
    }
  }



  .rocket {
    @include flex(column, center, center);
    text-align: center;
    position: relative;
    
    @function box-shadow($stars) {
      $bxshadow: ();
      @for $i from 1 to $stars {
        $bxshadow: append($bxshadow, (random(400) + 0px) (random(200) + 0px) gray, comma);
      }
      @return unquote($bxshadow);
    }

    $bxshadow-small: box-shadow(15);
    $bxshadow-middle: box-shadow(8);
    // TODO $bxshadow-large: box-shadow(4);

    img {
      display: none;
    }

    @include phone {
      .stars {
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        z-index: 0;
        box-shadow: $bxshadow-small;
        will-change: transform;
        transform: translate(-200px, -80px);
        // TODO animation: animStar 13s linear infinite;
        animation: flicker 2.2s linear infinite;
      }
      
      .stars2 {
        position: absolute;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        z-index: 1;
        box-shadow: $bxshadow-middle;
        will-change: transform;
        transform: translate(-200px, -80px);
        // TODO animation: animStar 8s linear infinite;
        animation: flicker 3s linear infinite 1s;
      }

      .stars3 {
        position: absolute;
        // TODO height: 5px;
        // width: 5px;
        // border-radius: 50%;
        // z-index: 1;
        // box-shadow: $bxshadow-large;
        // transform: translate(-200px, -80px);
        // // animation: animStar 5s linear infinite;
        // animation: flicker 2s linear infinite;
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        z-index: 0;
        box-shadow: $bxshadow-small;
        will-change: transform;
        transform: translate(-200px, -80px);
        // TODO animation: animStar 13s linear infinite;
        animation: flicker 1.5s linear infinite 1.5s;

      }

      img {
        display: block;
        z-index: 3;
        margin-top: 50px;
        animation: rocket 2s infinite linear;
      }
    }
  }
}