.famlicious {
  &.firstSectionView {
    background: $famliciousBackground;
    overflow: initial;

    .titleStyle {
      display: none;
    }
  }

  &.secondSectionView {
    padding: 120px 40px 60px;

    .titleStyle {
      display: none;
    }

    @include tablet {
      padding: 60px 32px;
    }

    @include tablet {
      padding: 60px 16px 30px;
    }
  }
}
