.seven-pm-thursday {
  background-color: $sevenPmPrimary;
  padding: 60px 40px 120px;

  .titleStyle {
    display: none;
  }

  @include tablet {
    padding: 60px 32px;
  }

  @include phone {
    padding: 30px 16px 60px;
  }
}
