.smartcenter {
  &.firstSectionView {
    padding: 120px 0;
    background: $gray50;

    .titleStyle {
      max-width: 677px;

      @include tablet {
        margin: 0 auto 24px;
      }
    }

    @include tablet {
      padding: 60px 16px;
    }
  }
}
