$yellow: #f4b927;
$yellow2: #ffd426;
$yellow3: #ffbf02;
$yellow4: #fcbd06;
$gray: #383838;
$lightgray: #898989;
$blue: #5c9de9;
$lineHeight: 1.5;

.article {
  width: 1160px;
  margin: 0 auto;
  padding: 9rem 20px 90px;
  color: #000000;

  @media (max-width: 1200px) {
    width: 1010px;
  }

  @media (max-width: 1050px) {
    width: 100%;
    box-sizing: border-box;
  }

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &Header {
    $offset: 115px;
    $mobileOffset: 0;

    margin-bottom: 50px;

    time {
      display: block;
      font-size: 0.75rem;
      z-index: 1;
      margin: 3.4rem 0 1rem;
      color: #a0a0a0;
    }

    h1 {
      width: auto;
      margin: 0 0 22px;
      padding: 0 $offset;
      z-index: 1;
      text-align: left;
      text-transform: initial;
      font-size: 3rem;
      line-height: 1.25;
      font-weight: bold;

    }

    .imageContainer {
      position: relative;
      margin-top: 50px;
      width: 100%;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-top: 56%;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;

    }

    .introduction {
      margin: 0 $offset;

      @media (max-width: 768px) {
        font-size: 1.275rem;
      }
    }

    @media (max-width: 768px) {
      h1 {
        padding: 0 $mobileOffset;
      }

      .introduction {
        margin: 0;
        padding: 0 $mobileOffset;
      }
    }
  }

  &Aside {
    flex: 0 0 175px;
    margin: 21px 0 0;

    @media (max-width: 1680px) {
      margin-top: 18px;
    }

    @media (max-width: 1050px) {
      display: none;
    }
  }

  &ContentContainer {
    display: flex;
    justify-content: space-between;
  }

  &Content {
    margin: 0 30px;
    max-width: 620px;
    position: relative;

    line-height: 1.75;

    &Center {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      font-size: 1.275rem;
    }

    h2,
    h3,
    h4 {
      padding: 4rem 0 0;
      line-height: 35px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 3rem auto;

      &+p,
      &+p+p {
        color: $lightgray;
        line-height: 22px;
        font-size: 0.85rem;
        margin: 0.7rem 0;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    p.description {
      color: $lightgray;
      line-height: 22px;
      font-size: 0.85rem;
      margin: 0.7rem 0;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    a {
      position: relative;
      color: #000;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 1px;
        background: #000;
        transition: width 400ms;
      }

      &:hover {
        &:after {
          width: 0;
        }
      }
    }

    blockquote {
      border: 2px solid $yellow;
      border-left: 0 none;
      border-right: 0 none;
      margin: 60px 0;
      padding: 10px 0;
      font-weight: bold;
      font-style: italic;
      color: #121416;
    }

    @media (max-width: 1200px) {
      max-width: 600px;
    }

    @media (max-width: 1050px) {
      margin: 0;
      max-width: 100%;
    }
  }
}

:global {
  ul.dotted {
    padding: initial;
    padding-left: 20px;
    margin: initial;
    list-style-type: initial;
  }

  .image-table {
    display: flex;

    >div:first-child {
      margin-right: 10px;
    }

    >div {
      flex-basis: 50%;
    }
  }

  .w-100 {
    width: 100%;
  }

  p.description {
    color: $lightgray;
    line-height: 22px;
    font-size: 0.85rem;
    margin: 0.7rem 0;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .no-margin {
    margin: 0 auto 0.7rem;
  }

  img.wide-image {
    @media (min-width: 1051px) {
      position: relative;
      max-width: none;
      left: -205px;
      width: 1010px;
    }

    @media (min-width: 1201px) {
      left: -270px;
      width: 1160px;
    }
  }

  img.with-description {
    margin-bottom: 0;
  }

  .bookmark {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $yellow2;
    border-radius: 3px;
    margin: 0;
    padding: 30px 70px;

    &.withPlainText {
      font-style: italic;
      padding-right: 50px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -14px;
      left: 40px;
      width: 23px;
      height: 27px;
      background-image: url("./images/bookmark.png");
      background-size: 100% 100%;
    }

    a {
      display: inline;

      color: #000000;
      font-size: 1.38rem;
      line-height: 35px;
      font-weight: bold;
      text-align: center;

      transition: all 0.4s ease;

      &:hover {
        color: #777777;
      }

      &:after {
        display: none;
      }
    }
  }

  .link-to-contact-screen {
    background-color: $yellow4;
    padding: 40px 70px 45px;
    margin: 50px 0;
    border-radius: 3px;
    text-align: center;

    p {
      font-size: 1.38rem;
      line-height: 35px;
      font-weight: bold;
      margin: 0 0 38px;

    }

    a {
      background-color: #f4f4f8;
      padding: 0 25px;
      position: relative;
      color: #282828;
      display: inline-block;
      font-weight: 500;
      line-height: 45px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      border: 1px solid #282828;
      border-radius: 3px;
      transition: all 0.2s ease-in;
      z-index: 2;

      &:after {
        display: none;
      }

      &:hover {
        text-decoration: none;
        color: $yellow4;
        background-color: #282828;
      }
    }
  }

  video {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 768px) {
  .article {
    &-page {
      padding: 7rem 20px 90px;

      &_header {
        text-align: center;

        h1 {
          padding: 15px auto 25px;
        }

        time {
          margin: 2.5rem 0 1rem;
        }
      }
    }
  }

  :global {
    .bookmark {
      margin: 0;
      padding-left: 40px;
      padding-right: 40px;
    }

    .link-to-contact-screen {
      margin: 0;
      padding-left: 35px;
      padding-right: 35px;

      a {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}