@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/styles.module.scss';

.checkListSection {
  @include smallSectionWrapper;

  .titleStyle {
    @include defaultSectionTitle;
  }

  .checkList {
    @include flex(row, initial, stretch, wrap);

    width: 100%;
    margin-bottom: -30px;

    & > div {
      @include flex(row, flex-start);

      padding: 30px 50px;
      margin-bottom: 30px;
      box-shadow: $card-bow-shadow;
      border-radius: 5px;
      background: $white;
      width: calc(50% - 115px);

      &:nth-of-type(odd) {
        margin-right: 30px;

        @include below-tablet {
          margin-right: 0;
        }
      }

      .itemContainer {
        @include flex(row, center, center);

        .itemText {
          @include fontSize(24px);

          font-weight: 700;
          margin: 0 0 0 25px;

          @include macbook-twelve {
            @include fontSize(22px);
          }

          @include phone {
            @include fontSize(18px);
          }

          p {
            margin: 0;
          }
        }
      }

      @include tablet {
        margin-right: 20px;
        padding: 20px 40px;
      }

      @include below-tablet {
        margin-right: 0;
        margin-bottom: 30px;
        width: calc(100% - 80px);
      }
    }

    @include below-tablet {
      @include flex(column, initial, center);
    }
  }

  @include below-tablet {
    margin: 0;
    padding: 0;
  }
}

.custom-erp-software-development-services,
.chat-app-development-company,
.mobile-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.mvp-app-development-company,
.android-mobile-app-development-services,
.ios-mobile-app-development-services,
.devops-development-services {
  @include appDevelopmentContainer;

  .sectionContainer {
    @extend .checkListSection;
  }
}

.mobile-app-development-company {
  &.firstSectionView {
    background-color: $alabaster;
  }
}

.cloud-based-app-development-services,
.mvp-app-development-company {
  background-color: $alabaster;
}

.ui-ux-services {
  @include appDevelopmentContainer;

  background-color: $alabaster;
  padding-bottom: 120px;

  .sectionContainer {
    @include smallSectionWrapper;

    .titleStyle h2 {
      max-width: 896px;
    }

    .checkList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px 35px;

      & > div {
        @include flex(row, center);

        padding: 35px;
        box-shadow: $card-bow-shadow;
        border-radius: 5px;
        background: $white;

        .itemContainer {
          width: 100%;
          height: max-content;
          padding-left: 16px;
          border-left: 2px solid $turbo-100;

          .number {
            @include fontSize(40px);

            font-weight: 700;
            line-height: 1.2;
            margin: 0;
            color: $cod-gray-1;
          }

          p {
            line-height: 1.8;
            color: $cod-gray-1;
            margin: 0;
          }
        }

        @include phone {
          padding: 30px;
        }
      }

      @include below-tablet {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
      }
    }
  }

  .callToAction {
    @include defaultCallToAction;

    background: $white;
    box-shadow: $card-bow-shadow;
  }
}
