.bionorica {
  padding: 60px 16px;
  background-size: cover;

  .titleStyle {
    position: relative;
    max-width: 691px;
    z-index: 1;
  }

  .imageBundle {
    position: absolute;
    z-index: 0;
  }

  .imagesContainer {
    max-width: $wide-content-width;
    margin: 0 auto;
  }

  .image {
    position: relative;
    width: 892px;
    height: 498px;
    transform: scale(1.1);
    z-index: 10;

    @include tablet {
      width: 100%;
      height: 300px;
    }

    @include phone {
      height: 192px;
    }
  }

  .block {
    position: relative;
    z-index: auto;
    padding: 0;

    &-1 {
      .image {
        position: relative;
        margin-right: auto;

        @include tablet {
          margin: 0 auto;
        }
      }

      .imageBundle {
        width: 352.89px;
        height: 226.64px;
        right: -86px;
        top: -300px;
        transform: rotate(10.56deg);

        @include phone {
          width: 197.73px;
          height: 126.99px;
          right: -62px;
          top: -350px;
        }
      }
    }

    &-2 {
      .image {
        margin-left: auto;

        @include tablet {
          margin: 0 auto;
        }
      }

      .imageBundle {
        width: 624.57px;
        height: 261.92px;
        left: -281px;
        top: 0;
        transform: rotate(-30deg);

        @include tablet {
          width: 323.98px;
          height: 135.86px;
          left: -111px;
        }
      }
    }

    &-3 {
      .image {
        margin-right: auto;

        @include tablet {
          margin: 0 auto;
        }
      }

      .imageBundle {
        width: 575px;
        height: 294px;
        right: -253px;
        top: 150px;

        @include tablet {
          width: 329px;
          height: 168px;
        }
      }
    }

    &-4 .image {
      margin-left: auto;

      @include tablet {
        margin: 0 auto;
      }
    }
  }

  @include tablet {
    padding: 30px 16px;
  }
}
