@import 'styles/utils/mixins';

.container {
  @include flex(column);

  &.fintech {
    grid-area: fintech;
  }

  &.services {
    grid-area: services;
  }

  &.expertise {
    grid-area: expertise;
  }

  .title {
    @include fontSize(16px, 150%);

    margin: 0 0 16px;
    font-weight: 700;
  }

  a {
    @include fontSize(14px, 150%);

    color: $gray400;
    opacity: 0.7;
    margin: 0 0 8px;
    white-space: pre-line;
    transition: color 0.2s;

    &:hover {
      color: $yellow500;
    }
  }

  @include tablet {
    display: none;
  }
}
