@import "styles/utils/mixins";

.signature {
  max-width: 600px;
  margin: 0 auto;
  padding: calc(#{$header-height} + 60px) 0 60px;
  font-family: $case-studies-font;
  background-color: $white;
  color: $dark-grey;

  @include flex(column);

  @include phone {
    padding: calc(#{$header-height} + 40px) 0 40px;
  }

  &WithGenerated {
    max-width: 800px;
  }

  &Title {
    margin: 0;
    text-align: center;

    @include fontSize(32px);
  }
}
