.wrapper {
  margin: 0 auto 48px;

  :global(.swiper) {
    display: none;

    @include tablet {
      display: block;
    }
  }

  .itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 80px;
    grid-row-gap: 24px;

    @include tablet {
      display: none;
    }
  }

  .item {
    @include fontSize(20px, 150%);

    width: auto;
    color: $gray400;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-bottom: 12px;
    box-sizing: border-box;

    &::after {
      content: '';
      background: $yellow400;
      position: absolute;
      height: 3px;
      width: 0;
      transition: width 0.3s ease-in-out;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.selected {
      color: $gray900;
      font-weight: 700;

      &::after {
        width: 70px;
      }
    }

    @include below-tablet {
      @include fontSize(18px);
    }
  }

  @include tablet {
    margin: 0 auto 24px;
  }
}
