.ai-based-travel-planner {
  .itemsContainer {
    margin: 0;
    gap: 24px;

    & > div {
      margin: 0;
    }
  }

  .item {
    @include fontSize(18px, 150%);

    padding: 12px;
    max-width: 127px;
    width: 100%;
    color: $gray500;
    font-weight: 400;
    text-align: center;
    border-radius: 40px;
    border: 1px solid $gray100;
    box-sizing: border-box;

    &::after {
      display: none;
    }

    &.selected {
      color: $gray0;
      background-color: $travelBlue;
      border: 1px solid $travelBlue;
    }
  }
}
