.penetration-testing {
  .itemsContainer {
    margin: 0 0 0 -60px;
  }

  .item {
    margin: 0 0 0 60px;
    padding: 0;

    &::after {
      display: none;
    }

    @include tablet {
      margin: 0;
    }
  }
}
