.carbon-space {
  max-width: 481px;
  width: 100%;

  .image {
    width: 100%;
    height: 674px;
    box-shadow: 0 8px 35px 0 #6e78821a;
    border-radius: 30px;
    overflow: hidden;

    @include below-tablet {
      height: 480px;
    }
  }

  @include below-tablet {
    max-width: 343px;
  }
}
