.ios-mobile-app-development-services {
  .figures {
    @include flex(row, space-between, center);

    max-width: 1080px;
    margin: 0 auto;

    @include tablet {
      @include flex(row, center, center, wrap);

      gap: 40px;
    }

    .title {
      @include fontSize(24px);

      margin: auto 0;
      font-weight: 700;
      color: $white;

      @include tablet {
        grid-column: 3/4;
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    .description {
      grid-column: 1/3;
      color: $silver-chalice;

      @include tablet {
        grid-column: 1/-1;
        text-align: center;
      }

      @include phone {
        @include fontSize(14px);
      }
    }
  }
}