.mobile-app-development-company {
  display: grid;
  grid-column-gap: 150px;

  .text {
    & > div {
      max-width: 590px;

      p {
        @include fontSize(18px);

        margin: 0 0 30px;
        color: $gray900;
        line-height: 1.8;

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .figures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 70px 25px;
    justify-content: space-between;

    & > div {
      padding-left: 16px;
      height: fit-content;
      width: fit-content;

      .title {
        @extend .figureTitle;

        color: $cod-gray-1;

        @include tablet {
          @include fontSize(35px);
        }

        @include phone {
          @include fontSize(24px);
        }
      }

      .description {
        @include fontSize(16px);

        color: $cod-gray-1;
        line-height: 1.8;
        max-width: 180px;

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    @include phone {
      grid-gap: 50px 60px;
    }
  }

  @include tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include tablet {
    grid-template-columns: auto;
  }
}