/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 630px;
  padding: 140px 92px;
  border-radius: 60px;
  perspective: 1000px;

  @include tablet {
    max-width: 390px;
    padding: 100px 20px;
  }

  @include phone {
    max-width: 345px;
    padding: 80px 15px;
    order: 2;
  }

  .containerBackground {
    border-radius: 60px;
    background-color: $white-darker;
    position: absolute;
    top: 0;
    left: -5%;
    right: 0;
    bottom: 0;
    transform: rotateY(-16deg) translateZ(-200px);

    @include tablet {
      left: -20%;
      transform: rotateY(-16deg) translateZ(-200px);
    }

    @include phone {
      border-radius: 30px;
    }
  }

  .featureContainer {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include flex;

    .checkMark {
      position: relative;
      min-width: 50px;
      height: 50px;
      margin-right: 30px;
      border-radius: 50%;

      @include tablet {
        min-width: 40px;
        height: 40px;
        margin-right: 20px;
      }

      .icon {
        @include centered;
      }
    }

    .contentContainer {
      z-index: 10;

      .title {
        @include fontSize(24px, 120%);

        margin: 0 0 15px;
        font-family: $case-studies-font;
        font-weight: bold;
        color: $dark-grey;

        @include phone {
          margin-bottom: 18px;

          @include fontSize(18px);
        }
      }

      &>p {
        margin: 0;
        line-height: 150%;
        font-family: $case-studies-font;
        color: $silver-chalice;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }
}

.software-for-mri-interpretation,
.fernwayer {
  @extend .container;

  .containerBackground {
    left: -29%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -28%;
    }

    @include phone-height-500 {
      max-width: 410px;
    }
  }

  .featureContainer {
    .checkMark {
      color: $white;
      background: linear-gradient(180deg, $pink 0%, $light-pink 100%);
    }
  }
}

.software-for-mri-interpretation {
  .featureContainer {
    .checkMark {
      color: $white;
      background: linear-gradient(120.48deg, $mint-blue-3 0%, $mint-blue-4 100%);
    }
  }
}

.stickerbox {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $dark-grey;
      background: $turbo-100;
    }
  }
}

.travel-trivia {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -30%;
      right: 7%;
    }
  }

  .contentContainer {
    &>p {
      max-width: 330px;
    }
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: $dark-pink;
    }
  }
}

.cash-chat {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -30%;
      right: 7%;
    }
  }

  .contentContainer {
    &>p {
      max-width: 330px;
    }
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: $green;
    }
  }
}

.seven-pm-thursday {
  @extend .container;

  .containerBackground {
    left: -24%;
    right: 0;
    background-color: rgba($white, 0.03);
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    margin-bottom: 70px;

    .checkMark {
      color: $white;
      background: linear-gradient(159.7deg, $pink-1 10.47%, $light-red 98.88%);
    }

    .contentContainer {
      .title {
        color: $white;
      }

      &>p {
        max-width: 325px;
      }
    }
  }
}

.fairy {
  @extend .container;

  .containerBackground {
    left: -24%;
    right: 0;
    opacity: 0.5;
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    /* stylelint-disable declaration-colon-newline-after */
    .checkMark {
      color: $white;
      background: linear-gradient(142.23deg, $light-violet -12.4%, $dark-violet 151.71%);
    }

    .contentContainer {
      .title {
        font-weight: 700;
      }
    }
  }
}

.tell {
  @extend .container;

  .featureContainer {
    .checkMark {
      color: $white;
      background: $dark-grey;
    }
  }

  .containerBackground {
    left: -25%;
    right: 0;

    @include centeredBackgroundImage;
  }
}

.open-sense,
.telemojo {
  @extend .container;

  .containerBackground {
    left: -25%;

    @include phone {
      left: -22%;
    }
  }

  .featureContainer {
    margin-bottom: 60px;

    .contentContainer {
      max-width: 350px;
    }

    .checkMark {
      color: $white;
      background: $dodger-blue;
    }
  }
}

.separate-us {
  @extend .container;

  .containerBackground {
    left: -26%;

    @include phone {
      left: -20%;
    }
  }

  .featureContainer {
    margin-bottom: 45px;

    @include flex(row, initial, center);

    .contentContainer {
      max-width: 350px;

      .title {
        @include phone {
          margin-bottom: 0;
        }
      }
    }

    .checkMark {
      color: $white;
      background: $brink-pink;
    }
  }
}

.writer-chrome-extension,
.natp {
  @extend .container;

  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 155px;
  row-gap: 60px;
  max-width: unset;

  @include tablet {
    grid-template-columns: unset;
  }

  .containerBackground {
    opacity: 0.5;
    left: -28%;
    right: 4%;

    @include phone {
      left: -27%;
      right: 5%;
      top: -7%;
    }
  }

  .featureContainer {
    margin-bottom: 0;

    &:nth-of-type(odd) {
      .contentContainer {
        max-width: 325px;
      }
    }

    &:nth-of-type(even) {
      .contentContainer {
        max-width: 435px;
      }
    }

    .contentContainer {
      h2 {
        margin-bottom: 0;
      }
    }

    .checkMark {
      color: $white;
      background-color: $sushi;
    }
  }
}

.writer-chrome-extension {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, 1fr);

  @include tablet {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }

  .featureContainer-1 {
    grid-row: 2/4;
    grid-column: 1;
  }

  .featureContainer-2 {
    grid-row: 4/6;
    grid-column: 1;
  }

  .featureContainer-3 {
    grid-row: 1/3;
    grid-column: 2;
  }

  .featureContainer-4 {
    grid-row: 3/5;
    grid-column: 2;
  }

  .featureContainer-5 {
    grid-row: 5/7;
    grid-column: 2;
  }

  .featureContainer {
    @include tablet {
      grid-row: unset;
      grid-column: unset;
    }

    .checkMark {
      color: $white;
      background-color: $sea-blue;
    }
  }
}

.drive-focus {
  @extend .container;

  padding: 140px 85px;

  @include phone {
    max-width: unset;
  }

  .containerBackground {
    left: -27%;

    @include phone {
      left: -27%;
      right: 15px;
    }
  }

  .featureContainer {
    p {
      max-width: 326px;
    }

    .checkMark {
      color: $white;
      background-color: $flamenco;
    }
  }
}

.beautonomy {
  @extend .container;

  padding: 150px 105px;

  @include macbook-twelve {
    padding: 100px 30px;
  }

  @include tablet {
    order: 2;
    max-width: unset;
    padding: 150px 100px;
  }

  @include phone {
    max-width: unset;
    padding: 150px 30px;
  }

  .containerBackground {
    left: -27%;

    @include phone {
      right: 30px;
    }
  }

  .featureContainer {
    width: 420px;
    margin-bottom: 60px;

    @include tablet {
      width: unset;
    }

    .contentContainer {
      display: flex;
      align-items: center;

      .title {
        margin: 0;

        @include macbook-twelve {
          @include fontSize(18px);
        }
      }
    }

    .checkMark {
      color: $white;
      background-color: $dark-grey;
    }
  }
}

.smartcenter {
  @extend .container;

  .containerBackground {
    left: -29%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -28%;
    }

    @include phone-height-500 {
      max-width: 410px;
    }
  }

  .featureContainer {
    .checkMark {
      color: $white;
      background: $slate-gray;
    }
  }
}

.ubichat,
.fireaway {
  @extend .container;

  .containerBackground {
    left: -29%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -28%;
      top: -80px;
      bottom: -80px;
    }

    @include phone-height-500 {
      max-width: 410px;
    }
  }

  .featureContainer {
    @include phone {
      padding: 0 10px;
    }

    .checkMark {
      color: $white;
      background: $mariner;
    }

    .contentContainer {
      padding-top: 8px;
    }
  }
}

.fireaway {
  .featureContainer {
    .checkMark {
      background: $cornflower-blue;
    }
  }
}

.telemojo {
  .containerBackground {
    @include phone {
      left: -30%;
    }

    @include phone-height-500 {
      max-width: 430px;
    }
  }

  .featureContainer {
    .contentContainer {
      .title {
        @include fontSize(21px);
      }
    }
  }
}

.famlicious {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -30%;
      right: 7%;
    }
  }

  .contentContainer {
    &>p {
      max-width: 330px;
    }
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: $famlicious-check-mark;
    }
  }
}

.blackbird {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -30%;
      width: 414px;
    }
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: $clear-chill;
    }
  }
}

.fintech-app-for-credit-score {
  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.5;

    @include phone {
      left: -30%;
      width: 414px;
    }
  }
}

.hotel-data-cloud,
.marketplace-for-clairvoyant-services {
  @extend .container;

  padding: 180px 92px;

  .containerBackground {
    left: -23%;
    right: 0;
    background-color: $alabaster;
    transform: rotateY(-10deg) translateZ(-200px);
  }

  /* stylelint-disable-next-line */
  .featureContainer {
    margin-bottom: 30px;

    .checkMark {
      color: $white;
      background: linear-gradient(96.14deg, $violet-blue 0%, $majorelle-blue 100%);
    }
  }

  @include phone {
    padding: 80px 15px;

    .containerBackground {
      left: -40%;
      transform: rotateY(-16deg) translateZ(-200px);
    }
  }
}

.hotel-data-cloud {
  .featureContainer {
    margin-bottom: 40px;

    .checkMark {
      background: $case-study-data-cloud-background;
    }
  }

  .contentContainer {
    .title {
      margin-bottom: 10px;
    }

    &>p {
      max-width: 330px;
    }
  }
}

.cinnabar {
  @extend .container;

  @include phone {
    padding-top: 0;
    padding-bottom: 0;
  }

  .featureContainer {
    margin-bottom: 30px;

    .checkMark {
      background: linear-gradient(137.65deg, $froly -14.62%, $carnation 105.11%);
      color: $white;
    }
  }

  .containerBackground {
    left: -25%;
    background: $rose-white;

    @include phone {
      left: -34%;
      top: -20%;
      bottom: -20%;
      right: 7%;
    }
  }

  .contentContainer {
    .title {
      margin-bottom: 10px;
    }

    &>p {
      max-width: 370px;
    }
  }
}

.mobile-bank-application {
  @extend .container;

  .featureContainer {
    margin-bottom: 30px;

    .checkMark {
      background: $turbo-100;
      color: $black;
    }
  }

  .containerBackground {
    left: -25%;
    background: $alabaster;

    @include phone {
      left: -33%;
      top: -18%;
      bottom: -19%;
      right: 5%;
    }
  }

  @include phone {
    padding: 0;
  }
}