/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 630px;
  padding: 140px 92px;
  border-radius: 60px;
  perspective: 1000px;

  @include tablet {
    max-width: 390px;
    padding: 100px 20px;
  }

  @include phone {
    max-width: 345px;
    padding: 80px 15px;
    order: 2;
  }

  .containerBackground {
    border-radius: 60px;
    background-color: $white-darker;
    position: absolute;
    top: 0;
    left: -5%;
    right: 0;
    bottom: 0;
    transform: rotateY(-16deg) translateZ(-100px);

    @include tablet {
      left: -20%;
      transform: rotateY(-16deg) translateZ(-100px);
    }

    @include phone {
      border-radius: 30px;
    }
  }

  .featureContainer {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include flex;

    .checkMark {
      position: relative;
      min-width: 50px;
      height: 50px;
      margin-right: 30px;
      border-radius: 50%;

      @include tablet {
        min-width: 40px;
        height: 40px;
        margin-right: 20px;
      }

      .icon {
        @include centered;
      }
    }

    .contentContainer {
      z-index: 10;

      .title {
        margin: 0 0 15px;
        font-family: $case-studies-font;
        font-weight: bold;
        line-height: 120%;
        color: $dark-grey;

        @include fontSize(24px);

        @include phone {
          margin-bottom: 18px;

          @include fontSize(18px);
        }
      }

      & > p {
        margin: 0;
        line-height: 150%;
        font-family: $case-studies-font;
        color: $silver-chalice;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }
}

.fernwayer {
  @extend .container;

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: linear-gradient(180deg, $pink 0%, $light-pink 100%);
    }
  }
}

.stickerbox {
  @extend .container;

  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $dark-grey;
      background: $turbo-100;
    }
  }
}

.seven-pm-thursday {
  @extend .container;

  .containerBackground {
    background-color: rgba($white, 0.03);
  }
  /* stylelint-disable-next-line */
  .featureContainer {
    .checkMark {
      color: $white;
      background: linear-gradient(159.7deg, $pink-1 10.47%, $light-red 98.88%);
    }

    .contentContainer {
      .title {
        color: $white;
      }
    }
  }
}

.fairy {
  @extend .container;

  /* stylelint-disable-next-line */
  .featureContainer {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    .checkMark {
      color: $white;
      background: linear-gradient(142.23deg, $light-violet -12.4%, $dark-violet 151.71%);
    }

    .contentContainer {
      .title {
        font-weight: 700;
      }
    }
  }
}

.tell {
  @extend .container;

  .featureContainer {
    .checkMark {
      color: $white;
      background: $dark-grey;
    }
  }

  .containerBackground {
    @include withBackgroundImage;
  }
}
