@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/styles.module.scss';

.sliderSection {
  @include flex(column, center, center);

  position: relative;
  max-width: $wide-content-width;
  margin: 0 auto;

  .sliderList {
    padding: 48px 100px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    box-sizing: border-box;
    width: 998px;
    background-color: $gray0;

    @include tablet {
      width: 700px;
    }

    @include below-tablet {
      padding: 30px;
      width: 100%;
    }

    @include phone {
      padding: 24px;
    }

    .item {
      .slideTitle {
        @include fontSize(20px, 30px);

        margin: 0 0 8px;
        color: $gray900;
        font-weight: 700;
      }

      .slideSubtitle {
        @include fontSize(16px, 24px);

        color: $gray400;
        margin: 0;
      }
    }

    :global(.swiper-scrollbar) {
      margin-top: 100px;
      position: relative;
      left: 0;
      width: 100%;

      @include tablet {
        margin-top: 50px;
      }
    }
  }
}

.chat-app-development-company,
.enterprise-resource-planning-software-services,
.fintech-software-development-services {
  @include appDevelopmentContainer;

  background-color: $gray50;
}

.enterprise-resource-planning-software-services,
.fintech-software-development-services {
  .sliderList {
    :global(.swiper-scrollbar) {
      margin-top: 0;
    }

    @include phone {
      padding: 40px 20px;
    }
  }
}

.enterprise-resource-planning-software-services {
  [data-description] {
    max-width: 100%;
    width: auto;
  }

  .sliderList {
    .item {

      p,
      .slideSubtitle {
        @include fontSize(14px);
      }
    }

    :global(.swiper-scrollbar) {
      margin-top: 10px;

      @include phone {
        margin-top: 40px;
      }
    }
  }
}
