@import 'styles/utils/mixins';

.socialThumbnails {
  margin: 15px auto 100px;
  max-width: 1500px;

  @include desktop {
    margin: 15px auto 15vh;
  }

  @include below-tablet {
    padding: 0 25px;
  }

  .thumbnailsContainer {
    @include flex(row, initial, center);
    max-width: 720px;
    margin: 0 auto;

    .icon {  
      &Twitter {
        background-image: url("./images/twitter.svg");
      }
  
      &Facebook {
        background-image: url("./images/facebook.svg");
      }
    }

    .svgContainer {
      @include flex(row, center, center);
      width: 80px;
      height: 80px;
      cursor: pointer;
      background-color: $athens-gray;
      transition: background-color 0.2s ease;

      @include phone {
        width: 60px;
        height: 60px;
      }

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
      }

      &:hover {
        background-color: $turbo-100;
      }

      .svg {
        width: 20px;
        height: 20px;

        @include phone {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .messageContainer{
    max-width: 720px;
    margin: 15px auto;

    .shareLinkInfo{
      @include fontSize(10px);
      font-weight: 700;
      padding: 6px 8px 6px 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      opacity: 0;
      color: $mirage;
      border-radius: 4px;
      background-color: $turbo-100;
      transition: opacity 0.2s ease-out;
    }

    .appear {
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
}
