.ui-ux-services {
  &.firstSectionView {
    @extend .graySection;

    .checkList > div {
      height: 145px;
    }

    .callToAction {
      margin: 32px auto 0;
      max-width: $default-content-width;
    }
  }
}
