@import 'styles/utils/mixins';

.blog {
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $white;

  &>div:first-child {
    margin-bottom: 70px;
  }

  @include phone {
    padding: $mobile-section-indent $side-indent;

    &>div:first-child {
      margin-bottom: -$after-mobile-title-margin + 20px;
    }
  }

  .blogButton {
    @include button-more($black, $black, transparent, $turbo-100, $black, $turbo-100);
    min-width: 330px;
    font-weight: 600;

    @include phone {
      min-width: 300px;
      margin-top: $mobile-more-button-indent;
    }
  }
}