@import 'styles/utils/mixins';

.blog {
  @include flex(column, flex-start, center);

  max-width: $max-content-width;
  padding: $section-indent 0;
  background-color: $gray0;
  margin: 0 auto;

  & > div:nth-of-type(2) {
    margin: 0;

    & > article:nth-of-type(4),
    & > article:nth-of-type(5) {
      display: none;

      @include tablet {
        display: block;
      }

      @include phone {
        display: none;
      }
    }

    @include below-tablet {
      & > article:nth-of-type(5) {
        display: none;
      }
    }
  }

  @include phone {
    padding: #{$mobile-section-indent} 0;

    & > div:first-child {
      margin-bottom: -$after-mobile-title-margin + 20px;
    }
  }
}

.titleStyle {
  [data-description] {
    max-width: 560px;
  }
}

.blogButton {
  margin-top: 32px;
}