@import 'styles/utils/mixins';

.mediasWrapper {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 70px;

  @include below-tablet {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .images {
    @include flex(column, center);
    position: relative;
    width: calc(100% + (180px * 2));
    height: 100%;

    @include macbook-twelve {
      position: relative;
      width: calc(100vw - (140px * 2));
    }

    @include tablet {
      width: 100%;
    }

    .row {
      @include flex(row);
      height: 100%;

      &:not(:first-of-type) {
        margin: 15px 0 0 0;

        @include phone {
          margin-top: 5px;
        }
      }
      
      &>div {
        width: 100%;
        height: 100%;

        &:not(:first-of-type) {
          margin: 0 0 0 15px;

          @include phone {
            margin-left: 5px;
          }
        }
  
        img {
          border-radius: 4px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .photoCaption {
    margin-top: 15px;
    font-size: 11px;
    line-height: 1.2;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    letter-spacing: .5px;
    opacity: .8;
  }
}