@import "styles/utils/mixins";

.mediasWrapper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 70px;

  @include flex(column, center, center);

  @include below-tablet {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .images {
    position: relative;
    width: calc(100% + (180px * 2));
    height: 100%;

    @include flex(column, center);

    @include macbook-twelve {
      position: relative;
      width: calc(100vw - (140px * 2));
    }

    @include tablet {
      width: 100%;
    }

    .row {
      height: 100%;

      @include flex(row);

      &:not(:first-of-type) {
        margin: 15px 0 0;

        @include phone {
          margin-top: 5px;
        }
      }

      & > div {
        flex: 1 1 0%;
        width: 100%;
        height: 100%;

        &:not(:first-of-type) {
          margin: 0 0 0 15px;

          @include phone {
            margin-left: 5px;
          }
        }

        img {
          border-radius: 4px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .photoCaption {
    margin-top: 15px;
    line-height: 1.2;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    letter-spacing: 0.5px;
    opacity: 0.8;

    @include fontSize(11px);
  }
}
