@import 'styles/utils/mixins';

.insta {
  position: relative;
  z-index: 2;
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $white;

  @include phone {
    padding: $mobile-section-indent $side-indent;
  }

  & > :global(.animated) {
    position: absolute;
    margin-left: -98px;
    margin-top: -43px;

    @include phone {
      margin-left: 5px;
      margin-top: -120px;
    }
  }

  .instaButton {
    @include buttonMore($black, $black, $accent-color);

    @include phone {
      margin-top: $mobile-more-button-indent;
    }
  }
}