@import 'styles/utils/mixins';

:global(.slick-slider) {
  @include flex(row, center, center);
  width: 100%;
  margin: 50px 0;
}

:global(.slick-list) {
  max-width: $max-content-width;
  will-change: height;
  transition: height calc(#{$default-transition-time} / 2);

  @include phone {
    max-width: 100%;
  }
}

:global(.slick-dots) {
  bottom: -85px;

  li {
    width: 13px;
    height: 13px;
  }

  button {
    width: 13px !important;
    height: 13px !important;
    padding: 0 !important;
    border: 2px solid $text-color !important;
    border-radius: 2.5px;

    &::before {
      content: '' !important;
    }
  }
}

:global(.slick-active) {
  button {
    background-color: $text-color !important;
  }
}

.arrow {
  margin: auto;
  padding: 50px;
  cursor: pointer;

  @include phone {
    display: none;
  }
}