.sectionItem {
  position: relative;

  .wrapperTitle {
    @include flex(row, initial, center);

    cursor: pointer;
  }

  .title {
    @include fontSize(20px, 30px);

    margin: 10px 0;
    transition: color 400ms, margin 400ms;
    font-weight: bold;

    &:hover {
      transition: color 400ms;
    }

    @include tablet {
      @include fontSize(18px);
    }

    @include phone {
      @include fontSize(16px);
    }
  }

  .description {
    @include fontSize(16px, 24px);

    color: $gray400;

    & > p {
      margin: 0;
    }
  }

  .imageBundle {
    margin-left: 32px;
    transition: 0.3s;
    transform: rotate(360deg);
  }
}

.sectionActiveItem {
  .imageBundle {
    transition: 0.5s;
    transform: rotate(180deg);
  }
}
