.sectionItem {
  position: relative;

  .wrapperTitle {
    @include flex(row, initial, center);

    cursor: pointer;
  }

  .title {
    @include fontSize(20px, 150%);

    margin: 9px 22px 9px 0;
    transition: color 400ms, margin 400ms;
    font-weight: bold;

    &:hover {
      transition: color 400ms;
    }

    @include tablet {
      @include fontSize(18px);
    }

    @include phone {
      @include fontSize(16px);
    }
  }

  .description {
    @include fontSize(16px, 150%);

    color: $gray400;
    max-width: 580px;

    &.withIcon {
      padding-left: 56px;
    }

    & > p {
      margin: 0;

      @include phone {
        margin-bottom: 16px;
      }
    }
  }

  .imageBundle {
    width: 14px;
    height: 8px;
    transition: 0.3s;
    transform: rotate(360deg);
  }
}

.icon {
  margin-right: 12px;
  width: 44px;
  height: 44px;
}

.expandIcon {
  transition: 0.5s;
  flex: 0 0 24px;
  height: 24px;

  path {
    fill: $gray400;
  }
}

.sectionActiveItem {
  .imageBundle,
  .expandIcon {
    transform: rotate(180deg);
  }
}
