.prototyping-services {
  .wrapperTitle {
    cursor: default;
    pointer-events: none;
  }

  .expandIcon {
    display: none;
  }

  .title {
    @include fontSize(16px, 150%);

    margin: 0;
    color: $yellow400;
    font-weight: 700;

    @include tablet {
      margin: 0 auto;
    }
  }

  .imageBundle {
    position: absolute;
    left: 300px;
    top: 50%;
    width: 532px;
    height: 114px;
    transform: translateY(-45%);

    @include tablet {
      display: none;
    }
  }
}
