.swiper {
  .swiperBullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 100%;
    border: 1px solid $gray0;
  }

  .swiperBulletActive {
    background-color: $gray0;
  }
}
