.bionorica {
  :global(.swiper-wrapper) {
    margin-bottom: 35px;
  }

  :global(.swiper-pagination) {
    bottom: 0;
  }

  .swiperBullet {
    border: 1px solid $bionoricaAccent;
  }

  .swiperBulletActive {
    background: $bionoricaAccent;
  }
}
