.forex-trading-platform {
  :global(.swiper-wrapper) {
    margin-bottom: 50px;
  }

  :global(.swiper-pagination) {
    bottom: -5px;
  }

  .swiperBullet {
    border: 1px solid $forexAccent;
  }

  .swiperBulletActive {
    background-color: $forexAccent;
  }
}
