.open-sense {
  :global(.swiper-wrapper) {
    margin-bottom: 24px;
  }

  :global(.swiper-pagination) {
    bottom: -5px;
  }

  .swiperBullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 100%;
    border: 1px solid $openSenseSecondary;
  }

  .swiperBulletActive {
    background-color: $openSenseSecondary;
  }
}
