.seven-pm-thursday {
  :global(.swiper-wrapper) {
    margin-bottom: 50px;
  }

  :global(.swiper-pagination) {
    bottom: -5px;
  }

  .swiperBullet {
    border: 1px solid #ff2b8a;
  }

  .swiperBulletActive {
    background: linear-gradient(180deg, #ff2b8a -2.98%, #ff4a34 92.06%);
  }
}
