.bionorica {
  @include caseStudyContainer;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  [data-case-study-description] {
    max-width: 854px;
    text-align: center;
  }

  .container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto 120px;

    @include phone {
      margin-bottom: 40px;
    }

    &:nth-of-type(odd) {
      justify-content: flex-end;
    }

    &:nth-of-type(even) {
      justify-content: flex-start;
    }

    img {
      max-width: 1020px;
      border-radius: 20px;
      box-shadow: 7px 60px 67px 0 rgba($color: $shuttle-gray-2, $alpha: 0.07);
    }
  }
}
