.meat-eater {
  @include caseStudyContainer;

  background-color: $white;

  [data-case-study-title] {
    @include fontSize(32px);

    color: $dark-grey;
    font-weight: 700;
  }

  [data-case-study-description] {
    @include fontSize(14px);

    margin-bottom: 40px;
    font-weight: 400;
    color: $silver-chalice;
  }

  .container {
    margin: 0 0 80px;
    filter: drop-shadow(0 14px 24px rgba(0, 0, 0, 0.05));
    text-align: center;

    @include tablet {
      margin: 0 0 100px;
    }

    @include phone {
      margin: 0 0 40px;

      &:last-of-type {
        margin: 0;
      }
    }

    .image {
      width: 100%;
      max-width: 1076px;
    }

    .title {
      @include fontSize(24px);

      margin: 0 0 40px;
      font-family: $case-studies-font;
      font-weight: 600;
      line-height: 37px;
      color: $dark-grey;
    }
  }
}
