@import 'styles/utils/mixins';

.subscribeBlock {
  @include flex(column, center, center);
  width: 100%;
  height: 400px;
  margin: 100px 0;

  @include phone {
    height: 460px;
    margin: 50px 0;
  }

  .subscribe {
    position: absolute;
    width: 100%;
    height: 400px;
    @include flex(column, center, center);
    background-color: $subscribe-background-color;

    @include phone {
      height: 460px;
    }

    .content {
      @include flex(column, center, center);
      @include phone {
        width: 85%;
      }

      .title {
        width: 100%;
        text-align: center;
        line-height: 0.75;
        font-size: 29.5px;
        font-weight: 550;
        margin-bottom: 43px;

        @include phone {
          font-size: 23px;
          line-height: 1.25;
          margin-bottom: 30px;
          font-weight: bold;
        }
      }
      
      .subtitle {
        width: 100%;
        max-width: 460px;
        margin: auto;
        font-weight: 500;
        text-align: center;
        line-height: 1.5;
        font-size: 17.5px;
        margin-bottom: 42px;
        
        @include phone {
          font-size: 16px;
          line-height: 1.43;
          margin-bottom: 30px;
        }
      }
  
      .inputBlock {
        @include flex(row, center, center);
        width: 100%;

        @include phone {
          flex-direction: column;

          div:nth-of-type(1) {
            margin-top: 10px;
            width: 100%;

            & > div { margin-bottom: 20px; }

            label {
              font-size: 1.0625rem;
              line-height: 1.94;
              letter-spacing: 0.4px;
              color: $black;
              font-weight: 500;
            }
            
            input {
              font-size: 1.125rem;
              padding: 20px 0 8px;
              border: 0 none;
              border-bottom: solid 0.5px $upload-hr-color;
              background-color: transparent;
              color: $upload-text-color;
              outline: none;
            }
          }
        }
  
        .input {
          display: block;
          outline: none;
          margin-right: 20px;
          padding: 12px 20px;
          height: auto;

          transition: 0.4s;
          width: 223px;
          height: 56px;
          border-radius: 82px;
          background-color: rgba(255, 255, 255, 0.95);
          box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
          border: none;
          font-size: 18px;
          padding: 0px 35px;
  
          &::placeholder {
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 1.55;
            font-family: $default-font;
          }

          &:focus {
            box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.1);
          }

          @include phone {
            margin-right: 0;
            display: none;
          }
        }
  
        .button {
          @include buttonMore($black, $black, $accent-color, $accent-color);
          background-color: $accent-color;
          color: $feedback-submit-color;
          line-height: 1.55;
          letter-spacing: 0.5px;
          text-align: center;
          font-size: 18px !important;
          margin: auto 0;
          padding: 15px 45px;
          width: auto;
          transition: box-shadow $shadow-time-for-yellow-button ease 0s;
          
          @include phone {
            margin: 25px auto 0;
            transform: translateX(0px);
            width: 55%;
          }

          &:hover {
            box-shadow: $shadow-for-yellow-button;
            transition: box-shadow $shadow-time-for-yellow-button ease 0s;
          }
        }
      }
    }
  }
}
