@import "styles/utils/mixins";

.work {
  height: 530px;
  position: relative;
  color: $dark-grey;

  .contentWrapper {
    @include flex(column, space-between, flex-start);

    box-sizing: border-box;
    padding: 70px 60px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(74px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    @include below-tablet {
      display: block;
      opacity: 1;
      padding: 0;
      margin-top: 14px;
    }
  }

  &:hover .contentWrapper {
    opacity: 1;
  }

  @include below-tablet {
    height: auto;

    * {
      text-align: center;
    }
  }
}

.tagsWrapper {
  @include flex(row, flex-start, flex-start, wrap);

  margin-left: -20px;

  @include below-tablet {
    display: none;
  }
}

.tag {
  margin: 0 0 10px 10px;
}

.title {
  @include fontSize(56px);

  line-height: 67px;
  margin: 30px 0 20px;

  @include below-tablet {
    @include fontSize(18px);

    line-height: 21px;
  }
}

.description {
  @include fontSize(18px);

  flex: 1 1 auto;
  line-height: 32px;

  @include below-tablet {
    @include fontSize(12px);

    line-height: 21px;
  }
}

.buttonStyle {
  align-self: flex-start;
  padding: 20px 38px;
  color: $dark-grey;
  border: solid $dark-grey 1px;
  border-radius: 8px;

  &:hover {
    background: $turbo-100;
    border-color: $turbo-100 !important;
    color: $dark-grey !important;
  }

  @include below-tablet {
    margin: 0 auto;
    width: max-content;
  }
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  @include below-tablet {
    position: static;
    height: 290px;
  }
}

.seven-pm-thursday,
.stickerbox,
.fairy {
  color: $white;

  .tag {
    background: rgba($white, 0.04);
  }

  .buttonStyle {
    color: $white;
    border-color: $white;
  }

  @include below-tablet {
    color: $dark-grey;

    .buttonStyle {
      color: $dark-grey;
      border-color: $dark-grey;
    }
  }
}
