@import 'styles/utils/mixins';

.work {
  position: relative;
  overflow: hidden;

  &:hover {
    .title {
      color: $yellow400;
    }

    .arrow {
      fill: $yellow400;
    }

    .image img {
      transform: scale(103%);
    }
  }
}

.contentWrapper {
  margin-top: 16px;
}

.image {
  aspect-ratio: 584/450;
  width: 100%;

  img {
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }
}

.titleWrapper {
  @include flex(row, space-between, flex-start);
}

.title {
  @include fontSize(20px, 150%);

  margin: 0 0 4px;
  transition: color 0.1s ease-in-out;
}

.arrow {
  flex: 0 0 24px;
  height: 30px;
  transition: fill 0.1s ease-in-out;
}

.description {
  @include fontSize(16px, 150%);

  margin: 0;
  color: $gray400;
}

.marketplace-for-clairvoyant-services,
.mobile-fintech-app {
  .title {
    @include fontSize(48px);

    @include macbook-fifteen {
      @include fontSize(42px);

      margin-top: 20px;
      line-height: 50px;
    }

    line-height: 48px;
    margin-top: 20px;

    @include tablet {
      @include fontSize(18px);

      line-height: 21px;
      margin-top: 10px;
    }
  }
}
