@import 'styles/utils/mixins';

.title {
  @include fontSize(56px, 120%);

  margin: 0 0 80px;
  text-align: center;
  font-family: $case-studies-font;
  font-weight: bold;

  @include tablet {
    @include fontSize(40px);
  }

  @include phone {
    @include fontSize(32px);

    margin-bottom: 40px;
  }
}

.titleIndent {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 15px;
  }
}

.description {
  @include fontSize(18px);

  max-width: 630px;
  margin: 0 auto 80px;
  font-family: $case-studies-font;
  white-space: pre-line;
  text-align: center;
  line-height: 180%;

  @include tablet {
    @include fontSize(16px);

    margin-bottom: 60px;
  }

  @include phone {
    @include fontSize(14px);

    margin-bottom: 40px;
  }
}

.alignLeft {
  text-align: start;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 200px;

  .listItem {
    @include fontSize(18px);

    line-height: 1.4;

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      @include fontSize(14px);

      text-align: start;
    }
  }
}

.tell {
  [data-case-study-title] {
    color: $dark-grey;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.natp {
  .listContainer {
    max-width: 871px;
    margin: 0 auto;
    padding-bottom: 80px;

    .listItem {
      color: $silver-chalice;

      &::marker {
        color: $sushi;
      }
    }

    @include below-tablet {
      column-gap: 50px;
    }

    @include phone {
      grid-template-columns: unset;
    }
  }
}

.beautonomy {
  position: relative;
  z-index: 10;

  .listContainer {
    grid-gap: 15px 270px;
    max-width: 900px;
    margin: 0 auto;

    .listItem {
      @include fontSize(18px);

      color: $dark-grey;
      font-weight: 700;

      &::marker {
        @include fontSize(24px);

        color: $dark-grey;
      }
    }

    @include tablet {
      grid-gap: 15px 150px;
      max-width: 700px;
    }

    @include below-tablet {
      column-gap: 50px;
    }

    @include phone {
      grid-template-columns: unset;
    }
  }
}

.smartcenter {
  grid-area: h;

  .title {
    color: $white;
  }
}

.writer-chrome-extension {
  position: relative;
  z-index: 1;
}

.ubichat {
  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $white;
    opacity: 0.7;
    max-width: 741px;
  }
}
