@import 'styles/utils/mixins';

.title {
  margin: 0 0 80px;
  text-align: center;
  font-family: $case-studies-font;
  font-weight: bold;
  line-height: 120%;

  @include fontSize(56px);

  @include tablet {
    @include fontSize(40px);
  }

  @include phone {
    margin-bottom: 40px;

    @include fontSize(32px);
  }
}

.titleIndent {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 15px;
  }
}

.description {
  max-width: 630px;
  margin: 0 auto 80px;
  font-family: $case-studies-font;
  white-space: pre-line;
  text-align: center;
  line-height: 180%;

  @include fontSize(18px);

  @include tablet {
    margin-bottom: 60px;

    @include fontSize(16px);
  }

  @include phone {
    margin-bottom: 40px;

    @include fontSize(14px);
  }
}

.alignLeft {
  text-align: start;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 200px;

  .listItem {
    line-height: 1.4;

    @include fontSize(18px);

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      text-align: start;

      @include fontSize(14px);
    }
  }
}

.tell {
  [data-case-study-title] {
    color: $dark-grey;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.natp {
  .listContainer {
    max-width: 871px;
    margin: 0 auto;
    padding-bottom: 80px;

    @include below-tablet {
      column-gap: 50px;
    }

    @include phone {
      grid-template-columns: unset;
    }

    .listItem {
      color: $silver-chalice;

      &::marker {
        color: $sushi;
      }
    }
  }
}
