@import 'styles/utils/mixins';

.nextPrevSection {
  margin: #{$max-article-margin} auto;

  @include flex(row, space-between);

  @include desktop {
    margin-top: #{$min-article-margin};
  }

  @include below-tablet {
    @include flex(row, space-between, center, wrap);
  }
}

.breadcrumbs {
  margin: 0 auto;
  max-width: 1500px;

  @include tablet {
    width: calc(100% - 50px);
  }

  @include phone {
    padding: 120px 0 0;
  }
}
