@import 'styles/utils/mixins';

.navItem {
  @include flex(column);

  margin: 0 16px;
  list-style: none;
  border-bottom: 0.5px solid $gray500;

  & > span {
    outline: none;
  }

  &.lightTheme {
    border-color: $gray300;

    &:last-of-type {
      border-color: $gray900;
    }

    .mainLink {
      .title {
        color: $gray900;
      }

      .svgContainer {
        & > svg > path {
          fill: $gray900;
        }
      }
    }
  }

  .title {
    @include fontSize(16px, 150%);

    font-weight: 700;
    display: block;
    color: $gray0;
  }

  .mainLink {
    @include flex(row, space-between, center);

    font-weight: 500;
    letter-spacing: 0.5px;
    outline: none;
    width: 100%;

    a {
      color: $gray0;
      cursor: pointer;
      text-decoration: none;
      padding: 20px 0;
      width: 100%;
    }

    .svgContainerDefault {
      outline: none;
      transform: rotate(-90deg);
    }

    .svgContainer {
      height: 24px;
      margin-right: 5px;
      outline: none;
      transform-origin: 50% 50%;
      transition: transform $default-transition-time ease-in-out;

      & > svg > path {
        fill: $gray0;
      }
    }

    .withSubnavigation {
      transform: rotate(90deg);
    }
  }

  .openedDropDown {
    .withSubnavigation {
      transform: rotate(-90deg);
    }
  }

  &:nth-of-type(1),
  &:nth-of-type(5) {
    padding: 20px 0;
  }

  &:nth-last-of-type(2) {
    border-bottom: none;
  }

  &:last-of-type {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $gray0;
    max-width: 130px;
    margin: 32px auto 0;
    padding: 0;

    a {
      @include fontSize(16px, 150%);

      display: block;
      color: $gray0;
      padding: 16px 18px;

      .title {
        font-weight: 500;
      }
    }

    .svgContainer {
      display: none;
    }
  }
}
