/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.figureTitle {
  font-size: 2.625rem;
  font-weight: 800;
  color: $black;
}

.figureSubtitle {
  margin: 0;
  font-size: 0.75rem;
  color: $silver-chalice;
}

.chat-app-development-company {
  .figures {
    @include flex(row, space-between);

    & > div {
      width: 100%;

      .title {
        @extend .figureTitle;

        text-align: left;
      }

      .description {
        @extend .figureSubtitle;

        text-align: left;
        padding-right: 100px;
      }

      @include below-tablet {
        margin-bottom: 50px;
        flex: 1 0 50%;
      }
    }

    div:last-child {
      margin-right: 0;
    }

    @include below-tablet {
      @include flex(row, space-between, initial, wrap);
    }
  }
}

.mobile-app-development-company {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 150px;

  .text {
    & > div {
      max-width: 590px;

      p {
        @include fontSize(18px);

        margin: 0 0 30px;
        color: $dark-grey;
        line-height: 1.8;

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .figures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 70px 161px;

    & > div {
      padding-left: 16px;
      height: fit-content;
      width: fit-content;

      .title {
        @extend .figureTitle;

        color: $cod-gray-1;

        @include tablet {
          @include fontSize(35px);
        }

        @include phone {
          @include fontSize(24px);
        }
      }

      .description {
        @include fontSize(16px);

        color: $cod-gray-1;
        line-height: 1.8;
        max-width: 180px;

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    @include phone {
      grid-gap: 50px 60px;
    }
  }

  @include tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include tablet {
    grid-template-columns: auto;
  }
}

.web-app-development-company {
  color: $white;

  @include tablet {
    grid-template-columns: repeat(1, auto);
  }

  .text {
    order: 1;

    & > div {
      max-width: 518px;

      p {
        @include fontSize(18px);

        margin: 0 0 30px;
        color: $silver-chalice;
        line-height: 1.8;

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          text-align: center;

          @include fontSize(14px);
        }
      }
    }
  }

  .figures {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 45px;

    & > div {
      @include flex(row, initial, center);

      margin-bottom: 40px;

      .title {
        @include fontSize(24px);

        font-weight: 700;
      }
    }
  }
}

.ios-mobile-app-development-services {
  .figures {
    @include flex(row, space-between, center);

    max-width: 1080px;
    margin: 0 auto;

    @include tablet {
      @include flex(row, center, center, wrap);

      gap: 40px;
    }

    .title {
      @include fontSize(24px);

      margin: auto 0;
      font-weight: 700;
      color: $white;

      @include tablet {
        grid-column: 3/4;
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    .description {
      grid-column: 1/3;
      color: $silver-chalice;

      @include tablet {
        grid-column: 1/-1;
        text-align: center;
      }

      @include phone {
        @include fontSize(14px);
      }
    }
  }
}
