.additionalContent {
  @include flex;

  .container {
    max-width: 280px;
  }

  .title {
    @include fontSize(38px, 150%);

    margin: 0 0 16px;
    text-align: start;
    font-weight: bold;

    @include tablet {
      margin-bottom: 8px;
    }

    @include phone {
      text-align: center;
    }
  }

  .listContainer {
    padding-left: 20px;
    margin: 0;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .listItem {
    @include fontSize(18px, 180%);

    &:last-child {
      margin: 0;
    }

    @include phone {
      text-align: center;
    }
  }

  @include tablet {
    @include flex(column, center, center);
  }

  @include phone {
    min-width: 240px;
  }
}
