.crowdfunding-platform {
  &.firstSectionView {
    width: 100%;
    margin-bottom: 48px;

    .container {
      max-width: none;
      width: 100%;
    }

    .listContainer {
      @include flex(row, space-between, center);

      width: 100%;
      list-style: none;
      padding-left: 0;
    }

    .listItem {
      @include fontSize(14px);

      color: $gray0;
    }
  }

  &.secondSectionView {
    @include flex(column, flex-start, stretch);

    .container + .container {
      margin-top: 24px;
    }

    .title {
      @include fontSize(20px);

      font-weight: 400;
      color: $gray0;
      margin-bottom: 6px;
    }

    .listContainer {
      color: $gray500;
      padding-left: 14px;
    }

    .listItem {
      @include fontSize(14px, 150%);

      & + .listItem {
        margin-top: 6px;
      }
    }

    @include tablet {
      .container {
        max-width: none;
      }

      .title {
        text-align: center;
      }
    }
  }
}
