.software-for-mri-interpretation {
  @include flex(column);

  .container {
    max-width: 100%;

    &-1,
    &-2 {
      .title {
        @include fontSize(18px, 180%);

        margin-bottom: 8px;
        color: $gray900;
        font-weight: 700;

        @include tablet {
          @include fontSize(16px, 150%);

          text-align: center;
        }
      }

      .listContainer {
        list-style-type: none;
        padding: 0;
      }

      .listItem {
        @include fontSize(16px, 150%);

        position: relative;
        color: $gray400;
        margin-bottom: 8px;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $balzanoGradient;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &-3 {
      margin-top: 48px;

      .title {
        @include fontSize(38px, 130%);

        color: $gray900;
        font-weight: 700;
        margin-bottom: 16px;

        @include tablet {
          @include fontSize(24px, 130%);

          text-align: center;
        }
      }

      .listContainer {
        list-style-type: none;
        padding: 0;
      }
    }
  }
}
