@import 'styles/utils/mixins';

.selectionBlock {
  position: relative;
  max-width: 1500px;
  width: calc(1500px - #{$side-indent});
  margin: 0 12px;

  @include flex(row, space-between, center);

  @include macbook-fifteen {
    width: calc(100% - #{$side-indent});
  }

  @include phone {
    width: auto;
  }

  .darkBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: $black;
    opacity: 0.5;
    display: none;

    @include phone {
      display: block;
    }
  }

  .buttons {
    min-height: 43px;
    width: 25%;
    position: relative;
    z-index: 1;
    transition: z-index 0.5s cubic-bezier(0.575, 0.41, 0.3, 1);

    @include flex(row, flex-end, center);

    @include phone {
      width: auto;
    }

    .imgContainer {
      @include flex(row, center, center);

      @include phone {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }

      img {
        position: relative;
        width: 16.5px;
        cursor: pointer;
        right: 40px;

        @include horizontal-mobile {
          right: 35px;
        }

        @include phone {
          right: 7vw;
        }
      }
    }

    .button {
      @include button-more($black, $black, $turbo-100, $turbo-100, $turbo-100, $turbo-100);

      border-radius: $button-border-radius;
      margin: auto 0;
      padding: 10px 15px;
      width: auto;
      font-weight: 500;
      font-size: 0.875rem !important;
      letter-spacing: 0.5px;
      border: none;
      transform: scale(1);
      transition:
        width $shadow-time-for-yellow-button,
        transform 0.4s cubic-bezier(0, 0, 0.2, 1);

      @include phone {
        display: none;
      }

      &:hover {
        padding: 10px 15px;
        border: none;
        transform: scale(0.96);
        transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .buttonAppearsWithAnimation {
      padding: 10px 15px;
      margin-right: 0;

      &::after {
        background-color: $turbo-100;
      }
    }

    .buttonAddStyles {
      padding: 10px 15px;
      margin-right: 0;
    }

    .categoryTitleInHeader {
      display: none;

      @include phone {
        display: block;
        cursor: pointer;
        font-weight: 500;
        color: $mine-shaft;
        font-size: 0.9375rem;
        line-height: 1;
      }
    }
  }
}

.showCategories {
  div:nth-of-type(1) {
    will-change: transform;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;
  }
}
