@import 'styles/utils/mixins';

.feedbackFormWithTitle {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;

  @include flex(row, center, center);

  @include macbook-twelve {
    width: 100%;
  }

  @include tablet {
    height: auto;
  }

  & > div:first-child {
    position: relative;
    z-index: 2;
    width: 100%;

    @include flex(column, center, flex-start);

    & > div:first-child {
      width: 100%;
      text-align: left;

      @include flex(column, space-around, flex-start);

      & > div:nth-of-type(1) > h2 {
        @include defaultSecondHeader;

        line-height: 1.2;
        text-align: left;
      }

      & > div:nth-of-type(2) > p {
        margin: 0 0 35px;
        font-size: 1.25rem;
        line-height: 1.53;
        letter-spacing: 0.5px;

        a {
          margin-top: -20px;
          margin-bottom: 35px;
          font-size: 1.25rem;
          line-height: 1.53;
          letter-spacing: 0.5px;
          white-space: nowrap;

          @include phone {
            font-size: 3.9vw;
          }
        }
      }

      .title {
        @include phone {
          width: 100%;
        }
      }

      .subtitle {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.55;
        letter-spacing: 0.5px;
        color: rgba($dark-grey, 0.3);

        span {
          cursor: pointer;
          padding: 0 0 5px;

          a {
            margin-left: 5px;
            text-decoration: none;
            font-size: 0.9rem;
            line-height: 1.55;
            letter-spacing: 0.5px;
            transition: color $accelerated-transition-time;
            border: none;
            outline: none;
            background-color: transparent;
            color: rgba($dark-grey, 0.3);
            position: relative;
            display: inline-block;
            padding: 0;

            &::before {
              content: '';
              cursor: pointer;
              position: absolute;
              bottom: -2px;
              right: 0;
              width: 100%;
              border-bottom: 1px rgba($dark-grey, 0.3) solid;
              background-color: rgba($dark-grey, 0.3);
              transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
          }

          &:hover {
            cursor: pointer;

            a {
              &::before {
                width: 0;
                will-change: transition;
                transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                transform: translateZ(0);
              }
            }
          }
        }
      }
    }

    & > div {
      margin-bottom: 0;
    }
  }

  & > div:last-child > div > form > div > a {
    @include flex(row, initial, center);

    & > div {
      min-width: auto;
      width: 260px;
    }
  }
}
