@import 'styles/utils/mixins';

.feedbackFormWithTitle {
  position: relative;
  z-index: 2;
  @include flex(row, center, center);
  width: 100%;
  height: auto;
  margin-top: 160px;
  padding-bottom: 150px;

  @include ultra-hd {
    max-width: $max-content-width;
  }

  @include full-hd {
    margin-top: 32vh;
    padding-bottom: 30vh;
  }

  @include macbook-fifteen {
    margin-top: 15vw;
    padding-bottom: 16vw;
  }

  @include macbook-twelve {
    margin-top: 12vw;
    width: 100%;
  }

  @include tablet {
    height: auto;
    padding-bottom: 150px;
    margin-top: 81px;
  }

  @include below-tablet {
    padding-bottom: 100px;
  }

  @include phone {
    padding: 40px $side-indent $mobile-section-indent - 20px;
    margin-top: 0;
  }
  
  & > div:first-child {
    position: relative;
    z-index: 2;
    @include flex(row, space-between, flex-start);
    width: 100%;

    @include tablet {
      @include flex(column, center, flex-start);
    }

    & > div:first-child {
      max-width: 550px;
      width: 100%;
      @include flex(column, space-around, flex-start);
      text-align: left;
  
      & > div:nth-of-type(1) > h1 {
        @include big-title();
        margin-top: 50px;
      }
  
      & > div:nth-of-type(2) > p {
        margin: -20px 0 35px;
        font-size: 1.25rem;
        line-height: 1.53;
        letter-spacing: 0.5px;

        @include phone {
          margin: 0;
          padding: 0;
          font-size: 3.9vw;
        }

        a {
          margin-top: -20px;
          margin-bottom: 35px;
          font-size: 1.25rem;
          line-height: 1.53;
          letter-spacing: 0.5px;
          white-space: nowrap;

          @include phone {
            font-size: 3.9vw;
          }
        }
      }
      
      .title {
        @include phone {
          width: 100%;
        }
      }
  
      .subtitle {
        margin: 0;
        font-size: .9rem;
        line-height: 1.55;
        letter-spacing: 0.5px;
    
        span {
          cursor: pointer;
          padding: 0 0 5px;
          
          a {
            margin-left: 5px;
            text-decoration: none;
            font-size: .9rem;
            line-height: 1.55;
            letter-spacing: 0.5px;
            transition: color $accelerated-transition-time;
            border: none;
            outline: 0;
            background-color: transparent;
            color: $black;
            position: relative;
            display: inline-block;
            padding: 0;
    
            &:before {
              content: '';
              cursor: pointer;
              position: absolute;
              bottom: -2px;
              right: 0;
              width: 100%;
              border-bottom: 1px $black solid;
              background-color: $black;
              transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
          }
    
          &:hover {
            cursor: pointer;
    
            a {
              &:before {
                width: 0;
                will-change: transition;
                transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                -webkit-transform: translateZ(0);
              }
            }
          }
        }
      }
    }
  
    & > form {
      width: 50%;
      margin-bottom: 0;

      @include ultra-hd {
        width: 545px;
      }
    
      @include desktop {
        margin-left: 0;
      }

      @include macbook-twelve {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }
    }
  }
}