@import 'styles/utils/mixins';
@import 'styles/utils/colors';

.budgetSlider {
  text-align: left;
  margin-bottom: 28px;

  span {
    @include fontSize(16px, 150%);

    color: $gray400;
  }

  .budget {
    color: $gray900;
  }

  .slider {
    display: block;
    width: 100%;
    margin-top: 24px;
  }
}
