@import 'styles/utils/mixins';

.mobileMenu {
  display: none;
  will-change: transform;
  transition: transform $default-transition-time ease-in-out;

  @include phone {
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black;

    ul {
      margin-bottom: 20vh;
      padding: 0;
      text-align: center;

      @include small-phone {
        @include flex(row, center, center);
      }

      li {
        margin: 30px 0;
        list-style: none;
        font-weight: 500;
        letter-spacing: 0.5px;

        @include small-phone {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }

        a {
          color: $white;
          cursor: pointer;
          text-decoration: none;
        }

        &:last-child {
          border-radius: $buttonRadius;
          padding: 16px 34px;
          background-color: $turbo-100;
          
          a {
            color: $black;  
          }
        }
      }
    }

    .mobileMenuFooter {
      padding: 0px;
      position: fixed;
      top: 81vh;
      @include flex(row, space-around);
      width: 100%;

      a {
        color: $white;
        opacity: .3;
        font-size: 0.8125rem;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

.mobileMenuOpened {
  opacity: 1;
  touch-action: initial;
  user-select: initial;
  position: fixed;
  will-change: transform;
  transform: translateX(0vw);
  transition: transform $default-transition-time ease;

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      opacity: 1;
      will-change: transform;
      transform: translateX(0vw);
      transition: transform $default-transition-time,
                  opacity $default-transition-time;
      transition-delay: calc(#{$default-transition-time * 2} * #{$i} / 8);

      @include small-phone {
        transform: translateY(0px);
      }
    }
  }
}

.mobileMenuClosed {
  will-change: transform;
  transform: translateX(-100vw);
  touch-action: none;
  user-select: none;
  transition: transform $default-transition-time ease-in-out;

  ul {
    li {
      will-change: transform;
      opacity: 0;
      transform: translateX(-30px);
      transition: transform $default-transition-time,
                  opacity $default-transition-time;

      @include small-phone {
        transform: translateY(-30px);
      }
    }
  }
}

.additionalMobileMenu {
  @include phone {
    ul {
      li {
        span:not(:last-child) {
          color: $white;
        }
      }
    }
  }
}
