@import 'styles/utils/mixins';

.mobileMenu {
  display: none;
  will-change: transform;
  transition: transform $default-transition-time ease-in-out;
  z-index: 1600000;

  @include phone {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black;

    @include flex(row, center);

    .mobileMenuFooter {
      padding: 0;
      position: fixed;
      top: 75vh;
      width: 100%;

      @include flex(row, space-around);

      a {
        color: $white;
        opacity: 0.3;
        font-size: 0.8125rem;
        font-weight: 600;
        text-decoration: none;
      }
    }

    ul {
      height: 114vw;
      margin-bottom: 20vh;
      padding: 60px 0 0;
      width: 100%;

      @include small-phone {
        @include flex(row, center, center);
      }
    }
  }
}

.mobileMenuOpened {
  opacity: 1;
  touch-action: initial;
  user-select: initial;
  position: fixed;
  will-change: transform;
  transform: translateX(0);
  transition: transform $default-transition-time ease;

  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      opacity: 1;
      will-change: transform;
      transform: translateX(0);
      transition:
        transform $default-transition-time,
        opacity $default-transition-time;
      transition-delay: calc(#{$default-transition-time * 2} * #{$i} / 8);

      @include small-phone {
        transform: translateY(0);
      }
    }
  }
}

.mobileMenuClosed {
  will-change: transform;
  transform: translateX(-100vw);
  touch-action: none;
  user-select: none;
  transition: transform $default-transition-time ease-in-out;

  ul {
    li {
      will-change: transform;
      opacity: 0;
      transform: translateX(-30px);
      transition:
        transform $default-transition-time,
        opacity $default-transition-time;

      @include small-phone {
        transform: translateY(-30px);
      }
    }
  }
}

.pageScrollingMobileMenu {
  @include phone {
    ul {
      li {
        span:not(:last-child) {
          color: $white;
        }
      }
    }
  }
}
