@import 'styles/utils/mixins';
@import 'styles/utils/theme/_animations';

.locationSubscribe {
  @include seLocationSubscribe(7, 12);

  @include tablet {
    @include seLocationSubscribe(5, 12);
  }

  @include below-tablet {
    @include seLocationSubscribe(4, 12);
  }

  @include phone {
    @include seLocationSubscribe(3, 6);
  }
}

.articlesList {
  @include flex(row, initial, initial, wrap);

  max-width: 1500px;
  margin: 30px 0 0;

  @include macbook-fifteen {
    margin: 20px 0 0;
  }

  @include phone {
    flex-direction: column;
    margin-top: 75px;

    & > article:first-child {
      margin-top: 20px;
    }
  }

  @include small-phone {
    margin-top: 20px;
  }

  @extend .locationSubscribe;
}
