@import 'styles/utils/mixins';

.ui-ux-services {

  &.firstSectionView {
    padding: 0 40px 75px;

    .titleStyle {
      display: none;
    }

    .imagesList {
      justify-content: space-around;
    }

    .imagesList > div {
      @include below-tablet {
        margin-bottom: 32px;
      }

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .imagesList > div:nth-of-type(1) {
      width: 198px;
    }

    .imagesList > div:nth-of-type(2) {
      width: 106px;
    }

    .imagesList > div:nth-of-type(3) {
      width: 163px;
    }

    .imagesList > div:last-of-type {
      @include below-tablet {
        margin-bottom: 0;
      }
    }
  }

  &.secondSectionView {
    padding-top: 0;

    .imagesList {
      justify-content: center;
    }

    .imagesList > div:nth-of-type(1) {
      .image {
        max-width: 920px;

        @include tablet {
          display: none;
        }
      }
    }

    .imagesList > div:nth-of-type(2) {
      display: none;

      @include tablet {
        display: block;

        .image {
          width: 100%;
          max-width: 500px;
        }
      }

      @include phone {
        .image {
          max-width: 300px;
        }
      }
    }
  }

  .titleStyle {
    margin-bottom: 48px;

    @include phone {
      margin-bottom: 24px;
    }

    h2 {
      @include fontSize(38px);

      max-width: 660px;
      line-height: 49px;

      @include phone {
        @include fontSize(24px);

        line-height: 31px;
      }
    }

    p {
      @include fontSize(16px);

      max-width: 920px;
      margin-top: 16px;
      line-height: 24px;

      @include phone {
        margin-top: 8px;
      }
    }
  }
}
