@import 'styles/utils/mixins';

.beautonomy {
  @extend .verticalContainer;

  background-color: $coffee;

  .projectTitle {
    color: $dark-grey;
  }

  .projectDescription {
    margin-bottom: -50px;
    color: $silver-chalice;

    @include tablet {
      margin-bottom: 0;
    }
  }

  .imageContainer {
    width: 75%;

    @include tablet {
      width: 80%;
    }

    @include phone {
      width: 100%;
    }

    .image {
      max-width: 100%;
    }
  }
}
