@import 'styles/utils/mixins';

.bionorica {
  @extend .verticalContainer;

  background: linear-gradient(180deg, $light-grayish-blue 0%, $white 100%);

  .projectDescription {
    color: $silver-chalice;
  }

  .image {
    max-height: 330px;

    @include tablet {
      max-height: initial;
      max-width: 450px;
    }

    @include phone {
      max-width: 80vw;
    }
  }
}
