.fusion-markets {
  @extend .verticalContainer;

  background: $eerie-black;

  .projectTitle {
    color: $white;
    margin-bottom: 15px;
  }

  .projectDescription {
    color: rgba($white, 0.7);
    margin-bottom: 29px;
  }

  .image {
    max-height: 330px;

    @include phone {
      max-width: 80vw;
    }
  }
}
