.humankind {
  background: linear-gradient(112.74deg, $pure-blue-2, $pure-blue-3 100%);
  position: relative;

  .projectTitle {
    @include fontSize(44px);

    width: 370px;
    color: $white;

    @include tablet {
      @include fontSize(35px);
    }

    @include phone {
      @include fontSize(22px);
    }
  }

  .projectSubtitle {
    @include fontSize(12px);

    color: $white;
    width: 270px;
  }

  .imageContainer {
    width: 440px;
    height: 300px;

    .image {
      position: absolute;
      width: 480px;
      height: 350px;
      right: 0;

      @include tablet {
        margin: 0 auto;
        right: 0;
        left: 0;
      }

      @include phone {
        width: 317px;
        height: 200px;
        left: -20px;
      }
    }
  }

  .imageBundle {
    position: absolute;
    height: 590px;
    right: -30%;

    @include tablet {
      height: 400px;
      right: 30%;
    }

    @include phone {
      height: 700px;
      right: -190%;
    }
  }
}
