.meetAva {
  background-color: $green-aloha;

  @include centeredBackgroundImage;

  .projectInfoContainer {
    color: $white;

    .projectTitle {
      @include fontSize(30px);

      width: 290px;
    }
  }
}