.seven-pm-thursday {
  background-color: $dark-blue-1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  .projectInfoContainer {
    color: $white;

    .projectTitle {
      @include fontSize(35px);
    }

    .projectSubtitle {
      @include fontSize(14px);
    }
  }

  .imageContainer {
    max-width: 500px;
    width: 100%;

    .image {
      max-width: 150%;

      @include tablet {
        max-width: 70%;
      }
    }
  }

  @include phone {
    background-position: bottom center;
  }
}