@import 'styles/utils/mixins';

.signature {
  @include signature-button;

  &RequeredFields {
    margin: 24px 0 32px;
    color: $required-field-color;

    &Container {
      @include higher-phone {
        width: 300px;
        margin: auto;
      }
    }

    @include higher-phone {
      width: 300px;
    }
  }
}
