@import 'styles/utils/mixins';

.pageLoading {
  @include flex(column, center, center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  line-height: 1.53;
  letter-spacing: 0.5px;
  z-index: 99999999999;
  background-color: $white;
  color: $black;
  font-size: 1.2rem;
}

.hide {
  will-change: opacity;
  transition: opacity .4s ease-in;
  opacity: 0;
}

.setZIndex {
  z-index: -5;
}
