@import 'styles/utils/mixins';

.container {
  position: relative;
  overflow: hidden;
  //height: 812px;

  &:not(&:last-of-type) {
    margin-bottom: 80px;

    @include phone {
      margin-bottom: 40px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  :global {
    //.swiper-container {
    //  height: 812px;
    //}

    .swiper-wrapper {
      //height: 812px;
      transition-timing-function: linear !important;
    }

    //.swiper-slide {
    //  height: 812px;
    //}
  }

  .image {
    height: 100%;
    z-index: 1;
    object-fit: contain;

    @include phone {
      height: 400px;
    }
  }
}

.imagesContainer {
  position: relative;
  overflow: hidden;

  &:not(&:last-of-type) {
    margin-bottom: 80px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .image {
    margin-right: 30px;
    height: 100%;
    z-index: 1;

    @include phone {
      height: 400px;
    }
  }
}

.fernwayer {
  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }
}

.stickerbox {
  &::before {
    background: linear-gradient(90deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
  }
}
