@import 'styles/utils/mixins';

.container {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 25vw;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  &::after {
    content: '';
    position: absolute;
    width: 25vw;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .swiper {
    position: relative;
    width: 2180px;
    height: 812px;

    @include phone {
      width: 1090px;
      height: 400px;
    }

    &:not(&:last-of-type) {
      margin-bottom: 80px;

      @include phone {
        margin-bottom: 40px;
      }
    }

    :global {
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }

    .image {
      height: 100%;
      z-index: 1;
      object-fit: contain;
    }
  }
}

.fernwayer {
  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }
}

.stickerbox {
  &::before {
    background: linear-gradient(90deg, $dark-grey-1 0%, rgba($dark-grey-1, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $dark-grey-1 0%, rgba($dark-grey-1, 0) 100%);
  }
}
