@import 'styles/utils/colors';
@import 'styles/utils/mixins';

.button {
  margin: 11px auto;
  display: block;

  @include below-tablet {
    margin: 11px auto 0;
  }
}

.message {
  margin: 0 0 16px;
  color: $gray400;
}

.input {
  margin-bottom: 32px !important;
  width: 100%;
}

.errorMessage {
  color: $red500;
  margin: 0 auto 15px;
}
