@mixin sectionGrayBackground {
  background: $gray50;

  .callToAction {
    background: $gray0;
  }
}

@mixin defaultGalleryTitle {
  @include fontSize(38px, 49px);

  @include phone {
    @include fontSize(24px, 31px);
  }
}

.section {
  @include appDevelopmentContainer;

  background: $gray0;
  padding: 120px 0;

  @include below-tablet {
    padding: 30px 0;
  }
}

.slider {
  &:global(.swiper-slide) {
    transition-property: box-shadow, transform;
  }

  &:global(.swiper-slide-active) {
    box-shadow: 0 10px 60px -10px rgba($gray1000, 0.15);
  }

  .navigation {
    max-width: 80%;

    @include tablet {
      max-width: 80%;
    }
  }
}
