.software-development-columbus,
.software-development-washington,
.software-development-oklahoma,
.software-development-nashville,
.software-development-raleigh {
  .callToAction {
    width: 100%;
    max-width: none;
    border: none;
    min-height: auto;
    padding: 0;
    margin-top: 50px;

    a {
      margin: 0 auto;
    }

    @include below-tablet {
      margin-top: 24px;
    }
  }
}
