@import "styles/utils/mixins";

.placementInfo {
  @include tablet {
    text-align: center;
  }

  &:first-child {
    margin-top: 40px;
  }

  &:last-child {
    margin-bottom: 60px;
  }
}

.map {
  box-shadow: 0 10px 60px -10px rgba(0, 0, 0, 0.15);
  height: 732px;
}
