@import 'styles/utils/mixins';

.container {
  h2 {
    @include fontSize(56px);

    font-weight: 700;

    @include phone {
      @include fontSize(32px);
    }
  }

  h3 {
    @include fontSize(40px);

    font-weight: 700;

    @include phone {
      @include fontSize(24px);
    }
  }

  h4 {
    @include fontSize(32px);

    font-weight: 700;

    @include phone {
      @include fontSize(20px);
    }
  }

  p {
    @include fontSize(18px);

    color: $silver-chalice;

    @include phone {
      @include fontSize(14px);
    }
  }

  b {
    color: $dark-grey;
  }
}
