/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

.processContainer {
  width: 100%;
  margin-top: 8px;

  @include phone {
    margin-top: 16px;
  }
}

.process {
  @include flex(row, space-between, center);

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  & > div:nth-of-type(2) {
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  @include tablet {
    &:nth-child(1n) {
      flex-direction: column-reverse;
    }
  }
}

.callToAction {
  background: none;
  flex-direction: column;

  h3 {
    margin: 0 0 48px;
  }
}

.title {
  @include fontSize(38px, 130%);

  margin: 0;

  span {
    color: $yellow500;
  }

  @include phone {
    @include fontSize(24px, 130%);
  }
}

.description {
  @include fontSize(16px, 150%);

  color: $gray400;
  max-width: 585px;

  @include tablet {
   max-width: none; 
  }
}

.processItem {
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

.jsonWrapper {
  max-width: 480px;

  div {
    @include flex(column, center, center);
  }
}