@import 'styles/utils/mixins';

.processContainer {
  width: calc(100% + 2 * #{$side-indent});
  margin: 0 0 350px;
  background-color: $white;

  @include desktop {
    margin: 0 0 200px;
  }

  @include tablet {
    margin: 0 0 200px;
  }

  @include below-tablet-horizontal {
    margin: 0 0 100px;
  }
  
  @include phone {
    width: 100%;
    margin: 60px 0 100px;
  }
 
  .process {
    position: relative;
    z-index: 5;
    @include flex(row, space-evenly, center);
    width: calc(100% - (80 * 2));
    margin: 0 80px;
    height: 100vh;
    will-change: background-color;
    transition: background-color $default-transition-time ease;
    transition-timing-function: linear;

    &:first-child {
      height: calc(100vh - 81px);
      margin-top: 81px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .desc {
        @include flex(row, flex-end, center);
      }
    }

    @include tablet {
      width: 100%;
      @include flex(column, space-evenly, center);
      height: auto;
      margin: auto;
      padding-bottom: 120px;

      &:nth-child(1n) {
        flex-direction: column-reverse;
      }
    }

    @include below-tablet {
      padding-bottom: 60px;

      &:first-child {
        padding-top: 81px;
      }
    }

    @include below-tablet-horizontal {
      @include flex(row, center, center);

      &:first-child {
        height: auto;
      }
      
      &:nth-child(1n) {
        flex-direction: initial;
      }
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }

    @include horizontal-iphone-x {
      &:first-child {
        padding-top: 81px;
      }
    }

    @include horizontal-big-mobile {
      &:first-child {
        padding-top: 81px;
      }
    }

    @include horizontal-mobile {
      height: auto;
      @include flex(row, center, center);
      padding-bottom: 60px;

      &:first-child {
        height: auto;
        margin-top: 0px;
      }
    }

    @include phone {
      flex-direction: column-reverse !important;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 50px;
      height: auto;
      
      &:first-child {
        height: auto;
        padding-top: 0px;
        margin-top: 0px;
      }
    }

    .desc {
      width: 40%;
      @include flex(row, flex-start, center);

      @include tablet {
        width: 100%;
        justify-content: normal;
        max-height: 50%;
        margin-top: 50px;
      }

      @include below-tablet {
        width: 100%;
        margin-top: 30px;
      }

      @include below-tablet-horizontal {
        width: 50%;
        justify-content: center;
      }

      @include phone {
        width: 100%;
        margin-top: auto;
      }

      @include horizontal-mobile {
        max-height: initial;
      }
      
      div {
        max-width: 80%;
        height: 100%;
        opacity: 1;
        will-change: transform;
        transition: transform $default-transition-time, opacity $default-transition-time;

        @include tablet {
          max-width: $max-content-width-macbook-twelve;
          margin-left: $side-indent * 2;
          margin-right: $side-indent * 2;
          max-width: calc(100% - (#{$side-indent} * 4));
        }

        @include below-tablet {
          margin-left: $side-indent * 2;
          margin-right: $side-indent * 2;
          max-width: calc(100% - (#{$side-indent} * 4));
        }

        @include below-tablet-horizontal {
          padding-left: 0px;
          margin-left: $side-indent * 2;
          margin-right: $side-indent * 2;
          max-width: calc(100% - (#{$side-indent} * 4));
        }

        @include phone {
          @include flex(column, center, flex-start);
          width: 100%;
          max-width: 100%;
          margin: 0;
          padding-left: 0px;
          text-align: left;
        }

        h1 {
          margin-top: 0;
          margin-bottom: 60px;
          font-weight: 800;
          font-size: 4.125rem;
          letter-spacing: 2.25px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.01;
          color: $black;

          span {
            margin-right: 10px;
            color: $saffron;
          }

          @include below-tablet {
            font-size: 3rem;
            margin-top: 40px;
          }

          @include below-tablet-horizontal {
            font-size: 2.5rem;
          }
    
          @include phone {
            max-width: calc(100% - 40px);
            font-size: 2.5rem;
            margin: 40px auto 25px 0px;
          }
        }
    
        p {
          margin: 0;
          margin-top: -20px;
          margin-bottom: 35px;
          font-size: 1.25rem;
          line-height: 1.53;
          letter-spacing: 0.5px;
          color: $black;
          word-wrap: normal;

          @include below-tablet-horizontal {
            font-size: 1rem;
          }

          @include phone {
            max-width: calc(100% - 40px);
            font-size: 1rem;
            max-width: 100%;
            margin: auto 20px 25px 0px;
          }
        }

        .buttonWrap {
          padding: 5px 0 10px;
          cursor: pointer;
          width: max-content;

          button {
            border: none;
            outline: 0px;
            background-color: transparent;
            color: $black;
            line-height: 1.55;
            letter-spacing: 0.5px;
            font-size: 1.125rem;
            position: relative;
            display: inline-block;
            padding: 0;
  
            &:after {
              content: '';
              cursor: pointer;
              position: absolute;
              bottom: -5px;
              right: 0;
              width: 100%;
              border-bottom: 1.5px $black solid;
              background-color: $black;
              will-change: transition;
              transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
          }

          &:hover {
            cursor: pointer;

            button {
              cursor: pointer;

              &:after {
                width: 0;
                will-change: transition;
                transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                -webkit-transform: translateZ(0);
              }
            }
          }
        }
      }
    }

    .imgWrapper {
      width: 50%;
      height: 75% !important;
      @include flex(column, center, center);

      @include tablet {
        width: calc(100% - (40px + 40px));
        margin-right: 40px;
        margin-left: 40px;
        max-height: 50%;
      }

      @include below-tablet-horizontal {
        width: 50%;
      }

      @include phone {
        width: 100%;
      }

      div {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        max-height: -webkit-fill-available;
        @include flex(column, center, center);

        @include tablet {
          max-height: initial;
        }

        @include below-tablet-horizontal {
          height: inherit;
        }

        @include phone {
          height: auto;
        }

        div {
          @include flex(column, center, center);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          will-change: transform;
          opacity: 1;
          transition: transform $default-transition-time, opacity $default-transition-time;

          svg {
            width: auto;
            height: auto !important;
            max-width: 100% !important;
            max-height: 100% !important;
          }
        }
      }
    }
  }
}
