@import 'styles/utils/mixins';

.companyContacts {
  @include flex(row, space-between, flex-start);
  width: 100%;
  width: calc(#{$max-content-width} * 0.8);
  padding: 100px 0;

  @include macbook-fifteen {
    @include flex(row, center, flex-start);
    width: calc(100vw - 160px);
  }

  @include tablet {
    padding-top: 0px;
  }

  @include below-tablet {
    width: 100%;
    padding: 150px 0 200px;
  }

  @include phone {
    padding: 60px $side-indent $mobile-section-indent - 20px;
  }

  .imgContainer {
    @include flex(row, flex-end, flex-end);
    z-index: 5;
    width: calc(#{$max-content-width} * 0.273 * 1.3);
    height: calc(#{$max-content-width} * 0.4177 * 1.2);

    @include macbook-fifteen {
      width: calc((100vw - 160px) * 0.273);
      height: calc((100vw - 160px) * 0.4177);
    }

    @include below-tablet {
      display: none;
      margin: 0;
    }

    .whiteCover {
      position: absolute;
      z-index: 3;
      transform: scale(1.05);
      width: calc(#{$max-content-width} * 0.273 * 1.5);
      height: calc(#{$max-content-width} * 0.4177 * 1.5);

      @include macbook-fifteen {
        width: calc((100vw - 160px) * 0.273);
        height: calc((100vw - 160px) * 0.4177);
      }
    }

    img {
      display: none;
      z-index: 2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .removeWhiteCover {
    .whiteCover {
      height: 0;
      will-change: height;
      transition: height 1.5s 0.2s ease;
      background-color: $white;
    }

    img {
      display: block;
    }
  }

  .address {
    @include flex(column);
    font-family: $default-font;
    font-style: normal;
    width: calc(#{$max-content-width} * 0.273 * 1.2);

    @include macbook-fifteen {
      width: calc((100vw - 160px) * 0.273);
      margin-left: calc((100vw - 160px) * 0.1095);
    }

    @include below-tablet {
      width: 100%;
      @include flex(column, center, center);
      margin: 0;
    }

    @include phone {
      max-width: 270px;
    }

    &>div {
      &:first-child {
        margin-top: calc(#{$max-content-width} * 0.0123 * 1.2);

        @include macbook-fifteen {
          margin-top: calc((100vw - 160px) * 0.0123);
        }
      }

      &:nth-of-type(3),
      &:nth-of-type(5) {
        margin-top: calc(#{$max-content-width} * 0.0408 * 1.2);

        @include macbook-fifteen {
          margin-top: calc((100vw - 160px) * 0.0408);
        }
      }

      @include below-tablet {
        &:first-child {
          margin-top: 0;
        }

        &:nth-of-type(3),
        &:nth-of-type(5) {
          margin-top: 130px;
        }
      }

      @include phone {
        &:first-child {
          margin-top: 0;
        }

        &:nth-of-type(3),
        &:nth-of-type(5) {
          margin-top: 110px;
        }
      }
    }

    .addressTitle {
      display: block;
      color: $black;
      font-size: calc(#{$max-content-width} * 0.0078 * 1.2);
      margin-bottom: calc(#{$max-content-width} * 0.0192 * 1.2);

      @include macbook-fifteen {
        font-size: calc((100vw - 160px) * 0.0078);
        margin-bottom: calc((100vw - 160px) * 0.0192);
      }

      @include below-tablet {
        font-size: 1.25rem;
        margin-bottom: 60px;
      }

      @include phone {
        font-size: 1rem;
        margin-bottom: 40px;
      }
    }

    .locationAddress {
      @include flex(column, center, flex-start);
      color: $gray;
      font-size: calc(#{$max-content-width} * 0.0195 * 1.2);

      @include macbook-fifteen {
        font-size: calc((100vw - 160px) * 0.0195);
      }

      @include below-tablet {
        text-align: center;
        font-size: 1.875rem;
        line-height: 2;
        align-items: center;
      }

      @include phone {
        font-size: 1.25rem;
      }

      span:last-child {
        margin-top: 0.6vw;
      }
    }

    .phoneNumber {
      @include flex(column, center, flex-start);

      @include below-tablet {
        align-items: center;
        text-align: center;
        width: 280px;
      }

      @include phone {
        width: 182px;
      }

      a {
        text-decoration: none;
        color: $black;
        position: relative;
        width: 99%;
        left: 0.5%;
        transition: color $accelerated-transition-time;
        font-size: calc(#{$max-content-width} * 0.0195 * 1.2);

        @include macbook-fifteen {
          font-size: calc((100vw - 160px) * 0.0195);
        }

        &:hover {
          cursor: pointer;
          color: $turbo-100;

          &:before {
            border-bottom: 1px $turbo-100 solid;
          }
        }

        @include below-tablet {
          line-height: 1.5;
          font-size: 1.875rem;
        }

        @include phone {
          font-size: 1.25rem;
        }

        &:last-child {
          margin-top: 0.6vw;
        }
      }
    }

    .email {
      padding-bottom: 4px;
      width: max-content;
      font-size: calc(#{$max-content-width} * 0.0195 * 1.2);

      @include macbook-fifteen {
        font-size: calc((100vw - 160px) * 0.0195);
      }

      @include below-tablet {
        font-size: 1.875rem;
      }

      @include phone {
        font-size: 1.25rem;
      }

      a {
        position: relative;
        text-decoration: none;
        transition: color $accelerated-transition-time;
        color: $black;

        &:before {
          width: 98%;
          content: '';
          cursor: pointer;
          position: absolute;
          bottom: -5px;
          right: 1%;
          border-bottom: 1.5px $black solid;
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }

      &:hover {
        cursor: pointer;

        a {
          &:before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateZ(0);
          }
        }
      }
    }
  }
}