@import 'styles/utils/mixins';

.companyContacts {
  width: 100%;
  // background-color: darkseagreen;
  @include flex(row, center, flex-start);

  padding-top: 13.19444vw;
  padding-bottom: 14.23611vw;

  // padding-left: calc(20% - 80px);
  // padding-right: calc(20% - 80px);

  // @include tablet {
  //   width: 100%;
  //   padding: 100px 0 200px;
  // }

  @include below-tablet {
    width: 100%;
    padding: 150px 0 200px;
  }

  @include phone {
    padding: 60px $side-indent $mobile-section-indent - 20px; 
  }

  .imgContainer {
    // background-color: rgb(121, 38, 38);
    z-index: 5;
    // max-width: 480px;
    width: 27.3%;
    height: 37.16vw;
    // margin-right: 5%;
    // height: 100% !important;
    // max-width: 35%;
    // max-height: 600px;
    @include flex(row, flex-end, flex-end);

    @include below-tablet {
      display: none;
      margin: 0;
    }

    .whiteCover {
      width: 27.3%;
      height: 37.16vw;
      // padding-top: calc(100% / 0.63);
      // width: calc(41.66667% - 80px);
      // background-color: hotpink;
      position: absolute;
      z-index: 3;
      transform: scale(1.05);
    }

    img {
      display: none;
      z-index: 2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      // padding-top: calc(100% / 0.68);
      // background-color: rgb(105, 225, 255);
    }
  }
  
  .removeWhiteCover {
    .whiteCover {
      // padding-top: 0;
      height: 0;
      will-change: height;
      // transition: padding 1.5s 0.2s ease;
      transition: height 1.5s 0.2s ease;
      background-color: $white;
      // background-color: darkgreen;
    }

    img {
      display: block;
    }
  }

  .address {
    // max-width: 480px;
    // width: 100%;
    // width: 41.66667%;
    width: 27.3%;
    // margin-left: 16.66667%;
    margin-left: 10.95%;
    // background-color: rgb(248, 79, 0);
    @include flex(column);
    font-family: $default-font;
    font-style: normal;

    @include below-tablet {
      width: 100%;
      @include flex(column, center, center);
      margin: 0;
    }

    @include phone {
      max-width: 270px;
    }

    .addressTitle {
      // font-size: 16px;
      font-size: .69444vw;
      // font-weight: 500;
      color: $black;
      // margin-bottom: 50px;
      margin-bottom: 1.73611vw;
      
      &:first-child {
        margin-top: 1.1vw;
      }

      &:not(:first-child) {
        // margin-top: 70px;
        margin-top: 3.64583vw;
      }

      @include below-tablet {
        font-size: 20px;
        margin-bottom: 60px;

        &:first-child {
          margin-top: 0;
        }
  
        &:not(:first-child) {
          // margin-top: 70px;
          margin-top: 130px;
        }
      }

      @include phone {
        font-size: 16px;
        margin-bottom: 40px;

        &:first-child {
          margin-top: 0;
        }
  
        &:not(:first-child) {
          // margin-top: 70px;
          margin-top: 110px;
        }
      }
    }

    .locationAddress {
      // font-size: 30px;
      font-size: 1.73611vw;
      color: $gray;

      @include below-tablet {
        text-align: center;
        font-size: 30px;
        line-height: 2;
      }

      @include phone {
        font-size: 20px;
      }
    }

    .phoneNumber {
      a {
        text-decoration: none;
        color: $black;
        font-size: 1.73611vw;
        // font-weight: 500;
        position: relative;
        width: 99%;
        left: 0.5%;
        transition: color $accelerated-transition-time;
        
        &:hover {
          cursor: pointer;
          color: $turbo-100;

          &:before {
            border-bottom: 1px $turbo-100 solid;
          }
        }

        @include below-tablet {
          line-height: 1.5;
          font-size: 30px;  
        }

        @include phone {
          font-size: 20px;
        }
      }
    }

    .email {
      padding-bottom: 4px;
      width: max-content;
      font-size: 1.73611vw;

      @include below-tablet {
        font-size: 30px;  
      }

      @include phone {
        font-size: 20px;
      }

      a {
        position: relative;
        text-decoration: none;
        transition: color $accelerated-transition-time;
        color: $black;

        &:before {
          width: 98%;
          content: '';
          cursor: pointer;
          position: absolute;
          bottom: -5px;
          right: 1%;
          border-bottom: 1.5px $black solid;
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }

      &:hover {
        cursor: pointer;

        a {
          &:before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateZ(0);
          }
        }
      }
    }
  }
}