.sliderSection {
  @include flex(column, center, center);

  max-width: $max-content-width;
  margin: 0 auto;
  position: relative;
}

.sliderList {
  padding: 48px 103px;
  box-shadow: $card-bow-shadow;
  box-sizing: border-box;
  width: 100%;
  max-width: 995px;
  background-color: $gray0;

  :global(.swiper-scrollbar) {
    margin-top: 48px;
    position: relative;
    left: 0;
    width: 100%;

    @include tablet {
      margin-top: 32px;
    }
  }

  @include phone {
    padding: 32px 24px;
  }
}

.item {
  .slideTitle {
    @include fontSize(20px);
  
    margin: 0 0 8px;
    color: $gray900;
    font-weight: 700;
  }
  

  p,
  .slideSubtitle {
    @include fontSize(16px, 150%);

    margin: 0;
    color: $gray400
  }
}

.titleStyle {
  margin-bottom: 48px;
}

.container {
  @include appDevelopmentContainer;

  background-color: $gray50;
}
