.telemojo {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, rgba(249, 251, 254, 0) 0%, $selago 78.3%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &::after {
    background: linear-gradient(90deg, rgba(249, 251, 254, 0) 0%, $selago 78.3%);
  }
}
