@import 'styles/utils/mixins';

.navButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: solid $dark-grey 1px;
  bottom: 0;
  background: none;
  cursor: pointer;
  z-index: 999;

  &:hover {
    * {
      color: $turbo-100;
      fill: $turbo-100;
    }
  }

  &[disabled] {
    opacity: 0.5;
    color: $dark-grey;

    &:hover {
      cursor: default;

      * {
        fill: $dark-grey;
        color: $dark-grey;
      }
    }
  }

  @include below-tablet {
    display: none;
  }
}

.prev,
.next {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: none;

  .text {
    @include fontSize(18px);

    padding: 0 10px;
    line-height: 180%;
  }
}

.next {
  right: 0;

  & > svg {
    order: 2;
  }

  @include below-tablet {
    right: 10%;
  }
}

.prev {
  left: 0;

  @include below-tablet {
    left: 10%;
  }
}
