/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

.paginationWrapper {
  will-change: transform;
  transform: scale(0.9);
  margin-top: $section-indent;

  @include flex(row, center, center);

  @include tablet {
    margin-top: 60px;
    transform: scale(1);
  }

  @include below-tablet {
    transform: scale(0.9);
  }

  @include phone {
    transform: scale(1.1);
  }

  .paginationPrev {
    cursor: pointer;
    padding: 15px;
    color: $black;
    font-size: 1.125rem;
    line-height: 40px;
    background-color: transparent;
    transition: color $default-transition-time;
    outline: none;

    &:hover {
      color: $mid-gray;
      transition: color $default-transition-time;
    }
  }

  .paginationContainer {
    padding-left: 0;
    list-style: none;

    @include flex(row, flex-start, center);

    li {
      padding: 15px;

      svg {
        path {
          stroke: $pagination;
          transition: stroke $default-transition-time;

          &:hover {
            stroke: $flamingo;
            transition: stroke $default-transition-time;
          }
        }
      }

      @include phone {
        svg {
          height: 10px;
        }
      }

      & > a {
        font-family: $default-font;
        color: $black;
        text-decoration: none;
        outline: none;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        min-width: 40px;
        font-size: 1.125rem;
        line-height: 40px;
        text-align: center;
        transition: background-color 0.7s;

        &:hover {
          background-color: $gallery-100;
          transition: background-color 0.2s;
        }

        @include phone {
          font-size: 1rem;
        }
      }

      &:not(:first-child),
      &:not(:last-child) {
        background-color: transparent;
      }

      &:first-child,
      &:last-child {
        @include phone {
          padding: 0;
        }
      }
    }

    .paginationItem {
      cursor: pointer;
      padding: 5px;

      @include flex(row, center, center);

      a {
        font-weight: normal;
      }

      @include phone {
        padding: 10px 5px;
      }
    }

    .previousClassName {
      display: none;
    }

    .paginationNext {
      cursor: pointer;
      background-color: transparent !important;
      transition: color $default-transition-time;

      &:hover {
        color: $mid-gray;
        transition: color $default-transition-time;
      }
    }

    .paginationActiveLink {
      background-color: $turbo-100;
      width: 100%;
      height: 100%;
      font-weight: 500;

      &:hover {
        background-color: $turbo-100;
      }
    }

    .paginationEmptyItem {
      display: none;
    }
  }
}
