@import 'styles/utils/mixins';

.container {
  @include caseStudyContainer;
  @include flex(column, center, center);

  padding: 140px 0;
  margin: 0 auto;
  font-family: $case-studies-font;

  .mainContainer {
    @include flex(row, space-between, flex-end);

    align-items: center;

    @include tablet {
      @include flex(column, center, center);
    }

    @include phone {
      @include flex(column, center, center);
    }
  }

  .featuresList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 80px;

    .featureContainer {
      @include flex;

      .checkMark {
        position: relative;
        min-width: 50px;
        height: 50px;
        margin-right: 30px;
        border-radius: 50%;
        margin-top: 20px;

        .icon {
          @include centered;
        }

        @include tablet {
          min-width: 40px;
          height: 40px;
          margin-right: 20px;
        }
      }

      .contentContainer {
        max-width: 440px;

        h3 {
          @include fontSize(24px);

          margin-top: 0;
        }

        p {
          @include fontSize(18px);

          line-height: 1.5;
        }

        @include tablet {
          max-width: unset;
        }
      }
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}

.open-sense {
  @extend .container;

  background-color: $zircon;

  .featureContainer {
    .checkMark {
      color: $white;
      background: $dodger-blue;
    }
  }

  .contentContainer {
    p {
      color: $silver-chalice;
    }
  }
}

.telemojo {
  @extend .container;

  background-color: $zircon;

  .mainContainer {
    margin-left: 173px;

    @include tablet {
      margin-left: 0;
    }

    @include phone {
      margin-left: 0;
    }
  }

  .title {
    @include desktop {
      margin-bottom: 0;
    }
  }

  .imageContainer {
    & > div:last-child {
      position: relative;

      &::after {
        @include macbook-fifteen {
          right: 10px;
        }

        content: '';
        position: absolute;
        width: 35%;
        top: 0;
        bottom: 0;
        z-index: 10;
        right: 0;
        transform: translate(10px, -1px);
        background: linear-gradient(90deg, rgba($white, 0) 0%, $white 78.3%);

        @include tablet {
          display: none;
        }
      }
    }
  }

  .featuresList {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 80px;
    margin-right: 150px;

    .featureContainer {
      .checkMark {
        color: $white;
        background: $blue-ribbon;
      }

      .contentContainer {
        & > p {
          @include fontSize(18px);

          @include macbook-fifteen {
            @include fontSize(14px);
          }

          max-width: 440px;
          color: $silver-chalice;

          @include phone {
            @include fontSize(14px);

            padding-right: 26px;
          }
        }
      }
    }

    @include desktop {
      margin-right: 60px;
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
}
