/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.contentContainer {
  max-width: 1085px;
  margin: 0 auto 130px;

  @include flex(row, space-between);

  @include tablet {
    margin-bottom: 60px;
  }

  @include phone {
    @include flex(column, center, center);
  }

  .centrefy {
    @include flex(column, center);

    @include phone {
      @include flex(column, center, center);
    }
  }

  .separatedTitle {
    margin-left: 0;
    margin-right: 66px;
  }

  .infoContainer {
    max-width: 410px;
    margin-right: 66px;

    @include phone {
      margin: 0;
      text-align: center;
    }

    &:nth-child(2n) {
      margin: 0;
    }

    h3 {
      margin: 0 0 10px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 180%;
      color: $dark-grey;

      @include fontSize(18px);

      @include tablet {
        margin-bottom: 5px;

        @include fontSize(16px);
      }
    }

    p {
      margin: 0 0 30px;
      white-space: pre-line;
      line-height: 180%;
      font-family: $case-studies-font;
      color: $silver-chalice;

      @include tablet {
        @include fontSize(16px);
      }

      @include phone {
        @include fontSize(14px);
      }
    }

    .listContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px;

      .listItem {
        line-height: 1.4;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          text-align: start;

          @include fontSize(14px);
        }
      }
    }
  }

  &:nth-of-type(2n) {
    .infoContainer:not(.separatedTitle) {
      order: 2;
      margin-right: 0;
      margin-left: 66px;

      @include infoContainerPhone;

      &:nth-child(2n) {
        margin: 0;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .title {
    margin: 0 0 30px;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 120%;
    color: $dark-grey;

    @include fontSize(40px);

    @include tablet {
      margin-bottom: 15px;

      @include fontSize(32px);
    }

    @include phone {
      @include fontSize(24px);
    }
  }

  .image {
    width: 100%;
    height: 100%;
    max-height: 812px;
    display: block;
    object-fit: contain;
    filter: $shadow-filter;

    @include phone {
      filter: $shadow-filter-phone;
    }

    @include tablet {
      min-width: 317px;
      max-height: 650px;
    }

    @include phone {
      max-height: 500px;
    }
  }

  .subImage {
    max-width: 67px;
    max-height: 100px;
    margin-bottom: 20px;
  }
}

.fernwayer {
  .contentContainer {
    .image {
      filter: none;
    }
  }

  .special {
    /* stylelint-disable-next-line */
    .infoContainer {
      .title,
      p {
        color: $white;
      }
    }

    &:nth-child(1) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          max-width: 355px;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-265%, -20%);

          @include macbook-fifteen {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          max-width: 355px;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(300%, 200%);

          @include macbook-fifteen {
            display: none;
          }
        }
      }
    }
  }
}

.stickerbox {
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }

    &:nth-child(1) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          max-width: 530px;
          position: absolute;
          top: 30%;
          transform: translate(-110%, -75%);

          &:nth-child(2) {
            @include macbook-twelve {
              max-width: 450px;
              transform: translate(-110%, -75%);
            }

            @include tablet {
              display: none;
            }
          }

          &:nth-child(3) {
            display: none;

            @include tablet {
              display: block;
            }

            @include below-tablet {
              max-width: 260px;
              transform: translate(-110%, -110%);
            }

            @include phone {
              display: none;
            }
          }
        }
      }
    }

    &:nth-child(2) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(110%, -30%);

          &:nth-child(2) {
            @include macbook-twelve {
              max-width: 450px;
              transform: translate(-110%, -75%);
            }

            @include tablet {
              display: none;
            }
          }

          &:nth-child(3) {
            display: none;

            @include tablet {
              display: block;
            }

            @include below-tablet {
              max-width: 260px;
              transform: translate(-110%, -110%);
            }

            @include phone {
              display: none;
            }
          }
        }
      }
    }
  }

  .contentContainer {
    .image {
      height: unset;
      width: unset;
      overflow: visible;
      filter:
        drop-shadow(-33.7256px 22.4837px 89.935px rgba(23, 23, 23, 0.15))
        drop-shadow(-16.8628px 11.2419px 44.9675px rgba(23, 23, 23, 0.25));
    }

    &:not(.special) > div:last-child {
      position: relative;

      .imageBundle {
        position: absolute;
        z-index: 1;

        &:nth-child(2) {
          max-width: 132px;
          top: 0;
          right: 0;
          transform: translate(50%, 140%);

          @include macbook-twelve {
            transform: translate(20%, 70%);
          }
        }

        &:nth-child(3) {
          max-width: 201px;
          left: 0;
          bottom: 0;
          transform: translate(-45%, -57%);
        }
      }
    }
  }
}

.fairy {
  /* stylelint-disable-next-line */
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }
}

.seven-pm-thursday {
  .contentContainer {
    /* stylelint-disable-next-line */
    .infoContainer {
      .title,
      h3 {
        color: $white;
      }
    }
  }

  /* stylelint-disable-next-line */
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    &:nth-of-type(2n + 1) {
      .infoContainer:not(.separatedTitle) {
        order: 2;
        margin: 0 0 0 66px;

        @include infoContainerPhone;
      }
    }

    &:nth-of-type(2n) {
      .infoContainer:not(.separatedTitle) {
        order: inherit;
        margin: 0 66px 0 0;

        @include infoContainerPhone;
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }
}

.tell {
  .contentContainer {
    .infoContainer {
      .h3,
      p {
        line-height: 1.7;

        @include fontSize(18px);
      }
    }

    .image {
      max-width: 370px;
      filter: unset;
    }
  }

  .special {
    &:first-of-type {
      .infoContainer {
        .subImage {
          max-width: 67px;
          max-height: 67px;
        }
      }

      .image {
        max-width: unset;
      }
    }

    &:last-of-type {
      .infoContainer {
        .subImage {
          max-width: 120px;
          max-height: unset;
          transform: translateX(-61px);
        }
      }

      .image {
        max-width: 595px;
      }
    }
  }
}

.openSenseGradient {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    z-index: 10;
  }
}

.open-sense {
  .special {
    max-width: unset;

    &:nth-child(2n + 1) {
      @include flex(row, flex-end);

      @include macbook-fifteen {
        padding-left: 100px;
      }

      @include tablet {
        padding-left: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          right: 0;
          transform: translate(10px, -1px);
          background: linear-gradient(90deg, rgba($white, 0) 0%, $white 78.3%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n) {
      @include flex(row, flex-start);

      @include macbook-fifteen {
        padding-right: 100px;
      }

      @include tablet {
        padding-right: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          left: 0;
          transform: translate(-10px, -1px);
          background: linear-gradient(269.82deg, rgba($white, 0) 0.15%, $white 60.38%);

          @include phone {
            display: none;
          }
        }
      }
    }

    &:nth-child(2n + 1),
    &:nth-child(2n) {
      @include phone {
        @include flex(column, center, center);
      }
    }

    .infoContainer {
      .h2,
      p {
        line-height: 1.7;
      }

      h2 {
        @include fontSize(56px);

        @include tablet {
          @include fontSize(40px);
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      p {
        max-width: 335px;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }
      }
    }

    & > div:last-child {
      position: relative;

      .image {
        filter: unset;
        width: 100%;
        height: unset;
        max-height: unset;
        max-width: 1110px;
      }

      .imageBundle {
        position: absolute;
        max-width: 157px;
        top: 50%;
        transform: translate(-40%, -110%);

        @include macbook-twelve {
          max-width: 130px;
          transform: translate(-30%, -125%);
        }

        @include below-tablet {
          max-width: 100px;
          transform: translate(-50%, -125%);
        }

        @include phone {
          display: none;
        }
      }
    }
  }
}

.separate-us {
  .contentContainer {
    @include flex(column, center, center);

    .infoContainer {
      max-width: unset;
      margin-right: 0;
      margin-bottom: 90px;
      width: 100%;

      @include flex(row, space-between);

      @include phone {
        margin-bottom: 0;

        @include flex(column, center, center);
      }

      & > h2 {
        max-width: 400px;
      }

      & > div:last-child {
        max-width: 520px;

        @include below-tablet {
          max-width: 410px;
        }
      }
    }

    &:nth-of-type(2n) {
      .infoContainer:not(.separatedTitle) {
        order: 0;
        margin-left: 0;
      }
    }

    & > div:last-child {
      .image {
        filter: unset;
      }
    }
  }
}

.natp {
  &.firstSectionView {
    .contentContainer {
      max-width: 1288px;

      @include flex(column-reverse, center, center);

      .infoContainer {
        max-width: unset;
        margin: 80px 0 0;

        @include phone {
          margin: 40px 0 0;
        }

        .listContainer {
          max-width: 1147px;
          margin: 0 auto;
          padding-bottom: 80px;
          column-gap: 100px;

          @include below-tablet {
            column-gap: 60px;
          }

          @include phone {
            grid-template-columns: unset;
          }

          .listItem {
            color: $silver-chalice;
            max-width: 494px;
            line-height: 1.8;

            &::marker {
              color: $sushi;
            }
          }
        }
      }

      .image {
        max-width: 1288px;
        max-height: unset;
        filter: unset;
      }
    }
  }

  &.secondSectionView {
    .contentContainer {
      .infoContainer {
        h2,
        h3,
        p {
          color: $white;
        }

        p {
          opacity: 0.7;
        }
      }
    }
  }
}

.driveFocusSpecial {
  max-width: unset;

  &:nth-child(2n + 1) {
    @include flex(row-reverse, flex-end);

    & > div:last-child {
      @extend .openSenseGradient;

      &::after {
        left: 0;
        transform: translate(-10px, -1px);
        background: linear-gradient(269.82deg, rgba($white, 0) 0%, $white 78.3%);

        @include below-tablet {
          display: none;
        }
      }
    }

    .infoContainer {
      margin: 0 0 0 150px;

      @include tablet {
        margin-left: 30px;
      }
    }

    @include below-tablet {
      flex-direction: column;
    }
  }

  &:nth-child(2n) {
    @include flex(row-reverse, flex-start);

    & > div:last-child {
      @extend .openSenseGradient;

      &::after {
        right: 0;
        transform: translate(10px, -1px);
        background: linear-gradient(90deg, rgba($white, 0) 0%, $white 78.3%);

        @include below-tablet {
          display: none;
        }
      }
    }

    .infoContainer {
      margin: 0 150px 0 0;

      @include tablet {
        margin-right: 30px;
      }
    }

    @include below-tablet {
      flex-direction: column-reverse;
    }
  }

  &:nth-child(2n + 1),
  &:nth-child(2n) {
    @include phone {
      @include flex(column, center, center);

      .infoContainer {
        margin: 0;
      }
    }
  }

  .infoContainer {
    max-width: unset;

    .h2,
    p {
      line-height: 1.7;
    }

    h2 {
      @include fontSize(40px);

      @include tablet {
        @include fontSize(36px);
      }

      @include phone {
        @include fontSize(24px);
      }
    }

    p {
      max-width: 408px;

      @include fontSize(18px);

      @include tablet {
        @include fontSize(16px);
      }
    }
  }

  & > div:last-child {
    position: relative;

    .image {
      filter: unset;
      width: 100%;
      height: unset;
      max-height: unset;
      max-width: 1076px;
    }
  }
}

.drive-focus {
  &.firstSectionView {
    .contentContainer:not(.special) {
      .infoContainer {
        max-width: 518px;

        .title {
          max-width: 406px;

          @include fontSize(56px);

          @include tablet {
            @include fontSize(40px);
          }

          @include phone {
            @include fontSize(32px);
          }
        }

        ul {
          margin: 0;

          & > li {
            @include fontSize(18px);

            @include tablet {
              @include fontSize(16px);
            }

            @include phone {
              @include fontSize(14px);
            }

            &::marker {
              color: $flamenco;
            }
          }
        }

        p {
          @include fontSize(18px);

          @include tablet {
            @include fontSize(16px);
          }

          @include phone {
            @include fontSize(14px);
          }
        }
      }
    }

    .special {
      @extend .driveFocusSpecial;
    }
  }

  &.secondSectionView {
    .special {
      @extend .driveFocusSpecial;

      &:nth-child(2n + 1) {
        @include flex(row, flex-end);

        @include below-tablet {
          flex-direction: column;
        }

        & > div:last-child {
          &::after {
            right: 0;
            left: unset;
            transform: translate(10px, -1px);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFF 78.3%);
          }
        }

        .infoContainer {
          margin: 0 150px 0 0;

          @include tablet {
            margin-right: 30px;
          }

          @include phone {
            margin: 0;
          }
        }
      }
    }
  }

  &.thirdSectionView {
    height: 620px;

    @include macbook-fifteen {
      height: 500px;
    }

    @include tablet {
      height: 390px;
    }

    @include below-tablet {
      height: 325px;
    }

    .special {
      @include flex(column, space-between);

      @include phone {
        align-items: center;
      }

      .infoContainer {
        max-width: 380px;

        @include below-tablet {
          max-width: 406px;
        }
      }
    }
  }
}
