/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.contentContainer {
  max-width: 1085px;
  margin: 0 auto 130px;

  @include flex(row, space-between);

  @include tablet {
    margin-bottom: 60px;
  }

  @include phone {
    @include flex(column, center, center);
  }

  .centrefy {
    @include flex(column, center);

    @include phone {
      @include flex(column, center, center);
    }
  }

  .separatedTitle {
    margin-left: 0;
    margin-right: 66px;
  }

  .infoContainer {
    max-width: 410px;
    margin-right: 66px;

    @include phone {
      margin: 0;
      text-align: center;
    }

    &:nth-child(2n) {
      margin: 0;
    }

    h3 {
      margin: 0 0 10px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 180%;
      color: $dark-grey;

      @include fontSize(18px);

      @include tablet {
        margin-bottom: 5px;

        @include fontSize(16px);
      }
    }

    p {
      margin: 0 0 30px;
      white-space: pre-line;
      line-height: 180%;
      font-family: $case-studies-font;
      color: $silver-chalice;

      @include tablet {
        @include fontSize(16px);
      }

      @include phone {
        @include fontSize(14px);
      }
    }
  }

  &:nth-of-type(2n) {
    .infoContainer:not(.separatedTitle) {
      order: 2;
      margin-right: 0;
      margin-left: 66px;

      @include infoContainerPhone;

      &:nth-child(2n) {
        margin: 0;
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .title {
    margin: 0 0 30px;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 120%;
    color: $dark-grey;

    @include fontSize(40px);

    @include tablet {
      margin-bottom: 15px;

      @include fontSize(32px);
    }

    @include phone {
      @include fontSize(24px);
    }
  }

  .image {
    width: 100%;
    height: 100%;
    max-height: 812px;
    display: block;
    object-fit: contain;
    filter: $shadow-filter;

    @include phone {
      filter: $shadow-filter-phone;
    }

    @include tablet {
      min-width: 317px;
      max-height: 650px;
    }

    @include phone {
      max-height: 500px;
    }
  }

  .subImage {
    max-width: 67px;
    max-height: 100px;
    margin-bottom: 20px;
  }
}

.fernwayer {
  .contentContainer {
    .image {
      filter: none;
    }
  }

  .special {
    /* stylelint-disable-next-line */
    .infoContainer {
      .title,
      p {
        color: $white;
      }
    }
  }
}

.stickerbox {
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }
}

.fairy {
  /* stylelint-disable-next-line */
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }
}

.seven-pm-thursday {
  .contentContainer {
    /* stylelint-disable-next-line */
    .infoContainer {
      .title,
      h3 {
        color: $white;
      }
    }
  }

  /* stylelint-disable-next-line */
  .special {
    &:first-child {
      .image {
        transform: translateY(-70px);

        @include phone {
          transform: none;
        }
      }
    }

    &:nth-of-type(2n + 1) {
      .infoContainer:not(.separatedTitle) {
        order: 2;
        margin: 0 0 0 66px;

        @include infoContainerPhone;
      }
    }

    &:nth-of-type(2n) {
      .infoContainer:not(.separatedTitle) {
        order: inherit;
        margin: 0 66px 0 0;

        @include infoContainerPhone;
      }
    }

    /* stylelint-disable-next-line */
    .infoContainer {
      .title {
        color: $white;
      }

      p {
        color: rgba($white, 0.4);
      }
    }
  }
}

.tell {
  .contentContainer {
    .infoContainer {
      .h3,
      p {
        line-height: 1.7;

        @include fontSize(18px);
      }
    }

    .image {
      filter: unset;
    }
  }
}

.openSenseGradient {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    z-index: 10;
  }
}

.open-sense {
  .special {
    max-width: unset;

    &:nth-child(2n + 1) {
      @include flex(row, flex-end);

      @include macbook-fifteen {
        padding-left: 100px;
      }

      @include tablet {
        padding-left: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          right: 0;
          background: linear-gradient(90deg, rgba($white, 0) 0%, $white 78.3%);
        }
      }
    }

    &:nth-child(2n) {
      @include flex(row, flex-start);

      @include macbook-fifteen {
        padding-right: 100px;
      }

      @include tablet {
        padding-right: 0;
      }

      & > div:last-child {
        @extend .openSenseGradient;

        &::after {
          left: 0;
          background: linear-gradient(269.82deg, rgba($white, 0) 0.15%, $white 60.38%);
        }
      }
    }

    &:nth-child(2n + 1),
    &:nth-child(2n) {
      @include phone {
        @include flex(column, center, center);
      }
    }

    .infoContainer {
      .h2,
      p {
        line-height: 1.7;
      }

      h2 {
        @include fontSize(56px);

        @include tablet {
          @include fontSize(40px);
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      p {
        max-width: 335px;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }
      }
    }

    & > div:last-child {
      .image {
        filter: unset;
        width: 100%;
        height: unset;
        max-height: unset;
        max-width: 1110px;
      }
    }
  }
}
