@import 'styles/utils/mixins';

.desktopMenu {
  transition: margin $default-transition-time;
  @include flex(row, center, center);

  @include phone {
    display: none;
  }
  
  li {
    display: inline-block;
    margin-left: 55px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: 1s ease-in-out;

    @include below-tablet {
      margin-left: 21px;
    }

    li > svg {
      display: none;
    }

    &:last-child {
      position: relative;
      border: 1px solid $mid-gray;

      a {
        width: 100%;
        height: 100%;
        border-radius: 60px;

        & > svg {
          width: 116px;
          height: 41px;
          position: absolute;
          left: -1px;
          top: -1px;
          fill: none;
          stroke: $turbo-100;
          stroke-dasharray: 150 480;
          stroke-dashoffset: 150;
          transition: stroke 1s ease-in-out,
                      stroke-dasharray 1s ease-in-out,
                      stroke-dashoffset 1s ease-in-out;
  
          rect {
            width: 114px;
            height: 40px;
            fill: transparent;
          }
  
          @include phone {
            display: none;
          }
        }
      }

      &:hover {
       a > svg {
          stroke-dashoffset: -480;
        }
      }
    }

    .underline {
      font-size: 14px;
      font-weight: 450;
      text-decoration: none;
      letter-spacing: 0.5px;
      transition: color $default-transition-time;

      &:hover {
        color: $mid-gray;
        transition: color $default-transition-time;
      }

      &.activeNav {
        // TODO &:before {
        //   width: 100%;
        //   transform-origin: center left;
        // }

        & {
          // TODO color: #9a999c; 
        }
      }
    }

    &:last-child {
      border-radius: 60px;
      padding: 10px 15px;
      // TODO padding: calc(10px + 1.6px) calc(15px + 1.6px);

      margin-left: 40px;
      // TODO border: 1.6px solid $white;
      color: $white;

      transition: border $default-transition-time
                  padding $default-transition-time
                  color $default-transition-time;

      span:before {
        height: 0;
      }

      &:hover {
        will-change: border;
        // TODO border: 1.6px solid $turbo-100;
        transition: border $default-transition-time
                    padding $default-transition-time
                    color $default-transition-time;
        
        span {
          will-change: color;
          color: $turbo-100;
          transition: color $default-transition-time;
        }
      }
    }
  }

  .dark {
    span {
      color: $white;
    }
  }

  .light {
    &:last-child {
      border: 1.6px solid $black;
    }

    span {
      color: $black;
    }
  }
}

.additionalNav {
  .dark {
    span {
      color: $black;
    }
  }

  li:not(:last-child) {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li {
    transition: box-shadow $shadow-time-for-yellow-button ease 0s;
  }

  li:last-child {
      // TODO padding: calc(10px + 1.6px) calc(15px + 1.6px);
      padding: 10px 15px;
      border: none;
      border-radius: 10rem;
      color: $black;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: background-color 0.4s, // TODO
                  width 0.4s,
                  color 0.4s,
                  padding 0.4s;

      & > a > svg {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $turbo-100;
        transition: background-color 0.4s;
        border-radius: 10rem;
        z-index: -2;
      }
      
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($turbo-200, 3%);
        transition: background-color 0.4s,
                    width 0.4s,
                    color 0.4s;
        border-radius: 10rem;
        z-index: -1;
      }

      &:hover {
        // TODO padding: calc(10px + 1.6px) calc(15px + 1.6px);
        padding: 10px 15px;
        border: none;
        color: $black;
        
        span {
          color: $black;
        }
  
        &:before {
          width: 100%;
        }
      }
  }

  span {
    color: $black;

    &:before {
      background-color: $black;
    }
  }
}

.additionalNavForBlog {
  .dark {
    span {
      color: $black;
    }
  }

  li {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li:last-child {
    border: none;
    padding: 0;
    padding-right: 15px;
    transition: padding 0.5s;

    & > a > svg {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color $shadow-time-for-yellow-button;
      border-radius: 10rem;
      z-index: -2;
    }

    @include below-tablet {
      margin-left: 21px;
    }

    &:hover {
      border: none;
      transition: border $shadow-time-for-yellow-button,
                  background-color $shadow-time-for-yellow-button,
                  padding $default-transition-time;

      span {
        color: $mid-gray;
        transition: color $default-transition-time;
      }
    }
  }
}
