@import 'styles/utils/mixins';

.desktopMenu {
  transition: margin $default-transition-time;
  @include flex(row, center, center);

  @include below-tablet {
    padding-inline-start: 0;
  }

  @include phone {
    display: none;
  }

  li {
    display: inline-block;
    margin-left: 55px;
    cursor: pointer;
    user-select: none;
    outline: none;

    @include below-tablet {
      margin-left: 15px;
    }

    li>svg {
      display: none;
    }

    &:last-child {
      position: relative;
      border-radius: $button-border-radius;
      margin-left: 40px;
      border: 1.5px solid $mid-gray;
      color: $white;
      transition: border $default-transition-time,
        padding $default-transition-time,
        color $default-transition-time;
      opacity: 1 !important;
      transform: translateY(0px);

      @include below-tablet {
        margin-left: 20px;
      }

      span {
        transition: color $default-transition-time;
      }

      span:before {
        height: 0;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 16.6px 10px 15px;
        border-radius: 60px;
      }

      &:hover {
        will-change: border;
        border: 1.5px solid $turbo-100;
        transition: border $default-transition-time,
          padding $default-transition-time,
          color $default-transition-time;

        span {
          will-change: color;
          color: $turbo-100;
          transition: color $default-transition-time;
        }
      }
    }

    .underline {
      font-size: 0.875rem;
      font-weight: 450;
      text-decoration: none;
      letter-spacing: 0.5px;
      transition: color $default-transition-time;

      &:hover {
        color: $mid-gray;
        transition: color $default-transition-time;
      }

      &.activeNav {
        // TODO &:before {
        //   width: 100%;
        //   transform-origin: center left;
        // }

        & {
          // TODO color: #9a999c; 
        }
      }
    }
  }

  .dark {
    span {
      color: $white;
    }
  }

  .light {
    &:last-child {
      border: 1.6px solid $black;
    }

    span {
      color: $black;
    }
  }
}

.additionalNav {
  .dark {
    span {
      color: $black;
    }
  }

  li:not(:last-child) {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li {
    transition: box-shadow $shadow-time-for-yellow-button ease 0s;
  }

  li:last-child {
    border: none;
    color: $black;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      background-color: $turbo-100;
      z-index: -1;
      transform: scale(1);
      transition: transform .4s ease-out;
    }

    &:hover {
      border: none;
      color: $black;
      transform: scale(.96);
      transition: transform 0.4s cubic-bezier(0, 0, .2, 1);

      span {
        color: $black;
        transition: color 0.4s cubic-bezier(0, 0, .2, 1);
      }
    }

    a {
      padding: 10px 16.6px 10px 15px;
      transition: padding 0.4s cubic-bezier(0, 0, .2, 1);
    }
  }

  span {
    color: $black;

    &:before {
      background-color: $black;
    }
  }
}

.additionalNavForBlog {
  .dark {
    span {
      color: $black;
    }
  }

  li {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li:last-child {
    border: none;
    padding: 0;

    &>a>svg {
      display: none;
    }

    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $button-border-radius;
      width: 100%;
      height: 100%;
      transform: scale(0);
    }

    @include below-tablet {
      margin-left: 21px;
    }

    &:hover {
      border: none;
      transition: border $shadow-time-for-yellow-button,
        background-color $shadow-time-for-yellow-button,
        padding $default-transition-time;

      span {
        color: $mid-gray;
        transition: color $default-transition-time;
      }
    }
  }
}