@import 'styles/utils/mixins';

.desktopMenu {
  transition: margin $default-transition-time;

  @include phone {
    display: none;
  }
  
  li {
    position: relative;
    display: inline-block;
    margin-left: 55px;
    cursor: pointer;
    user-select: none;

    @include below-tablet {
      margin-left: 21px;
    }

    .underline {
      font-size: 14px;
      font-weight: 450;
      text-decoration: none;
      letter-spacing: 0.5px;
      transition: color $default-transition-time;
      
      // TODO &:before {
      //   content: "";
      //   position: absolute;
      //   bottom: -5px;
      //   display: block;
      //   width: 0;
      //   left: 50%;
      //   height: 2px;
      //   background-color: $turbo-100;
      //   outline: 1px solid transparent;
      //   transform: translateX(-50%);
      //   transition: width $default-transition-time ease-in-out;
      //   transform-origin: center left;
      // }

      // &:hover:before, &:focus:before {
      //   width: 100%;
      //   transform-origin: center left;
      // }

      &:hover {
        color: #9a999c;
        transition: color $default-transition-time;
      }

      &.activeNav {
        // &:before {
        //   width: 100%;
        //   transform-origin: center left;
        // }

        & {
          color: #9a999c;
        }
      }
    }

    &:last-child {
      // border-radius: 60px;
      border-radius: 0; //TODO
      padding: 10px 15px;
      margin-left: 40px;
      border: 1.6px solid $white;
      color: $white;

      transition: border $default-transition-time * 2
      padding $default-transition-time * 2
      color $default-transition-time * 2;

      span:before {
        height: 0;
      }

      &:hover {
        will-change: border;
        border: 1.6px solid $turbo-100;
        transition: border $default-transition-time * 2;

        transition: border $default-transition-time * 2
        padding $default-transition-time * 2
        color $default-transition-time * 2;
        
        span {
          will-change: color;
          color: $turbo-100;
          transition: color $default-transition-time * 2;
        }
      }
    }
  }

  .dark {
    &:last-child {
      border: 1.6px solid $white;
    }

    span {
      color: $white;
    }
  }

  .light {
    &:last-child {
      border: 1.6px solid $black;
    }

    span {
      color: $black;
    }
  }
}

.additionalNav {
  .dark {
    span {
      color: $black;
    }
  }

  li:not(:last-child) {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li {
    transition: box-shadow $shadow-time-for-yellow-button ease 0s;
  }

  li:last-child {
    border-radius: 0; //TODO
    background-color: $turbo-100;
    color: $turbo-100;
    border: 1.6px solid $turbo-100 !important;
    transition: border $shadow-time-for-yellow-button,
                background-color $shadow-time-for-yellow-button,
                padding $default-transition-time;
    
    span {
      color: $black;
    }

    &:hover {
      background-color: $turbo-200;
      border: 1.6px solid $turbo-200 !important;
      transition: border $shadow-time-for-yellow-button,
                  background-color $shadow-time-for-yellow-button;

      span {
        will-change: color;
        color: $black;
      }
    }
  }

  span {
    color: $black;

    &:before {
      background-color: $black;
    }
  }
}

.additionalNavForBlog {
  .dark {
    span {
      color: $black;
    }
  }

  li {
    .underline {
      &:before {
        background-color: $turbo-100;
      }
    }
  }

  li:last-child {
    border: 1.6px solid transparent !important;
    padding: 0;
    padding-right: 15px;

    transition: border $shadow-time-for-yellow-button,
                background-color $shadow-time-for-yellow-button,
                padding $default-transition-time;

    @include below-tablet {
      margin-left: 21px;
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   bottom: -5px;
    //   display: block;
    //   width: 0;
    //   left: calc(50% - 21.5px);
    //   height: 2px;
    //   background-color: $turbo-100;
    //   transform: translateX(calc(-50% + 15px));
    //   transition: width $default-transition-time ease-in-out, padding $default-transition-time;
    //   transform-origin: center left;
    //   -webkit-mask-image: -webkit-radial-gradient($white, $black);
    // }

    // &:hover {
    //   span {
    //     color: $black;
    //   }
    // }
    
    // &:hover:before, &:focus:before {
    //   width: calc(100% - 15px);
    // }

    &:hover {
      transition: border $shadow-time-for-yellow-button,
                  background-color $shadow-time-for-yellow-button,
                  padding $default-transition-time;

      span {
        color: #9a999c;
      }
    }
  }
}
