@import 'styles/utils/variables';
@import 'styles/utils/mixins';

footer {
  position: relative;
  z-index: 1;
  @include flex(row, center, center);
  width: 100%;
  min-height: 100vh;
  background-color: #0e0e0f;

  .forms {
    position: relative;
    z-index: 0;
    top: 0;
    @include flex(row, space-between);
    width: 100%;
    height: 100%;
    overflow: auto;
    max-width: $max-content-width;

    :global(.animated) {
      animation-name: unset;
      opacity: 1 !important;
    }

    h1 {
      color: $white;
    }

    & > div {
      height: max-content;
      padding: $section-indent $side-indent;

      @include phone {
        &:first-child {
          padding: $section-indent $side-indent 0 $side-indent;
        }

        &:last-child {
          padding: 0 $side-indent $section-indent $side-indent;
        }
      }
    }

    @include phone {
      @include flex(column, flex-start, center);
      padding: 0;
      text-align: center;
    }
  }
}