@import 'styles/utils/variables';
@import 'styles/utils/mixins';

footer {
  @include flex(row, space-around);
  padding: $section-indent $side-indent;
  background-color: #0e0e0f;

  h1 {
    color: $white;
  }

  & > div {
    & > span {
      color: $footer-accent-color !important;
    }
  }

  @include phone {
    @include flex(column, flex-start, center);
  }
}