@import 'styles/utils/mixins';

footer {
  position: relative;
  z-index: 1;
  @include flex(row, center, center);
  width: 100%;
  background-color: $feedback-submit-color;

  .forms {
    position: relative;
    z-index: 0;
    top: 0;
    @include flex(row, space-between);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 55px;

    :global(.animated) {
      animation-name: unset;
      opacity: 1 !important;
    }

    h1 {
      color: $white;
    }

    & > div {
      height: max-content;
      padding: 80px 0 $side-indent;

      @include phone {
        padding-bottom: 30px;
      }
    }

    @include phone {
      @include flex(column, flex-start);
      padding: 0;
      text-align: center;
    }

    .footerNav {
      @include flex(column, inherit, flex-end);
      position: relative;

      @include phone {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;

        @include tablet {
          li {
            margin-left: 30px;
          }
        }

        @include below-tablet {
          @include flex(row, inherit, flex-end);
          width: 120%;
          li {
            margin-left: 6px;
          }
        }


        li:last-child {
          border: none;
          padding: 0;

          &:before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            display: block;
            width: 100%;
            height: 1.6px;
            background-color: $white;
            transform: scaleX(0);
            transition: transform $default-transition-time;
            transform-origin: center left;
          }

          &:hover {
            span {
              color: $white;
            }
          }
    
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }

      .button {
        @include buttonMore($black, $black, $accent-color, $accent-color);
        background-color: $accent-color;
        color: $feedback-submit-color;
        line-height: 1.55;
        letter-spacing: 0.5px;
        text-align: center;
        font-size: 0.875rem !important;
        
        @include phone {
          width: 90%;
          margin: 50px auto 0 auto;
        }
      }
    }
  }
}