.container {
  padding: 120px 0;

  [data-title] {
    @include fontSize(38px, 130%);

    max-width: 800px;

    @include phone {
      @include fontSize(24px);
    }
  }

  [data-description] {
    margin-top: 20px;

    @include phone {
      @include fontSize(14px, 120%);
    }
  }

  @include phone {
    padding: 80px 15px;
  }
}

.contentWrapper {
  max-width: $max-content-width;
  margin: 0 auto;
}

.callToAction {
  @include flex(column, center, center);

  padding: 0;
  min-height: unset;
  background: none;

  h3 {
    display: none;
  }

  button {
    margin: 0 auto !important;
  }
}
