@import 'styles/utils/mixins';
@import 'styles/utils/theme/_animations';

.iconWrapper {
  width: 35px;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 35px;
  transform: translateY(-45vh);
  height: 50px;
}

.scrollDown {
  display: block;
  background: url("./images/scroll-down.svg") center center no-repeat;
  width: 35px;
  height: 35px;
}

.arrow {
  width: 100%;

  span {
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(45deg);
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    animation: arrow-down 2s ease 0s infinite normal none;

    &:nth-child(2) {
      animation-delay: -0.4s;
    }
  }
}