.container {
  position: relative;
  box-sizing: border-box;
  max-width: 585px;
  padding: 120px 48px;
  border-radius: 60px;
  perspective: 1000px;

  .containerBackground {
    border-radius: 60px;
    background-color: $gray50;
    position: absolute;
    top: -5%;
    left: -28%;
    right: 5%;
    bottom: -5%;
    transform: rotateY(-16deg) translateZ(-200px);

    @include phone {
      left: -30%;
    }
  }

  .featureContainer {
    @include flex;

    &:not(:last-of-type) {
      margin-bottom: 32px;
    }
  }

  .checkMark {
    position: relative;
    min-width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;

    .icon {
      @include centered;

      width: 15px;
      height: 15px;
    }

    @include tablet {
      min-width: 40px;
      height: 40px;
    }

    @include phone {
      margin-right: 8px;
    }
  }

  .contentContainer {
    z-index: 10;

    & > p {
      @include fontSize(16px, 150%);

      margin: 0;
      color: $gray400;
    }
  }

  .title {
    @include fontSize(24px, 130%);

    margin: 0 0 8px;
    color: $gray900;

    @include phone {
      @include fontSize(16px, 150%);

      margin-bottom: 4px;
    }
  }

  @include tablet {
    order: 2;
  }

  @include phone {
    max-width: 345px;
    padding: 80px 15px;
  }
}
