.ai-mobile-cooking-app {
  position: relative;
  padding: 48px;
  max-width: 580px;
  perspective: unset;
  background-color: $gray0;
  border-radius: 40px;
  border: 5px solid $gray900;
  box-shadow: 8px 8px 0 0 $gray900;

  .containerBackground {
    display: none;
  }

  .checkMark {
    display: none;
  }

  .title {
    @include fontSize(20px, 130%);

    font-weight: 800;
  }

  .featureContainer {
    position: relative;
    padding-left: 56px;

    p {
      color: $gray500;
    }

    &::before {
      @include flex(row, center, center);
      @include fontSize(20px, 150%);

      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      color: $gray0;
      border-radius: 50%;
      border: 2px solid $gray900;
      box-shadow: 2px 2px 0 0 $gray900;
      box-sizing: border-box;
      text-shadow: 1px 2px $gray900;
      font-weight: 900;
      -webkit-text-stroke: 2px $gray900;
    }

    &-1::before {
      content: '1';
      background-color: $tasteMatchEgg;
    }

    &-2::before {
      content: '2';
      background-color: $tasteMatchCayenne;
    }

    &-3::before {
      content: '3';
      background-color: $tasteMatchMint;
    }

    &-4::before {
      content: '4';
      background-color: $tasteMatchPlum;
    }

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }

  @include below-tablet {
    padding: 32px 16px;
  }
}
