.generative-ai {
  @include flex(row, space-between, initial);

  margin: 0;
  padding: 0;
  gap: 16px;
  max-width: 100%;
  perspective: none;
  border-radius: unset;

  .containerBackground {
    display: none;
  }

  .featureContainer {
    margin: 0 !important;
    padding: 24px;
    width: 100%;
    background-color: $gray50;
    border-radius: 20px;
    box-sizing: border-box;

    .checkMark {
      display: none;
    }

    .title {
      @include fontSize(16px, 150%);
    }

    ul {
      margin: 0 0 0 10px;

      * {
        margin: 0;
      }

      li::marker {
        color: $gray500;
        font-size: 12px;
      }

      p {
        @include fontSize(16px, 150%);

        color: $gray500;
      }
    }
  }

  @include below-tablet {
    @include flex(column);
  }
}
