.natp {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 32px;
  max-width: 100%;

  .containerBackground {
    opacity: 0.9;
  }

  .featureContainer {
    @include flex(row,initial, center);

    margin: 0 !important;

    .title {
      margin: 0;
    }

    .checkMark {
      background: $natpAccent;

      path {
        fill: $gray0;
      }
    }
  }

  @include tablet {
    grid-template-columns: auto;
  }
}
