.separate-us {
  .containerBackground {
    opacity: 0.9;

    @include phone {
      left: -35%;
    }
  }

  .featureContainer {
    .checkMark {
      background: $separateUsAccent;

      path {
        fill: $gray0;
      }
    }
  }
}
