.seven-pm-thursday {
  .containerBackground {
    background: $gray800;
    opacity: 0.9;
  }

  .title {
    color: $gray0;
  }

  .contentContainer > p {
    color: $gray500;
  }

  .featureContainer {
    .checkMark {
      background: linear-gradient(180deg, #FF2B8A -2.98%, #FF4A34 92.06%);

      path {
        fill: $gray0;
      }
    }
  }
}
