.stickerbox {
  @extend .container;

  .containerBackground {
    left: -23%;
    right: 0;
    opacity: 0.9;

    @include phone {
      left: -30%;
      right: 25px;
    }
  }

  .checkMark {
    color: $gray900;
    background: $yellow500;
  }
}