@import 'styles/utils/mixins';

.related {
  margin: 0 auto;

  @include flex(column, center, center);

  .headingContainer {
    width: 100%;

    .heading {
      padding: 30px 60px 15px;

      @include flex(row, initial, flex-end);

      @include macbook-twelve {
        width: calc(100% - (2 * 25px));
        padding: 15px 23px;
      }

      @include tablet {
        width: calc(100% - (2 * 15px));
        padding: 10px 15px;
      }

      & > h3 {
        margin: 0;
        padding-right: 20px;
        font-weight: 500;
        flex: 1 0 60%;

        @include fontSize(15px);
      }

      & > a {
        font-weight: 500;
        color: $black;
        margin-right: -20px;

        @include flex();
        @include fontSize(12px);

        @include macbook-twelve {
          margin-right: 0;
        }

        .svgContainer {
          position: relative;
          right: 0;
          bottom: 0;
          width: 15px;
          height: 15px;
          margin-left: 7px;
          transition: right 0.2s ease;

          @include below-tablet {
            display: none;
          }
        }

        &:hover {
          .svgContainer {
            right: -4px;
          }
        }
      }
    }
  }

  .articlesList {
    background-color: $athens-gray;
    border-radius: 4px;
    padding: 60px 60px calc(60px - #{$max-article-margin});

    @include flex(row, center);

    @include macbook-fifteen {
      padding: 60px 60px calc(60px - #{$min-article-margin});
    }

    @include macbook-twelve {
      padding: 25px 25px calc(25px - #{$min-article-margin});
    }

    @include tablet {
      padding: 15px 15px calc(15px - #{$min-article-margin});
    }

    @include below-tablet {
      padding: 15px 10px calc(15px - #{$min-article-margin});

      @include flex(row, initial, initial, wrap);
    }
  }
}
