@import 'styles/utils/mixins';

.card {
  @include flex(column);

  padding: 0;
}

.articlePreview {
  line-height: 1.5;
  transition: transform 0.2s ease-in-out;
  transform: translateY(0);

  &:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
  }
}

.articleImage {
  text-decoration: none;
  overflow: hidden;
  color: $black;

  & > div {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 75%;
    border-radius: 5px 5px 0 0;
  }

  img {
    object-fit: cover;
  }
}

.articleTitle {
  .title {
    display: inline;
    color: $gray900;
    background-image: linear-gradient($turbo-100, $turbo-100);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 8px;
    transition: background-size 0.6s ease-out;
  }

  &:hover {
    .title {
      transition: background-size 0.6s ease-out;
      background-size: 100% 8px;
    }
  }
}

.tags {
  @include flex(row, flex-start, flex-start, wrap);

  margin-top: 24px;
}

.tag {
  @include fontSize(14px, 21px);

  color: $gray400;
  transition: color 0.1s ease-in-out;
  margin-right: 16px;

  &:hover {
    color: $gray500;
  }
}

.related {
  @extend .articlePreview;

  min-width: 150px;
  flex: 1 0 calc(25% - 40px);
  margin: 0 10px;
  cursor: pointer;
  background-color: $gray0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  & > div {
    border-radius: 5px;
    height: 100%;

    & > a:first-child {
      @extend .articleImage;
    }

    .articleContent {
      @include flex(column, space-between);

      padding: 20px;

      & > a {
        color: $gray900;
        margin-bottom: 15px;
      }

      & > a:last-child {
        @extend .articleTitle;
        @include fontSize(20px);

        display: inline-block;
        font-weight: 700;
        margin: 0;

        @include phone {
          @include fontSize(16px);
        }
      }

      .category {
        @include fontSize(14px);

        font-weight: 600;
        text-transform: uppercase;
        transition: color 0.4s ease;

        &:hover {
          color: $jumbo;
          transition: color 0.4s ease;
        }

        @include macbook-twelve {
          @include fontSize(12px);
        }
      }

      @include tablet {
        padding: 20px;
      }
    }
  }

  @include tablet {
    flex: 1 0 40%;
    margin-bottom: 40px;
    min-width: 120px;

    &:nth-of-type(odd) {
      margin-left: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @include phone {
    flex: 1 0 100%;
    margin: 0 0 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.blogCard {
  @extend .articlePreview;
  @include flex(column);
}

.blogArticleContent {
  @include flex(column);

  padding: 30px;
  flex-grow: 1;
  position: relative;

  .date {
    @include fontSize(14px);

    margin: 0 0 10px;
    font-weight: 600;
    text-transform: uppercase;

    @include phone {
      @include fontSize(12px);
    }
  }

  .articlePreviewTitle {
    @extend .articleTitle;
  }

  .articlePreviewIntroduction {
    flex: 1 1 auto;
    margin-top: 8px;

    .introduction {
      @include hidden-text(ellipsis, 5);

      color: $gray400;
      margin: 10px 0;

      @include phone {
        display: none;
      }
    }
  }
}

.blog {
  @extend .blogCard;

  .imgContainer {
    max-width: 100%;
    object-position: center center;
    max-height: 426px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    & > span {
      height: 100% !important;
      width: 100% !important;
    }
  }

  & > div {
    padding: 0;
    border-radius: 5px;
    height: 100%;

    & > a:first-child {
      @extend .articleImage;
    }

    .articleContent {
      @extend .blogArticleContent;
    }
  }
}

.search {
  @extend .blogCard;

  .card {
    border-radius: 5px;
    flex: 1;
  }

  .imgContainer {
    display: none;
  }

  .articleContent {
    @extend .blogArticleContent;
  }
}

.medium {
  .imgContainer {
    max-height: 426px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    & > span {
      height: 100% !important;
      width: 100% !important;
    }
  }

  & > div > .articleContent,
  .articleContent {
    .articlePreviewIntroduction {
      .introduction {
        display: none;

        @include below-tablet {
          @include hidden-text(ellipsis, 5);
        }

        @include phone {
          display: none;
        }
      }
    }
  }

  &.search {
    grid-column: auto !important;

    .introduction {
      display: block !important;
    }
  }
}
