.imageSection {
  @include flex(row, space-between, center);

  max-width: $max-content-width;
  margin: 0 auto;

  & > div {
    width: 100%;
    height: 100%;
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120%;
    width: 100%;
  }

  .experienceContent {
    padding-left: 32px;
    width: 100%;

    @include tablet {
      padding-left: 0;
    }

    @include below-tablet {
      padding-left: 0;
    }
  }

  .experienceContent > div:first-child > div > p {
    @include fontSize(36px);

    line-height: 49px;

    @include tablet {
      padding-right: 0;
      text-align: inherit;
    }

    @include below-tablet {
      padding-right: 0;
      text-align: center;
    }

    @include phone {
      @include fontSize(24px);
      text-align: center;
      line-height: 31px;
    }
  }

  .experienceContent > div:last-child > p {
    @include fontSize(16px);

    margin: 0 0 30px;
    padding-right: 50px;
    color: $silver-chalice;
    line-height: 24px;

    @include macbook-fifteen {
      @include fontSize(16px);
    }

    @include below-tablet {
      padding-right: 0;
    }

    @include tablet {
      padding-right: 0;
    }

    @include phone {
      text-align: center;
    }
  }

  @include below-tablet {
    margin: 100px 0;

    @include flex(column, space-between, center);
  }

  @include phone {
    @include flex(column, space-between, center);
  }
}
