.contact {
  &.container {
    padding: 0;
  }

  .imageSection {
    aspect-ratio: 1200/692;
    max-height: 692px;

    & > div {
      position: relative;
      flex: 1 1 100%;
      height: 100%;
    }
  }

  .image {
    position: absolute;
    inset: 0;
    padding: 0;
  }
}
