@import 'styles/utils/mixins';

.selectorElement {
  @include fontSize(12px, 150%);

  padding: 1em 2em;
  border-radius: 50px;
  background: none;
  border: none;
  cursor: pointer;

  &.typeSelector {
    background: $wild-sand;

    &.selected {
      background: $gray900;
      color: $gray0;
    }
  }

  &.tagSelector {
    color: $gray400;
    border: solid 1px $athens-gray;

    &.selected {
      background: $yellow500;
      border-color: $yellow500;
      color: $gray900;
    }
  }

  &.tagDisplay {
    color: $gray0;
    border: solid $gray0 1px;
    background: none;

    &.selected,
    &:hover {
      background: $yellow500;
      border-color: $yellow500;
      color: $gray900;
    }

    @include tablet {
      color: $gray900;
      border-color: $gray900;
    }
  }

  @include tablet {
    @include fontSize(14px);
  }
}
