@import "styles/utils/mixins";

.selectorElement {
  @include fontSize(18px);

  padding: 8px 30px;
  border-radius: 50px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 180%;
  margin-left: 20px;

  &.typeSelector {
    background: $wild-sand;

    &.selected {
      background: $cod-gray-1;
      color: $white;
    }
  }

  &.tagSelector {
    color: $silver-chalice;
    border: solid 1px $athens-gray;

    &.selected {
      background: $turbo-100;
      border-color: $turbo-100;
      color: $cod-gray-1;
    }
  }

  &.tagDisplay {
    color: $silver-chalice;
    background: rgba($white, 0.5);
    cursor: default;
  }

  input {
    display: none;
  }
}
