/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";
@import "components/AppDevelopmentCommon/utils/styles.module.scss";

.svgSection {
  @include appDevelopmentContainer;

  .svgListWrapper {
    margin: 0 auto;
    max-width: 1076px;

    .svgList {
      @include flex(row, space-between, center, wrap);

      & > div {
        flex: 1 0 20%;
        text-align: center;
        margin-top: 80px;

        @include tablet {
          flex: 1 0 50%;

          &:nth-of-type(1),
          &:nth-of-type(2) {
            margin-top: 0;
          }
        }
      }
    }

    .svgList::-webkit-scrollbar {
      width: 0;
    }
  }
}

.svgListWrapperSeveralRows {
  margin: 0 auto;
  max-width: 855px;

  .svgList {
    @include flex(row, center, center, wrap);

    & > div {
      flex: 0 0 25%;
      text-align: center;
      margin: 40px 0;

      @include tablet {
        flex: 1 0 50%;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }
      }
    }
  }
}

.svgListWrapperOneRow {
  margin: 0 auto;
  max-width: 1300px;

  .svgList {
    overflow-x: scroll;

    @include flex(row, space-between, center, nowrap);

    & > div {
      flex: unset;
      margin-right: 100px;

      &:last-child {
        margin-right: 0;
      }

      & > svg {
        opacity: 0.5;
      }
    }
  }
}

.mobile-app-development-company {
  @include appDevelopmentContainer;

  &.firstSectionView {
    .svgListWrapper {
      @extend .svgListWrapperSeveralRows;
    }
  }

  &.secondSectionView {
    .svgListWrapper {
      @extend .svgListWrapperOneRow;
    }
  }
}

.chat-app-development-company {
  @extend .svgSection;

  .svgListWrapper {
    .svgList {
      margin-bottom: 150px;
    }
  }

  .callToAction {
    & > h3 {
      margin: 0;

      @include phone {
        margin-bottom: 32px;
      }
    }
  }
}

.web-app-development-company {
  @extend .svgSection;

  &.firstSectionView {
    background-color: $white;
    padding-bottom: 0;

    .svgListWrapper {
      @extend .svgListWrapperSeveralRows;

      .svgList {
        justify-content: space-evenly;
      }
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .svgListWrapper {
      @extend .svgListWrapperOneRow;

      .svgList > div {
        @include phone {
          margin-top: 0;
        }
      }
    }
  }
}

.ui-ux-services {
  @extend .svgSection;

  .svgListWrapper {
    @extend .svgListWrapperOneRow;

    .svgList > div {
      @include phone {
        margin-top: 0;
      }

      & > svg {
        opacity: 1;
      }
    }
  }
}

.ios-mobile-app-development-services {
  @extend .svgSection;

  .svgListWrapper {
    @extend .svgListWrapperOneRow;

    p {
      max-width: 855px;
    }

    .svgList {
      max-width: 855px;
      margin: 0 auto;

      & > div {
        margin-top: 20px;

        & > svg {
          opacity: 1;
        }

        @include tablet {
          width: 50%;
          margin: 85px 0 0;

          &:nth-of-type(1),
          &:nth-of-type(2) {
            margin-top: 5px;
          }
        }
      }

      @include tablet {
        flex-wrap: wrap;
      }
    }
  }
}
