.dindon {
  @include caseStudyContainer;

  background-color: $pale-pink;

  & .sequenceOfSteps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 148px;
    max-width: $max-content-width;
    margin: 0 auto;

    .step {
      position: relative;
      background: $white;
      box-shadow: 0 8px 35px $case-study-step-box-shadow;
      border-radius: 5px;
      padding: 30px;

      .bundleImage {
        position: absolute;
        z-index: 5;
      }

      .bundleImage-1 {
        right: -43%;
        top: 50%;

        @include desktop {
          right: -48%;
        }

        @include macbook-twelve {
          right: -50%;
        }

        @include tablet-size-horizontal {
          right: -58%;
        }

        @include tablet {
          display: none;
        }
      }

      .bundleImage-2 {
        display: none;

        @include tablet {
          display: block;
          bottom: -20%;
          left: 50%;
        }

        @include phone {
          bottom: -25%;
        }
      }

      &:nth-child(3) {
        .bundleImage-1 {
          bottom: -23%;
          right: 50%;
          top: unset;
          left: unset;

          @include macbook-twelve {
            width: 900px;
          }

          @include tablet-size-horizontal {
            width: 800px;
            bottom: -17%;
          }
        }
      }

      .contentMarkNumber {
        @include fontSize(34px);
        @include flex(row, center, center);

        margin: 0;
        background: $cherry-red;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        line-height: 180%;
        color: $white;

        @include phone {
          @include fontSize(22px);

          width: 48px;
          height: 48px;
        }
      }

      .stepTitle {
        @include fontSize(24px);

        line-height: 180%;
        color: $dark-grey;

        @include phone {
          @include fontSize(18px);
        }
      }

      .description {
        @include fontSize(18px);

        line-height: 180%;
        color: $silver-chalice;

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 61px;
    }
  }
}
