@import "styles/utils/mixins";

.serviceList {
  max-width: $max-content-width;
  margin: 0 auto;

  :global(.swiper-container) {
    padding-bottom: 100px;

    @include below-tablet {
      margin: 0 -40px;
    }

    @include phone {
      margin: 0 -15px;
    }
  }
}

.service {
  box-shadow: $card-bow-shadow;
  background: $white;

  .cardContent {
    padding: 26px;

    .typeTitle {
      @include fontSize(20px);

      margin: 0 0 10px;
      color: $dark-grey;
    }

    p {
      @include fontSize(16px);

      margin-bottom: 20px;
      line-height: 25px;
      color: $silver-chalice;
    }

    .readMore {
      @include fontSize(18px);

      margin-top: 20px;
      text-decoration: none;
      color: $black;
      display: inline-block;

      &:hover {
        color: $silver-chalice;
      }
    }
  }

  &:hover {
    .typeTitle,
    .readMore {
      color: $silver-chalice;
    }
  }
}

.imageWrapper {
  @include flex(column, center, center);

  object-fit: cover;
  width: 100%;
  height: 304px;
  background: $dark-grey;

  @include phone {
    height: 200px;
  }
}

.image {
  max-width: 80%;
  max-height: 80%;
}
