@import 'styles/utils/mixins';

.paralax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    background-attachment: scroll;
  }
}

.fairy {
  @extend .paralax;

  background-color: $violet;
}

.parallax {
  &-tell {
    [data-case-study-description] {
      max-width: 730px;
      white-space: unset;
    }
  }
}

.tell {
  @extend .paralax;
}
