@import 'styles/utils/mixins';

.parallax {
  height: 100vh;
  background-attachment: fixed;

  @include centeredBackgroundImage;

  @include phone {
    background-attachment: scroll;
  }
}

.parallaxContainer {
  &tell {
    background-color: $white;

    [data-case-study-description] {
      max-width: 730px;
      white-space: unset;

      @include phone {
        max-width: 345px;
        padding: 0 14px;
      }
    }
  }

  &separate-us {
    background-color: $white;
    padding-top: 140px;

    @include tablet {
      padding-top: 100px;
    }

    @include phone {
      padding-top: 80px;
    }

    & > div {
      padding: 0 40px;

      @include tablet {
        padding: 0 40px;
      }

      @include phone {
        padding: 0 15px;
      }
    }

    [data-case-study-description] {
      max-width: 825px;
      color: $silver-chalice;
    }
  }
}

.tell {
  @extend .parallax;
}

.fairy {
  @extend .parallax;

  background-color: $violet;
}

.separate-us {
  @extend .parallax;
}
