/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";
@import "components/AppDevelopmentCommon/utils/styles.module.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }

  & > div {
    padding: 50px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    max-width: 518px;
    box-sizing: border-box;

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }

    .typeTitle {
      line-height: 1.8;
      font-weight: 700;
      margin: 20px 0 10px;

      @include fontSize(24px);

      @include macbook-twelve {
        @include fontSize(22px);
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    p {
      color: $silver-chalice;
      line-height: 1.8;
      margin: 0;

      @include fontSize(18px);

      @include phone {
        @include fontSize(16px);
      }
    }

    .imageWrapper {
      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }

  & > div {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;

    @include flex();

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }

    .imageWrapper {
      margin-right: 40px;

      @include phone {
        margin-right: 16px;
      }

      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }

    .cardContent {
      .typeTitle {
        line-height: 1.8;
        font-weight: 700;
        margin: 0 0 10px;

        @include fontSize(24px);

        @include macbook-twelve {
          @include fontSize(22px);
        }

        @include phone {
          @include fontSize(18px);
        }
      }

      p {
        color: $silver-chalice;
        line-height: 1.8;
        margin: 0;
        max-width: 390px;

        @include fontSize(18px);

        @include below-tablet {
          max-width: unset;
        }

        @include phone {
          @include fontSize(16px);
        }
      }
    }
  }
}

.mobile-app-development-company {
  @include appDevelopmentContainer;

  .contentWrapper {
    @include smallSectionWrapper;

    .titleStyle {
      p {
        color: $silver-chalice;
        line-height: 2;
        text-align: center;
        max-width: 950px;
        width: unset;

        @include fontSize(18px);

        @include macbook-fifteen {
          @include fontSize(16px);
        }

        @include below-tablet {
          width: 90vw;
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .callToAction {
    @include defaultCallToAction;

    margin: 150px 0 0;
  }

  &.firstSectionView {
    background-color: $alabaster;
  }
}

.chat-app-development-company {
  @include appDevelopmentContainer;

  &.firstSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .threeColumnCards;

      max-width: 1300px;
    }

    .callToAction {
      padding: 0;
      margin-top: 80px;
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @include smallSectionWrapper;

      .cards {
        .typeTitle {
          max-width: 235px;
        }

        p {
          max-width: 365px;
        }
      }
    }
  }
}

.web-app-development-company {
  @include appDevelopmentContainer;

  .contentWrapper {
    @include smallSectionWrapper;

    .titleStyle {
      h2 {
        margin: 0;
      }

      p {
        max-width: 745px;
        width: unset;
      }
    }

    .smallCards {
      padding-bottom: 150px;

      @include tablet {
        padding-bottom: 100px;
      }

      @include phone {
        padding-bottom: 80px;
      }
    }
  }

  .callToAction {
    @include defaultCallToAction;
  }

  &.firstSectionView {
    background-color: $alabaster;
  }

  &.secondSectionView {
    background-color: $cod-gray-1;

    .contentWrapper {
      .titleStyle {
        h2 {
          color: $white;
        }
      }

      .cards {
        & > div {
          background-color: $white;
        }
      }
    }
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .contentWrapper {
      @extend .threeColumnCards;
    }
  }

  &.fourthSectionView {
    .contentWrapper {
      & > div:last-child {
        width: 100%;
      }
    }
  }
}

.ui-ux-services {
  @include appDevelopmentContainer;

  .callToAction {
    @include defaultCallToAction;
  }

  &.firstSectionView {
    .contentWrapper {
      @include smallSectionWrapper;

      .titleStyle {
        h2 {
          max-width: 710px;
        }

        p {
          max-width: 855px;
          width: unset;
        }
      }
    }
  }

  &.thirdSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @include smallSectionWrapper;

      .titleStyle {
        h2 {
          max-width: 855px;
        }

        p {
          max-width: 800px;
          width: unset;
        }
      }
    }
  }
}

.ios-mobile-app-development-services {
  @include appDevelopmentContainer;

  .callToAction {
    @include defaultCallToAction;

    margin-top: 150px;

    @include phone {
      margin-top: 30px;
    }
  }

  &.firstSectionView {
    .contentWrapper {
      @include smallSectionWrapper;

      .smallCards {
        row-gap: 120px;
        column-gap: 260px;

        & > div {
          flex-direction: column;

          .imageWrapper {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: $yellow;

            @include flex(row, center, center);

            @include below-tablet {
              width: 70px;
              height: 70px;

              svg {
                width: 40%;
              }
            }
          }

          .cardContent {
            p {
              max-width: 405px;

              @include tablet {
                max-width: 325px;
              }

              @include below-tablet {
                max-width: 100%;
              }
            }
          }

          @include below-tablet {
            justify-content: center;
            text-align: center;

            .imageWrapper {
              margin: auto;
            }
          }
        }

        @include tablet {
          column-gap: 130px;
        }

        @include below-tablet {
          row-gap: 60px;
        }
      }

      .titleStyle {
        margin-bottom: 120px;

        h2 {
          max-width: 935px;
        }

        p {
          max-width: 855px;
        }

        @include below-tablet {
          margin-bottom: 60px;
        }
      }
    }
  }

  &.secondSectionView {
    background: inherit;

    .contentWrapper {
      @include smallSectionWrapper;

      .smallCards {
        column-gap: 264px;
        row-gap: 160px;

        & > div {
          flex-direction: column;

          .imageWrapper {
            width: 100%;
            background: white;

            & > div {
              width: 100%;
              padding-top: 85%;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-color: $white;

              @include tablet {
                padding-top: 72%;
              }
            }
          }

          .cardContent {
            .typeTitle {
              margin: 24px 0 10px;
              color: white;

              @include phone {
                margin: 20px 0 10px;
              }
            }

            p {
              max-width: 405px;

              @include tablet {
                max-width: 325px;
              }

              @include below-tablet {
                max-width: 100%;
              }
            }
          }

          @include below-tablet {
            justify-content: center;
            text-align: center;

            .imageWrapper {
              margin: auto;
            }
          }
        }

        @include tablet {
          column-gap: 130px;
        }

        @include below-tablet {
          row-gap: 60px;
        }
      }

      .titleStyle {
        color: $white;
        margin-bottom: 120px;

        h2 {
          max-width: 935px;
        }

        p {
          max-width: 855px;
        }

        @include below-tablet {
          margin-bottom: 60px;
        }
      }
    }
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .contentWrapper {
      @include smallSectionWrapper;

      .cards {
        column-gap: 40px;
        row-gap: 30px;

        & > div {
          padding: 30px 30px 30px 50px;

          @include flex(row, initial, center, wrap);

          .imageWrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $turbo-100;

            @include flex(row, center, center);

            svg {
              @include phone {
                width: 12px;
                height: 9px;
              }
            }
          }

          .cardContent {
            .typeTitle {
              margin: 0 0 0 15px;

              @include fontSize(24px);

              @include tablet {
                @include fontSize(16px);
              }
            }

            p {
              max-width: 405px;

              @include tablet {
                max-width: 325px;
              }

              @include below-tablet {
                max-width: 100%;
              }
            }
          }

          @include macbook-twelve {
            width: 460px;
          }

          @include tablet {
            width: 100%;
            max-width: unset;
          }
        }

        @include phone {
          grid-gap: 16px;
        }
      }

      .titleStyle {
        margin-bottom: 120px;

        p {
          max-width: 855px;
        }

        @include below-tablet {
          margin-bottom: 60px;
        }
      }
    }
  }

  &.fourthSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @include smallSectionWrapper;

      max-width: $max-content-width;

      .cards {
        grid-template-columns: repeat(3, 1fr);

        & > div {
          max-width: 405px;
          padding-right: 30px;

          .imageWrapper {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background: $yellow;

            @include flex(row, center, center);

            svg {
              @include phone {
                width: 30px;
                height: 30px;
              }
            }

            @include phone {
              width: 60px;
              height: 60px;
            }
          }

          @include macbook-thirteen {
            max-width: 390px;
          }

          @include tablet {
            width: 100%;
            max-width: unset;
          }
        }

        @include macbook-twelve {
          grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
          grid-template-columns: 1fr;
        }

        @include phone {
          grid-gap: 16px;
        }
      }

      .titleStyle {
        p {
          max-width: 855px;
        }

        @include below-tablet {
          margin-bottom: 60px;
        }
      }

      .callToAction {
        background-color: $white;
      }
    }
  }
}
