/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.wrapper {
  max-width: 1076px;
  margin: 0 auto;
  position: relative;

  @include flex(column, center, center);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }

  & > div {
    padding: 50px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    max-width: 518px;
    box-sizing: border-box;

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }

    .typeTitle {
      line-height: 1.8;
      font-weight: 700;
      margin: 20px 0 10px;

      @include fontSize(24px);

      @include macbook-twelve {
        @include fontSize(22px);
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    p {
      color: $silver-chalice;
      line-height: 1.8;
      margin: 0;

      @include fontSize(18px);

      @include phone {
        @include fontSize(16px);
      }
    }

    .svgWrapper {
      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }

    .arrow,
    .connectingLine,
    .longConnectingLine {
      display: none;
    }
  }
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }

  & > div {
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;

    @include flex();

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }

    .svgWrapper {
      margin-right: 40px;

      @include phone {
        margin-right: 16px;
      }

      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }

    .cardContent {
      .typeTitle {
        line-height: 1.8;
        font-weight: 700;
        margin: 0 0 10px;

        @include fontSize(24px);

        @include macbook-twelve {
          @include fontSize(22px);
        }

        @include phone {
          @include fontSize(18px);
        }
      }

      p {
        color: $silver-chalice;
        line-height: 1.8;
        margin: 0;
        max-width: 390px;

        @include fontSize(18px);

        @include below-tablet {
          max-width: unset;
        }

        @include phone {
          @include fontSize(16px);
        }
      }
    }
  }
}

.threeColumnCards {
  @extend .wrapper;

  max-width: 1300px;

  .cards {
    grid-template-columns: repeat(3, 1fr);

    @include below-tablet {
      width: 100%;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;
    }

    & > div {
      padding: 40px;

      @include below-tablet {
        width: 100%;
        max-width: unset;
      }

      p {
        color: $silver-chalice;
        line-height: 1.8;
        margin: 0;

        @include fontSize(16px);

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }
}

.mobile-app-development-company {
  @include appDevelopmentContainer;

  .contentWrapper {
    @extend .wrapper;

    .titleStyle {
      p {
        color: $silver-chalice;
        line-height: 2;
        text-align: center;
        max-width: 950px;
        width: unset;

        @include fontSize(18px);

        @include macbook-fifteen {
          @include fontSize(16px);
        }

        @include below-tablet {
          width: 90vw;
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }
  }

  .callToAction {
    margin: 150px 0 0;

    h3 {
      margin: 0;

      @include phone {
        margin-bottom: 32px;
      }
    }

    & > div {
      padding: 20px 50px;
      width: 240px;
    }
  }

  &.firstSectionView {
    background-color: $alabaster;
  }
}

.chat-app-development-company {
  @include appDevelopmentContainer;

  &.firstSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .threeColumnCards;

      max-width: 1300px;
    }

    .callToAction {
      padding: 0;
      margin-top: 80px;
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .wrapper;

      .cards {
        .typeTitle {
          max-width: 235px;
        }

        p {
          max-width: 365px;
        }
      }
    }
  }
}

.web-app-development-company {
  @include appDevelopmentContainer;

  .contentWrapper {
    @extend .wrapper;

    .titleStyle {
      h2 {
        margin: 0;
      }

      p {
        max-width: 745px;
        width: unset;
      }
    }

    .smallCards {
      padding-bottom: 150px;

      @include tablet {
        padding-bottom: 100px;
      }

      @include phone {
        padding-bottom: 80px;
      }
    }
  }

  .callToAction {
    padding: 84px 80px;

    h3 {
      margin: 0;

      @include fontSize(24px);
    }
  }

  &.firstSectionView {
    background-color: $alabaster;
  }

  &.secondSectionView {
    background-color: $cod-gray-1;

    .contentWrapper {
      .titleStyle {
        h2 {
          color: $white;
        }
      }

      .cards {
        & > div {
          background-color: $white;
        }
      }
    }
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .contentWrapper {
      @extend .threeColumnCards;
    }
  }

  &.fourthSectionView {
    .contentWrapper {
      & > div:last-child {
        width: 100%;
      }
    }
  }
}

.ui-ux-services {
  @include appDevelopmentContainer;

  .callToAction {
    box-sizing: border-box;
    width: 100%;
    padding: 80px 80px;
    margin-top: 80px;

    @include phone {
      padding: 40px 24px;
      margin-top: 60px;
    }

    h3 {
      margin: 0 80px 0 0;
      max-width: 610px;

      @include fontSize(24px);

      @include phone {
        margin: 0 0 30px 0;
        text-align: center;

        @include fontSize(20px);
      }
    }
  }

  &.firstSectionView {
    .contentWrapper {
      @extend .wrapper;

      .titleStyle {
        h2 {
          max-width: 710px;
        }

        p {
          max-width: 855px;
          width: unset;
        }
      }
    }
  }

  &.secondSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .threeColumnCards;

      .cards {
        grid-gap: 150px 140px;

        @include tablet {
          grid-gap: 110px 100px;
        }

        @include phone {
          grid-gap: 60px;
        }

        & > div {
          position: relative;

          .arrow {
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            transform: translate(-100%, -50%);

            @include flex();

            @include below-tablet {
              top: 0;
              left: unset;
              right: 50%;
              transform: translate(-56%, -50%) rotate(90deg);
            }
          }

          .connectingLine {
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: 134px;
            height: 2px;
            background-repeat-x: repeat;
            background-size: unset;
            background-position: center;
            transform: translate(100%, 0);

            @include tablet {
              top: unset;
              bottom: -8%;
              right: 50%;
              width: 110px;
              transform: translate(28%, 0) rotate(90deg);
            }

            @include below-tablet {
              bottom: -18%;
              transform: translate(37%, 0) rotate(90deg);
            }
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            display: block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $white;
            border: 2px solid $silver-chalice;
            transform: translate(50%, -50%);

            @include below-tablet {
              right: 50%;
              top: unset;
              bottom: 0;
              transform: translate(-50%, 50%);
            }
          }

          &:first-child {
            .arrow {
              display: none;
            }
          }

          &:last-child {
            &::after {
              display: none;
            }

            .connectingLine {
              display: none;
            }
          }

          &:nth-child(3n+2) {
            // .longConnectingLine {
            //   position: absolute;
            //   right: 0;
            //   bottom: -60px;
            //   display: block;
            //   width: calc(100% * 2.8);
            //   height: 2px;
            //   background-repeat-x: repeat;
            //   background-size: unset;
            //   background-position: center;
            //   transform: translate(31%, 0);
            // }
          }

          &:nth-last-child(2) {
            // .longConnectingLine {
            //   display: none;
            // }
          }

          &:nth-child(3n+3) {
            &::after {
              right: 50%;
              top: unset;
              bottom: 0;
              transform: translate(-50%, 50%);
            }

            .connectingLine {
              top: unset;
              bottom: -8%;
              right: 50%;
              width: 75px;
              transform: translate(28%, 0) rotate(90deg);

              @include below-tablet {
                bottom: -18%;
                width: 110px;
                transform: translate(37%, 0) rotate(90deg);
              }
            }
          }

          &:nth-child(3n+4) {
            .arrow {
              top: 0;
              left: 50%;
              width: max-content;
              transform: translate(-50%, -70%) rotate(90deg);

              @include below-tablet {
                top: 0;
                left: unset;
                right: 50%;
                transform: translate(-56%, -50%) rotate(90deg);
              }
            }

            // .longConnectingLine {
            //   display: block;
            //   top: -8%;
            //   left: 50%;
            //   width: 75px;
            //   height: 2px;
            //   transform: translate(-50%, 0) rotate(90deg);
            // }
          }
        }
      }
    }
  }

  &.thirdSectionView {
    background-color: $alabaster;

    .contentWrapper {
      @extend .wrapper;

      .titleStyle {
        h2 {
          max-width: 855px;
        }

        p {
          max-width: 800px;
          width: unset;
        }
      }
    }
  }
}
