.cloud-based-app-development-services {
  .pageTitle {
    color: $gray0;
  }

  .pageTextContainer {
    max-width: 600px;

    @include below-tablet {
      max-width: 100%;
    }
  }

  .pageSubtitle:first-child {
    margin-bottom: 24px;
  }

  .pageImage {
    max-width: 470px;
  }
}
