.devops-development-services {
  .pageIntroWrapper {
    margin-bottom: 32px;

    @include below-tablet {
      @include flex(column-reverse);
    }
  }

  .pageTitle {
    color: $gray0;
  }

  .pageIntroImage {
    max-width: 361px;
  }
}
