.mobile-app-development-company {
  .pageWrapper {
    margin-bottom: 32px;
  }

  .pageSubtitle:first-child{
    margin-bottom: 24px;

    @include below-tablet {
      margin-bottom: 16px;
    }
  }

  .pageImage {
    max-width: 518px;
  }
}
