.software-development-columbus,
.software-development-washington,
.software-development-oklahoma {
  .pageTitle {
    color: $gray0;
  }

  .pageTextContainer {
    max-width: 584px;

    @include below-tablet {
      max-width: none;
      margin-bottom: 32px;
    }
  }

  .pageSubtitle + .pageSubtitle {
    margin-top: 24px;
  }
}
