@import 'styles/utils/mixins';

.animatedInput {
  margin-bottom: 35px;
  position: relative;
  outline: none;

  @include flex(column);

  label {
    position: absolute;
    touch-action: none;
    user-select: none;
    cursor: text;
    will-change: transform;
    transform: translateY(15px);
    transition: transform $accelerated-transition-time, font-size $accelerated-transition-time;

    @include phone {
      transform: translateY(10px);
    }
  }

  input,
  textarea {
    cursor: text;
    width: auto;
    border: 0 none;
    border-bottom: solid 0.5px $gray-suit;
    background-color: transparent;
    color: $black;
    outline: none;
    transition:
      border 1s cubic-bezier(0.26, 1.04, 0.54, 1),
      color 0.5s cubic-bezier(0.26, 1.04, 0.54, 1);

    &::placeholder {
      font-family: $default-font;
    }
  }

  textarea {
    resize: none;
    font-family: $default-font;
  }

  .required {
    width: min-content !important;
    font-weight: 300;
    position: absolute;
    pointer-events: none;
    right: 0;
    color: $boulder;
    margin-top: -0.4em;
    font-size: 1.4375rem;
    line-height: 1.94;
    letter-spacing: 0.4px;

    @include phone {
      top: 45%;
    }
  }

  .invalid {
    margin-right: 20px;
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.26, 1.04, 0.54, 1);
    font-weight: 300;
    position: absolute;
    color: $red;
    pointer-events: none;
    right: 0;
    margin-top: -0.1em;

    @include phone {
      top: 45%;
    }
  }
}

.active {
  label {
    font-weight: bold;
    font-size: 0.875rem !important;
    will-change: transform;
    transform: translateY(-5px);
    transition:
      transform $accelerated-transition-time,
      font-size $accelerated-transition-time;

    @include phone {
      transform: translateY(-15px);
    }
  }

  input,
  textarea {
    border-color: $black;
    transition:
      border 1s cubic-bezier(0.26, 1.04, 0.54, 1),
      color 0.5s cubic-bezier(0.26, 1.04, 0.54, 1);
  }
}

.focus {
  input,
  textarea {
    border-color: $black !important;
  }
}

.error {
  input,
  textarea {
    color: $red;
    border-bottom-color: $red !important;
  }

  .required {
    color: $red;
  }
}

.default {
  input,
  textarea {
    border-bottom-color: $iron !important;
  }
}

.isRequired {
  input,
  textarea {
    padding-right: 15px;
  }
}

.isValidate {
  input,
  textarea {
    padding-right: 100px;
  }
}

.seven-pm-thursday {
  &.animatedInput {
    input,
    textarea {
      color: $silver-chalice;
      border-bottom-color: $silver-chalice;
    }
  }

  &.focus {
    input,
    textarea {
      border-color: $silver-chalice !important;
    }
  }
}
