/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

.paginationWrapper {
  will-change: transform;
  transform: scale(0.9);
  margin: $section-indent auto 0;
  width: fit-content;

  @include flex(row, center, center);

  @include tablet {
    margin-top: 60px;
    transform: scale(1);
  }

  @include below-tablet {
    transform: scale(0.9);
  }

  @include phone {
    transform: scale(1.1);
  }
}

.paginationContainer {
  @include flex(row, flex-start, center);

  padding-left: 0;
  list-style: none;
}

.paginationPrev {
  cursor: pointer;
  padding: 15px;
  color: $black;
  font-size: 1.125rem;
  line-height: 40px;
  background-color: transparent;
  transition: color $default-transition-time;
  outline: none;

  &:hover {
    color: $gray400;
    transition: color $default-transition-time;
  }

  @include phone {
    padding: 0;
  }
}

.paginationItem,
.paginationNextWrapper {
  & > a {
    font-family: $default-font;
    color: $black;
    text-decoration: none;
    outline: none;
    border-radius: 50%;
    display: inline-block;
    min-width: 40px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.7s;

    &:hover {
      background-color: $gray100;
      transition: background-color 0.2s;
    }

    @include phone {
      font-size: 1rem;
    }
  }
}

.paginationItem {
  @include flex(row, center, center);

  cursor: pointer;
  padding: 5px;

  a {
    font-weight: normal;
  }

  @include phone {
    padding: 0;
  }
}

.paginationNext {
  cursor: pointer;
  background-color: transparent !important;
  transition: color $default-transition-time;

  &:hover {
    color: $gray400;
    transition: color $default-transition-time;
  }
}

.paginationActiveClassName {
  & > a {
    background-color: $turbo-100;

    &:hover {
      background-color: $turbo-100;
    }
  }
}

.paginationNextWrapper {
  padding: 15px;

  @include phone {
    padding: 0;
  }
}

.previousClassName,
.paginationEmptyItem {
  display: none;
}
