@import 'styles/utils/mixins';

.default {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }

  .text {
    color: $logo-stroke;
  }
}

.home,
.stickerbox,
.tell {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }

  .text {
    color: $white;
  }
}

.fernwayer,
.fairy,
.seven-pm-thursday {
  .logo {
    color: $white;

    & > path:first-child {
      color: transparent;
    }
  }

  .text {
    color: $white;
  }
}
