@import 'styles/utils/mixins';

.default {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }

  .text {
    color: $logo-stroke;
  }
}

.home,
.stickerbox,
.tell,
.open-sense,
.separate-us,
.natp,
.drive-focus,
.smartcenter,
.footer {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }
}

.home,
.stickerbox,
.natp,
.footer,
.travel-trivia,
.cash-chat,
.smartcenter,
.drive-focus,
.ubichat,
.meateater {
  .text {
    color: $white;
  }
}

.tell,
.open-sense,
.separate-us,
.beautonomy {
  .text {
    color: $black;
  }
}

.writer-chrome-extension,
.fernwayer,
.fairy,
.seven-pm-thursday,
.natp,
.drive-focus,
.travel-trivia,
.cash-chat,
.web-app-development-company {
  .logo {
    color: $white;

    & > path:first-child {
      color: transparent;
    }
  }

  .text {
    color: $white;
  }
}
