@import 'styles/utils/mixins';

.default {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }

  .text {
    color: $logo-stroke;
  }
}

.home,
.stickerbox,
.tell,
.open-sense,
.separate-us,
.natp,
.drive-focus,
.footer {
  .logo {
    color: $logo-stroke;

    & > path:first-child {
      color: $turbo-100;
    }
  }
}

.home,
.stickerbox,
.natp,
.footer,
.travel-trivia,
.drive-focus {
  .text {
    color: $white;
  }
}

.tell,
.open-sense,
.separate-us {
  .text {
    color: $black;
  }
}

.fernwayer,
.fairy,
.seven-pm-thursday,
.natp,
.drive-focus,
.travel-trivia,
.web-app-development-company {
  .logo {
    color: $white;

    & > path:first-child {
      color: transparent;
    }
  }

  .text {
    color: $white;
  }
}
