@import 'styles/utils/mixins';
@import 'styles/utils/sizes';
@import 'styles/utils/theme/animations';
@import './styles/common';
@import './styles/stickerbox';
@import './styles/fireaway';
@import './styles/fairy';
@import './styles/hotel-data-cloud';
@import './styles/open-sense';
@import './styles/tell';
@import './styles/ubichat';
@import './styles/marketplace-for-clairvoyant-services';
@import './styles/fusion-markets';
@import './styles/telemojo';
@import './styles/blackbird';
@import './styles/fintech-app-for-credit-score';
@import './styles/smartcenter';
@import './styles/dindon';
@import './styles/humankind';
@import './styles/cinnabar';
@import './styles/software-for-mri-interpretation';
@import './styles/mobile-budgeting-app';
@import './styles/forex-trading-platform';
@import './styles/why-us';
@import './styles/metapix';
@import './styles/analytics-for-carbon-tracking';
@import './styles/web-p2p-lending-platform';
@import './styles/mobile-music-app';
@import './styles/enterprise-resource-planning-system';
@import './styles/crowdfunding-platformcrowdfunding-platform';
@import './styles/hyve';
@import './styles/custom-payment-gateway';
@import './styles/generative-ai';
@import './styles/ai-mobile-cooking-app';
@import './styles/ai-based-travel-planner';
