.beautonomy {
  background: $beautonomyBackground;

  [data-title],
  [data-subtitle] {
    max-width: 410px;
    color: $gray900;
  }

  [data-description] {
    max-width: 410px;
  }

  .infoTitle {
    color: $gray900;
  }

  .experience > p {
    color: $gray400;
  }

  .image {
    width: 1226px;
    height: 686px;
    left: 55%;

    @include phone {
      width: 100%;
      left: 50%;
    }
  }

  .imageContainer {
    @include phone {
      width: 100%;
    }
  }
}
