.web-chat-for-mediums {
  padding: 148px 16px 0;
  background-color: $chatSolutionsWhite;

  .introSection {
    @include flex(column, center, center);

    position: relative;
    margin: 0 auto;
    max-width: 792px;
  }

  .contentWrapper {
    z-index: 1;
  }

  .logo {
    position: absolute;
    top: 84px;
    right: 0;
    width: 201px;
    height: 45px;
    transform: scale(1.1);
  }

  .sectionTitle {
    @include flex(column-reverse, center, center);
  }

  [data-title] {
    @include fontSize(92px, 120%);

    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;

    &::after {
      @include fontSize(14px, 150%);

      content: 'for Psychic Marketplace';
      position: absolute;
      top: -20px;
      right: -100px;
      padding: 14px 18px;
      color: $gray0;
      border-radius: 40px;
      background: $marketplaceGradient;
      box-shadow: 0 4px 14px 0 #00000026;
      box-sizing: border-box;
      text-transform: none;
      transform: rotate(9.22deg);
    }
  }

  [data-subtitle] {
    @include fontSize(16px, 150%);

    margin: 0 auto 84px;
    color: $gray900;
    font-weight: 600;
  }

  .imageContainer {
    position: relative;
    height: 534px;
  }

  .image {
    position: absolute;
    z-index: 2;
    top: -30px;
    left: 50%;
    width: 363px;
    height: 751px;
    transform: translateX(-50%);
    border-radius: 65px;
    object-fit: cover;

    @include tablet {
      top: -40px;
      width: 314px;
      height: 645px;
    }
  }

  .introText {
    position: absolute;
    bottom: 40px;
    right: 0;

    * {
      @include fontSize(14px, 150%);

      margin: 0;
      color: $gray900;
      opacity: 0.8;
      white-space: nowrap;
    }
  }

  @include tablet {
    padding: 88px 16px 60px;

    [data-title] {
      @include fontSize(46px, 120%);

      &::after {
        @include fontSize(12px, 150%);

        top: -36px;
        right: -12px;
        padding: 12px 13px;
      }
    }

    [data-subtitle] {
      margin-bottom: 54px;
    }

    .introSection {
      padding-bottom: 108px;
    }

    .imageContainer {
      height: 615px;
    }

    .introText {
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }
}
