.cinnabar {
  background: $cinnabarGradientPrimary;
  padding: 112px 32px 96px;

  .introSection {
    @include flex(column, center, center);

    position: relative;
    z-index: 1;
    max-width: $default-content-width;

    @include phone {
      margin: 0 auto 32px;
    }
  }

  .contentWrapper {
    margin: 0 auto 24px;
  }

  .sectionTitle {
    margin: 0;
  }

  [data-title] {
    @include fontSize(46px, 120%);

    margin: 0 auto 12px;
    text-align: center;
    color: $gray0;

    @include phone {
      @include fontSize(24px, 130%);

      margin-bottom: 8px;
    }
  }

  [data-subtitle] {
    @include fontSize(16px, 150%);

    margin: 0 auto 8px;
    text-align: center;
    color: $gray0;
    font-weight: 400;
    opacity: 0.7;
  }

  .image {
    transform: translate(-50%, -50%) scale(1.1);
  }

  .imageContainer {
    width: 100%;
    height: 580px;
    margin: 0 auto;

    @include tablet {
      height: 300px;
    }

    @include phone {
      height: 200px;
    }
  }

  .bundleImage {
    position: absolute;
    z-index: -1;
    pointer-events: none;

    &-1 {
      left: -134px;
      top: 50px;
      width: 304px;
      height: 304px;

      @include phone {
        left: -42px;
        width: 160px;
        height: 160px;
      }
    }

    &-2 {
      left: -134px;
      top: 50px;
      width: 88px;
      height: 88px;

      @include phone {
        display: none;
      }
    }

    &-3 {
      right: -30px;
      top: 80px;
      width: 76px;
      height: 76px;

      @include phone {
        right: 0;
        top: 0;
        width: 38px;
        height: 38px;
      }
    }

    &-4 {
      right: -119px;
      bottom: -28px;
      width: 238px;
      height: 238px;

      @include phone {
        display: none;
      }
    }

    &-5 {
      right: -119px;
      bottom: 142px;
      width: 64px;
      height: 64px;

      @include phone {
        display: none;
      }
    }
  }

  .infoTitle {
    color: $gray0;
  }

  .experience > p {
    color: $gray0;
    opacity: 0.7;
  }

  @include tablet {
    padding: 88px 32px 60px;
  }

  @include phone {
    padding: 88px 16px 60px;
  }
}
