.crowdfunding-platform {
  background: $crowdfundingPlatformAccent;

  .introSection {
    @include flex(column, center, center);

    max-width: $wide-content-width;

    @include phone {
      margin: 0 auto 32px;
    }
  }

  .contentWrapper {
    align-self: stretch;
  }

  .sectionTitle {
    @include flex(row, space-between, flex-start);

    width: 100%;
    margin-bottom: 32px;

    * {
      color: $gray0;
      font-weight: 400;
    }

    [data-title] {
      @include fontSize(38px);

      max-width: 500px;
    }

    [data-description] {
      max-width: 322px;
      text-align: right;
      opacity: 0.7;
    }

    @include below-tablet {
      @include flex(column, space-between, center);

      margin-bottom: 0;

      * {
        text-align: center;
      }
    }
  }

  .imageContainer {
    max-width: 994px;
    height: auto;
    aspect-ratio: 994/706;
    width: 100%;
    box-shadow: 0 0 56px -15px;
  }
}
