.digital-wallet-for-ios {
  background: $gray50;
  margin: 208px auto 191px;
  border-radius: 50px;
  max-width: 1312px;
  overflow: visible;
  padding: 135px 120px;

  .sectionTitle {
    [data-title] {
      @include fontSize(44px);

      font-weight: 500;
      text-align: center;
      margin-bottom: 48px;
    }
  }

  .introSection {
    margin-bottom: 0;
    flex-direction: row-reverse;

    @include tablet {
      flex-direction: column;
    }
  }

  .introList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .listItem {
    padding: 24px 0;
    border-radius: 16px;

    span {
      font-weight: 500;
    }

    p {
      margin: 2px 0 0;
      color: $gray900;
      opacity: 0.4;
    }

    * {
      text-align: center;
      display: block;
    }

    &:nth-child(1) {
      background: $digitalWalletOrange;
    }

    &:nth-child(2) {
      background: $digitalWalletBlue;
    }

    &:nth-child(3) {
      background: $digitalWalletGreen;
    }

    &:nth-child(4) {
      background: $digitalWalletPurple;
    }
  }

  .contentWrapper {
    max-width: 442px;
    z-index: 2;

    @include tablet {
      max-width: none;
    }
  }

  .imageContainer,
  .bundleImagesContainer {
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .imageContainer {
    overflow: hidden;
  }

  .image,
  .bundleImage {
    position: absolute;
    width: 230px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 24px 94px 0 rgb(0 0 0 / 16%);
    overflow: hidden;

    @include tablet {
      width: 188px;
      height: 410px;
    }

    @include below-tablet {
      width: 147px;
      height: 320px;
      border-radius: 16px;
    }

    @include phone {
      width: 105px;
      height: 229px;
    }
  }

  .image {
    bottom: unset;
    right: unset;
    top: 360px;
    left: 480px;
    transform: rotate(-30deg);

    @include tablet {
      display: none;
    }
  }

  .bundleImage {
    &-1 {
      left: 220px;
      top: -100px;
      transform: rotate(-30deg);

      @include tablet {
        top: unset;
        left: unset;
        right: 30%;
        bottom: -80px;
      }

      @include below-tablet {
        bottom: 0;
      }
    }

    &-2 {
      left: 120px;
      top: 260px;
      transform: rotate(-30deg);

      @include tablet {
        left: 0;
        top: unset;
        bottom: -80px;
      }

      @include below-tablet {
        bottom: 0;
      }
    }
  }

  @include tablet {
    padding: 32px 16px 300px;
    margin: 80px 16px 84px;
  }

  @include phone {
    padding-bottom: 230px;
  }
}
