.dindon {
  z-index: 1;
  padding: 136px 32px 120px;
  background: $dinDonPrimary;

  .introSection {
    position: relative;
  }

  .contentWrapper {
    margin-right: 32px;
    max-width: 410px;

    @include tablet {
      margin-right: 0;
    }
  }

  .imageContainer {
    width: 714px;
    height: 564px;

    @include tablet {
      width: 100%;
      height: 314px;
    }

    @include phone {
      height: 208px;
    }
  }

  .image {
    left: 0;
    top: 0;
    transform: unset;
    width: 932px;
    height: 564px;

    @include tablet {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 314px;
    }

    @include phone {
      width: 343px;
      height: 208px;
    }
  }

  .bundleImage {
    position: absolute;
    left: 186px;
    top: 60px;
    z-index: -1;
    width: 321px;
    height: 125px;
    transform: rotate(-23.482deg);

    @include tablet {
      display: none;
    }
  }

  .experience {
    z-index: 1;
  }

  [data-title],
  [data-subtitle],
  .infoTitle {
    color: $gray0;
  }

  .experience > p,
  [data-description] {
    color: $gray0;
    opacity: 0.7;
  }

  @include below-tablet {
    padding: 88px 16px 60px;
  }
}
