.web-p2p-lending-platform {
  background: $p2pAccent;

  .introSection {
    @include flex(column, flex-start, center);

    padding-top: 40px;
    margin-bottom: 0;
    position: static;
  }

  .sectionTitle {
    [data-title] {
      @include fontSize(14px);

      font-weight: 400;
      color: $gray0;
      opacity: 0.7;
      text-align: center;
    }

    [data-description] {
      @include fontSize(56px, 120%);

      color: $gray0;
      font-weight: 400;
      max-width: 807px;
      text-align: center;

      @include tablet {
        @include fontSize(28px);
      }
    }
  }

  .imageContainer {
    width: auto;
    height: 706px;
    margin-top: 48px;
    max-width: $default-content-width;

    @include tablet {
      margin-top: 30px;
      height: 502px;
    }

    @include below-tablet {
      height: 360px;
    }

    @include phone {
      height: 244px;
    }
  }

  .image {
    width: 994px;
    height: 706px;
    border-radius: 20px;
    overflow: hidden;

    @include tablet {
      width: 702px;
      height: 502px;
    }

    @include below-tablet {
      width: 504px;
      height: 360px;
    }

    @include phone {
      width: 343px;
      height: 244px;
    }
  }

  .bundleImage {
    position: absolute;

    &-1 {
      width: 400px;
      height: 450px;
      left: 0;
      top: 350px;

      @include tablet {
        width: 300px;
        height: 320px;
        left: -20px;
        top: 200px;
      }
    }

    &-2 {
      width: 380px;
      height: 530px;
      right: 0;
      bottom: -20px;

      @include tablet {
        width: 250px;
        height: 290px;
        right: -20px;
      }
    }
  }
}
