/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";
@import "components/AppDevelopmentCommon/utils/styles.module.scss";

.pageIntroContainer {
  @include appDevelopmentContainer;

  .pageIntroSection {
    max-width: 1300px;
    margin: 0 auto;

    @include flex(column);

    .pageIntroWrapper {
      margin-bottom: 160px;

      @include flex(row, space-between, center);

      @include below-tablet {
        margin-bottom: 100px;

        @include flex(column, space-between, center);
      }

      .pageTitle {
        margin: 0 0 40px;

        @include fontSize(60px);

        @include macbook-twelve {
          @include fontSize(55px);
        }

        @include tablet {
          @include fontSize(50px);
        }

        @include phone {
          @include fontSize(45px);
        }
      }

      .subtitle {
        margin: 0;
        padding-right: 60px;
        line-height: 2;
        color: $silver-chalice;

        @include fontSize(18px);

        @include macbook-fifteen {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }
      }

      & > div {
        width: 100%;
        height: 100%;
      }

      & .pageTitleContainer {
        @include below-tablet {
          margin-bottom: 40px;
        }
      }

      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 81%;
        width: 100%;
      }
    }
  }
}

.mobile-app-development-company {
  @extend .pageIntroContainer;

  @include tablet {
    padding-top: 100px;
  }

  @include phone {
    padding-top: 64px;
  }

  .pageIntroSection {
    .pageIntroWrapper {
      margin-bottom: 120px;
      padding-bottom: 116px;
      border-bottom: 1px solid $alto;

      @include phone {
        margin-bottom: 40px;
        padding-bottom: 40px;
      }

      .pageTitle {
        max-width: 615px;

        @include phone {
          @include fontSize(35px);
        }
      }

      .subtitle {
        padding-right: 0;
        max-width: 500px;
      }

      .image {
        padding-top: 100%;
      }
    }
  }
}

.chat-app-development-company {
  @extend .pageIntroContainer;

  padding-top: 0;

  @include tablet {
    padding-top: 100px;
  }

  @include phone {
    padding-top: 64px;
  }
}

.web-app-development-company {
  @extend .pageIntroContainer;

  background-color: inherit;

  .pageIntroSection {
    .pageIntroWrapper {
      border-bottom: 1px solid rgba($alto, 0.2);
      margin-bottom: 120px;

      @include below-tablet {
        margin-bottom: 100px;

        @include flex(column-reverse, space-between, center);
      }

      @include phone {
        margin-bottom: 80px;
      }

      .pageTitle {
        color: $white;

        @include fontSize(70px);

        @include macbook-twelve {
          @include fontSize(65px);
        }

        @include tablet {
          @include fontSize(45px);
        }

        @include below-tablet {
          text-align: center;
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      .subtitle {
        margin: 0;
        max-width: 518px;

        @include below-tablet {
          text-align: center;
          padding: 0;
          margin: 0 auto;
        }
      }

      & > div:last-child {
        @include flex(row, flex-end);

        @include below-tablet {
          justify-content: center;
        }

        .image {
          padding-top: 130%;
          max-width: 555px;

          @include macbook-twelve {
            padding-top: 140%;
          }

          @include below-tablet {
            max-width: 425px;
          }

          @include phone {
            padding-top: 458px;
            max-width: 302px;
          }
        }
      }
    }
  }
}

.ui-ux-services {
  @extend .pageIntroContainer;

  overflow: hidden;

  .pageIntroSection {
    .pageIntroWrapper {
      margin-bottom: 0;

      .pageTitle {
        @include defaultFirstHeader;

        position: relative;

        @include phone {
          text-align: center;
          margin: 0 auto;
          max-width: 345px;
        }

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 282px;
          height: 70px;
          border-radius: 50%;
          border: 6px solid $turbo-100;
          left: 0;
          bottom: 0;
          transform: translate(-25%, 0);
          z-index: -1;

          @include macbook-fifteen {
            width: 238px;
            transform: translate(-10%, 0);
          }

          @include phone {
            width: 170px;
            height: 42px;
            border-width: 3px;
            transform: translate(25%, 0);
          }
        }
      }

      .subtitle {
        max-width: 520px;

        @include phone {
          text-align: center;
          max-width: 345px;
          padding-right: 0;
          margin: 0 auto;
        }
      }

      .image {
        padding-top: 100%;
      }
    }
  }
}

.ios-mobile-app-development-services {
  .pageIntroSection {
    .pageIntroWrapper {
      border-bottom: 1px solid rgba($alto, 0.2);
      padding-bottom: 180px;

      @include macbook-twelve {
        padding-bottom: 120px;
      }

      @include below-tablet {
        @include flex(column-reverse, space-between, center);

        padding-bottom: 80px;
      }

      @include phone {
        margin-bottom: 60px;
        padding-bottom: 60px;
      }
    }
  }
}

.ios-mobile-app-development-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services {
  @extend .pageIntroContainer;

  background-color: inherit;

  @include below-tablet {
    padding: 60px 40px;
  }

  @include phone {
    padding: 60px 16px;
  }

  .pageIntroSection {
    .pageIntroWrapper {
      margin-bottom: 80px;

      @include below-tablet {
        @include flex(column-reverse, space-between, center);
      }

      .pageTitle {
        color: $white;

        @include fontSize(70px);

        @include macbook-twelve {
          @include fontSize(65px);
        }

        @include tablet {
          @include fontSize(45px);
        }

        @include below-tablet {
          text-align: center;
        }

        @include phone {
          @include fontSize(32px);
        }
      }

      .subtitle {
        max-width: 518px;
        margin: 0;

        @include below-tablet {
          text-align: center;
          padding: 0;
          margin: 0 auto;
        }

        & + .subtitle {
          margin-top: 30px;
        }
      }

      .image {
        max-width: 555px;
        min-width: 400px;
        padding-top: 105%;
        background-size: contain;

        @include below-tablet {
          max-width: 380px;
          min-width: unset;
          margin: auto;
        }

        @include phone {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services {
  .pageIntroSection {
    .pageIntroWrapper {
      margin-bottom: 0;

      .pageTitleContainer {
        margin-bottom: 0;
      }
    }
  }
}
