@import "styles/utils/mixins";

.defaultTitle {
  margin: 0;

  @include fontSize(56px);

  @include macbook-twelve {
    @include fontSize(50px);
  }

  @include tablet {
    @include fontSize(45px);
  }

  @include phone {
    @include fontSize(32px);
  }
}

.default {
  margin-bottom: 80px;

  @include flex(column, center, center);

  @include tablet {
    margin-bottom: 60px;
  }

  @include phone {
    margin-bottom: 40px;
  }

  .title {
    text-align: center;
    max-width: 950px;

    @extend .defaultTitle;
  }

  .description,
  .subtitle {
    margin: 30px auto 0;
    color: $silver-chalice;
    line-height: 2;
    text-align: center;
    width: 55vw;
    max-width: 950px;

    @include fontSize(18px);

    @include macbook-fifteen {
      @include fontSize(16px);
    }

    @include below-tablet {
      width: 90vw;
      margin-top: 20px;
    }

    @include phone {
      @include fontSize(14px);
    }
  }
}

.side {
  .title {
    @extend .defaultTitle;

    @include below-tablet {
      text-align: center;
    }
  }

  .subtitle {
    margin: 50px 0 30px;
    padding-right: 50px;
    line-height: 1.5;
    font-weight: 700;

    @include fontSize(20px);

    @include below-tablet {
      padding-right: 0;

      @include fontSize(18px);
    }

    @include phone {
      margin-top: 20px;

      @include fontSize(16px);
    }
  }
}
