@import 'styles/utils/mixins', 'styles/utils/theme/animations';

.imagContainer {
  position: relative;
  overflow-x: auto;
  text-align: center;

  &::-webkit-scrollbar {
    max-width: 210px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $blog-subscribe-input-box-shadow-focus-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 10px;
  }

  .image {
    max-height: 812px;

    @include phone {
      width: auto;
      height: 470px;
    }
  }

  .fernwayer2 {
    position: absolute;
    top: 26%;
    left: 50%;
    width: 320px;
    transform: translate(-14%, 0) scale(0.8);
    animation: zoomChat 2s linear 1s both;

    @include phone {
      width: 190px;
    }
  }
}
