@import 'styles/utils/mixins', 'styles/utils/theme/animations';

.imagContainer {
  position: relative;
  overflow-x: auto;
  text-align: center;

  &::-webkit-scrollbar {
    max-width: 210px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $blog-subscribe-input-box-shadow-focus-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 10px;
  }

  .image {
    max-height: 812px;

    @include phone {
      width: auto;

      &:first-child {
        max-height: 470px;
      }
    }
  }
}

.scaled {
  .image {
    display: block;
    max-width: 1200px;
    max-height: 100vw;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    object-fit: contain;
  }
}

.fernwayer,
.stickerbox,
.seven-pm-thursday,
.fairy,
.tell {
  @extend .imagContainer;
}

.fernwayer2 {
  width: fit-content;
  margin: 0 auto;

  img:last-child {
    position: absolute;
    top: 26%;
    left: 50%;
    width: 320px;
    transform: translate(-14%, 0) scale(0.8);
    transition: transform 2s $primary-bezier 100ms;
    filter: drop-shadow(-10px 10px 25px rgba(57, 57, 57, 0.2));

    @include phone {
      width: 190px;
    }
  }

  .active {
    &:last-of-type {
      transform: translateX(-16%) scale(1);
    }
  }
}

.fernwayer3 {
  width: fit-content;
  margin: 0 auto;
  overflow: unset;

  @include phone {
    max-height: 470px;
  }

  /* stylelint-disable-next-line */
  img {
    &:nth-child(1) {
      max-width: 90%;
      height: auto;
      object-fit: contain;

      @include phone {
        max-height: 470px;
      }
    }

    &:nth-child(2) {
      width: 37%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(21%, 30%);
      transition: transform 2s $primary-bezier 100ms;
    }

    &:nth-child(3) {
      width: 37%;
      height: auto;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-21%, 30%);
      transition: transform 2s $primary-bezier 100ms;
    }
  }

  /* stylelint-disable-next-line */
  .active {
    &:nth-of-type(2) {
      transform: rotate(-8deg) translate(-50px, 128px);

      @include phone {
        transform: rotate(-8deg) translate(-5px, 60px);
      }
    }

    &:nth-of-type(3) {
      transform: rotate(8deg) translate(50px, 128px);

      @include phone {
        transform: rotate(8deg) translate(5px, 60px);
      }
    }
  }
}

.tell1 {
  background-color: $white;
}

.open-sense {
  @extend .imagContainer;

  background-color: $white;
}
