@import 'styles/utils/mixins';

.default {
  overflow-x: auto;
  text-align: center;

  &::-webkit-scrollbar {
    max-width: 210px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $blog-subscribe-input-box-shadow-focus-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-grey;
    border-radius: 10px;
  }

  .image {
    @include phone {
      width: auto;
      height: 470px;
    }
  }
}

.scaled {
  .image {
    display: block;
    max-width: 1200px;
    max-height: 100vw;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    object-fit: contain;
  }
}
