@import 'styles/utils/mixins';

.reviews {
  padding: $section-indent 0 100px;
  background-color: $alabaster;

  @include flex(column, flex-start, center);

  @include macbook-fifteen {
    padding-top: $section-indent;
  }

  @include phone {
    padding: $mobile-section-indent 0 0;
  }
}
