@import 'styles/utils/mixins';

.reviews {
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent 150px $side-indent;
  background-color: $gray-nurse;

  @include phone {
    padding: $mobile-section-indent $side-indent 130px $side-indent;
  }
}