@import 'styles/utils/sizes';
@import 'styles/utils/mixins';
@import './styles/common';
@import './styles/ui-ux-services';
@import './styles/checklist-download';
@import './styles/penetrationTesting';
@import './styles/eWalletAppDevelopment';
@import './styles/trading-software-development';
@import './styles/ios-mobile-app-development-services';
@import './styles/bankingSoftwareDevelopmentCompany';
@import './styles/crowdfundingPlatformDevelopmentCompany';
@import './styles/paymentGatewayDevelopmentCompany';
@import './styles/pwaDevelopmentServices';
@import './styles/discovery-phase-services';
@import './styles/why-us';
@import './styles/book-a-call';
@import './styles/person';
@import './styles/generative-AI-services';
