@import 'styles/utils/mixins';
@import 'styles/utils/theme/_animations';

@mixin mobileImageContainer {
  height: 230px;
  margin: 30px 0 17px;
}

@mixin mobilePublishedDate {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: bold;
  line-height: 1.5;
  font-weight: 550;
  margin-bottom: 12px;
  color: $aluminium;
}

@mixin mobileTitle {
  padding: 0;
  font-size: 19px !important;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 24px;
  font-weight: 550;
  color: $mine-shaft;
  line-height: 1.5;
  letter-spacing: 1px;
}

@mixin description {
  cursor: text;
  font-size: 15.5px;
  line-height: 1.75;
  color: $black;
  margin: 0;
  text-align: left;

  @include phone {
    font-size: 16px;
  }
}

.articlesGrid {
  @include flex(row, initial, initial, wrap);
  max-width: $max-content-width;
  margin: 13px auto 0 auto;

  @include full-hd {
    max-width: $max-content-width-full-hd;
  }

  @include macbook-fifteen {
    max-width: $max-content-width-macbook-fifteen;
  }

  @include macbook-twelve {
    max-width: $max-content-width-macbook-twelve;
  }

  @include phone {
    flex-direction: column;
    margin-top: $after-mobile-title-margin;
  }

  .high, .medium {
    margin: $aricleIndent;
    margin-bottom: $aricleIndent;
    cursor: pointer;

    @include phone {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    div {
      width: inherit !important;
    }

    a {
      text-decoration: none;
      width: inherit;

      .imgContainer {
        height: 480px;
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient($white, $black);
        cursor: pointer;

        @include tablet {
          height: 400px;
        }

        @include below-tablet {
          height: 300px;
        }

        @include phone {
          @include mobileImageContainer;
        }
    
        .image {
          @include flex(column, flex-end);
          height: 100%;
          background-position: center;
          background-size: cover;
          will-change: transform;
          transition: transform $default-transition-time;

          @include phone {
            height: 100%;
            justify-content: flex-start;
          }
        }
      }

      .overlay {
        position: absolute;
        z-index: 1;
        height: 480px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0%, rgba(51, 125, 255, 0) 70%);

        @include tablet {
          height: 400px;
        }

        @include below-tablet {
          height: 300px;
        }

        @include phone {
          display: none;
        }
      }

      .desc {
        position: absolute;
        z-index: 1;
        @include flex(column);
        will-change: transform;
        transform: translateY(-100%);
        width: inherit;
        
        @include phone {
          width: 100%;
          position: relative;
          transform: translateY(0);
        }

        .title {
          padding: 0 25px;
          color: $white;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.21;
          transition: padding 0.3s ease;

          @include phone {
            @include mobileTitle;
          }
        }

        .publishedDate {
          padding: 0 25px;
          padding-bottom: 25px;
          font-weight: 500;
          color: $white;
          font-size: 11px;
          will-change: transform;
          text-transform: uppercase;
          margin-top: 17px;
          font-size: 11.6px;
          letter-spacing: 2.2px;
          transition: padding 0.3s ease;
    
          @include phone {
            @include mobilePublishedDate;
          }
        }

        .description {
          @include description;
        }
      }
      
      &:hover {
        .image {
          will-change: transform;
          transform: scale(1.05, 1.05);
          transition: transform $default-transition-time;
        }
      }
    }
  }

  .high {
    width: calc(#{$max-content-width} * 2 / 3 - 2 * #{$aricleIndent});

    @include full-hd {
      width: calc(#{$max-content-width-full-hd} * 2 / 3 - 2 * #{$aricleIndent});
    }

    @include macbook-fifteen {
      width: calc(#{$max-content-width-macbook-fifteen} * 2 / 3 - 2 * #{$aricleIndent});
    }

    @include macbook-twelve {
      width: calc(#{$max-content-width-macbook-twelve} * 2 / 3 - 2 * #{$aricleIndent});
    }

    a {
      .desc {
        .title {
          @include below-tablet {
            font-size: 22px;
          }
        }
      }
    }

    .overlay, .desc {
      width: inherit;
    }
  }

  .medium {
    width: calc(#{$max-content-width} * 1 / 3 - 2 * #{$aricleIndent});

    @include full-hd {
      width: calc(#{$max-content-width-full-hd} * 1 / 3 - 2 * #{$aricleIndent});
    }

    @include macbook-fifteen {
      width: calc(#{$max-content-width-macbook-fifteen} * 1 / 3 - 2 * #{$aricleIndent});
    }

    @include macbook-twelve {
      width: calc(#{$max-content-width-macbook-twelve} * 1 / 3 - 2 * #{$aricleIndent});
    }

    a {
      .desc {
        .title {
          font-size: 1.5625rem;
    
          @include below-tablet {
            font-size: 16px;
          }
        }
      }
    }

    .overlay, .desc {
      width: inherit;
    }
  }

  .low {
    @include flex(column);
    width: calc(33.33% - 2 * #{$aricleIndent});
    margin: $aricleIndent;
    margin-bottom: $aricleIndent + 30px;
    cursor: pointer;

    @include phone {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    a {
      text-decoration: none;
      
      .imgContainer {
        width: 100%;
        height: 240px;
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient($white, $black);
        margin-bottom: 26px;

        @include tablet {
          height: 200px;
        }

        @include below-tablet {
          height: 150px;
        }

        @include phone {
          @include mobileImageContainer;
        }

        &:hover {
          .image {
            will-change: transform;
            transform: scale(1.05, 1.05);
            transition: transform $default-transition-time;
          }
        }

        .image {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          will-change: transform;
          transition: transform $default-transition-time;

          @include phone {
            height: 100%;
          }
        }
      }

      .desc {
        @include flex(column);

        .publishedDate {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 1.95;
          letter-spacing: 2.2px;
          color: $aluminium;
          margin-bottom: 8px;

          @include phone {
            @include mobilePublishedDate;
          }
        }

        .title {
          font-weight: 550;
          line-height: 24px;
          color: $mine-shaft;
          margin-bottom: 20px;
          font-size: 19px;
          line-height: 1.5;
          letter-spacing: 1px;

          @include phone {
            @include mobileTitle;
          }
        }
    
        .description {
          @include description;
        }
      }
    }
  }

  @media (max-width: calc(#{$max-content-width-macbook-twelve} + 4 * #{$aricleIndent})) {
    .high {
      width: calc(66.66vw - 2 * #{$aricleIndent} - 2 * #{$side-indent} * .6666);

      @include phone {
        width: 100%;
      }
    }
  
    .medium {
      width: calc(33.33vw - 2 * #{$aricleIndent} - 2 * #{$side-indent} * .3333);

      @include phone {
        width: 100%;
      }
    }
  }
}
