// Use it with @color mixin
// 
// example:
// background-color: @color(var(--gray0), 0.7)

html, body {
  --gray0: 255, 255, 255;
  --gray50: 250, 250, 250;
  --gray100: 238, 238, 238;
  --gray200: 226, 226, 226;
  --gray300: 203, 203, 203;
  --gray400: 175, 175, 175;
  --gray500: 117, 117, 117;
  --gray600: 84, 84, 84;
  --gray700: 51, 51, 51;
  --gray800: 31, 31, 31;
  --gray900: 23, 23, 23;
  --gray1000: 0, 0, 0;

  --indigo50: 235, 235, 255;
  --indigo100: 224, 224, 255;
  --indigo200: 192, 191, 255;
  --indigo300: 139, 138, 229;
  --indigo400: 111, 110, 219;
  --indigo500: 88, 86, 214;
  --indigo600: 73, 72, 178;
  --indigo700: 63, 61, 153;
  --indigo800: 52, 52, 128;

  --blue50: 235, 241, 255;
  --blue100: 224, 234, 255;
  --blue200: 191, 211, 255;
  --blue300: 142, 172, 237;
  --blue400: 60, 104, 199;
  --blue500: 0, 60, 190;
  --blue600: 0, 48, 153;
  --blue700: 0, 40, 128;
  --blue800: 0, 32, 102;

  --green50: 229, 249, 234;
  --green100: 215, 245, 223;
  --green200: 174, 233, 189;
  --green300: 133, 221, 155;
  --green400: 93, 210, 122;
  --green500: 52, 199, 89;
  --green600: 42, 159, 71;
  --green700: 31, 119, 53;
  --green800: 21, 80, 36;

  --yellow50: 255, 252, 230;
  --yellow100: 255, 250, 205;
  --yellow200: 255, 245, 154;
  --yellow300: 255, 240, 102;
  --yellow400: 255, 235, 51;
  --yellow500: 255, 230, 3;
  --yellow600: 229, 211, 46;
  --yellow700: 153, 138, 2;
  --yellow800: 102, 92, 1;

  --orange50: 255, 244, 229;
  --orange100: 255, 234, 204;
  --orange200: 255, 213, 153;
  --orange300: 255, 191, 102;
  --orange400: 255, 170, 51;
  --orange500: 255, 149, 0;
  --orange600: 204, 119, 0;
  --orange700: 153, 89, 0;
  --orange800: 102, 60, 0;

  --red50: 255, 235, 234;
  --red100: 255, 216, 214;
  --red200: 255, 177, 172;
  --red300: 255, 137, 131;
  --red400: 255, 98, 89;
  --red500: 255, 59, 48;
  --red600: 204, 47, 38;
  --red700: 153, 35, 29;
  --red800: 102, 24, 19;

  --brown50: 245, 237, 233;
  --brown100: 235, 224, 219;
  --brown200: 210, 186, 176;
  --brown300: 177, 137, 118;
  --brown400: 153, 100, 76;
  --brown500: 116, 76, 57;
  --brown600: 91, 60, 45;
  --brown700: 77, 50, 38;
  --brown800: 51, 33, 25;
}
