@import './variables';

@mixin flex($fd: row, $jc: initial, $ai: initial, $fw: nowrap) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}

@mixin tablet {
  @media (max-width: $max-tablet-size) { @content; }
}

@mixin below-tablet {
  @media (max-width: $default-tablet-size) { @content; }
}

@mixin phone {
  @media (max-width: $max-mobile-size) { @content; }
}

@mixin h1-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 2.7rem;
  letter-spacing: 1.37px;
  text-align: center;

  @include phone {
    font-size: 1.8rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: $feedback-submit-color;
  }
}

@mixin buttonMore($textColor: $white, $textHoverColor: $white, $backHoverColor: $white, $borderColor: $black) {
  position: relative;
  z-index: 2;
  width: 240px;
  margin-top: $more-button-indent;
  padding: 16.5px 0 13.5px 0;
  line-height: 1.55;
  letter-spacing: 0.5px;
  border-radius: $buttonRadius;
  text-align: center;
  cursor: pointer;
  transition: border $accelerated-transition-time, background-color $accelerated-transition-time, color $default-transition-time;
  overflow: hidden;
  color: $textColor;
  border: solid 1px $borderColor;

  &:hover {
    will-change: border;
    background-color: $backHoverColor;
    border: solid 1px $backHoverColor;
    color: $textHoverColor;
    transition: border $accelerated-transition-time, background-color $accelerated-transition-time, color $default-transition-time;
  }
}

@font-face {
	font-family: "Sonny Gothic Condensed Ultra Black";
	src: url("styles/fonts/Sonny-Gothic-Condensed-Ultra-Black.otf") format("opentype");
}