@import './variables';

@mixin flex($fd: row, $jc: initial, $ai: initial, $fw: nowrap) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
}

@mixin ultra-hd {
  @media (max-width: $ultra-hd) { @content; }
}

@mixin quad-hd {
  @media (max-width: $quad-hd) { @content; }
}

@mixin full-hd {
  @media (max-width: $full-hd) { @content; }
}

@mixin macbook-fifteen {
  @media (max-width: $macbook-fifteen) { @content; }
}

@mixin macbook-thirteen {
  @media (max-width: $macbook-thirteen) { @content; }
}

@mixin macbook-twelve {
  @media (max-width: $macbook-twelve) { @content; }
}

@mixin desktop {
  @media (max-width: $desktop) { @content; }
}

@mixin tablet {
  @media (max-width: $max-tablet-size) { @content; }
}

@mixin below-tablet {
  @media (max-width: $default-tablet-size) { @content; }
}

@mixin below-tablet-horizontal {
  @media (max-width: $max-tablet-size) and (max-height: 800px) { @content; }
}

@mixin phone {
  @media (max-width: $max-mobile-size) { @content; }
}

@mixin horizontal-mobile {
  @media (max-height: $horizontal-mobile) { @content; }
}

@mixin phone-height-500 {
  @media (max-width: $max-mobile-size) and (min-height: 500px) { @content; }
}

@mixin phone-height-650 {
  @media (max-width: $max-mobile-size) and (min-height: 650px) { @content; }
}

@mixin phone-height-730 {
  @media (max-width: $max-mobile-size) and (min-height: 730px) { @content; }
}

@mixin phone-height-800 {
  @media (max-width: $max-mobile-size) and (min-height: 800px) { @content; }
}

@mixin phone-height-900 {
  @media (max-width: $max-mobile-size) and (min-height: 900px) { @content; }
}

@mixin h1-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 2.7rem;
  letter-spacing: 1.37px;
  text-align: center;

  @include phone {
    font-size: 1.8rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: $feedback-submit-color;
  }
}

@mixin buttonMore($textColor: $white, $textHoverColor: $white, $backHoverColor: $white, $borderColor: $black) {
  position: relative;
  z-index: 2;
  width: 240px;
  margin-top: $more-button-indent;
  padding: 16px 0;
  line-height: 1.55;
  letter-spacing: 0.5px;
  border-radius: $buttonRadius;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: $textColor;
  border: solid 1px $borderColor;
  transition: background-color $button-transition-time,
              color $button-transition-time,
              border-color $button-transition-time;
  
  &:hover {
    will-change: border;
    background-color: $backHoverColor;
    border: solid 1px $backHoverColor;
    color: $textHoverColor;
    transition: background-color $button-transition-time,
                color $button-transition-time,
                border-color $button-transition-time;
  }
}

@font-face {
	font-family: "Sonny Gothic Condensed Ultra Black";
	src: url("styles/fonts/Sonny-Gothic-Condensed-Ultra-Black.otf") format("opentype");
}

@mixin checkboxStyles {
  .checkbox {
    @include flex(row, flex-start, center);
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;

    span {
      font-size: 0.75rem;
      font-weight: normal;
      color: $upload-text-color;
    }

    .link {
      margin-left: 5px;
      text-decoration: none;
      position: relative;
      transition: color $accelerated-transition-time;

      &:before {
        position: absolute;
        display: block;
        content: "";
        border-bottom: 1px $feedback-submit-color solid;
        bottom: 1px;
        width: 99%;
        left: 0.5%;
        transition: border $accelerated-transition-time;
      }

      &:hover {
        cursor: pointer;
        color: $accent-color;

        &:before {
          border-bottom: 1px $accent-color solid;
        }
      }
    }

    &:hover input ~ .checkmark {
      background-color: transparent;
    }

    input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkmark {
        background-color: transparent;

        &:after {
          display: block;
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 14px;
      width: 14px;
      border: 1px solid $upload-text-color;
      border-radius: 2.5px;
      background-color: transparent;

      &:after {
        display: none;
        content: "";
        position: absolute;
        left: 5px;
        top: 2px;
        width: 3px;
        height: 6px;
        border: solid $upload-text-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:last-child {
      margin-left: 40px;
    }
  }
}