// colors
$turbo-100: #ffe603;
$turbo-200: #f5dc00;
$cerulean: #05a7ea;
$ferra: #714a4a;
$gold: #FFD603;
$black: #000;
$white: #fff;
$scarpa-flow: #4e4d51;
$silver: #b8b8b8;
$tuna: #373738;
$scorpion: #5c5c5c;
$science-blue: #026ed0;
$english-walnut: #3d2424;
$thunder: #30292a;
$star-dust: #9a9996;
$emperor: #555;
$iron: #d1d3d3;
$athens-gray: #efeff0;
$woodsmoke: #0E0E0F;
$mountain-mis: #9a999c;
$red: #F00;
$gray-nurse: #f7f8f7;
$tundora: #424242;
$athens-gray: #f8f8fa;
$flamingo: #f16522;
$aluminium: #a7a8ab;
$mine-shaft: #3a3a3a;
$nobel: #B7B7B7;
$gray: #7f7f7f;
$gray-200: #8C8C8C;
$mercury: #e6e6e6;
$mine-shaft: #333;
$dandelion: #FFD65D;
$mortar: #49414e;
$saffron: #F6BA27;
$mid-gray: #6E6E6F;
$boulder: #767676;
$gray-suit: #d0cdd6;
$boulder: #7b7777;
$black-haze: #e8e9e9;
$flush-mahogany: #C43436;
$alizarin-crimson: #E21E1D;
$web-orange: #FFAB00;
$scorpion: #695F62;
$gallery-100: #EFEFEF;
$gallery-200: #EBEBEB;
$alto: #D8D8D8;
$jumbo: #78777A;
$athens-gray: #F1F1F2;
$java: #22C1C3;
$cod-gray: #141414;
$mercury: #E2E2E2;
$timber-green: #13242A;
$mirage: #1A2A30;
$tundora: #454545;
$saffron-1: #f4ad3d;
$violet: #140A2F;
$cod-gray-1: #161616;
$silver-1: #CBCBCB;
$witch-haze: #fff492;
$silver-chalice: #A0A0A0;
$alabaster: #FAFAFA;
$dark-grey: #171717;
$light-gray: #A0A0A0;
$pink: #D45D94;
$pink-lighter: #F96A77;
$light-pink: #FA717D;
$white-darker: #F8F8F8;
$dark-grey-1: #1A1C1F;
$dark-grey-2: #181A1D;
$grey-darker: #26282D;
$wild-sand: #F4F4F4;
$pale-sky: #6e7882;
$dark-blue: #1C1E20;
$dark-blue-1: #191B1E;
$pink-1: #FF2A89;
$light-red: #FF4934;
$logo-stroke: #25272C;
$light-violet: #5B5BBD;
$light-violet-1: #5C5ABD;
$dark-violet: #362761;
$dark-violet-1: #252159;
$dark-violet-2: #16102B;

//transparency color
$pagination: rgba(35, 37, 44, 0.25);
$header-additional-color: rgba(255, 255, 255, 1);
$blog-search-background-color: rgba(255, 255, 255, 0.98);
$blog-selection-block-mobile-categories-border-color: rgba(0, 0, 0, 0.5);
$blog-subscribe-input-box-shadow-color: rgba(0, 0, 0, 0.04);
$blog-subscribe-input-box-shadow-focus-color: rgba(0, 0, 0, 0.1);
$nearby-articles-block-box-shadow-color:rgba(0, 0, 0, 0.07);
$card-bow-shadow: 0 8px 35px rgba($pale-sky, 0.1);

//time
$default-transition-time: 0.5s;
$button-transition-time: 0.3s;
$burger-transition-time: 0.8s;
$shadow-time-for-yellow-button: 0.4s;
$shadow-time-for-border-yellow-button: 0.1s;
$accelerated-transition-time: calc(#{$default-transition-time} / 2);
$changing-portfolio-color: 1.5s;

//radius
$buttonRadius: 60px;
$button-border-radius: 8px;
$articleRadius: 7.5px;

//sizes
$section-indent: 100px;
$mobile-section-indent: 80px;
$side-indent: 20px;
$more-button-indent: calc((#{$section-indent} / 2) + 20px);
$mobile-more-button-indent: calc(#{$mobile-section-indent} / 2);
$aricleIndent: 10px;
$after-mobile-title-margin: 60px;
$logo-size: 120px;
$max-content-width: 1300px;
$max-content-width-full-hd: 1170px;
$max-content-width-macbook-fifteen: 1050px;
$max-content-width-macbook-twelve: 1000px;
$shadow-for-yellow-button: 0 5px 20px -10px rgba(0, 0, 0, 0.57);
$burger-item-1: 27px;
$burger-item-2: 33px;
$burger-item-3: 39px;
$header-height: 66px;

//resolutions size
$ultra-hd: 3840px;
$quad-hd: 2560px;
$full-hd: 1920px;
$macbook-fifteen: 1445px;
$macbook-thirteen: 1440px;
$desktop: 1366px;
$macbook-twelve: 1280px;
$max-tablet-size: 1024px;
$default-tablet-size: 768px;
$max-mobile-size: 568px;
$horizontal-mobile: 450px;

//fonts
$default-font: "Montserrat";
$case-studies-font: "Poppins", sans-serif;
$main-title-font: 'Sonny Gothic Condensed Ultra Black',
  sans-serif;

//insta
$imgIndent: 7.5px;
$box_h: 250px;
$border: 30px;
$initial-radius: 50px;
$max-radius: 300px;
$gradient-border: linear-gradient(45deg, #fccc63, #e95950, #bc2a8d);
$gradient-dot: linear-gradient(45deg, #e95950, #bc2a8d);
$insta-tape-box-shadow-color: rgba(0, 0, 0, 0.07);

//margins
$min-article-margin: 14px;
$max-article-margin: 24px;

//filters
$shadow-filter: drop-shadow(-18.8201px 18.8201px 56.4602px rgba(0, 0, 0, 0.6));
$shadow-filter-phone: drop-shadow(-12.8201px 12.8201px 30.4602px rgba(0, 0, 0, 0.4));

// TODO rework it with enviroment variable
$cdnURL: 'https://dn75rr69j9vc.cloudfront.net';

:export {
  firstColor: $science-blue;
  secondColor: $english-walnut;
  thirdColor: $thunder;
  phoneResolution: $max-mobile-size;
  logoSize: $logo-size;
  horizontalMobile: $horizontal-mobile;
  bigTabletResolution: $max-tablet-size;
  fullHdResolution: $full-hd;
}
