@import 'styles/utils/mixins';

.breadcrumbs {
  padding-bottom: calc(#{$section-indent} / 2);
  z-index: 3;
  width: 100%;
  max-width: 1300px;

  @include macbook-fifteen {
    padding-top: calc(#{$section-indent} / 2);
  }

  @include phone {
    padding: 40px 0;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #9a999c;

    @include flex();

    @include phone {
      @include fontSize(14px);
    }

    a {
      color: #9a999c;
    }

    span {
      color: #000;
    }

    .separator {
      display: flex;
      margin-left: 8px;
      user-select: none;
      margin-right: 8px;
      color: #9a999c;
    }

    li:last-child {
      @include hidden-text();
    }
  }
}
