@import 'styles/utils/mixins';

.breadcrumbs {
  padding-bottom: calc(#{$section-indent} / 2);
  z-index: 3;

  ol {
    @include flex;

    margin: 0;
    padding: 0;
    list-style: none;
    color: $mountain-mis;

    a {
      color: $mountain-mis;
    }

    li::after {
      content: '/';
      margin: 0 8px;
      user-select: none;
      color: $mountain-mis;
    }

    li:last-child {
      @include hidden-text;

      &::after {
        content: none;
      }

      & > a {
        pointer-events: none;
        color: $black;
      }
    }

    @include phone {
      @include fontSize(14px);
    }
  }

  @include phone {
    padding-bottom: calc(#{$mobile-section-indent} / 2);
  }
}
