/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";

.companyFigures {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 120px 100px;

  @include macbook-twelve {
    margin-bottom: 28px;
  }

  @include tablet {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: unset;
    grid-gap: unset;
  }

  @include svga {
    width: 100%;
    margin-bottom: 0;
  }

  @include phone {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 40px 0;
  }

  & > div {
    &:nth-of-type(1) {
      .item {
        div:nth-of-type(2) {
          max-width: 130px;
        }
      }
    }

    &:nth-of-type(2) {
      .item {
        div:nth-of-type(2) {
          max-width: 101px;
        }
      }
    }

    .item {
      width: max-content;

      div:nth-of-type(1) {
        text-align: left;
        font-weight: 700;
        color: $dark-grey;

        @include fontSize(72px);

        @include macbook-twelve {
          @include fontSize(42px);
        }
      }

      div:nth-of-type(2) {
        text-align: left;
        margin: 0;
        max-width: 183px;
        color: $silver-chalice;

        @include fontSize(18px);

        @include phone {
          max-width: 130px;

          @include fontSize(16px);
        }
      }
    }
  }
}
