@import 'styles/utils/mixins';

.companyFigures {
  @include flex(row, space-between);

  flex-wrap: wrap;
  max-width: 379px;
  margin-left: 32px;

  div {
    flex: 0 0 50%;

    @include tablet {
      flex: 0 0 25%;
    }

    @include phone {
      flex: 0 0 50%;
    }
  }

  .item {
    max-width: 170px;
    margin: 0 32px 32px 0;

    div:nth-of-type(1) {
      @include fontSize(46px, 120%);

      color: $gray900;
      font-weight: 700;
      text-align: left;

      @include phone {
        @include fontSize(24px, 130%);
      }
    }

    div:nth-of-type(2) {
      @include fontSize(16px, 150%);

      color: $gray400;
      text-align: left;
    }
  }

  @include tablet {
    max-width: 100%;
    margin: 0;
  }
}

