@import 'styles/utils/mixins';

.companyFigures {
  width: calc(100% / 4);
  margin-bottom: 50px;

  @include macbook-twelve {
    width: calc(100% / 5);
    margin-bottom: 28px;
  }

  @include tablet {
    width: max-content;
  }

  @include svga {
    @include flex(row, space-around, end, wrap);
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
  }

  & > div {
    &:not(:first-child) {
      margin-top: 40px;

      @include svga {
        margin-top: 0;
      }
    }

    @include phone {
      width: 50%;
      @include flex(row, center, initial, wrap);

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 30px;
      }
    }

    .item {
      width: max-content;

      div:nth-of-type(1) {
        text-align: left;
        font-size: 2.625rem;
        font-weight: 800;
        color: $black;
      }
  
      div:nth-of-type(2) {
        text-align: left;
        margin: 0;
        width: 90px;
        font-size: 0.75rem;
        color: $black;
      }
    }
  }
}