/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";

.infoContainer {
  @include flex;

  @include phone {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    max-width: 280px;

    @include phone {
      min-width: 240px;
    }

    .title {
      margin: 0 0 18px;
      text-align: start;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 180%;

      @include fontSize(18px);

      @include tablet {
        margin-bottom: 5px;

        @include fontSize(16px);
      }

      @include phone {
        @include fontSize(14px);
      }
    }

    .listContainer {
      padding-left: 20px;
      margin: 0;
    }

    .listItemContainer {
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        @include fontSize(16px);
      }

      @include phone {
        text-align: start;

        @include fontSize(14px);
      }
    }
  }
}

.fernwayer {
  @extend .infoContainer;

  /* stylelint-disable-next-line */
  .container {
    .title {
      color: $dark-grey;
    }

    .listItemContainer {
      color: $silver-chalice;

      &::marker {
        color: $pink-lighter;
      }
    }
  }
}

.software-for-mri-interpretation {
  @extend .infoContainer;

  flex-direction: column;

  /* stylelint-disable-next-line */
  .container {
    max-width: unset;

    .title {
      color: $dark-grey;

      @include phone {
        text-align: center;
      }
    }

    .listContainer {
      .listItemContainer {
        color: $silver-chalice;
  
        &::marker {
          color: $pure-blue-4
        }

        @include phone {
          text-align: center
        }
      }

      @include phone {
        @include flex(column, center, center);
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include phone {
        margin-bottom: 0;
      }
    }

    @include phone {
      max-width: 300px;
    }
  }
}

.seven-pm-thursday {
  @extend .infoContainer;

  /* stylelint-disable-next-line */
  .container {
    max-width: 406px;

    .title {
      color: $white;
    }

    .listItemContainer {
      margin-bottom: 15px;
      color: $silver-chalice;

      &::marker {
        color: $light-red;
      }
    }
  }
}

.tell {
  @extend .infoContainer;
}

.open-sense {
  @extend .infoContainer;
}

.natp {
  @extend .infoContainer;

  padding-top: 0;

  @include phone {
    @include flex(column, center, flex-start);
  }

  .container {
    margin-right: 100px !important;

    @include phone {
      margin-right: 0 !important;
      margin-bottom: 30px;
    }

    &:last-child {
      @include phone {
        margin-bottom: 0;
      }
    }

    .listItemContainer {
      margin-bottom: 15px;
      color: $silver-chalice;

      &::marker {
        color: $sushi;
      }
    }
  }
}

.writer-chrome-extension {
  @extend .natp;

  padding-top: 30px;

  .container {
    .listItemContainer {
      &::marker {
        color: $sea-blue;
      }
    }

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.drive-focus {
  @extend .infoContainer;

  .container {
    margin-right: 35px !important;

    .listItemContainer {
      margin-bottom: 5px;
      color: $silver-chalice;

      &::marker {
        color: $flamenco;
      }
    }
  }
}

.beautonomy {
  @extend .infoContainer;

  .container {
    &:first-child {
      width: 250px;
    }

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    @include tablet {
      &:first-child {
        width: unset;
      }
    }

    .listItemContainer {
      margin-bottom: 5px;
      color: $silver-chalice;

      &::marker {
        color: $dark-grey;
      }

      .title {
        @include phone {
          @include fontSize(18px);
        }
      }
    }
  }
}

.smartcenter {
  @extend .infoContainer;

  @include phone {
    margin-bottom: 400px;
  }

  .container {
    .title {
      color: $dark-grey;
    }

    .listItemContainer {
      color: $silver-chalice;

      &::marker {
        color: $slate-gray;
      }
    }
  }
}

.ubichat,
.fireaway,
.hotel-data-cloud,
.marketplace-for-clairvoyant-services {
  @extend .infoContainer;

  @include phone {
    align-items: center;
  }

  .container {
    .title {
      @include fontSize(40px);

      @include phone {
        text-align: center;
      }
    }

    .listContainer {
      list-style: none;
      padding: 0;
    }

    .listItemContainer {
      font-weight: 700;
      line-height: 180%;
      margin-bottom: 10px;

      @include phone {
        text-align: center;
      }
    }
  }
}

.dindon,
.meateater,
.bionorica,
.fintech-app-for-credit-score,
.machine-learning-in-real-estate {
  @extend .infoContainer;

  @include phone {
    @include flex(column, center, flex-start);

    padding: 0 65px;
  }

  /* stylelint-disable-next-line */
  .container {
    .title {
      color: $dark-grey;
    }

    .listItemContainer {
      margin-bottom: 15px;
      padding-right: 5px;
      color: $silver-chalice;

      &::marker {
        color: $dark-grey;
      }
    }
  }
}

.fintech-app-for-credit-score {
  @include phone {
    padding: 0;

    @include flex(column, center, center);
  }

  .container {
    .listItemContainer {
      margin-bottom: 15px;
      padding-right: 5px;
      color: $silver-chalice;

      &::marker {
        color: $green-aloha;
      }
    }
  }
}

.machine-learning-in-real-estate {
  @include phone {
    @include flex(column, center, center);

    padding: 0;
  }

  .container {
    margin-top: 40px;
    max-width: unset;
    width: 350px;

    .title {
      color: $white;
    }

    .listItemContainer {
      margin-bottom: 15px;
      padding-right: 5px;
      color: $white;

      &::marker {
        color: $bright-ocean-blue;
      }
    }

    @include below-tablet {
      width: 230px;
    }

    @include phone {
      margin-top: unset;
    }
  }
}

.famlicious {
  @extend .infoContainer;

  gap: 45px;

  @include desktop {
    gap: 20px;
  }

  @include tablet {
    @include flex(column, center, flex-start);
  }

  @include phone {
    gap: 0;
  }

  &.mobileAdditionalInformation {
    margin-top: 0;
  }

  /* stylelint-disable-next-line */
  .container {
    .title {
      color: $dark-grey;
    }

    .listItemContainer {
      margin-bottom: 15px;
      padding-right: 5px;
      color: $silver-chalice;

      &::marker {
        color: $dark-grey;
      }
    }
  }
}

.humankind {
  @extend .infoContainer;
  @include flex(column, center, flex-start);
  
  margin-top: 35px;

  @include tablet {
    max-width: 345px;
    margin: 0 auto;
  }

  .container {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 340px;

    @include tablet {
      margin: 0 auto 30px;
    }
    
    @include phone {
      margin: 0 0 24px;
      margin-top: 0px !important;
    }

    .title {
      @include fontSize(18px);

      @include tablet {
        text-align: center;
      }
    }

    .listContainer {
      @include tablet {
        max-width: 225px;
      }

      .listItemContainer {
        span {
          @include fontSize(18px);
          line-height: 180%;
  
          color: $silver-chalice;

          @include phone {
            @include fontSize(14px);
          }
        }
  
        &::marker {
          color: #617B67;
        }
      }
    }
  }
}

.fusion-markets {
  @extend .infoContainer;

  @include phone {
    @include flex(column, center, flex-start);

    padding: 0 65px;
  }

  /* stylelint-disable-next-line */
  .container {
    &:not(:last-of-type) {
      margin-right: 50px;
    }

    .title {
      color: $white;

      @include phone {
        @include fontSize(18px);
      }
    }

    .listContainer {
      li:first-child {
        padding-right: 20px;
      }
    }

    .listItemContainer {
      margin-bottom: 15px;
      padding-right: 5px;
      color: $silver-chalice;

      &::marker {
        color: $jacksons-purple;
      }
    }
  }
}

.dindon {
  @include phone {
    align-items: center;
    padding: 0;
  }

  .container {
    max-width: 285px;

    &:not(:last-child) {
      margin-right: 60px;
    }

    .title {
      @include phone {
        text-align: center;

        @include fontSize(18px);
      }
    }

    .listItemContainer {
      &::marker {
        color: $cherry-red;
      }
    }
  }
}

.marketplace-for-clairvoyant-services {
  .container {
    .title {
      @include fontSize(40px);

      @include phone {
        text-align: center;
      }
    }

    .listContainer {
      margin-left: 20px;
      list-style: initial;

      .listItemContainer {
        list-style: none;

        & > span {
          position: relative;

          &::before {
            position: absolute;
            left: -15px;
            content: ' ';
            height: 6px;
            width: 6px;
            border-radius: 10px;
            background-color: $violet;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

.hotel-data-cloud {
  .container {
    .title {
      @include fontSize(40px);

      @include phone {
        text-align: center;
      }
    }

    .listContainer {
      list-style: initial;

      .listItemContainer {
        list-style: none;
      }
    }
  }
}

.hotel-data-cloud {
  @include phone {
    justify-content: center;
  }
}