@import 'styles/utils/mixins';

.infoContainer {
  gap: 15px;

  @include flex;

  @include phone {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.container {
  max-width: 280px;

  @include phone {
    min-width: 240px;
  }

  .title {
    margin: 0 0 15px;
    text-align: start;
    font-family: $case-studies-font;
    font-weight: bold;
    line-height: 180%;
    color: $dark-grey;

    @include fontSize(18px);

    @include tablet {
      margin-bottom: 5px;

      @include fontSize(16px);
    }

    @include phone {
      @include fontSize(14px);
    }
  }

  .listContainer {
    padding-left: 20px;
    margin: 0;
  }

  .listItemContainer {
    line-height: 180%;
    font-family: $case-studies-font;
    color: $silver-chalice;

    @include fontSize(18px);

    &::marker {
      color: $pink-lighter;
    }

    @include tablet {
      @include fontSize(16px);
    }

    @include phone {
      text-align: start;

      @include fontSize(14px);
    }
  }
}
