@import 'styles/utils/mixins';

.infoContainer {
  @include flex;

  @include phone {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    max-width: 280px;

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    @include phone {
      min-width: 240px;
    }

    .title {
      margin: 0 0 15px;
      text-align: start;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 180%;

      @include fontSize(18px);

      @include tablet {
        margin-bottom: 5px;

        @include fontSize(16px);
      }

      @include phone {
        @include fontSize(14px);
      }
    }

    .listContainer {
      padding-left: 20px;
      margin: 0;
    }

    .listItemContainer {
      line-height: 180%;
      font-family: $case-studies-font;

      @include fontSize(18px);

      @include tablet {
        @include fontSize(16px);
      }

      @include phone {
        text-align: start;

        @include fontSize(14px);
      }
    }
  }
}

.fernwayer {
  @extend .infoContainer;

  /* stylelint-disable-next-line */
  .container {
    .title {
      color: $dark-grey;
    }

    .listItemContainer {
      color: $silver-chalice;

      &::marker {
        color: $pink-lighter;
      }
    }
  }
}

.seven-pm-thursday {
  @extend .infoContainer;

  /* stylelint-disable-next-line */
  .container {
    max-width: 406px;

    .title {
      color: $white;
    }

    .listItemContainer {
      margin-bottom: 15px;
      color: $silver-chalice;

      &::marker {
        color: $light-red;
      }
    }
  }
}
