@import 'styles/utils/mixins';

.formAndContacts {
  margin: 32px 0 120px;

  & > div {
    @include flex(row, space-between, flex-start, wrap);

    @include tablet {
      @include flex(column, flex-start, center);
    }
  }

  @include tablet {
    display: block;
    margin: 32px 0 60px;
  }
}

.formContainer {
  flex: 1 1 auto;

  @include tablet {
    margin: 0 auto;
  }
}

.formTitle {
  margin: 32px 0 0;

  [data-title] {
    text-align: left;
    margin: 0;

    @include tablet {
      text-align: center;
    }
  }
}

.formSubtitle {
  @include tablet {
    text-align: center;
  }
}

.formSubtitle,
.formSubtitle a {
  color: $gray400;

  a {
    text-decoration: underline;
  }
}

.form {
  flex-wrap: wrap;
  flex: 1 1 auto;

  button {
    align-self: flex-start !important;

    @include tablet {
      align-self: center !important;
    }
  }

  & + * {
    margin-top: -122px;

    @include tablet {
      order: 2;
      margin-top: 24px;
    }
  }

  @include tablet {
    margin: 0 auto;
    order: 0;
  }
}

.contacts {
  @include flex(row);

  flex: 0 0 100%;
  margin-top: 48px;

  & > * + * {
    margin-left: 38px;
  }

  @include tablet {
    margin-top: 32px;
    order: 0;
    display: block;

    * {
      text-align: center;
    }
  }
}

.addresses {
  * {
    @include below-tablet {
      text-align: center;
      margin: 0 auto;
    }
  }
}
