@import 'styles/utils/_mixins';

.formAndContacts {
  margin: 32px 103px 120px 0;

  @include tablet {
    margin: 32px 0 60px;
  }
}

.formContainer {
  max-width: 753px;

  @include tablet {
    margin: 0 auto;
  }
}

.formTitle {
  [data-title] {
    text-align: left;

    @include tablet {
      text-align: center;
    }
  }
}

.formSubtitle {
  @include tablet {
    text-align: center;
  }
}

.formSubtitle,
.formSubtitle a {
  color: $gray400;

  a {
    text-decoration: underline;
  }
}

.form {
  button {
    align-self: start;
  }

  @include tablet {
    margin: 0 auto;
  }
}
