@import 'styles/utils/mixins';

.formAndContacts {
  @include flex(row, space-between, flex-start);

  margin: 32px 0 120px;

  @include tablet {
    display: block;
    margin: 32px 0 60px;
  }
}

.formContainer {
  flex: 1 1 auto;
  max-width: 753px;
  margin-right: 103px;

  @include tablet {
    margin: 0 auto;
  }
}

.formTitle {
  [data-title] {
    text-align: left;

    @include tablet {
      text-align: center;
    }
  }
}

.formSubtitle {
  @include tablet {
    text-align: center;
  }
}

.formSubtitle,
.formSubtitle a {
  color: $gray400;

  a {
    text-decoration: underline;
  }
}

.form {
  button {
    align-self: start;
  }

  @include tablet {
    margin: 0 auto;
  }
}

.contacts {
  flex: 0 0 auto;

  @include tablet {
    margin-top: 32px;

    * {
      text-align: center;
    }
  }
}
