@import 'styles/utils/mixins';

.tagsBlock {
  @include flex(column);

  margin: 0 auto;
  max-width: 790px;

  .title {
    @include fontSize(24px);

    font-weight: 700;
    color: $tundora;
    margin-bottom: 30px;

    @include tablet {
      @include fontSize(20px);
    }

    @include phone {
      @include fontSize(18px);
    }
  }

  .tagsList {
    @include flex(row, space-between, flex-start, wrap);

    .tag {
      @include flex(row, initial, center);

      text-decoration: none;
      padding: 12px 20px;
      margin: 0 20px 7px 0;
      color: $silver-chalice;
      line-height: 1.5;
      text-align: center;
      border: 1px solid $mercury;
      border-radius: 50px;
      transition:
        border-color 0.4s ease,
        color 0.4s ease;

      &:hover {
        border-color: $silver-1;
        color: $jumbo;
        transition:
          border-color 0.4s ease,
          color 0.4s ease;
      }

      @include phone {
        @include fontSize(14px);

        padding: 8px 14px;
        margin-right: 10px;
      }
    }
  }

  @include tablet {
    margin: 100px 0;
  }
}
