@import 'styles/utils/mixins';

.container {
  max-width: 1085px;
  margin: 0 auto 130px;

  @include flex(row, space-between);

  @include phone {
    margin: 0;
  }

  .sectionContainer {
    max-width: 510px;
    width: 100%;

    .sectionItem {
      position: relative;
      padding: 30px 0;
      border-bottom: 2px solid rgba($silver-chalice, 0.2);

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;

        &::after {
          content: none;
        }
      }

      .title {
        margin: 0;
        cursor: pointer;
        transition: color 400ms, margin 400ms;
        font-weight: bold;
        line-height: 120%;
        color: rgba($silver-chalice, 0.5);

        &:hover {
          color: $silver-chalice;
          transition: color 400ms;
        }

        @include fontSize(40px);

        @include tablet {
          @include fontSize(32px);
        }

        @include phone {
          @include fontSize(24px);
        }
      }

      .description {
        line-height: 180%;
        color: $silver-chalice;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }

        & > p {
          margin: 0;
        }
      }
    }

    .sectionActiveItem {
      /* stylelint-disable-next-line */
      .title {
        margin-bottom: 20px;
        color: $dark-grey;

        &:hover {
          color: $dark-grey;
        }
      }
    }
  }

  .imageContainer {
    margin-left: 66px;

    @include phone {
      display: none;
    }
  }
}

.fernwayer {
  @include caseStudyContainer;


  .image {
    display: none;

    &.active {
      display: block;
    }
  }
}
