@import 'styles/utils/mixins';

.container {
  max-width: 1085px;
  margin: 0 auto 130px;
  gap: 66px;

  @include flex(row, space-between);

  .sectionContainer {
    max-width: 510px;
    width: 100%;

    .sectionItem {
      position: relative;
      padding: 30px 0;
      border-bottom: 2px solid rgba(160, 160, 160, 0.2);

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
        border-bottom: none;

        &::after {
          content: none;
        }
      }

      .title {
        margin: 0;
        cursor: pointer;
        font-weight: bold;
        line-height: 120%;
        color: rgba(160, 160, 160, 0.5);

        @include fontSize(40px);

        @include tablet {
          @include fontSize(32px);
        }

        @include phone {
          @include fontSize(24px);
        }
      }

      .description {
        display: none;
        line-height: 180%;
        color: $silver-chalice;

        @include fontSize(18px);

        @include tablet {
          @include fontSize(16px);
        }

        @include phone {
          @include fontSize(14px);
        }

        & > p {
          margin: 0;
        }
      }
    }

    .sectionActiveItem {
      .title {
        margin-bottom: 20px;
        color: $dark-grey;
      }

      .description {
        display: block;
      }

      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        transform: translateY(2px);
        width: 165px;
        height: 4px;
        border-radius: 8px;
        background: linear-gradient(180deg, $pink 0%, $light-pink 100%);
      }
    }
  }

  .image {
    width: 100%;
    height: 100%;
    max-height: 812px;
    display: block;
    object-fit: contain;

    @include phone {
      display: none;
    }
  }
}
