/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins", "styles/utils/theme/animations";

.circle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 760px;
  height: 760px;
  margin-top: 100px;
  border-radius: 50%;

  @include phone {
    width: 440px;
    height: 440px;
  }

  .mockup {
    width: 398px;
    filter: $shadow-filter;
    z-index: 100;

    @include centered;

    @include phone {
      width: 238px;
      filter: $shadow-filter-phone;
    }
  }

  .appImage {
    width: 370px;
    border-radius: 20px;
    filter: $shadow-filter;
    z-index: 10;

    @include centered;

    @include phone {
      width: 225px;
      filter: $shadow-filter-phone;
    }
  }
}

.fernwayer {
  @include caseStudyContainer;

  background-color: $alabaster;
}

.stickerbox {
  @include caseStudyContainer;

  overflow: hidden;
  background-color: $dark-grey-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: rgba($white, 0.4);
  }

  .circle {
    width: 700px;
    height: 700px;
    background: linear-gradient(0deg, $grey-darker 0%, $woodsmoke-2 100%);

    @include phone {
      width: 430px;
      height: 430px;
      margin-top: 80px;
    }

    .mockup {
      @include phone {
        width: 250px;
      }
    }

    .appImage {
      width: 358px;
      z-index: 10;

      @include centered;

      @include phone {
        width: 220px;
      }
    }
  }
}

.fairy {
  @include caseStudyContainer;

  overflow: hidden;
  background-color: $violet;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    max-width: 850px;
    color: rgba($white, 0.4);
  }

  .circle {
    background: linear-gradient(0deg, $dark-violet-1 0%, $dark-violet-2 100%);
  }

  .video {
    max-width: 370px;
    transform: translateY(-22px);
    border-radius: 50px;

    @include phone {
      max-width: 223px;
      border-radius: 30px;
    }
  }
}

.tell {
  @include caseStudyContainer;

  overflow: hidden;

  .circle {
    background: $alabaster;

    .mockup {
      width: 330px;
      filter: drop-shadow(-1.97329px 1.97329px 9.86644px rgba(0, 0, 0, 0.6)) drop-shadow(-14.7997px 14.7997px 29.5993px rgba(0, 0, 0, 0.5));

      @include phone {
        width: 209px;
      }
    }

    .appImage {
      width: 308px;
      filter: unset;

      @include phone {
        width: 196px;
      }
    }

    .imageBundle {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(30%, 25%);
      max-width: 250px;

      @include tablet {
        display: none;
      }
    }
  }
}

.open-sense {
  @include caseStudyContainer;

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 100px auto 0;

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
    }
  }
}

.smartcenter {
  @include caseStudyContainer;

  padding-bottom: 0;

  @include phone {
    padding-bottom: 0;
  }

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 100px auto 0;

    @include phone {
      height: initial;
    }

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
    }
  }
}

.ubichat {
  @include caseStudyContainer;

  @include phone {
    padding-bottom: 0;
    margin-bottom: -80px;
  }

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 100px auto 0;
    height: initial;

    @include phone {
      height: initial;
      margin-top: 0;
    }

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
    }
  }
}

.fireaway {
  @include caseStudyContainer;

  &.firstSectionView {
    background-color: $alabaster;

    @include phone {
      padding: 80px 15px 20px;

      [data-case-study-description] {
        margin-left: 18px;
        margin-right: 18px;
      }
    }

    .circle {
      @include phone {
        width: 320px;
        margin-top: 10%;
      }

      .mockup {
        filter: none;
        width: 770px;
        height: 720px;
        margin-top: 80px;

        @include phone {
          width: 300px;
          height: 295px;
          margin-top: 0;
        }
      }

      .imageBundle {
        margin-left: -26%;
        margin-top: 2%;

        @include tablet {
          margin-left: 0;
          margin-top: 0;
          transform: translate(19%, -20%);
        }

        @include phone {
          margin-left: 35px;
          margin-top: 8%;
          width: 110px;
        }
      }
    }
  }

  &.secondSectionView {
    background-color: $cornflower-blue;
    padding: 140px 40px 40px;

    @include phone {
      padding: 70px 15px 50px;
      margin-bottom: -75%;
    }

    [data-case-study-title] {
      color: $white;

      @include phone {
        @include fontSize(27px);
      }
    }

    .circle {
      @include phone {
        width: 375px;
      }

      .mockup {
        filter: none;
        width: 1096px;
        height: 697px;
        top: 43%;

        @include tablet {
          width: 896px;
          height: 672px;
        }

        @include below-tablet {
          width: 768px;
          height: 576px;
        }

        @include phone {
          width: 345px;
          height: 219px;
          margin-top: 0;
          top: 10%;
        }
      }

      .imageBundle {
        position: absolute;

        &:nth-child(3) {
          max-width: 140px;
          right: 0;
          top: 0;
          transform: translate(237%, 390%);

          @include desktop {
            transform: translate(215%, 390%);
          }

          @include tablet {
            transform: translate(85%, 425%);
          }

          @include below-tablet {
            transform: translate(-10%, 425%);
          }

          @include phone {
            max-width: 63px;
            transform: translate(-1%, 207%);
          }
        }

        &:nth-child(4) {
          max-width: 60px;
          left: 0;
          top: 0;
          transform: translate(-460%, 224%);

          @include tablet {
            transform: translate(-166%, 0);
          }

          @include below-tablet {
            transform: translate(0, 0);
          }

          @include phone {
            max-width: 34px;
            transform: translate(22%, -205%);
          }
        }
      }
    }
  }

  &.thirdSectionView {
    background-color: $alabaster;
    padding: 140px 40px 55px;

    [data-case-study-description] {
      max-width: 850px;
    }

    @include below-tablet {
      padding: 95px 40px 0;

      [data-case-study-description] {
        margin-bottom: 0;
      }
    }

    @include phone {
      padding: 50px 26px 0;
      height: 465px;
    }

    .circle {
      @include below-tablet {
        margin-top: 0;
      }

      @include phone {
        width: 320px;
        margin-top: 10%;
      }

      .mockup {
        filter: none;
        width: 1096px;
        height: 689px;

        @include full-hd {
          transform: translate(-50%, -55%);
        }

        @include tablet {
          width: 896px;
          height: 672px;
        }

        @include below-tablet {
          width: 640px;
          height: 480px;
        }

        @include phone {
          width: 300px;
          height: 200px;
          margin-top: 0;
          top: 22%;
          transform: translate(-50%, -48%);
        }
      }

      .imageBundle {
        position: absolute;

        &:nth-child(3) {
          max-width: 82px;
          left: 0;
          top: 165px;
          transform: translate(-390%, 450%);

          @include tablet {
            transform: translate(-12vw, 40vh);
          }

          @include below-tablet {
            transform: translate(0%, 530%);
          }

          @include phone {
            max-width: 41px;
            transform: translate(-10%, 100%);
          }
        }

        &:nth-child(4) {
          max-width: 115px;
          right: 0;
          top: 0;
          transform: translate(286%, 120%);

          @include desktop {
            transform: translate(261%, 120%);
          }

          @include tablet {
            transform: translate(100%, -30%);
          }

          @include below-tablet {
            transform: translate(0, 66%);
          }

          @include phone {
            max-width: 49px;
            transform: translate(44%, -60%);
          }
        }
      }
    }
  }
}

.telemojo {
  @include caseStudyContainer;

  @include phone {
    [data-case-study-description] {
      margin-bottom: -65px;
    }
  }

  padding-bottom: 0;

  @include tablet {
    padding-bottom: 0;
  }

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 100px auto 0;
    height: auto;

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
    }
  }
}

.fusion-markets {
  @include caseStudyContainer;

  background: $eerie-black;
  padding-top: 1px;

  [data-case-study-title] {
    color: $white;
  }

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: 1400px;
    margin: 100px auto 0;
    height: initial;

    @include phone {
      height: initial;
      margin-top: 0;
    }

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
    }
  }

  &.secondSectionView,
  &.thirdSectionView {
    padding-bottom: 40px;

    @include phone {
      padding-top: 1px;
    }
  }

  &.fourthSectionView {
    padding-top: 140px;
    padding-bottom: 10px;

    @include phone {
      padding-top: 70px;
    }

    [data-case-study-description] {
      max-width: 775px;

      @include phone {
        max-width: 300px;
      }
    }
  }
}

.bionorica {
  @include caseStudyContainer;

  padding-bottom: 0;
  margin-bottom: 150px;

  @include tablet {
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  @include phone {
    [data-case-study-description] {
      margin-bottom: -65px;
    }
  }

  .circle {
    position: static;
    transform: translateX(0);
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 100px auto 0;
    height: auto;

    .mockup {
      width: 100%;
      filter: unset;
      position: static;
      transform: translate(0, 0);
      border-radius: 20px;
      box-shadow: 0 14px 44px 0 rgba($color: $shuttle-gray-2, $alpha: 0.07);
    }
  }

  .imageBundle {
    position: absolute;
    left: -30vw;
    top: 40%;
    z-index: -1;

    @include tablet {
      height: 500px;
      left: -10%;
      top: 60%;
    }
  }
}

.blackbird {
  @include caseStudyContainer;

  .mockup {
    filter: unset;
    width: 320px;

    @include phone {
      width: 240px;
    }
  }

  &.firstSectionView {
    margin-bottom: 120px;
    overflow: hidden;
    background-color: $white;

    [data-case-study-description] {
      max-width: 850px;
      color: rgba($silver-chalice, 0.4);
    }

    .circle {
      background: $bright-navy;
      width: 470px;
      height: 470px;
      margin-top: 170px;

      @include phone {
        width: 320px;
        height: 320px;
        margin-top: 135px;
      }
    }

    .appImage {
      filter: unset;
      width: 290px;
      border-radius: 40px;

      @include phone {
        width: 215px;
        border-radius: 28px;
      }
    }
  }

  &.secondSectionView {
    [data-case-study-description] {
      margin: 80px auto;
      max-width: 800px;
      text-align: center;
      color: $silver-chalice;

      @include phone {
        margin-top: 40px;
      }
    }

    .circle {
      height: 240px;

      @include phone {
        width: 240px;
        height: 160px;
        margin-top: -40px;
      }
    }
  }
}

.fintech-app-for-credit-score {
  @include caseStudyContainer;

  .mockup {
    filter: unset;
    width: 760px;

    @include phone {
      width: 300px;
      top: 90%;
    }
  }

  .circle {
    @include phone {
      height: 150px;
      margin-top: 0;
      width: unset;
    }
  }
}

.hotel-data-cloud,
.marketplace-for-clairvoyant-services {
  @include caseStudyContainer;

  .circle {
    position: static;
    transform: translateX(0);
    height: min-content;
    width: 100%;
    max-width: $max-content-width-small-section;
    margin: 0 auto;

    .mockup {
      width: 100%;
      filter: drop-shadow(0 14px 54px rgba($black, 0.08));
      position: static;
      transform: translate(0, 0);
    }

    @include phone {
      padding-bottom: 0;
    }
  }
}

.hotel-data-cloud {
  [data-case-study-description] {
    max-width: 620px;
    text-align: center;
    margin-bottom: 0;
  }
}
