@import 'styles/utils/mixins', 'styles/utils/theme/animations';

.circle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 760px;
  height: 760px;
  margin-top: 100px;
  border-radius: 50%;

  @include phone {
    width: 440px;
    height: 440px;
  }

  .mockup {
    width: 398px;
    filter: $shadow-filter;
    z-index: 100;

    @include centered;

    @include phone {
      width: 240px;
      filter: $shadow-filter-phone;
    }
  }

  .appImage {
    width: 370px;
    border-radius: 20px;
    filter: $shadow-filter;
    z-index: 10;

    @include centered;

    @include phone {
      width: 225px;
      filter: $shadow-filter-phone;
    }
  }
}

.fernwayer {
  @include caseStudyContainer;

  background-color: $alabaster;
}

.stickerbox {
  @include caseStudyContainer;

  overflow: hidden;
  background-color: $dark-grey-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: rgba($white, 0.4);
  }

  .circle {
    width: 700px;
    height: 700px;
    background: linear-gradient(0deg, $grey-darker 0%, #17191C 100%);

    @include phone {
      width: 430px;
      height: 430px;
      margin-top: 80px;
    }

    .mockup {
      @include phone {
        width: 250px;
      }
    }

    .appImage {
      width: 358px;
      z-index: 10;

      @include centered;

      @include phone {
        width: 220px;
      }
    }
  }
}

.fairy {
  @include caseStudyContainer;

  overflow: hidden;
  background-color: $violet;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    max-width: 850px;
    color: rgba($white, 0.4);
  }

  .circle {
    background: linear-gradient(0deg, $dark-violet-1 0%, $dark-violet-2 100%);
  }
}

.tell {
  @include caseStudyContainer;

  .circle {
    background: $alabaster;
  }
}
