@import 'styles/utils/mixins';

.ourWorkSection {
  margin: 150px 0 50px;

  .item {
    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .swiperPaginationBullet {
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  :global(.swiper-container) {
    &::before,
    &::after {
      content: " ";
      height: 100%;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 2;
    }

    &::before {
      background: linear-gradient(90deg, rgba($white, 1) -20%, rgba($white, 0) 40%);
      left: -15px;
    }

    &::after {
      background: linear-gradient(90deg, rgba($white, 0) 60%, rgba($white, 1) 120%);
      right: -15px;
    }
  }

  :global(.swiper-pagination) {
    position: relative;
    margin-top: 60px;
  }

  :global(.swiper-pagination-bullet) {
    @extend .swiperPaginationBullet;

    background: $wild-sand;
  }

  :global(.swiper-pagination-bullet-active) {
    @extend .swiperPaginationBullet;

    background: $silver-chalice;
  }
}
