@import 'styles/utils/mixins';

.ourWorkSection {
  margin-top: 150px;
  margin-bottom: 50px;

  :global(.swiper-container) {
    &::before,
    &::after {
      content: " ";
      height: 100%;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 2;
    }

    &::before {
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) -20%, rgba(255, 255, 255, 0) 40%);
      left: -15px;
    }

    &::after {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 120%);
      right: -15px;
    }
  }

  :global(.swiper-pagination) {
    position: relative;
    margin-top: 60px;
  }

  :global(.swiper-pagination-bullet) {
    width: 12px;
    height: 12px;
    background: $wild-sand;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    width: 12px;
    height: 12px;
    background: $silver-chalice;
    opacity: 1;
  }
}
