@import "styles/utils/mixins";

.button {
  @include button-more($black, $black, $turbo-100, $turbo-100, $turbo-100, $turbo-100);

  border-radius: $button-border-radius;
  letter-spacing: 0.5px;
  border: none;
  transform: scale(1);

  @include flex (row, center);

  &:hover {
    border: none;
    transform: scale(0.96);
  }
}

.blog {
  padding: 40px;
  background-color: $alabaster;
  border-radius: 5px;
  margin: 80px 0;

  @include flex(row, space-between, center);

  .h3 {
    color: $tundora;
    font-weight: 700;
    line-height: 1.5;
    border-left: 2px solid $tundora;
    padding-left: 20px;
    margin: 0 40px 0 0;

    @include fontSize(24px);

    @include macbook-twelve {
      @include fontSize(22px);
    }

    @include phone {
      @include fontSize(18px);
    }
  }

  .button {
    font-weight: 500;
    padding: 20px 0;
    margin-top: 0;

    @include fontSize(18px);

    @include phone {
      margin-top: 20px;
      padding: 20px;

      @include fontSize(16px);
    }
  }

  @include phone {
    @include flex(column, center, center);
  }
}

.page {
  margin-bottom: 250px;
  padding: 0 20px;

  @include flex(column, center, center);

  @include macbook-fifteen {
    padding: 0 80px;
  }

  @include tablet {
    padding: 0 20px;
  }

  .h3 {
    text-align: center;

    @include fontSize(45px);

    @include below-tablet {
      @include fontSize(35px);
    }

    @include phone {
      @include fontSize(28px);
    }
  }

  .p {
    text-align: center;
    line-height: 1.8;

    @include fontSize(20px);

    @include phone {
      @include fontSize(16px);
    }
  }

  .button {
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 0;
    margin-top: 80px;

    @include phone {
      font-weight: 500;
    }
  }
}

.card {
  padding: 70px;
  background-color: $alabaster;
  border-radius: 5px;

  @include flex(row, space-between, center);

  @include below-tablet {
    padding: 30px;
  }

  @include phone {
    @include flex(column, center, center);
  }

  .h3 {
    white-space: pre-line;
    line-height: 1.6;

    @include fontSize(32px);

    @include phone {
      margin-bottom: 32px;
      text-align: center;

      @include fontSize(20px);
    }
  }

  .button {
    padding: 22px 18px;
    margin-top: 0;
  }
}
