@import 'styles/utils/variables';
@import 'styles/utils/mixins';

$imgIndent: 7.5px;

.instaTape {
  @include flex();
  width: 100%;
  max-width: $max-content-width;
  margin-top: 80px;

  img {
    width: calc(#{$max-content-width} / 4 - #{$imgIndent} * 2);
    height: calc(#{$max-content-width} / 4 - #{$imgIndent} * 2);
    margin: 0 $imgIndent;
    border-radius: 5px;
  }

  @media (max-width: calc(#{$max-content-width} + 4 * #{$aricleIndent})) {
    img {
      width: calc(100% / 4 - #{$imgIndent} * 2);
      height: calc(100% / 4 - #{$imgIndent} * 2);
    }
  }

  @include phone {
    flex-wrap: wrap;
    margin-top: $after-mobile-title-margin;

    img {
      width: 100%;
      height: 100%;
      max-width: initial;
      max-height: initial;
      margin: 0 0 15px 0;

      &:nth-child(2) {
        width: calc(50% - #{$imgIndent});
        margin-right: $imgIndent;
      }

      &:nth-child(3) {
        width: calc(50% - #{$imgIndent});
        margin-left: $imgIndent;
      }

      &:last-child {
        display: none;
      }
    }
  }
}