.blackBird {
  @include centeredBackgroundImage;

  background-color: $chinese-black;
  background-size: contain;

  .projectInfoContainer {
    color: $white;
    margin-top: 30px;

    .projectTitle {
      @include fontSize(45px);

      @include below-tablet {
        @include fontSize(30px);
      }
    }

    .projectSubtitle {
      @include fontSize(13px);

      width: 290px;

      @include below-tablet {
        @include fontSize(10px);
      }
    }
  }

  .imageContainer {
    max-width: 500px;
    width: 100%;

    .image {
      max-width: 120%;

      @include tablet {
        max-width: 70%;
      }
    }
  }
}
