.carbon-space {
  @extend .verticalContainer;

  background: $light-grayish-blue-2;

  .projectDescription {
    color: $silver-chalice;
    max-width: 514px;
  }

  .logo {
    width: initial;
  }

  .imageContainer {
    width: 85%;

    @include tablet {
      width: 80%;
    }

    @include phone {
      width: 100%;
    }

    .image {
      margin: 0 0 -20px;
      max-width: 100%;
    }
  }

  .projectPreview::after {
    content: '';
  }
}
