.famlicious {
  background-color: $athens-gray-1;

  .projectInfoContainer {
    .projectTitle {
      margin: 0;
      color: $dark-grey-2;
    }

    .projectSubtitle {
      color: $dark-grey;
    }

    .projectDescription {
      @include fontSize(16px);

      font-weight: 500;
      margin: 15px 0 10px;
      color: $dark-grey-2;

      @include tablet {
        @include fontSize(14px);
      }
    }

    p:not(.projectSubtitle, .projectDescription) {
      @include fontSize(13px);

      color: $shuttle-gray;
      max-width: 330px;

      @include tablet {
        @include fontSize(12px);
      }
    }
  }

  .appStore {
    path {
      fill: $black;
    }
  }

  .imageContainer {
    z-index: 1;
    max-width: 500px;
    width: 100%;

    .image {
      transform: translate(10%, 0);
      max-width: 170%;

      @include tablet {
        transform: unset;
        max-width: 100%;
      }

      @include phone {
        max-width: 170%;
      }
    }

    @include tablet {
      height: 100%;
      max-width: 250px;
    }
  }
}
