.natp {
  @extend .verticalContainer;

  position: relative;
  background-image: linear-gradient(to bottom, $nevada-2 0%, $shark-3 100%);

  .projectTitle {
    color: $white;
    margin-bottom: 14px;
  }

  .projectDescription {
    color: rgba($white, 0.7);

    @include phone {
      text-align: center;
    }
  }

  .image {
    max-width: 100%;
  }

  .imageContainer {
    width: 75%;

    @include tablet {
      width: 80%;
    }

    @include phone {
      width: 100%;
    }
  }

  .imageBundle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}
