.smartcenter {
  @extend .verticalContainer;

  background-image: linear-gradient(to bottom, $regent-gray 0%, $slate-gray3 100%);

  .projectInfoContainer {
    .projectTitle {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .projectDescription {
      color: rgba($white, 0.7);
    }

    @include phone {
      max-width: 90%;
    }
  }

  .image {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    max-width: 560px;

    @include macbook-fifteen {
      max-width: 490px;
    }

    @include phone {
      max-width: 80vw;
    }
  }
}
