@import 'styles/utils/mixins';

.contactContainer {
  position: relative;
  z-index: 2;
  background-color: $white;

  @include flex(column, center, center);
}

.breadcrumbs {
  @include tablet {
    width: 100%;
    top: 0;
    padding: 0;
  }

  @include phone {
    padding-top: 54px;
  }
}
