/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";

.advantagesContainer {
  width: 100%;
  height: 100%;
  margin: auto;

  @include flex(row, center, space-between, wrap);

  @include ultra-hd {
    width: 80%;
  }

  @include quad-hd {
    width: 90%;
  }

  @include full-hd {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  @include desktop {
    margin-top: 80px;
  }

  @include tablet {
    height: auto;

    @include flex(row, center, initial, wrap);
  }

  @include phone {
    height: auto;
    margin-top: 0;
  }
}

.advItem {
  width: calc(33% - 40px);
  padding: 0 20px;
  margin-top: 60px;
  text-align: center;

  @include flex(column, flex-start, center);

  @include full-hd {
    margin-top: 50px;
  }

  @include desktop {
    margin-top: 60px;
  }

  &:nth-child(2) {
    margin: 60px auto 0 auto;
  }

  .imageContainer {
    display: block;

    & span {
      height: 120px !important;
      width: 120px !important;
      margin: auto !important;

      @include ultra-hd {
        height: 400px !important;
        width: 400px !important;
      }

      @include full-hd {
        height: 300px !important;
        width: 300px !important;
      }

      @include desktop {
        height: 310px !important;
        width: 310px !important;
      }

      @include macbook-fifteen {
        height: 260px !important;
        width: 260px !important;
      }

      @include phone {
        height: 300px !important;
        width: 300px !important;
      }
    }
  }

  .title {
    display: inline-block;
    margin-top: -20px;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: $black;
    opacity: 0.9;

    @include macbook-fifteen {
      margin-top: 20px;
    }

    @include below-tablet {
      margin-top: 10px;
    }

    @include phone {
      margin-top: -20px;
    }
  }

  &:last-child {
    margin-top: 10%;

    @include quad-hd {
      margin-top: 5%;
    }

    @include full-hd {
      margin-top: 50px;
    }

    @include tablet {
      margin-top: 60px;
    }

    .title {
      margin-top: 0;

      @include tablet {
        margin-top: 20px;
      }

      @include phone {
        margin-top: -35px;
      }
    }

    span {
      margin-bottom: -60px;

      @include full-hd {
        margin-bottom: -50px;
      }

      @include macbook-fifteen {
        margin-bottom: -10px;
      }

      @include tablet {
        margin-bottom: -20px;
        margin-top: 20px;
      }
    }
  }

  .desc {
    margin-top: -10px;
    width: 330px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 2;
    text-align: center;
    color: $black;

    @include phone {
      width: 100%;
    }

    span {
      font-weight: normal;
    }
  }

  & > a {
    span {
      transition: transform 0.4s ease;
    }

    .title {
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0;
        position: absolute;
        left: 0;
        background: $black;
        transition: width 0.4s ease;
      }
    }

    &:hover {
      span {
        transform: translateY(-10px);
        transition: transform 0.4s ease;
      }

      .title {
        &::after {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    width: auto;

    &:nth-child(2) {
      margin: 60px 0 0 0;
    }
  }

  @include phone {
    width: 100%;
    padding: 0;
    margin: 100px 0 0 0;

    &:not(:nth-of-type(1)) {
      margin-top: 15%;
    }

    &:nth-of-type(4) {
      margin-top: 0;
    }

    :global(.animated) {
      span {
        width: 100%;
      }

      .desc {
        width: 100%;
      }
    }
  }
}
