@import 'styles/utils/mixins';

.checkbox {
  @include flex(row, flex-start, center);
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;

  span {
    font-size: 0.75rem !important;
    font-weight: normal;
    color: $emperor !important;
  }

  a {
    text-decoration: none;
    font-size: 0.75rem;

    .link {
      margin-left: 5px;
      text-decoration: none;
      position: relative;
      transition: color $accelerated-transition-time;
  
      &:before {
        position: absolute;
        display: block;
        content: "";
        border-bottom: 1px $emperor solid;
        bottom: -2px;
        width: 99%;
        left: 0.5%;
        transition: border $accelerated-transition-time;
      }
    }

    &:hover {
      .link {
        cursor: pointer;
        color: $turbo-100 !important;
  
        &:before {
          border-bottom: 1px $turbo-100 solid;
        }
      }
    }
  }

  &:hover input ~ .checkmark {
    background-color: transparent;
  }

  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: transparent;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: auto !important;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid $emperor;
    border-radius: 2.5px;
    background-color: transparent;

    &:after {
      display: none;
      content: "";
      position: absolute;
      left: 5px;
      top: 2px;
      width: 3px;
      height: 6px;
      border: solid $emperor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:last-child {
    margin-left: 40px;
  }
}