@import 'styles/utils/mixins';

.checkbox {
  @include flex(row, flex-start, center);

  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;

  span {
    font-size: 0.75rem !important;
    font-weight: normal;
    color: $emperor !important;
  }

  .link {
    cursor: pointer;

    a {
      text-decoration: none;
      font-size: 0.75rem;
      margin-left: 5px;
      position: relative;
      transition: color $accelerated-transition-time;
      border: none;
      outline: none;
      background-color: transparent;
      color: $emperor;
      display: inline-block;
      padding: 0;

      &::before {
        width: 98%;
        content: '';
        cursor: pointer;
        position: absolute;
        bottom: 1px;
        right: 1%;
        border-bottom: 1px $emperor solid;
        transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    &:hover {
      a {
        &::before {
          width: 0;
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: auto !important;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid $emperor;
    border-radius: 2.5px;
    background-color: transparent;

    &::after {
      display: none;
      content: '';
      position: absolute;
      left: 5px;
      top: 2px;
      width: 3px;
      height: 6px;
      border: solid $emperor;
      border-width: 0 2px 2px 0;
      will-change: transform;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: transparent;
  }

  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: transparent;

      &::after {
        display: block;
      }
    }
  }

  &:last-child {
    margin-left: 40px;
  }
}
