/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

.smallText {
  font-style: normal;

  @include fontSize(24px);

  a {
    color: $dark-grey;
  }
}

.addressTitle {
  display: block;
  margin: 30px 0 15px;
  font-style: normal;
  color: $silver-chalice;

  @include fontSize(18px);
}

.socialMediaList {
  @include flex();

  & > a {
    margin-right: 16px;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.2s ease-out;
    }
  }
}

.phoneNumber {
  font-style: normal;

  @extend .smallText;

  @include flex(column);

  & > a {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.email {
  padding-bottom: 4px;
  width: max-content;

  @extend .smallText;

  a {
    position: relative;
    text-decoration: none;
    transition: color $accelerated-transition-time;
    color: $black;

    &::before {
      width: 98%;
      content: '';
      cursor: pointer;
      position: absolute;
      bottom: -5px;
      right: 1%;
      border-bottom: 1.5px $black solid;
      transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &:hover {
    cursor: pointer;

    a {
      &::before {
        width: 0;
        will-change: transition;
        transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateZ(0);
      }
    }
  }
}
