.chat-app-development-company {
  @extend .pageIntroContainer;

  .pageIntroWrapper {
    margin: 0 0 48px;

    @include below-tablet {
      @include flex(column-reverse);

      margin: 0;
    }
  }

  .pageTitleContainer {
    max-width: 557px;

    @include below-tablet {
      padding: 0 16px;
    }
  }

  .pageTitle {
    @include fontSize(46px, 55px);

    margin-bottom: 16px;

    @include below-tablet {
      text-align: center;
    }

    @include phone {
      @include fontSize(24px, 31px);
    }
  }

  .subtitle {
    @include fontSize(16px, 24px);

    padding: 0;

    @include below-tablet {
      text-align: center;
    }
  }

  .image {
    max-width: 582px;
    margin: 0 auto;

    @include below-tablet {
      margin-top: 32px;
    }
  }
}
