.discovery-phase-services {
  @extend .pageIntroContainer;

  padding: 20px 8% 60px;

  .pageIntroWrapper {
    flex-flow: row-reverse nowrap;
    margin-bottom: 0;

    @include tablet {
      flex-flow: column-reverse;
    }
  }

  .pageTitleContainer {
    max-width: 658px;

    @include phone {
      margin-bottom: 0;
    }
  }

  .pageTitle {
    @include fontSize(46px, 55px);

    max-width: 557px;
    margin-bottom: 16px;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 251px;
      height: 70px;
      border-radius: 50%;
      border: 6px solid $turbo-100;
      transform: translate(60%, 0);
      left: 0;
      top: -9px;
      z-index: -1;

      @include phone {
        width: 132px;
        height: 38px;
        border-width: 4px;
        transform: translate(75%, 0);
      }
    }

    @include phone {
      @include fontSize(24px, 130%);

      max-width: 100%;
      text-align: center;
      margin-bottom: 8px;
    }
  }

  .subtitle {
    @include fontSize(16px, 24px);

    max-width: 625px;
    padding: 0;

    @include phone {
      text-align: center;
    }
  }

  .image {
    max-width: 543px;

    @include tablet {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  @include tablet {
    padding: 20px 20px 60px;
  }

  @include phone {
    padding: 20px 16px 60px;
  }
}
