.fintech-software-development-services {
  background-color: $gray900;
  padding: 24px 8% 0;

  .pageIntroWrapper {
    @include phone {
      margin-bottom: 60px;
    }
  }

  .image {
    max-width: 363px;
    margin: 0 auto;
  }

  @include phone {
    padding:24px 16px 0;
  }
}
