.fintech-software-development-services {
  background-color: $gray900;

  .pageIntroWrapper {
    @include phone {
      margin-bottom: 60px;
    }
  }

  @include phone {
    padding-bottom: 0;
  }
}
