.ui-ux-services {
  @extend .pageIntroContainer;

  padding: 24px 8% 0;
  overflow: hidden;

  .pageIntroWrapper {
    margin-bottom: 0;
  }

  .pageTitle {
    @include fontSize(46px, 55px);

    margin-bottom: 16px;
    max-width: 557px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 217px;
      height: 70px;
      border-radius: 50%;
      border: 6px solid $turbo-100;
      right: 0;
      bottom: -15px;
      transform: translate(-10%, 0);
      z-index: -1;

      @include phone {
        width: 130px;
        height: 31px;
        border-width: 3px;
        bottom: -5px;
      }
    }

    @include phone {
      @include fontSize(24px, 31px);

      text-align: center;
      margin: 0 auto;
      max-width: 345px;
    }
  }

  .subtitle {
    max-width: 557px;

    @include phone {
      text-align: center;
      max-width: 345px;
      padding-right: 0;
      margin: 0 auto;
    }
  }
}
