.web-app-development-company {
  @extend .pageIntroContainer;

  background-color: inherit;
  padding: 24px 8% 0;

  .pageIntroWrapper {
    margin-bottom: 40px;

    & > div:last-child {
      @include flex(row, flex-end);

      .image {
        padding-top: 100%;
        max-width: 373px;

        @include below-tablet {
          max-width: 425px;
        }

        @include phone {
          padding-top: 458px;
          max-width: 302px;
        }
      }

      @include below-tablet {
        justify-content: center;
      }
    }

    @include below-tablet {
      @include flex(column-reverse, space-between, center);

      margin-bottom: 100px;
    }

    @include phone {
      margin-bottom: 80px;
    }
  }

  .pageTitle {
    @include fontSize(46px, 55px);

    color: $gray0;
    margin-bottom: 16px;
    max-width: 557px;

    @include below-tablet {
      text-align: center;
    }

    @include phone {
      @include fontSize(24px, 31px);
    }
  }

  .subtitle {
    margin: 0;
    padding: 0;
    max-width: 557px;

    @include below-tablet {
      text-align: center;
      padding: 0;
      margin: 0 auto;
    }
  }
}
