@import 'styles/utils/mixins';
@import '../utils/styles.module';

.relatedServices {
  @include appDevelopmentContainer;

  .contentWrapper {
    .serviceList {
      grid-template-columns: repeat(3, 1fr);

      & > div {
        padding: 0;
        width: 400px;

        @include phone {
          width: 295px;
        }
      }

      .imageWrapper {
        width: 100%;
        height: 304px;
        background: $white;

        div {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
}

.mobile-app-development-company,
.chat-app-development-company {
  &.relatedServices {
    @extend .greySection;

    padding-top: 0;
  }
}
