@import 'styles/utils/mixins';
@import 'utils/theme/animations';

.contactsContainer {
  .mobileFooterTitle {
    margin-bottom: 60px;
    font-size: 1.8rem;
  }

  & > div {
    display: block;
    text-align: left;

    h1 {
      text-align: left;
      display: none;
    }

    @include phone {
      text-align: center;

      h1 {
        text-align: center;
        display: block;
      }
    }
  }

  .contacts {
    @include flex(column);

    span {
      font-size: 0.875rem;
      font-weight: 500;
      color: $white;
      margin-bottom: 10px;
      
      &:not(:nth-child(2n)) {
        margin-top: 25px;
      }

      &:first-child {
        margin-top: 0; 
      }

      a:nth-of-type(1) {
        font-size: 1rem;
        text-decoration: none;
        color: $footer-accent-color;
        font-weight: 500;
        position: relative;
        transition: color $accelerated-transition-time;
        
        &:hover {
          color: $accent-color;
          
          &:before {
            border: solid 0.5px $accent-color;
          }
        }
      }
    }

    span:nth-of-type(2) {
      a:before {
        position: absolute;
        display: block;
        content: "";
        border: solid 0.5px $footer-accent-color;
        bottom: -4px;
        width: 100%;
        left: 0%;
      }
    }

    @include phone {
      @include flex(column, flex-start, center);
    }
  }

  .social {
    margin-top: 30px;

    @include phone {
      margin-top: 80px;
    }
  
    .icons {
      margin-top: 15px;

      img {
        margin-right: 20px;
        transform: translateY(0);
        transition: transform .2s;

        &:hover {
          transform: translateY(-5px);
        }
      }

      @include phone {
        a:last-child {

          img {
            margin-right: 0;
          }
        }
      }
    }
  }

  .estimationButton {
    display: none;
    margin-top: $mobile-more-button-indent;

    @include phone {
      display: block;
    }

    .button {
      margin-top: 50px;
      @include buttonMore($black, $black, $accent-color, $accent-color);
      background-color: $accent-color;
      color: $feedback-submit-color;
      line-height: 1.55;
      letter-spacing: 0.5px;
      text-align: center;
      font-size: 1rem;
  
      @include phone {
        width: 90%;
        margin: 90px auto 0 auto;
      }
    }
  }

  .text {
    opacity: 0.5;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: $white;
    margin-top: 80px;

    @include phone {
      @include flex(column, flex-start, center);
      margin-top: 70px;
    }
  }

  .rocket {
    display: none;
    width: 100%;
    @include phone {
      animation: rocket 2.5s infinite ease-in-out;
      animation-delay: 1s;
      display: block;
      margin-top: 70px;
    }
  }
}