@import "styles/utils/mixins";

.mainContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px 70px;

  @include macbook-twelve {
    grid-template-columns: repeat(3, max-content);
    grid-gap: 20px 50px;
  }

  @include tablet {
    grid-template-columns: repeat(3, auto);
  }

  @include phone {
    grid-template-columns: repeat(2, auto);
    grid-gap: 40px 50px;
    grid-template-areas:
      "usa-address company"
      "poland-address sevices"
      "poland-address ."
      "ukraine-address .";

    //grid-template-areas:
    //  "usa-address company"
    //  "belarus-address sevices"
    //  "poland-address ."
    //  "ukraine-address .";
  }

  .dataContainer {
    @include flex(column);

    &.usaAddress {
      @include phone {
        grid-area: usa-address;
      }
    }

    &.company {
      @include phone {
        grid-area: company;
      }
    }

    &.sevices {
      @include phone {
        grid-area: sevices;
      }
    }

    &.belarusAddress {
      @include phone {
        grid-area: belarus-address;
      }
    }

    &.polandAddress {
      @include phone {
        grid-area: poland-address;

        .title {
          //display: none;
        }
      }
    }

    &.ukraineAddress {
      @include phone {
        grid-area: ukraine-address;

        .title {
          display: none;
        }
      }
    }

    .title {
      margin: 0 0 15px;
      line-height: 1.8;
      font-weight: 700;

      @include fontSize(18px);

      @include macbook-twelve {
        @include fontSize(16px);
      }
    }

    .text,
    a {
      color: $white;
      opacity: 0.7;
      line-height: 1.8;
      margin: 0 0 10px;

      @include fontSize(16px);

      @include macbook-twelve {
        @include fontSize(14px);
      }
    }

    .text {
      white-space: pre-line;
      cursor: default;
    }

    a {
      transition: color 0.2s;

      &:hover {
        color: $turbo-100;
      }
    }

    .main {
      opacity: 1;
      margin: 0 0 10px;
    }

    .email {
      opacity: 1;

      & > span {
        padding-bottom: 3px;
        border-bottom: 1px solid rgba($white, 0.2);
      }
    }
  }
}
