@import 'styles/utils/mixins';
@import 'styles/utils/theme/animations';

.addFooterContainer {
  position: fixed;
  left: 0;
  top: calc(100vh - 105px);
  z-index: 99999;
  width: calc(100% - 70px);
  padding: 45px 35px;

  @include flex(row, space-between, flex-start);

  @include phone {
    top: 81vh;
    width: 100%;
    padding: 0;

    @include flex(row, center, center);

    & > div,
    svg {
      display: none;
    }
  }

  .text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @include fontSize(20px);
    @include flex();

    @include macbook-fifteen {
      max-width: 625px;
      text-align: center;
      flex-direction: column;
    }

    @include macbook-twelve {
      max-width: 510px;

      @include fontSize(16px);
    }

    @include phone {
      display: none;
    }
  }
}

.animate {
  will-change: transform;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.down {
  will-change: transform;
  transform: translate3d(0, 40px, 0);
  opacity: 0;
  transition: transform $default-transition-time, opacity $default-transition-time;
}

.up {
  will-change: transform;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform $default-transition-time, opacity $default-transition-time;
}

.notOnTop {
  opacity: 0;
}
