/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins', 'styles/utils/theme/animations';

.mobile-bank-application {
  padding: 120px 80px;
  background-color: $alabaster;

  [data-case-study-title] {
    margin-bottom: 0;
  }

  .prototypeContainer {
    iframe {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      border: none;
    }
  }

  @include tablet {
    padding: 80px 24px;
  }

  @include tablet {
    padding: 60px 15px;
  }
}