@import 'styles/utils/mixins';

.search {
  overflow-y: scroll;

  @include phone {
    z-index: 2;
  }
}

.searchBlock {
  margin-top: 180px !important;
  max-width: 1500px;
  width: 100%;

  @include macbook-fifteen {
    width: calc(100% - (2 * 55px));
  }

  @include tablet {
    padding: 0;
  }

  @include phone {
    padding: 0 $side-indent;
    width: calc(100% - #{$side-indent * 2});
  }

  .input {
    cursor: text;
    width: 100%;
    padding: 20px 0;
    margin: 0 0 80px;
    border: 0;
    background: transparent;
    font-weight: 500;
    font-size: 4rem;
    outline: none;
    color: $black;
    overflow-x: scroll;
    font-family: $default-font;

    &::placeholder {
      color: $mountain-mis;
    }

    @include tablet {
      margin-bottom: 80px;
      width: calc(100% - 80px);
    }

    @include phone {
      font-size: 2rem;
      padding: 0;
      margin-bottom: 60px;
      width: 100%;
    }
  }
}

.foundArticles {
  @include flex(column, flex-start, flex-start);
  background: transparent;
  padding: 50px 55px 150px;
  max-width: 1500px;
  width: 100%;
  min-height: calc(100vh - 230px - 487px);

  @include macbook-fifteen {
    width: calc(100% - (2 * 55px));
  }

  @include tablet {
    padding: 0 25px $section-indent;
  }

  @include phone {
    padding: 0 15px $mobile-section-indent;
  }

  @include phone {
    padding: 0 $side-indent 150px;
    width: calc(100% - #{$side-indent * 2});
    display: block;
    
    div:nth-of-type(1) {
      margin-top: 0;
    }
  }
}