@import 'styles/utils/mixins';

.processContainer {
  width: 100%;
  margin-top: 8px;

  @include phone {
    margin-top: 16px;
  }
}

.callToAction {
  @include flex(column, center, center);

  margin: 0 auto;
  padding-top: 120px;

  h3 {
    @include fontSize(38px, 130%);
  
    text-align: center;
    margin: 0;

    @include phone {
      @include fontSize(24px, 130%);

      max-width: 340px;
    }
  }

  @include phone {
    padding-top: 60px;
  }
}

.process {
  @include flex(row, space-between, center);

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &:nth-child(odd) {
    .jsonWrapper {
      margin-left: auto;
    }
  }

  @include tablet {
    &:nth-child(1n) {
      flex-direction: column-reverse;
    }
  }
}

.title {
  @include fontSize(38px, 130%);

  margin: 0;

  span {
    color: $yellow500;
  }

  @include phone {
    @include fontSize(24px, 130%);
  }
}

.description {
  @include fontSize(16px, 150%);

  color: $gray400;
  max-width: 585px;

  @include tablet {
   max-width: none; 
  }
}

.jsonWrapper {
  max-width: 480px;

  div {
    @include flex(column, center, center);
  }
}