@import 'styles/utils/mixins';

.introTextContainer {
  position: fixed;
  left: 50%;
  width: max-content;
  top: calc(100vh - 60px);
  transform: translateX(-50%);
  z-index: 100000;

  @include fontSize(20px);
  @include flex();

  @include macbook-fifteen {
    text-align: center;
  }

  @include macbook-twelve {
    @include fontSize(16px);
  }

  @include phone {
    position: absolute;
    color: $white;
    opacity: 0.7;
    width: 100%;
    max-width: 300px;
    transform: translateY(-92px) translateX(-50%);

    @include flex(column, center, center);
  }

  @include phone-height-500 {
    transform: translateY(-38px) translateX(-50%);
  }

  @include phone-height-600 {
    @include iOSDevice {
      transform: translateY(-98px) translateX(-50%);
    }
  }

  @include phone-height-650 {
    transform: translateY(-68px) translateX(-50%);

    @include iOSDevice {
      transform: translateY(-128px) translateX(-50%);
    }
  }

  @include phone-height-730 {
    transform: translateY(-98px) translateX(-50%);

    @include iOSDevice {
      transform: translateY(-158px) translateX(-50%);
    }
  }

  @include phone-height-800 {
    transform: translateY(-178px) translateX(-50%);

    @include iOSDevice {
      transform: translateY(-228px) translateX(-50%);
    }
  }

  .text {
    color: $white;
    margin: 0;

    @include phone {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  a {
    color: $turbo-100;
    text-decoration: underline;

    @include phone {
      font-weight: 600;
      color: $turbo-100;
      text-decoration: none;
    }
  }
}

.down {
  will-change: transform;
  transform: translate3d(-50%, 60px, 0);
  opacity: 0 !important;
  transition:
    transform $default-transition-time,
    opacity $default-transition-time;
}

.up {
  will-change: transform;
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
  transition:
    transform $default-transition-time,
    opacity $default-transition-time;
}

.notOnTop {
  opacity: 0 !important;

  @include phone {
    opacity: 1 !important;
  }
}
