@import 'styles/utils/mixins';

.insta {
  @include flex(column, flex-start, center);

  position: relative;
  z-index: 2;
  padding: $section-indent $side-indent;
  background-color: $white;

  @include phone {
    padding: 235px $side-indent $after-mobile-title-margin;
    overflow: hidden;
  }

  .instaButton {
    @include button-more($black, $black, $turbo-100, $black);

    border-radius: $button-border-radius;
    transition:
      background-color $default-transition-time,
      color $default-transition-time,
      border-color $default-transition-time;

    &:hover {
      transition:
        background-color $default-transition-time,
        color $default-transition-time,
        border-color $default-transition-time;
    }

    @include phone {
      margin-top: $mobile-more-button-indent;
    }
  }
}
