@import 'styles/utils/mixins';

.sideContent {
  width: 100%;
  max-width: 405px;
  margin-right: 32px;

  @include macbook-twelve {
    margin-right: 50px;
  }

  @include tablet {
    margin-right: 0;
    margin-bottom: 75px;
  }

  @include phone {
    margin-bottom: 32px;
  }

  & > a:first-child {
    position: relative;

    & > svg:last-child {
      position: absolute;
      left: 0;
    }
  }

  .text {
    max-width: 400px;
    color: $gray400;
    opacity: 0.7;
    margin: 16px 0 32px;
    line-height: 1.8;
    cursor: default;

    @include macbook-twelve {
      @include fontSize(14px);
    }

    @include phone {
      margin-bottom: 24px;
    }
  }

  .socialMediaList {
    .svg {
      margin-right: 16px;
      transform: translateY(0);
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-5px);
      }

      @include phone {
        width: 39px;
        height: 39px;
      }
    }
  }
}
