@import 'styles/utils/mixins';

.blogPage {
  width: 100%;
  margin: 80px 15px;

  @include phone {
    width: initial;
    margin: 40px 0;
  }
}

.articlePage {
  margin: 24px auto 100px;
  background-color: $white;

  @include desktop {
    margin-top: 14px;
  }
}

.subscribeTitle {
  text-align: center;
  flex: 1 1 auto;
}

.subscribeBlock {
  @include flex(row, space-between, center);

  padding: 70px;
  background-color: $alabaster;
  border-radius: 5px;

  .subscribeText {
    width: 45%;
    margin-right: 100px;

    & > h2 {
      @include fontSize(32px);

      margin: 0 0 15px;
      font-weight: 700;

      @include phone {
        @include fontSize(24px);

        text-align: center;
      }
    }

    & > p {
      @include fontSize(18px);

      margin: 0;
      line-height: 2;
      color: $silver-chalice;

      @include phone {
        @include fontSize(14px);

        text-align: center;
      }
    }

    @include tablet {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  .subscribeForm {
    @include flex(row, center);

    height: 80px;
    width: 60%;
    position: relative;

    & > input {
      @include fontSize(18px);

      min-width: 300px;
      flex-grow: 1;
      padding: 18px;
      border: 1px solid rgb(23 23 23 / 30%);
      border-radius: 8px;
      color: $tundora;
      outline: none;

      &::placeholder {
        @include fontSize(18px);

        color: $silver-chalice;

        @include phone {
          @include fontSize(16px);

          text-align: center;
        }
      }

      @include tablet {
        margin-bottom: 40px;
      }

      @include phone {
        @include fontSize(16px);

        min-width: initial;
        width: calc(100% - 40px);
      }
    }

    .button {
      @include flex(row, center, center);
      @include fontSize(18px);

      width: 220px;
      padding: 20px 0;
      margin-left: 10px;
      font-weight: 600;
      color: $tundora;
      border: 0;
      border-radius: 8px;
      background-color: $turbo-100;
      cursor: pointer;
      transition: 0.2s ease;
      transition-property: background-color, color;
      outline: none;

      &:hover {
        color: $white;
        background-color: $black;
      }

      @include phone {
        @include fontSize(14px);

        margin: 0 10px;
      }
    }

    .alertMessage {
      @include fontSize(10px);

      font-weight: 600;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(25px);
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      color: $woodsmoke;
      transition: opacity 0.2s ease;

      @include phone {
        padding: 0 0 20px;
        margin-bottom: 30px;
        position: unset;
        text-align: center;
      }
    }

    @include macbook-twelve {
      height: 70px;
    }

    @include tablet {
      @include flex(column, center, center);

      height: auto;
      width: 100%;
    }
  }

  @include tablet {
    @include flex(column);
  }

  @include below-tablet {
    padding: 40px;
  }

  @include phone {
    padding: 20px;
  }
}
