@import 'styles/utils/mixins';

.blogPage {
  width: 100%;
  margin: 80px 12px;

  @include phone {
    margin: 40px 0;
  }
}

.articlePage {
  margin: 24px auto 100px;
  background-color: $white;

  @include desktop {
    margin-top: 14px;
  }
}

.subscribeBlock {
  padding: 70px;
  background-color: $alabaster;
  border-radius: 5px;

  @include flex(row, space-between, center);

  @include tablet {
    @include flex(column);
  }

  @include below-tablet {
    padding: 40px;
  }

  .subscribeText {
    width: 45%;
    margin-right: 100px;

    @include tablet {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    & > h3 {
      margin: 0 0 15px;
      font-weight: 700;

      @include fontSize(32px);

      @include phone {
        @include fontSize(24px);
      }
    }

    & > p {
      margin: 0;
      line-height: 2;
      color: $silver-chalice;

      @include fontSize(18px);

      @include phone {
        @include fontSize(14px);
      }
    }
  }

  .subscribeForm {
    height: 80px;
    width: 60%;
    position: relative;

    @include flex(row, center);

    @include macbook-twelve {
      height: 70px;
    }

    @include tablet {
      height: 60px;
      width: 100%;
    }

    @include phone {
      height: auto;

      @include flex(column, center, center);
    }

    & > input {
      min-width: 300px;
      flex-grow: 1;
      padding: 18px;
      border: 1px solid rgba(23, 23, 23, 0.3);
      border-radius: 8px;
      color: $tundora;
      outline: none;

      @include fontSize(18px);

      @include phone {
        margin-bottom: 20px;
        min-width: initial;
        width: calc(100% - 40px);

        @include fontSize(16px);
      }

      &::placeholder {
        color: $silver-chalice;

        @include fontSize(18px);

        @include phone {
          @include fontSize(16px);
        }
      }
    }

    .button {
      width: 220px;
      padding: 20px 0;
      margin-left: 10px;
      font-weight: 600;
      color: $tundora;
      border: 0;
      border-radius: 8px;
      background-color: $turbo-100;
      cursor: pointer;
      transition: 0.2s ease;
      transition-property: background-color, color;
      outline: none;

      @include flex(row, center, center);
      @include fontSize(18px);

      @include phone {
        @include fontSize(14px);

        margin: 0 10px;
      }

      &:hover {
        color: $white;
        background-color: $black;
      }
    }

    .alertMessage {
      font-weight: 600;
      position: absolute;
      right: 0;
      bottom: -35px;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: right;
      text-transform: uppercase;
      color: $woodsmoke;
      transition: opacity 0.2s ease;

      @include fontSize(10px);

      @include phone {
        padding: 0 0 20px;
        position: unset;
        text-align: center;
      }
    }
  }
}
