.relatedPosts {
  position: relative;
  margin: 40px 0 0;

  &Title {
    font-size: 1rem;
    line-height: 90px;
    font-weight: 600;
    letter-spacing: normal;
    color: #bcb8b8;
    border-top: 1px solid #e9ecef;
  }
}

.relatedPost {
  padding-top: 0;

  img {
    margin-top: 0 !important;
  }
}