@import 'styles/utils/_mixins';

.prototypeWrapper {
  position: relative;

  &::before {
    @include centered;

    content: '';
    width: 490px;
    height: 490px;
    background: $turbo-100;
    border-radius: 50%;
  }
}

.prototype {
  margin: 0 auto;
}

.mobile-bank-application {
  @include caseStudyContainer;

  overflow: hidden;
}
