.mobile-bank-application {
  padding: 120px 40px;

  [data-description] {
    max-width: 590px;
  }

  .prototypeWrapper {
    &::before {
      width: 401px;
      height: 401px;
    }
  }

  .prototype {
    width: 270px !important;
    height: 550px !important;
  }

  @include phone {
    padding: 60px 16px;
  }
}
