@import 'styles/utils/mixins';

.gallerySection {
  position: relative;
  background-color: $white;
  max-height: 500px;
  padding: 100px 0;
  z-index: 0;

  @include flex(column, center, center, wrap);

  @include horizontal-mobile {
    padding: 25px 0;
  }

  @include below-tablet {
    padding: 25px 0;
  }

  @include phone {
    padding: 20px 0;
  }

  div {
    overflow-x: scroll;
    height: 500px;
    width: 100%;
    vertical-align: middle;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    z-index: 0;
    will-change: transform;
    scroll-behavior: smooth;

    @include flex(column, center, center, wrap);

    @include below-tablet {
      height: 300px;
    }

    div {
      width: 100%;
      overflow: hidden;
      padding: 0 46px;
      display: inline-block;
      z-index: 0;

      @include below-tablet {
        padding: 0 25px;
      }

      img {
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      display: none;
      box-shadow: inset 0 0 1px $white;
    }

    &::-webkit-scrollbar-track {
      width: 0;
      box-shadow: inset 0 0 1px $white;
    }

    &::-webkit-scrollbar-thumb:vertical {
      width: 0;
      background-color: $white;
    }

    .squareImg {
      width: 350px;
      height: 350px;

      @include below-tablet {
        width: 211px;
        height: 211px;
      }

      @include horizontal-mobile {
        width: 211px;
        height: 211px;
      }
    }

    .horizontalImg {
      width: 596px;
      height: 350px;

      @include below-tablet {
        width: 360px;
        height: 211px;
      }

      @include horizontal-mobile {
        width: 360px;
        height: 211px;
      }
    }

    .verticalImg {
      width: 350px;
      height: 438px;

      @include below-tablet {
        width: 211px;
        height: 265px;
      }

      @include horizontal-mobile {
        width: 211px;
        height: 265px;
      }
    }

    .imageContainer {
      padding: 0 25px;
      overflow: hidden;

      span {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
