@import 'styles/utils/mixins';

@mixin defaultTitle {
  @include fontSize(38px);

  margin: 0;

  @include phone {
    @include fontSize(24px);
  }
}

@mixin defaultSubtitle {
  @include fontSize(18px, 150%);

  @include phone {
    @include fontSize(16px);
  }
}

.default {
  @include flex(column, center, center);

  margin-bottom: 32px;

  .title {
    @include defaultTitle;

    text-align: center;
    max-width: 950px;
  }

  .description,
  .subtitle {
    @include defaultSubtitle;

    margin: 16px auto 0;
    color: $silver-chalice;
    text-align: center;
    max-width: 950px;

    @include phone {
      margin-top: 8px;
    }
  }

  @include tablet {
    margin-bottom: 60px;
  }

  @include phone {
    margin-bottom: 40px;
  }
}

.side {
  .title {
    @include defaultTitle;

    @include below-tablet {
      text-align: center;
    }
  }

  .subtitle {
    @include defaultSubtitle;

    margin: 50px 0 30px;
    padding-right: 50px;
    font-weight: 700;

    @include below-tablet {
      padding-right: 0;
    }

    @include phone {
      margin-top: 20px;
    }
  }
}
