@import 'styles/utils/mixins';

.fernwayer {
  @include caseStudyContainer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue;
  padding-top: 0;
  padding-bottom: 0;

  @include tablet {
    padding-top: 0;
  }

  @include phone {
    padding-top: 40px;
  }
}
