@import 'styles/utils/mixins';

.fernwayer {
  @include caseStudyContainer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stickerbox {
  @include caseStudyContainer;

  background-color: $dark-grey-2;
  padding-top: 0;

  //in the caseStudyContainer mixin is given padding for tablet resolution, so here we need to override it
  @include tablet {
    padding-top: 0;
  }

  @include phone {
    padding-top: 40px;
  }
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue;
  padding-top: 0;
  padding-bottom: 0;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include phone {
    padding-top: 40px;
  }
}

.fairy {
  @include caseStudyContainer;

  background-color: $violet;
  padding-top: 0;

  //in the caseStudyContainer mixin is given padding for tablet resolution, so here we need to override it
  @include tablet {
    padding-top: 0;
  }

  @include phone {
    padding-top: 40px;
  }
}
