@import 'styles/utils/mixins';

.fernwayer,
.stickerbox {
  @include caseStudyContainer;

  background-color: $alabaster;

  &.challengesWithoutImage {
    background-color: $white;
  }
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}
