@import 'styles/utils/mixins';

.fernwayer,
.stickerbox,
.fairy {
  @include caseStudyContainer;

  background-color: $alabaster;

  &.challengesWithoutImage {
    background-color: $white;
  }
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.tell {
  @include caseStudyContainer;
  @include centeredBackgroundImage;
}

.open-sense {
  @include caseStudyContainer;

  background-color: $zircon;
}

.separate-us {
  @include caseStudyContainer;

  background-color: $white-darker;

  [data-case-study-description] {
    max-width: 855px;
  }
}

.natp {
  @include caseStudyContainer;

  background: linear-gradient(180deg, $mako 0%, $nevada 144.48%) no-repeat;
  color: $white;

  &.firstSectionView {
    padding-bottom: 0;
    background-size: 100% 60%;

    @include below-tablet {
      background-size: 100% 55%;
    }

    @include phone {
      background-size: 100% 45%;
    }

    [data-case-study-title] {
      color: $white;
    }
  }

  &.secondSectionView {
    [data-case-study-title] {
      color: $white;
      margin-bottom: 150px;

      @include phone {
        margin-bottom: 100px;
      }
    }
  }
}
