@import 'styles/utils/mixins';

.fernwayer,
.stickerbox,
.fairy {
  @include caseStudyContainer;

  background-color: $alabaster;

  &.challengesWithoutImage {
    background-color: $white;
  }
}

.seven-pm-thursday {
  @include caseStudyContainer;

  background-color: $dark-blue-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.tell {
  @include caseStudyContainer;
  @include centeredBackgroundImage;
}

.open-sense {
  @include caseStudyContainer;

  background-color: $zircon;
}

.separate-us {
  @include caseStudyContainer;

  background-color: $white-darker;

  [data-case-study-description] {
    max-width: 855px;
  }
}
