/* stylelint-disable no-descending-specificity */
@import "styles/utils/mixins";
@import "components/AppDevelopmentCommon/utils/styles.module.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

  .cardContainer {
    padding: 50px;
    box-shadow: $card-bow-shadow;
    border-radius: 5px;
    max-width: 518px;
    box-sizing: border-box;
    background: $white;

    .typeTitle {
      @include fontSize(24px);

      line-height: 1.8;
      font-weight: 700;
      margin: 20px 0 10px;

      @include macbook-twelve {
        @include fontSize(22px);
      }

      @include phone {
        @include fontSize(18px);
      }
    }

    p {
      @include fontSize(18px);

      color: $silver-chalice;
      line-height: 1.8;
      margin: 0;

      @include phone {
        @include fontSize(16px);
      }
    }

    .imageWrapper {
      svg {
        @include phone {
          width: 48px;
          height: 48px;
        }
      }
    }

    .arrow,
    .connectingLine,
    .longConnectingLine {
      display: none;
    }

    @include below-tablet {
      width: 100%;
      max-width: unset;
    }
  }

  @include below-tablet {
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: auto;
  }
}

.ui-ux-services,
.machine-learning-development-services,
.mvp-app-development-company {
  @include appDevelopmentContainer;
  @include iconsWithinCircle;

  background-color: $alabaster;

  .contentWrapper {
    @extend .threeColumnCards;

    .cards {
      grid-gap: 150px 140px;

      @include tablet {
        grid-gap: 110px 100px;
      }

      @include phone {
        grid-gap: 60px;
      }

      .cardContainer {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background-color: $white;
          border: 2px solid $silver-chalice;
          transform: translate(50%, -50%);

          @include below-tablet {
            left: 50%;
            top: unset;
            bottom: 0;
            transform: translate(-50%, 50%);
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        &:nth-child(3n + 3) {
          &::after {
            left: 50%;
            top: unset;
            bottom: 0;
            transform: translate(-50%, 50%);
          }
        }
      }
    }
  }
}

.machine-learning-development-services {
  .imageWrapper {
    background-color: $turbo-100;
  }
}

.ui-ux-services,
.mvp-app-development-company {
  background-color: $white;

  .titleStyle {
    p {
      width: 58vw;
    }
  }
}
