@import 'styles/utils/mixins';

.signature {
  &Input {
    @include fontSize(16px);

    width: 580px;
    height: 46px;
    padding-left: 5px;
    border: 0;
    font-family: $case-studies-font;
    outline: none;

    &::placeholder {
      @include fontSize(16px);

      color: $silver-chalice;
    }

    &:focus-visible {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @include fontSize(16px);

      font-family: $case-studies-font;
      color: transparent;
      background: transparent;
      caret-color: transparent;
      transition: background-color 5000s ease-in-out 0s;
    }

    &Container {
      @include flex(row, center, center);

      width: max-content;
      margin: 24px auto 0;
      border-bottom: 0.5px solid $silver-1;

      @include higher-phone {
        width: 300px;
      }
    }

    @include higher-phone {
      width: inherit;
    }
  }

  &Svg {
    visibility: hidden;
    cursor: pointer;

    &Visible {
      visibility: visible;
    }
  }
}
