.cedar-valley-farms {
  .images {
    max-width: 584px;
    width: 100%;
  }

  .image {
    width: 100%;
    height: 520px;

    img {
      transition: ease 0.5s;
    }

    &:hover img {
      transform: scale3d(1.05, 1.05, 1);
    }

    @include tablet {
      height: 410px;
    }

    @include phone {
      height: 310px;
    }
  }

  .contentContainer {
    max-width: $wide-content-width;

    @include tablet {
      @include flex(column-reverse, center, center);
    }
  }

  .infoContainer {
    .title {
      color: $gray0;
    }

    h3 {
      color: $gray0;
    }
  }
}
