.clairvoyant-directory-upgrade {
  &.firstSectionView {
    .contentContainer {
      z-index: 1;
      max-width: $wide-content-width;
      grid-gap: 120px;
      margin-bottom: 80px;

      &:nth-child(2) {
        justify-content: flex-end;

        @include tablet {
          .infoContainer {
            order: 1;
          }

          .images {
            order: 2;
          }
        }
      }

      &:nth-child(3) {
        @include flex(column, flex-start, stretch);

        grid-gap: 32px;
        margin-bottom: 0;

        .infoContainer {
          margin: 0 auto;
          max-width: 419px;

          * {
            text-align: center;
          }
        }

        .image {
          margin: auto;
        }

        @include tablet {
          margin-bottom: 0;
        }
      }

      @include tablet {
        @include flex(column, flex-start, stretch);

        grid-gap: 16px;
        margin-bottom: 24px;

        .infoContainer {
          margin: 0 auto;
          max-width: 419px;

          * {
            text-align: center;
          }
        }

        .image {
          margin: auto;
          width: 100%;
        }
      }
    }

    .title {
      @include fontSize(24px);

      color: $clairvoyantServicesAccent;
      margin-bottom: 8px;
      font-weight: 400;
    }

    .infoContainer {
      flex: 0 0 auto;
      max-width: 360px;
    }

    .image {
      aspect-ratio: 950/600;
      width: 80vw;
      max-width: 950px;
      border: 4px solid #fff3;
      border-radius: 10px;
    }

    .sectionImage {
      animation: none !important;
      position: absolute;
      aspect-ratio: 1303/1973;
      width: 80vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
}
