.crowdfunding-platform {
  .title {
    @include fontSize(24px);

    font-weight: 400;
    color: $gray0;
    margin-bottom: 16px;
  }

  .contentContainer {
    flex-direction: column;
    max-width: $wide-content-width;

    p {
      @include fontSize(14px);

      color: $gray500;
    }

    // .image {
    //   z-index: 10;

    //   &,
    //   & > span {
    //     overflow: visible !important;

    //     &::before,
    //     &::after {
    //       content: '';
    //       background: red;
    //       position: absolute;
    //       z-index: -10;

    //       @include tablet {
    //         content: none;
    //       }
    //     }
    //   }

    //   & > span {
    //     &::before,
    //     &::after {
    //       width: 1px;
    //       height: 10000px;
    //       top: -4000px;
    //     }

    //     &::before {
    //       left: 0;
    //     }

    //     &::after {
    //       right: 0;
    //     }
    //   }

    //   &::before,
    //   &::after {
    //     width: 10000px;
    //     height: 1px;
    //     right: -40vw;
    //   }

    //   &::before {

    //   }
    // }

    &:nth-child(1) {
      align-items: flex-end;

      * {
        text-align: right;
      }

      p {
        max-width: 317px;
      }

      @include tablet {
        align-items: center;

        * {
          text-align: center;
        }
      }
    }

    &:nth-child(2) {
      flex-direction: column;
      margin-top: 120px;

      .infoContainer {
        order: 0;
      }

      p {
        max-width: 317px;
      }
    }

    &:nth-child(3) {
      display: block;

      .title {
        @include fontSize(14px);

        color: $gray500;
      }

      * {
        text-align: center;
        margin: 0 auto;
      }

      .infoContainer {
        max-width: 528px;
      }

      p {
        @include fontSize(24px);

        color: $gray0;
        margin-top: 16px;

        b {
          font-weight: 400;
          color: $crowdfundingPlatformAccent;
        }

        @include tablet {
          @include fontSize(20px);
        }
      }
    }

    @include tablet {
      margin-top: 0 !important;
    }
  }

  .images {
    height: 620px;
    width: 100%;
    max-width: 873px;

    @include tablet {
      height: 250px;
    }
  }
}
