@mixin infoContainerRight {

}

@mixin imageRight {

}

.drive-focus {
  &.firstSectionView {
    .title {
      @include fontSize(38px, 130%);

      max-width: 310px;

      @include phone {
        @include fontSize(24px);

        margin-bottom: 0;
      }
    }

    .infoContainer {
      max-width: 440px;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        & > li {
          @include fontSize(18px);
          @include flex(row, center, center);

          text-align: left;

          &::before {
            content: '';
            display: block;
            min-width: 8px;
            min-height: 8px;
            margin-right: 12px;
            background: $flamenco;
            border-radius: 50%;
          }

          @include phone {
            @include fontSize(14px);
          }
        }
      }

      p {
        @include fontSize(18px);

        @include phone {
          @include fontSize(14px);

          text-align: center;
          max-width: 300px;
        }
      }
    }

    .contentContainer:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &.secondSectionView,
  &.thirdSectionView,
  &.fourthSectionView {
    overflow: hidden;

    .image {
      width: 980px;
      height: 580px;
      border-radius: 25px;

      @include tablet {
        width: 553px;
        height: 350px;
      }

      @include phone {
        width: 343px;
        height: 216px;
      }
    }

    .contentContainer {
      max-width: $wide-content-width;
      flex-direction: row-reverse;

      @include tablet {
        @include flex(column, center, center);
      }
    }

    .infoContainer {
      margin: 0;

      .title {
        @include fontSize(38px, 130%);

        margin-bottom: 16px;

        @include tablet {
          @include fontSize(24px);

          text-align: center;
        }
      }

      p {
        @include tablet {
          text-align: center;
        }

        @include phone {
          max-width: 345px;
        }
      }

      @include tablet {
        margin: 0;
      }
    }
  }

  &.secondSectionView {
    .image {
      &-1 {
        margin-left: -355px;
      }

      &-2 {
        margin-right: -340px;
      }

      @include tablet {
        margin: 0 auto;
      }
    }

    .infoContainer {
      &-1 {
        margin-left: 48px;

        @include tablet {
          margin-left: 16px;
        }
      }

      &-2 {
        margin-right: 48px;

        @include tablet {
          margin-right: 16px;
          order: initial !important;
        }
      }
    }
  }

  &.thirdSectionView {
    position: relative;

    .infoContainer {
      z-index: 5;
    }

    .images {
      max-width: 480px;
      min-height: 500px;

      @include tablet {
        min-height: 400px;
      }

      @include phone {
        min-height: 300px;
      }
    }

    .image {
      width: 1602px;
      height: 661px;
      position: absolute;
      right: -320px;
      top: -155px;
      transform: rotate(-30deg);

      @include tablet {
        width: 1000px;
        height: 350px;
        left: 0;
        top: 100px;
      }

      @include phone {
        position: absolute;
        width: 750px;
        height: 678px;
        top: -10px;
        right: -270px;
        transform: scale(1.2) rotate(-18deg);
      }
    }
  }

  &.thirdSectionView,
  &.fourthSectionView {
    .contentContainer {
      flex-direction: row;

      @include tablet {
        @include flex(column, center, center);
      }
    }

    .image {
      margin-right: -340px;

      @include tablet {
        margin: 0 auto;
      }
    }

    .infoContainer {
      margin-right: 48px;

      @include tablet {
        margin-right: 16px;
        order: initial !important;
      }
    }
  }
}
