.fairy {
  .image {
    width: 320px;
    height: 650px;
  }

  &.firstSectionView {
    .title {
      @include fontSize(38px, 130%);

      color: $gray0;

      @include below-tablet {
        @include fontSize(24px, 130%);
      }
    }

    .image-1 {
      margin-top: -120px;

      @include below-tablet {
        margin-top: 0;
      }
    }
  }

  &.secondSectionView {
    .infoContainer {
      @include below-tablet {
        margin: 0;
      }
    }
  }
}
