.humankind {
  &.firstSectionView {
    .contentContainer {
      max-width: 100%;
      margin-bottom: 8px;
      padding: 0 120px;

      &-2 {
        margin-bottom: 36px;
      }

      @include phone {
        padding: 0;
      }
    }

    .infoContainer {
      width: 100%;
      max-width: 390px;
      margin-right: 10px;

      &-2 {
        margin: 0;
      }

      .title {
        margin-bottom: 16px;
      }

      @include tablet {
        margin: 0 auto;
      }
    }

    .image {
      width: 1243px;
      height: 654px;

      &-1,
      &-3 {
        margin-right: -394px;
        margin-top: -30px;

        &::after {
          content: '';
          display: block;
          height: 100%;
          width: 325px;
          margin-left: auto;
          transform: translate(40px, -1px);
          background: linear-gradient(90deg, rgba($gray0, 0) 0%, $gray0 78.3%);

          @include below-tablet {
            display: none;
          }
        }

        @include tablet {
          margin-right: -100px;
        }

        @include below-tablet {
          margin: 0 auto;
        }
      }

      &-2,
      &-4 {
        margin-left: -393px;

        &::after {
          content: '';
          display: block;
          height: 100%;
          width: 325px;
          margin-right: auto;
          transform: translate(-40px, -1px);
          background: linear-gradient(
            270deg,
            rgba($gray0, 0) 0.15%,
            $gray0 60.38%
          );

          @include below-tablet {
            display: none;
          }
        }

        @include tablet {
          margin-left: -100px;
          margin-right: 40px;
        }

        @include below-tablet {
          margin: 0 auto;
        }
      }

      @include tablet {
        max-width: 500px;
        height: 300px;
      }

      @include phone {
        max-width: 100%;
        height: 241px;
      }
    }
  }

  &.secondSectionView {
    .contentContainer {
      max-width: 790px;
    }

    .infoContainer {
      max-width: 379px;
    }

    h3 {
      font-size: 16px;
    }

    h2,
    h3 {
      color: $gray0;
    }

    p {
      margin-bottom: 26px;
      white-space: inherit;
    }
  }
}
