.meateater {
  .contentContainer {
    margin: 0 auto 70px;

    .image {
      filter: drop-shadow(0 14px 24px rgb(0 0 0 / 0.05));
      border-radius: 20px;
    }
  }

  &.secondSectionView {
    .contentContainer {
      .infoContainer {
        h2,
        h3 {
          color: $white;
        }

        p {
          color: rgba($white, 0.7);
        }
      }
    }
  }

  &.thirdSectionView {
    .contentContainer {
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .infoContainer {
        margin-right: 0;
        max-width: 460px;

        .title {
          @include fontSize(32px);
        }

        @include phone {
          .title {
            @include fontSize(24px);
          }
        }
      }
    }
  }
}
