.metapix {
  &.firstSectionView {
    .contentContainer {
      max-width: $wide-content-width;
    }

    .infoContainer {
      p {
        text-align: left;

        &:nth-child(1)::before {
          content: 'Problem: ';
          color: $gray0;
        }

        &:nth-child(2)::before {
          content: 'Solution: ';
          color: $gray0;
        }
      }
    }
  }
}
