.mobile-budgeting-app {
  &.firstSectionView {
    .image {
      width: 270px;
      height: 550px;
    }

    .contentContainer {
      @include flex(column, center, start);

      margin: 0 auto;

      .infoContainer {
        max-width: 686px;

        &-2 {
          max-width: 583px;

          p {
            text-align: right;
          }

          h2 {
            text-align: right;
          }

          @include tablet {
            order: initial;
          }
        }

        p {
          margin: 0;
          color: $gray0;

          @include tablet {
            text-align: center;
          }
        }

        h2 {
          @include fontSize(56px, 120%);

          margin: 0 0 16px;
          color: $gray0;
          font-weight: normal;

          @include tablet {
            @include fontSize(38px, 130%);

            margin: 0 auto 8px;
            text-align: center;
          }
        }
      }

      &-2 {
        @include flex(column, center, end);

        margin-top: -450px;
      }

      &-3 {
        @include flex(column-reverse, center, start);

        margin-top: -150px;
      }

      @include tablet {
        @include flex(column, center, center);

        margin: 0 auto 32px;
        row-gap: 24px;
      }
    }
  }
}
