.seven-pm-thursday {
  .image {
    width: 320px;
    height: 650px;
  }

  &.firstSectionView {
    .title {
      @include fontSize(38px, 130%);

      color: $gray0;
      margin-bottom: 16px;

      @include below-tablet {
        margin-bottom: 8px;
        text-align: center;
      }
    }

    .infoContainer p {
      color: $gray500;

      @include below-tablet {
        text-align: center;
      }
    }

    .contentContainer-1 {
      .infoContainer-1 {
        margin-right: 0;
        margin-left: 35px;
        order: 1;

        @include phone {
          margin-left: 0;
        }
      }

      @include below-tablet {
        @include flex(column-reverse, center, center);
      }
    }

    .contentContainer-2 {
      &:nth-of-type(2n) {
        .infoContainer:not(.separatedTitle) {
          @include infoContainerPhone;

          order: 0;
          margin-left: 0;
          margin-right: 35px;

          &:nth-child(2n) {
            margin: 0;
          }
        }
      }

      @include below-tablet {
        @include flex(column, center, center);
      }
    }
  }

  &.secondSectionView {
    .title {
      color: $gray0;
    }

    .infoContainer {
      h3 {
        color: $gray0;
      }

      p {
        color: $gray500;
      }

      @include phone {
        justify-content: flex-start;
        padding: 0 16px;
      }
    }

    .image {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 440px;
        height: 440px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .image-1::before {
      background: linear-gradient(180deg, #ff2b8a -2.98%, #ff4a34 92.06%);
    }

    .image-2::before {
      background: linear-gradient(175.41deg, #29abe2 24.16%, #9a35fb 87.57%);
    }

    .image-3::before {
      background: linear-gradient(145.66deg, #59f9bf 12.82%, #00c19c 87.64%);
    }
  }
}
