.stickerbox {
  .special {
    margin-bottom: 0;

    &:first-child {
      .infoContainer {
        margin-top: -120px;

        @include phone {
          margin-top: 0;
        }
      }
  
      .image {
        transform: translateY(-120px);

        @include tablet {
          transform: translateY(-70px);
        }

        @include phone {
          transform: none;
        }
      }
    }

    .infoContainer {
      .title {
        color: $gray0;
        margin-bottom: 16px;
      }

      p {
        color: $gray400;
      }
    }

    &:nth-child(1) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          position: absolute;
          top: 30%;
          transform: translate(-105%, -65%);

          &:nth-child(2) {
            @include macbook-twelve {
              max-width: 450px;
              transform: translate(-110%, -75%);
            }

            @include tablet {
              display: none;
            }
          }

          &:nth-child(3) {
            display: none;

            @include tablet {
              display: block;
            }

            @include below-tablet {
              max-width: 260px;
              transform: translate(-110%, -110%);
            }

            @include phone {
              display: none;
            }
          }
        }
      }
    }

    &:nth-child(2) {
      & > div:last-child {
        position: relative;

        .imageBundle {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(110%, -30%);

          &:nth-child(2) {
            @include tablet {
              display: none;
            }
          }

          &:nth-child(3) {
            display: none;

            @include tablet {
              display: block;
            }

            @include phone {
              display: none;
            }
          }
        }
      }
    }

    @include phone {
      margin-bottom: 32px;
    }
  }

  .contentContainer {
    .image {
      height: unset;
      width: unset;
      overflow: visible;
    }

    &:not(.special) > div:last-child {
      position: relative;

      .imageBundle {
        position: absolute;
        z-index: 1;

        &:nth-child(2) {
          max-width: 182px;
          top: 0;
          right: 0;
          transform: translate(23%, 40%);

          @include phone {
            transform: translate(23%, 23%);
          }
        }

        &:nth-child(3) {
          max-width: 201px;
          left: 0;
          bottom: 0;
          transform: translate(-45%, -15%);

          @include tablet {
            transform: translate(-20%, -12%);
          }

          @include phone {
            transform: translate(-20%, 5%);
          }
        }
      }
    }
  }

  .swiperBullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 100%;
    border: 1px solid $white;
  }

  .swiperBulletActive {
    background-color: $white;
  }
}
