@import 'styles/utils/mixins';

.partnersContainer {
  padding: $section-indent $side-indent 200px;

  @include flex(column, center, center);

  @include below-tablet {
    padding: $section-indent $side-indent 100px;
  }

  @include phone {
    padding: $section-indent $side-indent;
  }

  h1 {
    @include h1-title;

    color: $white !important;
  }
}

.partners {
  width: 100%;
  max-width: $max-content-width;
  margin-top: 42.5px;

  @include flex(row, space-between, center, wrap);

  @include full-hd {
    max-width: $max-content-width-full-hd;
  }

  @include macbook-fifteen {
    max-width: $max-content-width-macbook-fifteen;
  }

  @include macbook-twelve {
    max-width: $max-content-width-macbook-twelve;
  }

  @include below-tablet {
    flex-direction: column;
    justify-content: flex-start;

    & > div:last-of-type {
      div {
        margin-bottom: 0;
      }
    }

    :global(.animated) {
      &:last-child {
        div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.partnersItem {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @include below-tablet {
    margin-bottom: 70px;
  }
}
