@import 'styles/utils/mixins';

.commentWrapper {
  transition: transform 0.2s ease-in-out;
  transform: translateY(0);
  border-radius: 5px;
  background-color: $white;
  border: $card-border;

  @include flex(column);

  @include phone {
    width: 100%;
    height: 100%;
    margin: auto 0;
    display: inline-block;
  }

  &:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;

    @include phone {
      transform: translateY(0);
    }
  }

  &:nth-child(3) {
    .messageWrapper {
      .logo {
        height: 120% !important;
      }
    }
  }

  &:nth-child(4) {
    .messageWrapper {
      .logo {
        height: 80% !important;
      }
    }
  }

  div {
    @include phone {
      opacity: 1 !important;
    }
  }

  & > div:first-child {
    height: 100%;
    box-shadow: 0 10px 60px -10px rgb(0 0 0 / 0.15);
    border-radius: 4px;
  }

  .commentContainer {
    background-color: $white;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
    text-decoration: none;
    overflow: hidden;
    cursor: default;

    @include flex(column, space-between, flex-start);

    @include phone {
      height: 100%;
    }

    .messageWrapper {
      padding: 30px 30px 60px;
      background-color: $white;

      @include flex(column);

      .imgContainer {
        height: 27px;
        width: 128px;

        .logo {
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }

      .message {
        margin-top: 20px;
        font-weight: 400;
        line-height: 1.6;
        color: $silver-chalice;

        @include fontSize(18px);

        @include phone {
          @include fontSize(14px);
        }

        & > p {
          margin: 0;
        }
      }
    }

    .categoryName {
      display: inline-block;
      margin: 0 30px 30px;
      background-color: $white;
      width: calc(100% - 60px);

      .person {
        display: inline-block;
        margin: 0;
        width: 100%;

        @include flex(row, initial, flex-start);

        @include phone {
          min-height: auto;
        }

        .avatarContainer {
          min-width: 58px;
          width: 58px;
          height: 58px;

          .photo {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            border-radius: 50%;

            @include phone {
              width: 50px !important;
              height: 50px !important;
            }
          }
        }

        .info {
          height: 100%;
          margin-left: 22px;

          @include flex(column, flex-start, flex-start);

          @include phone {
            margin-left: 3vw;
          }

          .name {
            margin: 5px 0 3px;
            font-weight: bold;
            line-height: 1.55;
            letter-spacing: 0.5px;
            color: $woodsmoke;

            @include phone {
              @include fontSize(14px);
            }
          }

          .position {
            margin: 0 0 4px;
            line-height: 1.5;
            letter-spacing: 0.35px;
            color: $silver-chalice;

            @include fontSize(14px);

            @include phone {
              font-size: 0.7rem;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

:global(.swiper-slide) {
  &:nth-of-type(4) {
    .commentWrapper .messageWrapper .imgContainer {
      height: 40px;
      margin: -7px 0;
      width: 90px;
      position: relative;

      &::after {
        @include centered;

        content: 'Blackbird';
        font-weight: bold;
        left: 100%;
      }
    }
  }

  &:nth-of-type(5) {
    .commentWrapper .messageWrapper .imgContainer {
      height: 120px;
      margin: -45px 0;
    }
  }

  &:nth-of-type(6) {
    .commentWrapper .messageWrapper .imgContainer {
      height: 130px;
      margin: -50px 0;
    }
  }

  &:nth-of-type(7) {
    .commentWrapper .messageWrapper .imgContainer {
      height: 110px;
      margin: -40px 0;
    }
  }

  &:nth-of-type(8) {
    .commentWrapper .messageWrapper .imgContainer {
      height: 90px;
      margin: -30px 0;
    }
  }
}
