@import 'styles/utils/mixins';

.container {
  padding: 140px 40px;
  background-color: $white;
  overflow: hidden;

  @include tablet {
    padding: 100px 40px;
  }

  @include phone {
    padding: 40px 15px;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 812px;
    margin: 0 auto;
    object-fit: contain;
  }

  [data-case-study-title] {
    color: $dark-grey;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.idea {
  gap: 112px;

  @include flex(row, center);

  @include tablet {
    gap: 30px;
  }

  @include phone {
    @include flex(column, center, center);
  }
}

.imageSection {
  .imagContainer {
    overflow-x: auto;

    &::-webkit-scrollbar {
      max-width: 210px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $blog-subscribe-input-box-shadow-focus-color;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-grey;
      border-radius: 10px;
    }

    .image {
      @include phone {
        width: auto;
        height: 470px;
      }
    }
  }
}

.team {
  background-color: $white;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(315px, 410px));
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  max-width: 1100px;
  margin: 0 auto;

  @include tablet {
    display: none;
  }
}

.wireframes {
  padding-left: 0;
  padding-right: 0;
  background-color: $white;
}

.challenges,
.challengesWithoutImage {
  background-color: $alabaster;
}

.fernwayer {
  background-color: $alabaster;

  &.idea,
  &.team,
  &.imageSection,
  &.wireframes,
  &.challengesWithoutImage {
    background-color: $white;
  }

  &.special {
    background: url("/images/fernwayerBg.png"), linear-gradient(180deg, $pink 0%, $light-pink 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.stickerbox {
  background-color: #1A1C1F;

  &.idea,
  &.team,
  &.imageSection,
  &.challengesWithoutImage {
    background-color: $white;
  }

  &.team {
    grid-template-rows: repeat(4, auto);
  }

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: rgba($white, 0.4);
  }

  &.challenges,
  &.imageSection {
    [data-case-study-title] {
      color: $dark-grey;
    }

    [data-case-study-description] {
      color: $silver-chalice;
    }
  }
}
