@import 'styles/utils/mixins';

.preloader {
  @include flex(column, center, center);
  min-height: 100vh;
  // TODO
  // position: fixed;
  // width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  background-color: $white;
}
