@import 'styles/utils/mixins';

.bionorica {
  @extend .container;

  background: linear-gradient(to bottom, $white 0%, $catskill-white-2 70%);
  color: $dark-grey;

  .more,
  .link,
  .iconLink {
    color: $dark-grey;
  }

  .more {
    border: 1px solid $dark-grey;
  }
}
