@import 'styles/utils/mixins';

.cinnabar {
  @extend .container;

  background: linear-gradient(137.65deg, $froly -14.62%, $carnation 105.11%);
  color: $white;

  .more,
  .link,
  .iconLink {
    color: $white;
  }

  .more {
    border: 1px solid $white;
  }
}
