.telemojo {
  @extend .container;

  background: linear-gradient(180deg, #4398FF 0%, #0670F2 100%);

  .nextProjectContainer {
    .subtitle {
      color: rgba($white, 0.7);
    }

    .projectName {
      color: $white;
    }

    .more {
      @include fontSize(18px);

      border: 1px solid $white;
      color: $white;
    }
  }

  .question {
    color: $white;
  }

  /* stylelint-disable-next-line */
  .link {
    color: rgba($white, 0.5);
  }

  /* stylelint-disable-next-line */
  .iconLink {
    color: $white;
  }
}
