@import 'styles/utils/mixins';

.gallerySection {
  position: relative;
  background-color: $white;
  @include flex(column, center, center);
  flex-wrap: wrap;
  max-height: 100vh;
  padding: 200px 0;
  z-index: 1;
  overflow: hidden;

  @include below-tablet {
    padding: 25px 0;
  }

  @include phone {
    padding: 20px 0;
  }

  .leftSideToScroll {
    position: absolute;
    width: calc(100% / 3);
    margin-left: 0;
    height: calc(100% - (200px * 2));
    top: 200px;
    left: 0;
    z-index: 15;

    &:hover {
      cursor: url('../images/arrow-l.svg'), default;
    }
  }

  .rightSideToScroll {
    position: absolute;
    width: calc(100% / 3);
    margin-left: calc(100% / 3 * 2);
    height: calc(100% - (200px * 2));
    top: 200px;
    left: 0;
    z-index: 15;

    &:hover {
      cursor: url('../images/arrow-r.svg'), default;
    }
  }

  .carouselContainer {
    position: relative;
    position: relative;
    will-change: transform;
    vertical-align: baseline;
    visibility: visible;
    z-index: 10;
    height: 540px;

    .listWrapper {
      width: max-content;
      overflow: hidden;
      position: relative;
      z-index: 10;

      .unorderedList {
        list-style: none;
        height: 100%;
        @include flex(row, center, center);
        display: flex;

        & li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          max-height: 100%;
          white-space: nowrap;
          padding: 0 46px;
        }

        & li img {
          width: 100%;
          padding: 0 46px;
        }

        .squareImg {
          // TODO width: 350px; height: 350px;
          width: 420px;
          height: 420px;
        }

        .horizontalImg {
          // TODO width: 596px; height: 350px;
          width: 715.2px;
          height: 420px;
        }

        .verticalImg {
          // TODO width: 350px; // height: 438px;
          width: 420px;
          height: 525.6px;
        }
      }
    }
  }
}