@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.footerContainer {
  @include flex(column, center, center);

  position: relative;
  background-color: $gray900;
  padding: 48px;
  color: $gray0;
  box-sizing: border-box;

  .footer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 379px 1.2fr 1.1fr 1fr;
    grid-gap: 24px 68px;
    grid-template-areas:
      'side fintech services expertise'
      'addresses fintech services expertise'
      'addresses company services expertise';
    width: 100%;
    max-width: $wide-content-width;

    @include tablet {
      grid-template-columns: 1fr 1.3fr;
      grid-gap: 16px;
      grid-template-areas:
        'side side'
        'addresses mainContent'
        'addresses mainContent'
        'company mainContent';
    }
  }

  .buttonImage {
    max-width: 32px;
    max-height: 32px;

    @include phone {
      max-width: 24px;
      max-height: 24px;
    }
  }

  @include phone {
    padding: 32px 16px;
  }
}
