@import 'styles/utils/mixins';

.footerContainer {
  @include flex(column, center, center);

  position: relative;
  z-index: 99999;
  width: 100%;
  background-color: $dark-grey;
  padding: 48px 0;
  color: $white;
  box-sizing: border-box;

  .footer {
    @include flex(row, space-between);

    width: 100%;
    max-width: $max-content-width;

    @include tablet {
      flex-direction: column;
    }

    @include horizontal-mobile {
      flex-direction: column;
    }
  }

  .buttonImage {
    max-width: 32px;
    max-height: 32px;

    @include phone {
      max-width: 24px;
      max-height: 24px;
    }
  }

  @include macbook-twelve {
    padding: 48px 15px;
  }

  @include phone {
    padding: 32px 15px;
  }
}
