/* stylelint-disable no-descending-specificity */

@import 'styles/utils/mixins';

@mixin signatureLinkMixin {
  a {
    color: black;
    text-decoration: none white;
  }
}

.signature {
  @include signature-button;

  &Bottom {
    background-color: $gray-300;
    color: $silver-chalice;

    @include fontSize(10px);

    &Container {
      margin: 0 16px;
      padding: 16px;
      background-color: $gray-300;
    }
  }

  &Header {
    background: $tuna;

    &Browser {
      width: 100%;
      height: 100%;
    }
  }

  &Container {
    margin: 16px;

    * {
      background: $white;
      text-size-adjust: none;
    }

    table {
      font-family: $signature-font;
      border-collapse: separate;
      border-spacing: 0;
    }
  }

  &Logo {
    &Container {
      height: 100px;
      vertical-align: middle;
      padding: 0 !important;
      position: relative;
      border-right: solid 2px $athens-gray;

      a {
        display: block;
        margin-right: 16px;
        padding: 0;
        height: 100%;
        max-height: 100px;
        width: 100px;
      }

      img {
        height: 100%;
        margin: auto;
      }
    }
  }

  &SubHeader {
    color: $white;
    padding: 10px 0;

    & span {
      @include fontSize(14px);

      @include higher-phone {
        @include fontSize(12px);
      }
    }

    & *:nth-of-type(2n+1) {
      margin-left: 10px;
    }

    & *:nth-of-type(2n) {
      margin-left: 5px;
      font-weight: 600;
    }
  }

  &Data {
    @include fontSize(10pt, 1.5);

    line-height: 150%;

    & + & {
      padding-left: 0;
    }

    p {
      margin: 0 0 0 16px;
    }

    &Employee {
      @include fontSize(11pt);

      font-weight: 600;
    }

    &Job {
      @include fontSize(11pt);

      color: $silver-chalice;
      font-weight: normal;
    }

    &Email {
      @include signatureLinkMixin;

      color: $black;
    }

    &Yellow {
      @include signatureLinkMixin;

      line-height: 150%;
      margin-left: 10px !important;

      a,
      a:visited {
        color: $pure-blue-1;
      }
    }

    &Social {
      line-height: 100%;

      a {
        line-height: 100%;
        margin-left: 16px;
        margin-right: 8px;
        vertical-align: bottom;
      }

      a + a {
        margin-left: 0;
      }

      img {
        vertical-align: bottom;
      }
    }
  }

  &Generated {
    padding-bottom: 24px;
    margin: 24px 10px 32px;
    box-shadow: 0 4px 24px 0 rgba($black, 0.08);

    td {
      padding: 0;
    }
  }

  &PhoneContainer {
    border-right: solid 2px $athens-gray;
    display: inline-block;

    p {
      margin: 0 10px 0 16px;
      padding: 0;
    }
  }

  &YellowContainer {
    display: inline-block;
  }
}
