@import 'styles/utils/mixins';

.title {
  margin: 0;
  font-weight: bold;
  line-height: 120%;
  color: $dark-grey;

  @include fontSize(40px);
}

.accentItem {
  margin: 0 0 15px;
  font-weight: bold;
  line-height: 180%;
  color: $dark-grey;

  @include fontSize(18px);
}

.description {
  margin: 0;
  line-height: 180%;
  color: $light-gray;

  @include fontSize(18px);
}
