@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.advantages {
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $accent-color;
  min-height: calc(90vh - 2 * #{$section-indent});
}