@import 'styles/utils/mixins';

.сontainer {
  margin: 0 auto;
  padding: calc(#{$header-height} + 60px) 0 200px;

  @include phone {
    padding: calc(#{$header-height} + 40px) 0 100px;
  }

  .pageTitle,
  .breadcrumbs {
    max-width: 1300px;
    margin: 0 auto;
  }

  .breadcrumbs {
    padding: 0 40px;

    @include phone {
      padding: 0 15px;
    }
  }
}
