@import 'styles/utils/colors';
@import 'styles/utils/mixins';

.formAlert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 100;
  opacity: 1;
  transition: 0.5s ease;
  background-color: $gray0;

  .container {
    @include flex(column, center, center);

    position: relative;
    width: 100%;
    height: 100%;
  }

  .text {
    @include fontSize(24px, 150%);

    text-align: center;
    margin: 0;
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    z-index: 100;
  }

  .flashIcon {
    transform: translateY(8px);
  }
}

.isVisible {
  top: 0;
  opacity: 1;
}
