@import 'styles/utils/mixins';

.review {
  @include flex(column, space-between, stretch);

  min-height: 376px;
  box-sizing: border-box;
}

.logo {
  height: 50px;
}

.content {
  @include flex(column, space-between, flex-start);

  p {
    @include fontSize(16px, 150%);

    z-index: 1;
    margin-top: 21px;
    color: $gray400;
  }
}

.author {
  @include flex(row, space-between, center);
}

.photo {
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.authorInfo {
  flex: 1 1 auto;

  p {
    margin: 0;
  }
}

.position {
  color: $gray400;
}

.oppsites .logo {
  width: 109px;
  height: 22px;
}

.famlicious .logo {
  width: 114px;
  height: 18px;
}

.separate-us .logo {
  width: 122px;
  height: 31px;
}

.blackbird .logo {
  height: 40px;
  width: 40px;
  position: relative;
  margin: -7px 0;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: 'Blackbird';
    font-weight: bold;
    left: 100%;
  }
}

.qkss .logo {
  width: 100px;
  height: 35px;
  transform: scale(2.7);
}

.coverium .logo {
  width: 120px;
  height: 40px;
  transform: scale(2.7);
}

.hyvery-inc .logo {
  width: 100px;
  height: 40px;
  transform: scale(2.3);
}

.dealstryker .logo {
  width: 80px;
  height: 40px;
  transform: scale(2);
}

.weffect .logo {
  width: 70px;

  & > span {
    margin: -15px !important;
  }
}

.natp {
  .position {
    margin-right: -10px;
  }

  .logo {
    width: 76px;
    height: 30px;
    overflow: hidden;

    & > span {
      margin: -40px !important;
    }
  }
}

.racefully .logo {
  width: 30px;
  height: 30px;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: 'Racefully';
    font-weight: bold;
    left: 120%;
    color: #39e1f4;
  }
}

.smartpath {
  .logo {
    width: 50px;

    & > span {
      margin: -15px !important;
    }
  }
}

.speeddigital {
  .logo {
    width: 30px;
    height: 30px;

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: 'Speed Digital';
      font-weight: bold;
      left: 130%;
      width: 125px;
      color: #f9971b;
    }
  }
}
