@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/styles.module';
@import './styles/common';
@import './styles/chatAppDevelopmentCompany';
@import './styles/enterpriseResourcePlanningSoftwareServices';
@import './styles/fintechSoftwareDevelopmentServices';
@import './styles/tradingSoftwareDevelopment';
@import './styles/penetrationTesting';
@import './styles/eWalletAppDevelopment';
@import './styles/deliveryQualityInYellow';
@import './styles/crowdfundingPlatformDevelopmentCompany';
@import './styles/billingSoftwareDevelopmentServices';
@import './styles/contact';
@import './styles/why-us';
@import './styles/softwareQualityAssuranceServices';
@import './styles/deep-learning';
