.cardWithFullSizeImage {
  padding: 24px;

  picture {
    margin: -24px -24px 0 -24px;
    height: 260px;
  }

  img {
    object-fit: cover;
  }
}

.blackSection {
  background: $gray900;

  .title {
    color: $gray0;
  }
}

.cardsSection {
  @include appDevelopmentContainer;

  background: $white;

  :global(.swiper) {
    padding-bottom: 70px;
  }

  :global(.swiper-slide) {
    height: auto;
    display: flex;
    align-items: stretch;

    & > * {
      @include flex(row, center, stretch);

      width: 100%;
    }
  }
}

.card {
  width: 100%;
}

.cardsSection.withSlider .contentWrapper {
  max-width: $wide-content-width;
}

.contentWrapper {
  max-width: $default-content-width;
  margin: 0 auto;
}

.cardList {
  @extend .twoColumnsCards;

  margin: 0 0 -32px -32px;
  
  & > * {
    @include flex(row, center, stretch);

    margin: 0 0 32px 32px;
  }
}

.callToAction {
  @include defaultCallToAction;
}