.cardsSection {
  @include appDevelopmentContainer;

  background: $white;

  :global(.swiper) {
    padding-bottom: 70px;
  }

  :global(.swiper-slide) {
    height: auto;
    display: flex;
    align-items: stretch;
  }
}

.cardsSection.withSlider .contentWrapper {
  max-width: $wide-content-width;
}

.contentWrapper {
  max-width: $default-content-width;
  margin: 0 auto;
}

.cardList {
  @extend .twoColumnsCards;

  margin: 0 0 -32px -32px;
  
  & > * {
    @include flex(row, center, stretch);

    margin: 0 0 32px 32px;
  }
}

.callToAction {
  @include defaultCallToAction;
}