.ai-mobile-cooking-app {
  [data-title] {
    @include fontSize(32px, 120%);

    font-weight: 800;

    @include below-tablet {
      @include fontSize(24px, 150%);
    }
  }

  [data-description] {
    color: $gray500;
  }

  &.firstSectionView {
    background-color: $tasteMatchMashroom;

    [data-title] {
      color: $gray0;
    }

    .contentWrapper {
      max-width: $wide-content-width;
    }

    .cardList {
      @include flex(column);

      margin: 0;
      gap: 32px;

      & > div {
        margin: 0;
      }
    }

    .card {
      @include flex(row, flex-start, flex-start);

      padding: 48px;
      gap: 32px;
      background-color: $gray0;
      box-sizing: border-box;
      border: 5px solid $gray900;
      border-radius: 40px;
      box-shadow: 8px 8px 0 0 $gray900;

      picture {
        aspect-ratio: 230/280;
        width: 230px;
      }

      h3 {
        @include fontSize(24px, 130%);

        margin: 0;
        color: $gray900;
        font-weight: 800;
      }

      h4 {
        @include fontSize(16px, 130%);

        margin: 0;
        color: $gray500;
        font-weight: 400;
      }

      h5 {
        @include fontSize(18px, 130%);

        margin: 8px 0;
        color: $gray900;
        font-weight: 800;
      }

      p {
        margin: 0;
        color: $gray500;
      }

      @include below-tablet {
        @include flex(column, center, center);

        padding: 32px 16px;
      }
    }

    .card-2 picture {
      order: 2;

      @include below-tablet {
        order: unset;
      }
    }
  }

  &.secondSectionView {
    background-color: $tasteMatchEgg;

    :global(.swiper) {
      overflow: visible;
    }

    .contentWrapper {
      max-width: $wide-content-width;
    }

    .cardList {
      @include flex(row, space-between, initial, wrap);

      margin: 0;
      gap: 32px;

      & > div {
        flex: 0 0 31%;
        margin: 0;
      }
    }

    .card {
      @include flex(column, flex-start, flex-start);

      padding: 32px 28px;
      background-color: $gray0;
      border: 5px solid $gray900;
      border-radius: 40px;
      box-shadow: 8px 8px 0 0 $gray900;

      h4 {
        @include fontSize(24px, 150%);

        margin: 0 0 8px;
        font-weight: 800;
      }

      h3 {
        @include fontSize(20px, 40px);

        margin-bottom: 24px;
        width: 40px;
        height: 40px;
        color: $gray0;
        border-radius: 50%;
        border: 2px solid $gray900;
        box-shadow: 2px 2px 0 0 $gray900;
        font-weight: 900;
        text-align: center;
        text-shadow: 1px 2px $gray900;
        -webkit-text-stroke: 2px $gray900;
      }

      &-1 h3 {
        background-color: $tasteMatchEgg;
      }

      &-2 h3 {
        background-color: $tasteMatchCayenne;
      }

      &-3 h3 {
        background-color: $tasteMatchPepper;
      }

      &-4 h3 {
        background-color: $tasteMatchPlum;
      }

      &-5 h3 {
        background-color: $tasteMatchMashroom;
      }

      &-6 h3 {
        background-color: $tasteMatchMint;
      }
    }
  }
}
