.chat-app-development-company {
  &.firstSectionView,
  &.secondSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    @include iconsWithinCircle;

    .cardList {
      @extend .threeColumnsCards;
    }

    .title {
      max-width: 671px;
    }

    .callToAction {
      margin: 60px auto 0;
      padding: 0;
      background: none;
      min-height: auto;

      button {
        margin: auto;
      }
    }
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .card {
      @extend .cardWithFullSizeImage;
    }
  }
}
