.devops-development-services {
  &.secondSectionView {
    background-color: $cod-gray-1;

    .typeTitle,
    .titleStyle h2 {
      color: $white;
    }

    .titleStyle {
      max-width: 935px;
    }

    .cards {
      @include flex(row, center, initial, wrap);

      grid-gap: 40px 15%;
    }

    .cards > div {
      width: 296px;
    }

    .cardList {
      max-width: 1280px;
    }

    @include tablet {
      .cards > div {
        width: 290px;
      }
    }

    @include phone {
      .cards {
        @include flex(column, flex-start);

        grid-gap: 24px 15%;
      }

      .cards > div {
        width: 100%;
      }

      .typeTitle {
        @include fontSize(32px);
      }
    }
  }

  &.thirdSectionView {
    @extend .greySection;
  }

  &.fourthSectionView {
    .cardList {
      @extend .threeColumnsCards;
    }

    background-color: $very-dark-gray;

    .cards > div {
      background-color: $very-dark-gray;
      box-shadow: none;

      @include below-tablet {
        svg {
          transform: scale(0.7);
          margin: -13px 0 0 -13px;
        }
      }
    }

    .titleStyle h2,
    .typeTitle {
      color: $white;
    }
  }

  &.fifthSectionView {
    @extend .greySection;

    @include iconsWithinCircle;

    .titleStyle {
      max-width: 790px;
    }
  }
}
