.machine-learning-development-services {
  &.firstSectionView {
    @extend .greySection;
  }

  &.thirdSectionView {
    padding-bottom: 0;

    .imageWrapper {
      display: none;
    }

    .cardList {
      @extend .threeColumnsCards;

      .cards > div {
        padding: 30px 30px 30px 48px;
      }
    }

    .cardContent {
      position: relative;

      &::before {
        content: '';
        background: $turbo-100;
        height: 100%;
        width: 2px;
        position: absolute;
        left: -16px;
      }
    }

    .typeTitle {
      margin-top: 0;
    }
  }
}
