.mobile-app-development-company {
  .title {
    margin: 0 auto 48px;
  }

  &.firstSectionView,
  &.thirdSectionView {
    @extend .greySection;
  }

  &.firstSectionView {
    .title {
      max-width: 800px;

      h2 {
        max-width: 500px;
      }
    }
  }

  &.secondSectionView {
    .title {
      max-width: 700px;
    }

    @include below-tablet {
      .cards>div {
        display: block;
      }
    }
  }

  &.thirdSectionView {
    .title {
      max-width: 768px;
    }

    .card {
      @extend .cardWithVerticalLine
    }
  }

  &.fifthSectionView {
    @extend .blackSection;

    h3 {
      color: $gray0;
    }
  }

  &.sixthSectionView {
    padding-bottom: 0;

    .card {
      @extend .cardWithFullSizeImage;
    }
  }
}
