.mobile-app-development-company {
  &.firstSectionView,
  &.thirdSectionView {
    @extend .greySection;
  }

  &.secondSectionView {
    @include below-tablet {
      .cards > div {
        display: block;

        h3 {
          margin-top: 16px;
        }
      }
    }
  }

  &.fifthSectionView {
    @extend .blackSection;

    h3 {
      color: $gray0;
    }
  }

  &.sixthSectionView {
    .card {
      @extend .cardWithFullSizeImage;
    }
  }
}
