.software-development-columbus,
.software-development-washington,
.software-development-oklahoma {
  &.firstSectionView {
    background: $gray50;

    .contentWrapper {
      max-width: $wide-content-width;
    }

    .callToAction {
      & > div {
        max-width: 535px;
      }
    }
  }

  &.secondSectionView {
    @extend .blackSection;

    .card {
      @include flex(column, flex-start, flex-start);

      picture {
        width: 276px;
        height: 276px;
      }

      @include below-tablet {
        align-items: center;

        * {
          align-items: center;
          text-align: center;
        }
      }
    }
  }

  &.thirdSectionView {
    .contentWrapper {
      max-width: $wide-content-width;
    }

    .cardList {
      @extend .threeColumnsCards;
    }
  }
}
