.web-app-development-company {
  &.firstSectionView,
  &.fourthSectionView {
    @extend .greySection;
  }

  &.thirdSectionView {
    @extend .blackSection;
  }

  &.fourthSectionView {
    .card {
      @include flex(column, flex-start, flex-start);

      h3 {
        margin-top: 16px;
      }

      @include below-tablet {
        align-items: center;

        * {
          text-align: center;
        }
      }
    }
  }
}
