.analytics-for-carbon-tracking {
  background: $carbonSpaceGradient;

  .sectionTitle {
    padding: 0;
    max-width: 480px;
  }

  [data-description] {
    position: relative;
    padding-left: 16px;
    margin: 12px auto 0;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      transform: translateY(-50%);
      background-color: $carbonSpaceAccent;
      border-radius: 50%;
    }
  }

  .media {
    position: static;
    margin: 0 auto;
    width: 994px;
    height: 571px;
    border-radius: 10px;
    border: 1px solid $gray100;
    box-shadow: 0 8px 35px 0 rgb(110 120 130 / 10%);
    box-sizing: border-box;
    overflow: hidden;

    @include tablet {
      transform: unset;
      height: 400px;
    }

    @include phone {
      height: 197px;
    }
  }
}
