.crowdfunding-platform {
  &.firstSectionView {
    padding: 60px 16px 120px;
    background-color: $crowdfundingPlatformPrimary;

    [data-title] {
      @include fontSize(14px);

      color: $gray0;
      font-weight: 400;
    }

    .contentWrapper {
      @include flex(row, center, center);

      gap: 32px;

      @include tablet {
        gap: 16px;
        flex-wrap: wrap;
      }
    }

    .media {
      max-width: 481px;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    @include tablet {
      padding: 30px 16px 60px;
    }
  }
}
