.fairy {
  background-color: $fairyPrimary;

  [data-title] {
    color: $gray0;
  }

  .sectionTitle {
    max-width: 666px;
  }

  .circle {
    background: linear-gradient(142.23deg, #5B5BBD -12.4%, #362761 151.71%);
  }
}
