.fintech-app-for-credit-score {
  background: $fintechSecondary;

  .sectionTitle {
    max-width: 573px;
  }

  .contentWrapper {
    max-width: 608px;
  }

  .prototype {
    position: static;
    transform: scale(1.1);
    width: 100%;
    height: 650px;

    @include tablet {
      height: 500px;
    }

    @include phone {
      height: 366px;
    }
  }
}
