.fireaway {
  &.firstSectionView {
    background-color: $gray50;

    .sectionTitle {
      [data-title] {
        color: $gray900;
      }

      max-width: 583px;
    }

    .circle {
      width: 652px;
      height: 600px;
      margin: 0 auto;
      transform: unset;
      left: 0;

      .mockup {
        display: block;
        filter: none;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }

      .imageBundle {
        position: absolute;

        &:nth-of-type(1) {
          top: 0;
          left: -29%;
          width: 12.5%;
          height: 5%;
        }

        &:nth-of-type(2) {
          left: -14%;
          top: 0;
          width: 24.5%;
          height: 16.6%;
        }

        @include below-tablet {
          display: none;
        }
      }

      @include tablet {
        width: 432px;
        height: 400px;
      }

      @include below-tablet {
        width: 343px;
        height: 316px;
      }
    }
  }

  &.secondSectionView {
    background-color: $fireawayAccent;

    [data-title] {
      color: $gray0;
    }

    .circle {
      width: 850px;
      height: 550px;
      margin: 0 auto;
      transform: unset;
      left: 0;

      .mockup {
        display: block;
        filter: none;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }

      .imageBundle {
        position: absolute;

        &:nth-of-type(1) {
          bottom: 0;
          right: -155px;
          width: 100px;
          height: 100px;
        }

        &:nth-of-type(2) {
          left: -100px;
          width: 53px;
          height: 53px;
        }

        @include tablet {
          display: none;
        }
      }

      @include tablet {
        width: 465px;
        height: 300px;
      }

      @include below-tablet {
        width: 356px;
        height: 230px;
      }
    }
  }

  &.thirdSectionView {
    background-color: $gray50;
    padding: 60px 40px 120px;

    .sectionTitle {
      max-width: 666px;

      [data-title] {
        color: $gray900;
      }

      @include phone {
        max-width: 343px;
      }
    }

    .circle {
      width: 790px;
      height: 498px;
      margin: 0 auto;
      transform: unset;
      left: 0;

      .mockup {
        display: block;
        filter: none;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }

      @include tablet {
        width: 465px;
        height: 300px;
      }

      @include below-tablet {
        width: 343px;
        height: 216px;
      }
    }

    @include tablet {
      padding: 30px 32px 60px;
    }

    @include phone {
      padding: 30px 16px 60px;
    }
  }
}
