.hotel-data-cloud {
  padding: 120px 40px 60px;

  .sectionTitle {
    max-width: 772px;
  }

  .prototype {
    position: static;
    transform: unset;
    width: 905px;
    height: 570px;
    box-shadow: 0 14px 74px 0 rgb(0 0 0 / 4%);
    border-radius: 25px;

    @include tablet {
      width: 600px;
      height: 379px;
    }

    @include phone {
      width: 343px;
      height: 216px;
    }
  }

  @include tablet {
    padding: 60px 32px;
  }

  @include phone {
    padding: 60px 16px 30px;
  }
}
