.metapix {
  background: $metapixPrimary;

  &.firstSectionView,
  &.secondSectionView,
  &.thirdSectionView {
    padding: 0;

    .sectionTitle {
      display: none;
    }

    .contentWrapper {
      max-width: $macbook-fifteen;
    }

    .iframe {
      height: 750px;

      @include tablet {
        height: 568px;
      }

      @include below-tablet {
        height: 426px;
      }

      @include phone {
        height: 210px;
      }
    }
  }
}
