.metapix {
  background: $metapixPrimary;

  &.firstSectionView,
  &.secondSectionView,
  &.thirdSectionView {
    padding: 0;

    .sectionTitle {
      display: none;
    }

    .contentWrapper {
      max-width: $macbook-fifteen;
    }

    .video {
      object-fit: cover;
      width: 100%;
      height: 750px;

      @include tablet {
        height: 500px;
      }

      @include phone {
        height: 370px;
      }
    }
  }
}
