.stickerbox {
  overflow: hidden;
  background-color: $stickerBoxPrimary;

  [data-title] {
    color: $gray0;
  }

  [data-description] {
    color: $gray400;
    max-width: 450px;

    @include phone {
      max-width: 375px;
    }
  }

  .screen {
    width: 318px;
    height: 650px;
  }

  .prototype {
    width: 286px;
    height: 620px;
    border-radius: 10px;

    img {
      border-radius: 10px;
    }
  }

  .contentWrapper {
    height: 650px;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 460px;
      height: 460px;
      background: linear-gradient(135deg, $grey-darker 0%, $dark-grey-2 100%);
      border-radius: 50%;
    }
  }
}
