.tell {
  @include caseStudyContainer;

  padding: 120px 0 0;
  overflow: initial;

  .sectionTitle {
    margin-bottom: 48px;

    @include phone {
      max-width: 345px;
    }
  }

  .circle {
    background: $gray50;
    margin: 0;
    width: 690px;
    height: 690px;
  }

  .mockup {
    width: 330px;
    filter: drop-shadow(-1.97329px 1.97329px 9.86644px rgb(0 0 0 / 40%)) drop-shadow(-14.7997px 14.7997px 29.5993px rgb(0 0 0 / 30%));

    @include phone {
      width: 306px;
    }
  }

  .appImage {
    width: 308px;

    @include phone {
      width: 285px;
    }
  }

  .imageBundle {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, -15%);
    width: 268px;
    height: 164px;

    @include tablet {
      display: none;
      overflow: hidden;
    }
  }
}
