.tell {
  padding: 120px 0 0;
  overflow: initial;

  .sectionTitle {
    margin-bottom: 48px;

    @include phone {
      max-width: 345px;
    }
  }

  .contentWrapper {
    height: 690px;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 690px;
      height: 690px;
      background: $gray50;
      border-radius: 50%;
    }
  }

  .prototype {
    width: 288px;
    height: 610px;
    border-radius: 30px;

    img {
      border-radius: 30px;
    }
  }

  .screen {
    width: 298px;
    height: 620px;
    box-shadow: 0 13.372475624084473px 26.744951248168945px 0 #8354001a;
  }

  .imageBundle {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(45%, -15%);
    width: 268px;
    height: 164px;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    overflow: hidden;
  }
}
