.web-p2p-lending-platform {
  padding: 0 16px 30px;

  .sectionTitle {
    max-width: $wide-content-width;

    [data-title] {
      @include fontSize(16px);

      color: $gray400;
      font-weight: 400;
      text-align: left;
      max-width: none;

      @include tablet {
        text-align: center;
      }
    }

    [data-description] {
      @include fontSize(38px);

      color: $gray900;
      text-align: left;
      max-width: none;

      @include tablet {
        @include fontSize(24px);

        text-align: center;
      }
    }
  }
}
