.reviews {
  @include appDevelopmentContainer;

  background: $gray50;

  :global(.swiper) {
    padding-bottom: 70px;
  }

  :global(.swiper-slide) {
    height: auto;
    display: flex;
    align-items: stretch;
  }
}

.contentWrapper {
  max-width: $wide-content-width;
  margin: 0 auto;
}

.callToAction {
  background: $gray0;
}

.titleStyle {
  margin-bottom: 32px;
}