/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins', 'styles/utils/theme/animations';

@mixin insetGradient {
  content: '';
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.imagesContainer {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  display: flex;

  @include phone {
    margin: 40px 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    left: 0;

    @include insetGradient;
  }

  &::after {
    right: 0;

    @include insetGradient;
  }

  // TODO: the first image does not animated on desktop safari
  .animatedContainer {
    position: relative;
    animation: image-scroll 30s linear infinite;

    .image {
      display: block;
      height: 100%;
      margin-left: 70px;

      @include phone {
        height: 400px;
        margin-left: 40px;
      }
    }
  }

  &:nth-of-type(2n + 1) {
    .animatedContainer {
      animation-direction: reverse;
    }
  }
}

.fernwayer,
.fireaway,
.famlicious {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }
}

.stickerbox {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, $dark-grey-1 0%, rgba($dark-grey-1, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $dark-grey-1 0%, rgba($dark-grey-1, 0) 100%);
  }

  /* stylelint-disable-next-line */
  .animatedContainer {
    .image {
      max-height: 740px;
      margin-left: 95px;

      @include phone {
        margin-left: 50px;
      }
    }
  }
}

.seven-pm-thursday {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, $dark-blue 0%, rgba($dark-blue, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $dark-blue 0%, rgba($dark-blue, 0) 100%);
  }

  /* stylelint-disable-next-line */
  .animatedContainer {
    .image {
      margin-left: 26px;

      @include phone {
        margin-left: 20px;
      }
    }
  }

  &:nth-of-type(1) {
    .animatedContainer {
      .image {
        margin-left: 80px;

        @include phone {
          margin-left: 40px;
        }
      }
    }
  }
}

.fairy {
  @extend .imagesContainer;

  /* stylelint-disable-next-line */
  .animatedContainer {
    /* stylelint-disable-next-line */
    .image {
      max-height: 645px;
      margin-left: 42px;
    }
  }

  &::before {
    background: linear-gradient(90deg, $violet 0%, rgba($violet, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $violet 0%, rgba($violet, 0) 100%);
  }
}

.tell {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      max-height: 660px;
      margin-left: 30px;
    }
  }
}

.travel-trivia,
.cash-chat {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      max-height: 660px;
      margin-left: 30px;
    }
  }
}

.open-sense {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      margin-left: 35px;
    }
  }

  &::before {
    background: linear-gradient(90deg, $zircon 0%, rgba(248, 250, 255, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $zircon 0%, rgba(248, 250, 255, 0) 100%);
  }
}

.beautonomy,
.meateater,
.separate-us,
.fusion-markets,
.blackbird,
.meetava {
  @extend .imagesContainer;

  .animatedContainer {
    animation-duration: 10s;

    .image {
      max-height: 600px;
      margin-left: 35px;
    }
  }

  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }
}

.drive-focus {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      max-height: 527px;
      margin-left: 35px;

      @include phone {
        max-height: 313px;
      }
    }
  }
}

.ubichat {
  @extend .imagesContainer;

  .image {
    max-height: 527px;
  }
}

.meateater {
  &:last-of-type {
    margin-top: 40px;
  }

  .animatedContainer {
    animation-duration: 22s;
  }
}

.telemojo {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, rgba(249, 251, 254, 0) 0%, $selago 78.3%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &::after {
    background: linear-gradient(90deg, rgba(249, 251, 254, 0) 0%, $selago 78.3%);
  }
}

.famlicious {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      max-height: 660px;
      margin-left: 30px;
    }
  }
}

.bionorica {
  @extend .imagesContainer;

  .animatedContainer {
    .image {
      max-height: 440px;
      margin-left: 0;

      @include phone {
        max-height: 312px;
      }
    }
  }
}

.fusion-markets {
  &::before {
    background: linear-gradient(90deg, $dark-blue 0%, rgba($dark-blue, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $dark-blue 0%, rgba($dark-blue, 0) 100%);
  }
}

.blackbird {
  .animatedContainer {
    margin-bottom: 150px;

    @include phone {
      margin-bottom: 40px;
    }
  }

  &::before,
  &::after {
    background: none;
  }
}

.meetava {
  .animatedContainer {
    margin-bottom: 150px;

    @include phone {
      margin-bottom: 40px;
    }
  }
}

.marketplace-for-clairvoyant-services {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(270deg, rgba($white, 0) 0%, rgba($white, 0.87) 78.3%);
  }

  &::after {
    background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 0.87) 78.3%);
  }

  .animatedContainer {
    .image {
      max-height: 541px;
      margin-left: 30px;
    }
  }
}
