@import 'styles/utils/mixins', 'styles/utils/theme/animations';

@mixin insetGradient {
  content: '';
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.imagesContainer {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  width: 100%;
  display: flex;

  @include phone {
    margin: 40px 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    left: 0;

    @include insetGradient;
  }

  &::after {
    right: 0;

    @include insetGradient;
  }

  .animatedContainer {
    position: relative;
    animation: image-scroll 30s linear infinite;

    .image {
      display: block;
      height: 100%;
      margin-left: 70px;

      @include phone {
        height: 400px;
        margin-left: 40px;
      }
    }
  }

  &:nth-of-type(2n + 1) {
    .animatedContainer {
      animation-direction: reverse;
    }
  }
}

.fernwayer {
  @extend .imagesContainer;

  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }
}

// TODO: use when stickerBox page will be added
//.stickerbox {
//  &::before {
//    background: linear-gradient(90deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
//  }
//
//  &::after {
//    background: linear-gradient(270deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
//  }
//}
