@import 'styles/utils/mixins';

@mixin insetGradient {
  content: '';
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.imagesContainer {
  position: relative;
  overflow: hidden;
  margin: 80px 0;

  @include phone {
    margin: 40px 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    left: 0;

    @include insetGradient;
  }

  &::after {
    right: 0;

    @include insetGradient;
  }

  .image {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include phone {
      height: 400px;
    }
  }
}

.fernwayer {
  &::before {
    background: linear-gradient(90deg, $white 0%, rgba($white, 0) 100%);
  }

  &::after {
    background: linear-gradient(270deg, $white 0%, rgba($white, 0) 100%);
  }

  @extend .imagesContainer;
}

// TODO: use when stickerBox page will be added
//.stickerbox {
//  &::before {
//    background: linear-gradient(90deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
//  }
//
//  &::after {
//    background: linear-gradient(270deg, #1A1C1F 0%, rgba(26, 28, 31, 0) 100%);
//  }
//}
