.cross-platform-development-services {
  .figures {
    flex-wrap: nowrap;

    & > div {
      @include flex(column);

      flex: 0 0 auto;

      &:last-child {
        max-width: 277px;
      }

      @include below-tablet {
        @include flex(column, center, center);

        flex: 0 0 100%;
      }
    }

    @include below-tablet {
      @include flex(column, flex-start, center);
    }
  }

  .title {
    @include fontSize(38px, 49px);

    margin-bottom: 8px;

    @include below-tablet {
      text-align: center;
    }
  }
}
