.penetration-testing {
  .figures {
    border-top: 1px solid $gray200;
    padding-top: 60px;
    max-width: $wide-content-width;

    @include flex(row, space-between, flex-start);

    svg {
      @include below-tablet {
        height: 32px;
        width: 32px;
      }
    }

    & > div {
      flex: 0 0 30%;
    }

    @include below-tablet {
      @include flex(column, space-between, flex-start);
      border: none;
      padding-top: 32px;
    }
  }

  .title {
    @include fontSize(16px, 24px);

    color: $gray900;
    text-align: left;

    @include below-tablet {
      @include fontSize(16px, 24px);
    }
  }
}
