.clairvoyant-directory-upgrade {
  &.firstSectionView {
    padding-top: 60px;
    background: $clairvoyantServicesPrimary;

    .titleStyle {
      [data-title] {
        color: $gray0;
        font-weight: 400;
      }

      @include tablet {
        margin-bottom: 24px;

        [data-title] {
          @include fontSize(38px);
        }
      }
    }

    @include tablet {
      padding-top: 30px;
    }
  }
}
