.crowdfunding-platform {
  &.firstSectionView {
    background: $crowdfundingPlatformPrimary;

    [data-title] {
      @include fontSize(14px);

      color: $gray0;
      font-weight: 400;
    }
  }
}
