.humankind {
  &.secondSectionView {
    padding: 120px 40px 92px;
    background: $humankindGradient;

    [data-title] {
      color: $gray0;
    }

    @include phone {
      padding: 60px 16px;
    }
  }
}
