.software-for-mri-interpretation {
  &.secondSectionView {
    padding: 120px 16px;
    background: $balzanoGradient;

    .titleStyle {
      color: $gray0;
    }

    @include phone {
      padding: 60px 0;
    }
  }
}
