.tell {
  padding: 120px 0;

  .titleStyle {
    padding: 0 16px;
  }

  [data-description] {
    max-width: 550px;

    @include phone {
      max-width: 343px;
    }
  }

  @include tablet {
    padding: 60px 0;
  }
}
