@import 'styles/utils/mixins';

.formContainer {
  position: relative;
  z-index: 2;
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $white;

  @include phone {
    padding: $mobile-section-indent - 20px $side-indent;
  }

  .title {
    @include phone {
      width: 105%;
    }
  }

  .subtitle{
    margin: 0;
    font-size: .9rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    width: 105%;

    a {
      position: relative;
      color: $black;
      margin-left: 5px;
      text-decoration: none;
      font-size: .9rem;
      line-height: 1.55;
      letter-spacing: 0.5px;
      transition: color $accelerated-transition-time;
    }

    a:before {
      position: absolute;
      display: block;
      content: "";
      border-bottom: 1px $woodsmoke solid;
      bottom: -2px;
      width: 99%;
      left: 0.5%;
      transition: border $accelerated-transition-time;
    }

    &:hover {
      cursor: pointer;

      a {
        color: $turbo-100;

        &:before {
          border-bottom: 1px $turbo-100 solid;;
        }
      }
    }
  }

  h1 {
    text-align: left !important;
  }

  .form {
    @include flex(column, initial, center);
    width: 100%;
    max-width: 650px;
    max-height: auto;
    color: $silver;
    margin-bottom: 200px;

    @include tablet {
      margin-bottom: 100px;
    }

    @include phone {
      margin-bottom: 50px;
    }
  
    span, label {
      font-size: 1.0625rem;
      line-height: 1.94;
      letter-spacing: 0.4px;
      color: $black;
    }

    span {
      font-size: 0.9375rem;

      @include phone {
        font-size: 0.75rem;
      }
    }

    label {
      font-weight: 500;
    }
  
    input {
      font-size: 1.125rem;
      padding: 30px 0 8px;
      border: 0 none;
      border-bottom: solid 0.5px $iron;
      background-color: transparent;
      color: $emperor;
      outline: none;

      @include phone {
        padding: 20px 0 8px;
      }
    }
    
    .inputs {
      @include flex(column);
      margin-top: $after-mobile-title-margin;
      
      &:nth-child(1) {
        width: 100%;
      } 

      & > div {
        width: 100%;
      }
    }

    .checkboxContainer {
      @include flex(row, flex-start, center);
      margin-top: 10px;
      width: 100%;
    
      @include phone {
        @include flex(column);
    
        label:last-child {
          margin-top: 20px;
          margin-left: 0 !important;
        }
      }
    }

    a:last-child {
      @include phone {
        width: 90%;
      }
    }

    .submit {
      @include buttonMore($black, $black, $turbo-100, $turbo-100);
      background-color: $turbo-100;
      color: $woodsmoke;
      line-height: 1.55;
      letter-spacing: 0.5px;
      text-align: center;
      font-size: 1rem;
      transition: background-color $shadow-time-for-yellow-button;

      @include phone {
        margin: $mobile-more-button-indent auto 0;
      }

      &:hover {
        background-color: $turbo-200;
        transition: background-color $shadow-time-for-yellow-button;
      }
    }
  }
}

.active {
  .form {
    input {
      border-bottom-color: $turbo-100;
    }
  }
}
