@import 'styles/utils/mixins';

.formContainer {
  position: relative;
  z-index: 2;
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $white;

  @include phone {
    padding: $mobile-section-indent $side-indent $mobile-section-indent - 20px;
  }
  
  div {
    width: 100%;
    text-align: center;
    
    .title {
      @include phone {
        width: 100%;
      }
    }  
  } 

  .subtitle {
    margin: 0;
    font-size: .9rem;
    line-height: 1.55;
    letter-spacing: 0.5px;

    span {
      cursor: pointer;
      padding: 0 0 5px;
      
      a {
        margin-left: 5px;
        text-decoration: none;
        font-size: .9rem;
        line-height: 1.55;
        letter-spacing: 0.5px;
        transition: color $accelerated-transition-time;
  
        border: none;
        outline: 0px;
        background-color: transparent;
        color: $black;
        position: relative;
        display: inline-block;
        padding: 0;

        &:before {
          content: '';
          cursor: pointer;
          position: absolute;
          bottom: -2px;
          right: 0;
          width: 100%;
          border-bottom: 1px $black solid;
          background-color: $black;
          transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        }
      }

      &:hover {
        cursor: pointer;

        a {
          &:before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateZ(0);
          }
        }
      }
    }
  }

  .form {
    @include flex(column, initial, center);
    width: 100%;
    max-width: $max-content-width;
    max-height: auto;
    color: $silver;
    margin-bottom: 200px;

    @include tablet {
      margin-bottom: 100px;
    }

    @include phone {
      margin-bottom: 50px;
    }
    
    label {
      font-size: 1.4375rem;
      line-height: 1.94;
      letter-spacing: 0.4px;
      color: $black;
      font-weight: 500;
    }

    input {
      font-size: 1.4375rem;
      padding-top: 30px;
      padding-bottom: 20px;

      @include phone {
        font-size: 1.125rem;
        padding-top: 20px;
        padding-bottom: 8px;
      }
    }
    
    .inputs {
      @include flex(row, space-between, center);
      margin-top: $after-mobile-title-margin;
      
      & > div {
        width: 45%;
      }

      @include below-tablet {
        @include flex(column);

        & > div {
          width: 100%;
        }
      }
    }

    .checkboxContainer {
      @include flex(row, flex-start, center);
      margin-top: 15px;
      width: 100%;
    
      @include phone {
        @include flex(column);
    
        label:last-child {
          margin-top: 20px;
          margin-left: 0 !important;
        }
      }
    }

    .submit {
      @include buttonMore($turbo-100, $thunder, $turbo-100, $turbo-100);
      border-radius: 10rem;
      color: $black;
      position: relative;
      overflow: hidden;
      z-index: 1;
      background-color: transparent;
      border: solid 1px $black;
      min-width: 330px;
      padding: 22px 0;
      line-height: 1.35;
      font-weight: 600;
      margin-top: 100px;
      transition: background-color 0.4s,
                  border-color 0.4s,
                  color 0.4s;

      @include phone {
        margin: 60px auto 0;
      }
  
      @include phone {
        min-width: 300px;
      }
  
      &:hover {
        background-color: $turbo-100;
        color: $black;
        transition: background-color 0.4s,
                    border-color 0.4s,
                    color 0.4s;
      }
    }
  }
}
