@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.managementTeam {
  padding: 60px 0 30px;

  @include below-tablet {
    padding: 60px 16px 0;
  }
}

.contentWrapper {
  max-width: $wide-content-width;
  margin: 0 auto;
}

.managers {
  @include flex(row, space-evenly, center, wrap);

  & > div {
    flex: 0 0 276px;
  }
}

.card {
  @include flex(column);

  margin-bottom: 32px;
}

.image {
  height: 276px;
  width: auto;
  margin-bottom: 24px;

  img {
    object-fit: cover;
  }
}

.title {
  @include fontSize(20px, 150%);

  font-weight: bold;
  color: $gray900;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  @include fontSize(16px, 150%);

  color: $gray400;
  text-align: center;
  margin-top: 5px;
}
