/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.container {
  box-sizing: border-box;
  overflow: hidden;
  height: 35vw;
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;

  @include flex(row, center, center);

  @include phone {
    height: 85vh;
  }

  .projectInfoContainer {
    z-index: 100;

    @include tablet {
      margin-bottom: 60px;
      text-align: center;
    }

    .logo {
      width: 48px;
      height: 48px;
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    .projectTitle {
      margin: 0 0 30px;
      font-family: $case-studies-font;
      font-weight: bold;
      line-height: 1.2;

      @include fontSize(42px);
    }

    .projectSubtitle {
      margin: 0 0 20px;
      font-family: $case-studies-font;
      font-weight: 500;
      line-height: 1.5;
    }

    .projectDescription {
      max-width: 400px;
      margin: 0 0 40px;
      line-height: 180%;
      font-family: $case-studies-font;
      font-weight: 400;

      @include fontSize(13px);
    }
  }

  .imageContainer {
    position: relative;
    width: 310px;
    z-index: 1;

    @include phone {
      max-width: 450px;
    }

    .image {
      object-fit: cover;

      @include tablet {
        height: 100%;
      }
    }
  }

  .appStore {
    width: 120px;
    height: 40px;
    margin-top: 20px;
  }
}

.projectPreview {
  @include flex(row, center, center);

  @include tablet {
    @include flex(column, initial, center);
  }
}

.mobile-app-development-company {
  @extend .container;

  @include macbook-fifteen {
    height: 75vh;
  }

  @include tablet {
    height: 63vh;
  }

  @include phone {
    height: 100vh;
  }

  &.firstSectionView {
    @include centeredBackgroundImage;

    padding: 0 70px;

    @include tablet {
      padding: 0 24px;
    }

    .projectInfoContainer {
      max-width: 385px;
      height: max-content;

      @include tablet {
        max-width: unset;
        margin-bottom: 0;
      }

      .projectTitle {
        @include fontSize(44px);

        @include tablet {
          @include fontSize(35px);
        }

        @include phone {
          @include fontSize(22px);
        }
      }

      .projectSubtitle {
        max-width: 335px;

        @include tablet {
          margin: 0 auto 20px;
        }

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;
      max-width: 515px;
      height: 100%;

      @include tablet {
        max-width: 450px;
      }

      @include phone {
        max-width: 226px;
      }

      .image {
        width: 100%;
        position: relative;
        transform: unset;

        @include tablet {
          height: unset;
          object-fit: unset;
        }
      }
    }
  }

  &.secondSectionView {
    padding: 0 100px 0 160px;
    background-color: $violet;

    @include centeredBackgroundImage;

    @include macbook-fifteen {
      padding: 0 110px;
    }

    @include macbook-twelve {
      padding: 0 45px 0 110px;
    }

    @include tablet {
      padding: 0 24px;
    }

    .projectInfoContainer {
      max-width: 385px;
      width: 85%;
      height: max-content;
      color: $white;

      @include tablet {
        max-width: unset;
        margin-bottom: 0;
      }

      .projectTitle {
        @include fontSize(58px);

        @include tablet {
          @include fontSize(45px);
        }

        @include phone {
          @include fontSize(35px);
        }
      }

      .projectSubtitle,
      .projectDescription {
        max-width: 310px;

        @include tablet {
          margin: 0 auto 20px;
        }
      }

      .projectDescription {
        color: $prelude;

        @include phone {
          @include fontSize(14px);
        }
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;
      max-width: 360px;
      width: 100%;
      height: initial;

      @include macbook-fifteen {
        max-width: 310px;
      }

      @include tablet {
        height: max-content;
      }

      @include phone {
        max-width: 180px;
      }

      .image {
        width: 100%;
        position: relative;
        transform: unset;

        @include tablet {
          height: unset;
        }
      }
    }

    .projectPreview {
      width: 100%;
      height: 100%;

      @include flex(row, space-between, center);

      @include tablet {
        @include flex(column, center, center);
      }
    }
  }

  &.thirdSectionView {
    padding: 0 115px;
    background: linear-gradient(180deg, #26282D 0%, #181A1D 100%);

    @include tablet {
      padding: 0 24px;
    }

    .projectInfoContainer {
      max-width: 505px;
      height: max-content;
      color: $white;

      @include tablet {
        max-width: unset;
        margin-bottom: 0;
      }

      .projectTitle {
        @include fontSize(58px);

        @include tablet {
          @include fontSize(45px);
        }

        @include phone {
          @include fontSize(35px);
        }
      }

      .projectSubtitle,
      .projectDescription {
        max-width: 300px;

        @include tablet {
          margin: 0 auto 20px;
        }

        @include phone {
          @include fontSize(14px);
        }
      }

      .projectDescription {
        color: $grey-chateau;

        @include fontSize(13px);
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;
      max-width: 500px;
      width: 100%;

      @include tablet {
        height: 100%;
        max-width: 450px;
      }

      @include phone {
        max-width: 195px;
      }

      .image {
        width: 100%;
        position: relative;
        transform: translate(5%, 0);

        @include tablet {
          transform: unset;
        }
      }
    }

    .projectPreview {
      width: 100%;
    }
  }
}

.chat-app-development-company {
  @extend .container;

  &.firstSectionView {
    padding: 0 120px;
    background: linear-gradient(180deg, $pink 0%, $light-pink 100%);

    @include flex(row, initial, center);

    @include macbook-fifteen {
      padding: 0 90px;
    }

    @include macbook-twelve {
      padding: 0 50px;
    }

    @include tablet {
      padding: 60px 50px;

      @include flex(row, center, center);
    }

    @include phone {
      padding: 24px;
    }

    .projectInfoContainer {
      max-width: 320px;
      height: max-content;
      color: $white;

      @include phone {
        margin-bottom: 0;
      }

      .projectTitle {
        @include tablet {
          @include fontSize(32px);
        }

        @include phone {
          @include fontSize(22px);
        }
      }

      .projectDescription {
        max-width: 310px;

        @include tablet {
          max-width: unset;
        }

        @include phone {
          margin: 0;
        }
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;
      width: 475px;
      height: 100%;

      @include macbook-fifteen {
        width: 200px;
      }

      .image {
        max-width: 795px;

        @include centered;

        transform: translate(-40%, -45%);

        @include macbook-fifteen {
          max-width: 500px;
        }

        @include macbook-twelve {
          max-width: 400px;
        }

        @include tablet {
          transform: translate(-50%, -50%);
        }
      }
    }

    .projectPreview {
      @include tablet {
        height: 100%;

        @include flex(column, initial, center);
      }
    }
  }

  &.secondSectionView {
    padding: 0 130px;
    background-color: $athens-gray-1;

    @include macbook-fifteen {
      padding: 0 100px;
    }

    @include macbook-twelve {
      padding: 0 50px;
    }

    @include tablet {
      padding: 24px;
    }

    .projectInfoContainer {
      max-width: 385px;
      height: max-content;

      @include tablet {
        margin-bottom: 0;
      }

      .projectTitle {
        margin: 0;
        color: $dark-grey-2;

        @include fontSize(58px);

        @include macbook-fifteen {
          @include fontSize(42px);
        }

        @include tablet {
          @include fontSize(32px);
        }

        @include phone {
          @include fontSize(22px);
        }
      }

      .projectSubtitle {
        font-weight: 600;
        margin: 0;
        color: $dark-grey;

        @include fontSize(17px);

        @include tablet {
          @include fontSize(15px);
        }
      }

      .projectDescription {
        font-weight: 500;
        margin: 15px 0 10px;
        color: $dark-grey-2;

        @include fontSize(16px);

        @include tablet {
          @include fontSize(14px);
        }
      }

      p:not(.projectSubtitle, .projectDescription) {
        color: $shuttle-gray;
        max-width: 330px;

        @include fontSize(13px);

        @include tablet {
          @include fontSize(12px);
        }
      }
    }

    .appStore {
      path {
        fill: $black;
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;
      width: 475px;

      @include macbook-fifteen {
        width: 200px;
      }

      @include tablet {
        width: 400px;
        height: 100%;
      }

      .image {
        max-width: 800px;

        @include centered;

        @include macbook-fifteen {
          max-width: 500px;
          transform: translate(-40%, -45%);
        }

        @include tablet {
          transform: translate(-50%, -50%);
        }
      }
    }

    .projectPreview {
      @include tablet {
        height: 100%;
      }
    }
  }

  &.thirdSectionView {
    padding: 0 160px;
    background-color: $cornflower-blue;

    @include macbook-fifteen {
      padding: 0 100px;
    }

    .projectInfoContainer {
      height: max-content;
      color: $white;

      @include tablet {
        margin-bottom: 0;
      }

      .projectTitle {
        margin: 0 0 10px;

        @include tablet {
          @include fontSize(32px);
        }

        @include phone {
          @include fontSize(22px);
        }
      }
    }

    .imageContainer {
      position: relative;
      z-index: 1;

      @include macbook-twelve {
        width: 215px;
      }

      @include tablet {
        width: 100%;
        height: max-content;
        text-align: center;
      }

      .image {
        max-width: 265px;
        position: relative;
        transform: translate(10%, 0);

        @include macbook-twelve {
          max-width: 190px;
        }

        @include tablet {
          transform: unset;
        }

        @include phone {
          width: 100%;
          max-width: 185px;
        }
      }
    }

    .projectPreview {
      width: 100%;
      position: relative;

      @include flex(row, space-between, center);

      @include tablet {
        height: 100%;

        @include flex(column, space-between, center);
      }

      @include phone {
        @include flex(column, space-around, center);
      }

      .imageBundle {
        position: absolute;

        &:nth-of-type(1) {
          max-width: 83px;
          left: 0;
          bottom: 0;
          transform: translate(-70%, 0);

          @include macbook-twelve {
            transform: translate(-100%, 75%);
          }

          @include tablet {
            max-width: 66px;
            top: 50%;
            transform: translate(-130%, -5%);
          }
        }

        &:nth-of-type(2) {
          max-width: 35px;
          right: 0;
          top: 0;
          transform: translate(-15%, -165%);

          @include tablet {
            max-width: 51px;
            transform: translate(35%, 150%);
          }

          @include phone {
            transform: translate(100%, 150%);
          }
        }

        &:nth-of-type(3) {
          max-width: 68px;
          right: 0;
          bottom: 0;
          transform: translate(140%, -270%);

          @include tablet {
            max-width: 54px;
          }
        }

        &:nth-of-type(4) {
          right: 0;
          transform: translate(15%, 0);

          @include tablet {
            max-width: 500px;
          }
        }
      }
    }
  }
}

.webAppDevelopmentProjectPreview {
  .projectPreview {
    width: 100%;
    height: 100%;

    @include flex(column, center, center);
  }

  .projectInfoContainer {
    @include flex(column, center, center);

    .projectTitle {
      @include fontSize(50px);

      @include macbook-twelve {
        @include fontSize(40px);
      }

      @include phone {
        @include fontSize(35px);
      }
    }
  }

  .imageContainer {
    width: auto;
  }
}

.web-app-development-company {
  @extend .container;
  @extend .webAppDevelopmentProjectPreview;

  @include macbook-twelve {
    height: 40vw;
  }

  @include tablet {
    height: 70vh;
  }

  @include phone {
    height: 90vh;
  }

  &.firstSectionView {
    background-color: $alabaster;

    .projectInfoContainer {
      .projectTitle {
        .pinkText {
          color: $brink-pink;
        }
      }

      .projectSubtitle {
        color: $dark-grey;
        opacity: 0.7;

        @include fontSize(14px);
      }

      .logo {
        @include macbook-twelve {
          width: 36px;
          height: 36px;
          margin-bottom: 15px;
        }
      }
    }

    .imageContainer {
      .image {
        max-width: 586px;

        @include macbook-fifteen {
          max-width: 450px;
        }
      }
    }
  }

  &.secondSectionView {
    background-color: $shark-2;

    .projectInfoContainer {
      .projectTitle {
        color: $white;
        margin: 0 0 45px;
        text-transform: uppercase;

        .orangeText {
          color: $flamenco;
        }
      }
    }

    .imageContainer {
      .image {
        max-width: 678px;

        @include macbook-fifteen {
          max-width: 450px;
        }
      }
    }
  }

  &.thirdSectionView {
    .imageContainer {
      width: auto;

      .image {
        max-width: 800px;

        @include macbook-fifteen {
          max-width: 650px;
        }

        @include tablet {
          max-width: 450px;
        }
      }
    }
  }

  &.fourthSectionView {
    @include centeredBackgroundImage;

    .projectPreview {
      transform: translateY(90px);

      @include tablet {
        transform: unset;
      }
    }

    .projectInfoContainer {
      .titleText {
        position: relative;

        .projectTitle {
          margin-bottom: 20px;

          @include fontSize(56px);

          @include macbook-twelve {
            @include fontSize(45px);
          }

          @include tablet {
            @include fontSize(55px);
          }

          @include phone {
            @include fontSize(25px);
          }
        }

        .titleBackground {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-30px, -63px);
          width: 467px;

          @include macbook-twelve {
            width: 390px;
            transform: translate(-30px, -75px);
          }

          @include tablet {
            width: 455px;
            transform: translate(-25px, -65px);
          }

          @include phone {
            display: none;
          }
        }
      }

      .projectSubtitle {
        @include fontSize(14px);
      }

      .projectDescription {
        max-width: 360px;
        opacity: 0.7;
        text-align: center;
        margin-bottom: 0;

        @include fontSize(12px);
      }
    }

    .imageContainer {
      .image {
        max-width: 727px;

        @include tablet {
          max-width: 600px;
        }

        @include phone {
          max-width: 320px;
        }
      }
    }
  }
}
