@import "styles/utils/mixins";
@import "components/AppDevelopmentCommon/utils/styles.module.scss";

.mobile-app-development-company,
.web-app-development-company,
.ios-mobile-app-development-services,
.ui-ux-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.chat-app-development-company {
  @include appDevelopmentContainer;

  .title {
    max-width: $max-content-width;
    margin: 0 auto 80px;

    div {
      width: 100%;

      h2 {
        text-align: left;

        @include below-tablet {
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }

  .callToAction {
    @include defaultCallToAction;

    background: $white;
    margin-top: 120px;

    & > h3 {
      margin-right: 15px;
      text-align: left;

      @include phone {
        text-align: center;
      }
    }
  }

  @include phone {
    padding: 64px 0;
  }
}

.web-app-development-company,
.ios-mobile-app-development-services,
.ui-ux-services,
.android-mobile-app-development-services,
.mvp-app-development-company,
.cloud-based-app-development-services,
.machine-learning-development-services,
.chat-app-development-company {
  background-color: $alabaster;
}
