@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/mixins';

.mobile-app-development-company,
.web-app-development-company,
.ui-ux-services {
  @include appDevelopmentContainer;

  @include phone {
    padding: 64px 0;
  }

  & > div:first-child {
    h2 {
      @include phone {
        margin-bottom: 0;
      }
    }
  }
}

.web-app-development-company,
.ui-ux-services {
  background-color: $alabaster;
}
