/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.newer {
  @include flex(row-reverse);

  & > a {
    @include flex(row, center, center);

    &:hover {
      .arrow {
        transform: translateX(5px);
        transition: transform 0.4s ease-out;
      }
    }

    .arrow {
      margin-left: 10px;
      transition: transform 0.4s ease-out;
    }
  }
}

.older {
  @include flex();

  & > a {
    @include flex(row-reverse, center, center);

    &:hover {
      .arrow {
        transform: translateX(-5px) rotate(180deg);
        transition: transform 0.4s ease-out;
      }
    }

    .arrow {
      margin-right: 10px;
      transform: rotate(180deg);
      transition: transform 0.4s ease-out;
    }
  }
}

.newer,
.older {
  background-color: $white;
  flex: 1 0 50%;

  & > a {
    color: $tundora;
  }
}
