.graySection {
  background-color: $gray50;

  .callToAction {
    background: $gray0;
    border: 1px solid $gray50;
  }
}

.checkListSection {
  @include appDevelopmentContainer;

  .callToAction {
    background: $gray50;
    margin-top: 48px;
    border: none;

    @include tablet {
      margin-top: 24px;
    }
  }
}

.contentWrapper {
  max-width: $default-content-width;
  margin: 0 auto;
}

.checkList {
  @extend .twoColumnsCards;

  margin: 0 0 -32px -32px;

  & > div {
    @include flex(row, center, stretch);

    margin: 0 0 32px 32px;
    flex: 1 1 40%;
  }

  @include below-tablet {
    @include flex(column, initial, stretch);

    margin-bottom: -16px;

    & > div {
      margin-bottom: 16px;
    }
  }
}

.card {
  width: 100%;
}
