.delivery-quality-in-yellow {
  &.thirdSectionView {
    padding-top: 0;
    background: $gray50;

    [data-title] {
      @include fontSize(24px, 1.5);

      max-width: 671px;
      margin-bottom: 16px;
    }

    [data-description] {
      max-width: 671px;
    }

    .card {
      padding: 16px 32px !important;

      p {
        @include fontSize(20px);
      }
    }

    .cardList {
      max-width: 994px;
      margin: 0;
      grid-gap: 32px;

      & > * {
        margin: 0;
      }

      @include below-tablet {
        grid-gap: 16px 0;
      }
    }
  }
}
