/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';

.articlesContainer {
  max-width: $max-content-width;
  margin: 0 auto;

  :global(.swiper) {
    @include below-tablet {
      margin: 0 -40px;
    }

    @include phone {
      margin: 0 -15px;
    }
  }
}

.articleTile {
  @include flex(column);

  position: relative;
  height: 478px;
  border-radius: 5px;
  border: $card-border;
  overflow: hidden;
  background: $white;

  .articleImage {
    width: 100%;
    height: 304px;
    object-fit: cover;

    @include phone {
      height: 200px;
    }
  }

  .description {
    @include hidden-text(ellipsis, 2);
    @include flex(column, space-between);

    padding: 26px;
    flex-grow: 1;
    color: $dark-grey;

    .title {
      @include fontSize(20px, 150%);

      margin: 0;
      font-weight: 700;
    }

    .readMore {
      @include fontSize(18px, 180%);

      align-self: flex-start;
      margin-top: 30px;
    }

    @include phone {
      .title {
        @include fontSize(16px);

        line-height: 120%;
      }

      .readMore {
        @include fontSize(14px);

        line-height: 180%;
      }
    }
  }

  &:hover {
    .description {
      color: $mid-gray;
    }
  }

  @include phone {
    height: 343px;
    border-radius: 0;
  }
}
