@import 'styles/utils/mixins';

.mobileAppContainer {
  margin: 0 auto;
  padding: calc(#{$header-height} + 60px) 0 100px;

  @include tablet {
    padding: calc(#{$header-height} + 60px) 0 100px;
  }

  @include phone {
    padding: calc(#{$header-height} + 40px) 0 100px;
  }

  [data-page-title],
  [data-page-breadcrumbs] {
    max-width: 1300px;
    margin: 0 auto;
  }
}
