@import "styles/utils/variables";
@import 'styles/utils/mixins';

.buttonGroup {
  @include flex;

  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.item {
  & + .item {
    margin-left: 64px;
  }
}

.button {
  background: none;
  color: $black;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  opacity: 0.3;

  &::after {
    content: '';
    position: absolute;
    background: $black;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }
}

.activeItem {
  .button {
    opacity: 1;
    cursor: default;

    &::after {
      width: 100%;
    }
  }
}
