@import 'styles/utils/mixins';

.fernwayer,
.ubichat,
.fireaway,
.famlicious {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $white;
}

.seven-pm-thursday {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $dark-blue;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: $silver-chalice;
  }
}

.stickerbox {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $dark-grey-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: rgba($white, 0.4);
  }
}

.fairy {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $violet;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    color: rgba($white, 0.4);
  }
}

.tell {
  @include caseStudyContainer;
  @include wireframes;
  @include centeredBackgroundImage;

  @include tablet {
    padding: 100px 0;
  }
}

.travel-trivia,
.cash-chat {
  @include caseStudyContainer;
  @include wireframes;
  @include centeredBackgroundImage;

  background-color: $alabaster;

  @include tablet {
    padding: 100px 0;
  }
}

.open-sense {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $zircon;
}

.separate-us {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $white;
}

.drive-focus {
  @include caseStudyContainer;
  @include wireframes;

  background-color: $white;

  [data-case-study-description] {
    max-width: 782px;
  }
}

.beautonomy,
.meateater {
  @include caseStudyContainer;
  @include wireframes;

  padding: 0;
  background-color: $white;

  [data-case-study-description] {
    max-width: 830px;
  }

  @include tablet {
    padding: 0;
  }
}

.fireaway {
  padding: 50px 40px 140px;

  @include phone {
    padding: 50px 20px 140px;

    & > div:first-of-type {
      padding: 0 1px;
    }
  }

  [data-case-study-description] {
    color: rgba($dark-grey, 0.5);
    max-width: 825px;
  }
}
