@import 'styles/utils/mixins';
@import 'styles/utils/sizes';
@import './styles/webAppDevelopmentCompany.module';

.container {
  @include flex(row, space-between, center);

  position: relative;
  box-sizing: border-box;
  min-height: 215px;
  padding: 24px 60px;
  background: $gray0;
  border: 1px solid $gray100;
  border-radius: 10px;
  max-width: $default-content-width;
  margin: 48px auto 0;

  @include tablet {
    flex-direction: column;
    min-height: auto;
  }
}

.content {
  @include tablet {
    max-width: none;

    * {
      text-align: center;
    }
  }
}

.title {
  @include fontSize(24px);

  margin: 0;
}

.image {
  align-self: stretch;
  min-width: 156px;
  margin-right: 32px;

  @include tablet {
    min-height: 125px;
    margin: 0 0 24px;
  }
}

.subtitle {
  margin: 4px 0 0;
  color: $gray400;
}

.button {
  margin-left: auto;
  flex: 0 0 auto;

  @include tablet {
    margin: 24px auto 0;
  }
}

.openContact {
  .content {
    max-width: 462px;
  }
}

.book {
  .content {
    max-width: none;
  }

  .image {
    position: absolute;
    width: 167px;
    height: 245px;
    left: 60px;
    bottom: 24px;
    filter: drop-shadow(10px 24px 42px rgb(0 0 0 / 7%));

    @include tablet {
      left: 50%;
      top: -90px;
      transform: translateX(-50%);
    }
  }

  .button {
    margin: 16px 0 0;

    @include tablet {
      margin: 16px auto 0;
    }
  }

  &.container {
    @include flex(column, flex-start, flex-start);

    border-color: $yellow500;
    padding-left: 40%;
    margin-top: 130px;
    background: $gray50;
    min-height: auto;

    @include tablet {
      padding: 188px 32px 24px;
      align-items: center;
    }
  }

  .title {
    @include fontSize(20px);

    flex: 1 1 auto;
  }
}

.subscribe {
  .image {
    min-height: 125px;
  }

  .title {
    @include fontSize(20px);
  }

  .content {
    flex: 1 1 auto;
  }

  &.container {
    padding: 32px;
    min-height: auto;
  }

  &.isSubscribed {
    .content {
      max-width: none;
    }

    .button {
      display: none;
    }
  }
}

.page {
  @include flex(column, center, center);

  margin: 0 auto;
  padding: 60px 0 120px;
  background: $gray0;

  .h3 {
    @include fontSize(38px, 130%);

    text-align: center;
    margin: 0;

    @include phone {
      @include fontSize(24px, 130%);
    }
  }

  .p {
    @include fontSize(20px);

    text-align: center;
    line-height: 1.8;

    @include phone {
      @include fontSize(16px);
    }
  }

  .button {
    margin: 48px auto 0;

    @include tablet {
      margin: 0 auto;
    }
  }

  @include tablet {
    padding: 30px 0 60px;
  }
}

.scrollBlock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 60;
  margin: 0;
  padding: 0;
  display: block;
  min-height: auto;
  width: 100%;
  background: transparent;
  border: none;
  border-radius: unset;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.showScrollBlock {
  opacity: 1;
  pointer-events: auto;
}
