@import 'styles/utils/mixins';
@import '../utils/styles.module';

.bookmarkSection {
  @include appDevelopmentContainer;

  padding-top: 48px;
}

.contentWrapper {
  max-width: 864px;
  margin: 0 auto;
}

.bookmarkContainer {
  padding: 40px;
  border: 2px solid $turbo-100;
  border-radius: 5px;
  position: relative;

  @include below-tablet {
    padding: 32px;
  }
}

.bookmarkIcon {
  content: '';
  position: absolute;
  top: -15px;
  left: 42px;
  width: 31px;
  height: 31px;
  background-size: 100% 100%;
}

.content {
  @include flex(column, center, center);

  a {
    text-decoration: underline;
    color: $dark-grey;
  }
}

.title {
  @include fontSize(24px, 1.5);

  position: relative;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 24px;
  max-width: 464px;

  @include below-tablet {
    @include fontSize(20px);

    width: 100%;
  }
}

.devops-development-services {
  &.firstSectionView {
    .title {
      width: 453px;
      text-align: center;

      @include below-tablet {
        width: 100%;
      }
    }
  }

  &.secondSectionView {
    .contentWrapper {
      .bookmarkContainer {
        .content {
          .title {
            width: 476px;

            @include phone {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.cloud-based-app-development-services {
  &.firstSectionView {
    background: $gray50;
    padding-top: 0;
  }
}