.section {
  padding: 120px 40px;
  background: $gray50;

  .contentWrapper {
    @include flex(row, space-between);

    max-width: $default-content-width;
    margin: 0 auto 48px;

    @include tablet {
      @include flex(column, center, center);
    }
  }

  .infoContainer {
    @include flex(column, center, initial);

    width: 50%;
    max-width: 481px;

    .infoTitle {
      @include fontSize(38px, 130%);

      font-weight: 700;
      color: $gray900;
      margin: 0;

      @include tablet {
        @include fontSize(24px, 130%);

        text-align: center;
      }
    }

    p {
      @include fontSize(16px);

      color: $gray400;
      margin: 24px 0 0;

      @include tablet {
        text-align: center;
        margin: 8px 0 0;
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  .imagesContainer {
    @include flex(column);

    width: 50%;
    max-width: 481px;
    margin-right: 32px;

    .image {
      width: 100%;
      height: 480px;
    }

    .imageTitle {
      @include fontSize(20px, 150%);

      color: $gray900;
      font-weight: 700;
      margin: 12px 0 4px;

      @include tablet {
        text-align: center;
      }
    }

    .imageDescription {
      @include fontSize(16px, 150%);

      color: $gray400;
      margin: 0;

      @include tablet {
        text-align: center;
      }
    }

    @include tablet {
      width: 100%;
      margin: 0 auto 16px;
      max-width: unset;
    }
  }

  .videoContainer {
    max-width: $default-content-width;
    margin: 0 auto;
  }

  @include tablet {
    padding: 60px 32px;
  }

  @include phone {
    padding: 60px 16px;
  }
}
