@import 'styles/utils/mixins';

.formContainer {
  position: relative;
  z-index: 2;
  @include flex(column, flex-start, center);
  padding: $section-indent $side-indent;
  background-color: $white;

  @include phone {
    padding: $mobile-section-indent - 20px $side-indent;
  }

  .subtitle{
    margin: 0;
    font-size: .9rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    width: 105%;

    a {
      position: relative;
      color: $black;
      margin-left: 5px;
      text-decoration: none;
      font-size: .9rem;
      line-height: 1.55;
      letter-spacing: 0.5px;
      transition: color $accelerated-transition-time, border $accelerated-transition-time;
    }

    a:before {
      position: absolute;
      display: block;
      content: "";
      border: solid 0.5px $feedback-submit-color;
      bottom: -4px;
      width: 100%;
      left: 0%;
    }
    
    a:hover {
      color: $accent-color;

      &:before {
        border: solid 0.5px $accent-color;
      }
    }
  }

  h1 {
    text-align: left !important;
  }

  .form {
    @include flex(column, initial, center);
    width: 100%;
    max-width: 500px;
    color: $footer-accent-color;
  
    span, label {
      font-size: 0.75rem;
      line-height: 1.94;
      letter-spacing: 0.4px;
      color: $form-label-text-color;
    }

    label {
      font-weight: 600;
    }
  
    input {
      font-size: 1rem;
      padding: 18px 0 8px;
      border: 0 none;
      border-bottom: solid 0.5px $upload-hr-color;
      background-color: transparent;
      color: $upload-text-color;
      outline: none;
    }
    
    .inputs {
      @include flex(column);
      margin-top: 50px;
      
      &:nth-child(1) {
        width: 100%;
      } 

      & > div {
        width: 100%;
      }
    }

    .submit {
      @include buttonMore($black, $black, $accent-color, $accent-color);
      background-color: $accent-color;
      color: $feedback-submit-color;
      line-height: 1.55;
      letter-spacing: 0.5px;
      text-align: center;
      font-size: 1rem;

      @include phone {
        width: 90%;
        margin: $mobile-more-button-indent auto 0;
      }
    }
  }
}
