.web-chat-for-mediums {
  &.firstSectionView {
    padding: 120px 40px 240px;

    .titleStyle {
      display: none;
    }

    .container {
      max-width: $wide-content-width;
    }

    .stepsContainer {
      @include flex(row, center, initial, wrap);

      margin: 0 0 -32px -32px;

      & > div {
        margin: 0 0 32px 32px;
        max-width: 584px;
        width: 100%;
      }
    }

    .step {
      @include flex(column, flex-start);

      padding: 32px;
      background-color: $gray50;
      border-radius: 30px;
      box-sizing: border-box;

      p {
        margin: 0;
        color: $gray400;
      }
    }

    .stepTitle {
      @include fontSize(16px, 130%);

      margin-bottom: 8px;
      color: $chatSolutionsBlue;
      text-transform: uppercase;
      text-align: left;
    }

    @include tablet {
      padding: 60px 40px 120px;

      .stepsContainer {
        margin: 0 0 -16px -16px;

        & > div {
          margin: 0 0 16px 16px;
          max-width: 100%;
        }
      }
    }

    @include phone {
      padding: 60px 16px 120px;
    }
  }
}
