.dindon {
  background-color: $dinDonSecondary;

  .titleStyle {
    max-width: 743px;
  }

  .container {
    max-width: $wide-content-width;
  }

  & .stepsContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 60px;
    margin: 0 auto;

    .step {
      @include flex(column, start, start);

      position: relative;
      padding: 32px;
      height: 100%;
      width: 100%;
      max-width: 360px;
      box-sizing: border-box;
      background: $gray0;
      border: 1px solid $gray100;
      border-radius: 5px;

      .bundleImage {
        position: absolute;
        z-index: 5;
      }

      .bundleImage-1 {
        left: 98%;
        top: 50%;

        @include tablet {
          display: none;
        }
      }

      .bundleImage-2 {
        display: none;

        @include tablet {
          display: block;
          top: 98%;
          left: 50%;
        }
      }

      &:nth-child(3) {
        .bundleImage-1 {
          top: 98%;
          right: 50%;
          bottom: unset;
          left: unset;
          width: calc(200% + 120px);
          height: 66px;
        }
      }

      .stepNumber {
        background-color: $dinDonPrimary;
      }

      .stepTitle {
        @include fontSize(20px);

        color: $gray900;
        line-height: 180%;
      }

      .stepDescription {
        @include fontSize(16px, 150%);

        flex-grow: 1;
        margin: 8px 0 0;
        color: $gray400;
        white-space: unset;
      }

      @include tablet {
        @include flex(column, center, start);

        height: auto;
        max-width: 100%;
      }
    }

    @include tablet {
      grid-template-columns: repeat(1, auto);
      grid-row-gap: 40px;
    }
  }
}
