.restaurant-asset-management-tool {
  background: $hyvePrimary;

  .titleStyle {
    @include flex(row, space-between, center);

    position: relative;
    margin: 0 auto 48px;
    max-width: $wide-content-width;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      left: 181px;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      background-color: $gray600;
    }

    [data-title] {
      @include fontSize(16px, 150%);

      overflow: hidden;
      margin: 0;
      max-width: unset;
      color: $gray0;
      font-weight: 500;
      letter-spacing: 0.32px;
      text-transform: uppercase;
    }

    [data-subtitle] {
      @include fontSize(16px, 150%);

      margin: 0;
      max-width: unset;
      color: $gray0;
      font-weight: 600;
    }

    @include below-tablet {
      margin: 0 auto 21px;
    }
  }

  &.firstSectionView {
    padding: 60px 32px 120px;

    .container {
      max-width: $wide-content-width;
    }

    .stepsContainer {
      gap: 32px;
      margin: 0;

      & > div {
        width: 100%;
        margin: 0;
      }

      @include phone {
        gap: 16px;
      }
    }

    .step {
      @include flex(column, flex-start);

      padding: 32px 24px;
      height: auto;
      border: 1px solid $gray600;

      h3 {
        @include fontSize(24px, 130%);

        color: $gray0;
        font-weight: 500;
        text-align: left;

        @include phone {
          @include fontSize(20px, 130%);
        }
      }

      p {
        margin: 12px 0 0;
        color: $gray400;
      }
    }

    @include tablet {
      padding: 30px 16px 60px;
    }
  }
}
