.kitchen-equipment-customizer {
  &.firstSectionView {
    padding: 120px 0;
    background-color: $kitchenSecondary;

    .titleStyle {
      max-width: $wide-content-width;

      [data-title] {
        @include fontSize(24px, 130%);

        margin: 0 auto;
        padding: 0 16px;
        font-weight: 400;
      }
    }

    .container {
      @include flex(row, center, center);

      padding: 0 16px;
      max-width: $wide-content-width;
    }

    .stepsContainer {
      @include flex(row, center, center, wrap);

      position: relative;
      right: inherit;
      margin: 0 0 -16px -16px;
      width: $default-content-width;

      & > div {
        margin: 0 0 16px 16px;
      }

      .step {
        padding: 16px 32px;
        border: 1px solid $gray900;
        border-radius: 80px;
        white-space: pre;

        .stepTitle {
          @include fontSize(16px, 150%);

          font-weight: normal;
        }
      }

      @include tablet {
        right: 0;
      }
    }

    @include below-tablet {
      padding: 60px 0;
    }
  }

  &.secondSectionView {
    padding: 60px 16px 120px;
    background-color: $gray800;

    [data-title] {
      @include fontSize(24px, 130%);

      margin: 0 auto 8px;
      max-width: 100%;
      color: $gray0;
      font-weight: 400;
    }

    .stepsContainer {
      @include flex(row, space-between, initial, wrap);

      margin: 0;
      gap: 32px;

      & > div {
        margin: 0;

        &:nth-child(1),
        &:nth-child(2), {
          flex: 1 1 48%;

          @include below-tablet {
            flex: 1 1 100%;
          }
        }

        &:not(
        :nth-child(1),
        :nth-child(2)), {
          flex: 1 1 31%;

          @include below-tablet {
            flex: 1 1 100%;
          }
        }
      }

      @include below-tablet {
        gap: 16px;
      }
    }

    .step {
      @include flex(column, flex-start, flex-start);

      padding: 32px;
      gap: 8px;
      border: 1px solid $gray300;
      border-radius: 10px;
      box-sizing: border-box;

      p {
        margin: 0;
        color: $gray500;

        @include below-tablet {
          text-align: center;
        }
      }

      @include below-tablet {
        @include flex(column, center, center);
      }
    }

    .stepTitle {
      @include fontSize(16px, 150%);

      color: $gray0;
      font-weight: 400;
    }

    @include below-tablet {
      padding: 30px 16px 60px;
    }
  }
}
