.mobile-music-app {
  &.firstSectionView {
    background-color: $radioPlatoAccent;

    .titleStyle {
      @include flex(row, space-between, center, wrap);

      position: relative;
      max-width: $default-content-width;

      &::after {
        content: '';
        position: absolute;
        left: 123px;
        right: 40px;
        top: 10px;
        height: 1px;
        background-color: $gray1000;
      }

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: 50%;
      }
    }

    [data-title],
    [data-subtitle] {
      @include fontSize(16px, 140%);

      margin: 0;
      max-width: unset;
      color: $gray1000;
      font-weight: 600;
      text-transform: uppercase;
    }

    [data-title] {
      text-align: left;
    }

    [data-subtitle] {
      text-align: right;
    }

    .stepsContainer {
      @include flex(row, inherit, inherit, wrap);

      margin: 0 0 -32px -32px;

      & > div {
        margin: 0 0 32px 32px;
        flex: 1 1 224px;

        @include below-tablet {
          margin: 0 0 16px 16px;
          flex: 1 1 163px;
        }
      }

      @include below-tablet {
        margin: 0 0 -16px -16px;
      }
    }

    .step {
      padding: 16px;
      border: 1px solid $gray1000;
      box-sizing: border-box;

      .stepTitle {
        @include fontSize(16px, 150%);

        color: $gray1000;
        font-weight: 400;
        white-space: nowrap;
      }

      p {
        @include fontSize(16px, 150%);

        margin: 4px 0 0;
        color: $gray1000;
        opacity: 0.6;
        white-space: nowrap;
      }
    }
  }

  &.secondSectionView {
    background-color: $gray1000;

    .titleStyle {
      @include flex(row, space-between, center, wrap);

      position: relative;
      max-width: $default-content-width;

      &::after {
        content: '';
        position: absolute;
        left: 123px;
        right: 40px;
        top: 10px;
        height: 1px;
        background-color: $gray0;
      }

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: 50%;
      }
    }

    [data-title],
    [data-subtitle] {
      @include fontSize(16px, 140%);

      margin: 0;
      max-width: unset;
      color: $gray0;
      font-weight: 600;
      text-transform: uppercase;
    }

    [data-title] {
      text-align: left;
    }

    [data-subtitle] {
      text-align: right;
    }

    .stepsContainer {
      margin: 0;

      & > div {
        margin: 0;
        width: 50%;
      }
    }

    .step-1 {
      @include flex(row, start);

      p {
        margin: 0;
        max-width: 382px;
        color: $gray0;
        opacity: 0.9;
      }
    }

    .step-2 {
      @include flex(row, end);

      .stepImage {
        width: 272px;
        height: 550px;
      }
    }

    @include below-tablet {
      .stepsContainer {
        @include flex(column, center, center);

        & > div {
          width: 100%;
        }
      }

      .step-1 {
        @include flex(row, center);

        margin-bottom: 24px;
      }

      .step-2 {
        @include flex(row, center);
      }
    }
  }

  &.thirdSectionView {
    padding: 120px 40px;
    background-color: $radioPlatoAccent;

    .titleStyle {
      @include flex(row, space-between, center, wrap);

      position: relative;
      max-width: $default-content-width;

      &::after {
        content: '';
        position: absolute;
        left: 256px;
        right: 40px;
        top: 10px;
        height: 1px;
        background-color: $gray1000;
      }

      & > div:nth-child(1),
      & > div:nth-child(2) {
        width: 50%;
      }
    }

    [data-title],
    [data-subtitle] {
      @include fontSize(16px, 140%);

      margin: 0;
      max-width: unset;
      color: $gray1000;
      font-weight: 600;
      text-transform: uppercase;
    }

    [data-title] {
      text-align: left;
      white-space: nowrap;
    }

    [data-subtitle] {
      text-align: right;
    }

    .stepsContainer {
      @include flex(row, center, initial, wrap);

      margin: 0 0 -32px -32px;

      & > div {
        flex: 0 0 100%;
        max-width: 481px;
        margin: 0 0 32px 32px;

        @include below-tablet {
          margin: 0 0 16px;

          &:last-child {
            margin: 0;
          }
        }
      }

      @include below-tablet {
        margin: 0;
      }
    }

    .step {
      @include flex(column);

      padding: 40px;
      border: 1px solid $gray1000;
      box-sizing: border-box;

      .stepTitle {
        @include fontSize(24px, 130%);

        margin-bottom: 24px;
        flex-grow: 1;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;
      }

      p {
        margin: 0;

        &:nth-of-type(1)::before {
          content: 'Problem: ';
          color: $radioPlatoAdditional;
        }

        &:nth-of-type(2)::before {
          content: 'Solution: ';
          color: $radioPlatoAdditional;
        }
      }
    }

    @include below-tablet {
      padding: 60px 16px;
    }
  }
}
