.why-us {
  &.firstSectionView {
    @include flex(row, space-between, start);

    margin: 0 auto;
    padding: 120px 16px;
    max-width: $wide-content-width;
    background: $gray900;
    box-sizing: border-box;

    .titleStyle {
      margin: 0;
      max-width: 379px;

      @include below-tablet {
        margin: 0 auto 24px;
      }
    }

    [data-title] {
      color: $gray0;
      text-align: left;

      @include below-tablet {
        text-align: center;
      }
    }

    .container {
      margin: 0;
      max-width: 584px;
    }

    .stepsContainer {
      @include flex(column, initial, start);

      margin: 0 0 -16px;

      & > div {
        margin: 0 0 16px;
      }
    }

    .step {
      padding: 24px 24px 24px 40px;
      border: 1px solid #545454;
      border-radius: 5px;
      background: rgb(255 255 255 / 3%);
    }

    .stepTitle {
      position: relative;
      color: $gray0;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -16px;
        width: 2px;
        height: 100%;
        background: $yellow400;
      }
    }

    @include below-tablet {
      @include flex(column, center, center);

      padding: 60px 16px;
    }
  }

  &.secondSectionView {
    padding: 120px 16px 60px;
    background: $gray0;

    .stepsContainer {
      position: relative;
      z-index: 1;
      margin: 0 auto;

      & > div {
        margin: 0;
      }

      &::before {
        @include circle($yellow500, 286px);

        position: absolute;
        right: -79px;
        bottom: -106px;

        @include below-tablet {
          bottom: -34px;
          right: -143px;
        }
      }
    }

    .step {
      padding: 60px;
      height: auto;
      background: $gray50;
      border: 1px solid #e2e2e2;
      border-radius: 20px;

      p {
        @include fontSize(16px, 150%);

        color: $gray400;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }

      @include below-tablet {
        padding: 60px 12px;
      }
    }

    .stepImage {
      width: 140px;
      height: 140px;
    }

    .stepNumber {
      @include fontSize(20px, 150%);

      margin: 0 0 4px;
      display: block;
      width: unset;
      height: unset;
      font-weight: 700;
      background-color: unset;
      color: $gray900;
      border-radius: unset;
    }

    .stepTitle {
      @include fontSize(14px, 150%);

      font-style: normal;
      font-weight: 400;
      text-align: center;
      color: $gray400;
    }

    @include below-tablet {
      padding: 60px 16px 30px;
    }
  }

  &.thirdSectionView {
    padding: 60px 16px;

    .titleStyle {
      max-width: 651px;
    }

    .stepsContainer {
      @include flex(row, space-between, start, wrap);

      margin: 0 0 -24px -24px;
      max-width: $default-content-width;

      & > div {
        margin: 0 0 24px 24px;
        flex: 1 0 30%;

        @include phone {
          flex: 1 0 auto;
        }
      }
    }

    .stepIcon {
      margin-bottom: 16px;
    }

    @include below-tablet {
      padding: 30px 16px;
    }
  }
}
