@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.cookiesNotification {
  @include fontSize(18px, 1.8);

  box-sizing: border-box;
  background-color: $gray800;
  position: fixed;
  inset: 89px 0 auto;
  padding: 16px;
  z-index: 1;
  margin: 0 auto;
  transition:
    transform ease-in-out 0.3s,
    opacity ease-in-out 0.4s;

  &.notScrolled {
    transform: translateY(7%);
    opacity: 0;
  }

  .container {
    @include flex(row, space-between, center);

    max-width: $wide-content-width;
    margin: 0 auto;

    @include below-tablet {
      flex-direction: column;
    }
  }

  p {
    @include fontSize(16px);

    margin: 0 15px 0 0;
    color: $gray0;

    @include below-tablet {
      @include fontSize(14px);

      width: auto;
      text-align: center;
    }
  }

  .link {
    color: $gray0;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    margin-left: auto;

    @include below-tablet {
      margin: 16px auto 0;
    }
  }

  .cross {
    cursor: pointer;
    margin-left: 22px;
    transition: transform 0.1s ease-in-out;
    transform-origin: 50% 0;

    &:hover {
      transform: scale(0.9);
    }

    path {
      fill: $gray400;
    }

    @include below-tablet {
      transform: translateY(-4px);
      position: absolute;
      top: 22px;
      right: 22px;
    }
  }

  @include below-tablet {
    padding-top: 48px;
  }
}

.hide {
  display: none;
}
