@import 'styles/utils/mixins';

.cookiesNotification {
  @include flex(row, space-between, center);

  background-color: $alabaster;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: min(85%, $max-content-width);
  padding: 61px 60px;
  z-index: 999999;

  p {
    margin: 0;
    width: 60%;
    color: $dark-grey;

    @include below-tablet {
      width: auto;
      text-align: center;
    }
  }

  .button {
    @include button-more($black, $black, $turbo-100, $turbo-100, none, none);

    border-radius: $button-border-radius;
    background-color: $turbo-100;
    color: $woodsmoke;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.875rem !important;
    margin: auto 0;
    padding: 10px 0;

    &:hover {
      transform: scale(0.96);
    }

    @include below-tablet {
      margin: 25px auto 0;
    }
  }

  .cross {
    width: 20px;
    height: 20px;
    z-index: 9999;
    position: absolute;
    right: 40px;
    bottom: 25%;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    hr {
      width: 20px;
      height: 2px;
      margin: 3px 0;
      border: 0 none;
      border-radius: 5px;
      background-color: $white;
      will-change: transform;

      &:nth-of-type(1) {
        transform: rotate(45deg) translate(0, 2px);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg) translate(1.5px, -4px);
      }
    }

    @include below-tablet {
      transform: translateY(-4px);
    }

    @include phone {
      right: 5px;
      top: 16px;
    }
  }

  @include below-tablet {
    @include flex(column, center, center);

    padding: 40px 24px;
  }
}

.hide {
  display: none;
}
