@import 'styles/utils/mixins';

.cookiesNotification {
  margin: auto 0;
  @include flex(row, space-between, center);
  padding: 10px 0px 10px 20px;
  width: 100%;
  background-color: $black;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;

  @include phone {
    padding: 35px 0;
    @include flex(column, center, center);
  }

  p {
    margin: 0;
    width: 60%;
    z-index: 9999;
    color: $white;

    @include below-tablet {
      width: 55%;
    }

    @include phone {
      width: 90%;
    }
  }
  
  .button {
    @include buttonMore($black, $black, $turbo-100, $turbo-100);
    background-color: $turbo-100;
    color: $woodsmoke;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.875rem !important;
    margin: auto 0;
    padding: 10px 0;
    will-change: transform;
    transform: translateX(-90px);
    z-index: 9999;

    @include below-tablet {
      transform: translateX(-80px);
    }
    
    @include phone {
      margin: 25px auto 0;
      transform: translateX(0px);
    }
  }
    
  .cross {
    width: 20px;
    height: 20px;
    z-index: 9999;
    position: absolute;
    right: 40px;
    bottom: 25%;

    &:hover {
      cursor: pointer;
    }

    hr {
      width: 20px;
      height: 2px;
      margin: 3px 0;
      border: 0 none;
      border-radius: 5px;
      background-color: $white;
      will-change: transform;

      &:nth-of-type(1) {
        transform: rotate(45deg) translate(0px, 2px);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg) translate(1.5px, -4px);
      }
    }

    @include below-tablet {
      transform: translateY(-4px);
    }

    @include phone {
      right: 5px;
      top: 16px;
    }
  }
}

.hide {
  display: none;
}