@import 'styles/utils/mixins';

.custom-erp-software-development-services,
.fintech-software-development-services {
  background: $white;
  padding: 120px 10px;
  overflow: hidden;

  .container {
    @include flex(row, space-between);

    max-width: 1085px;
    margin: 0 auto;

    [data-case-study-title] {
      text-align: left;
      max-width: 800px;
      margin: 0 auto 40px;

      @include phone {
        @include fontSize(32px);

        margin-bottom: 20px;
        text-align: center;
      }
    }

    .sectionContainer {
      max-width: 510px;
      width: 100%;

      & > div {
        opacity: unset !important;
      }

      .sectionItem {
        position: relative;
        padding: 30px 0;
        border-bottom: 2px solid rgba($silver-chalice, 0.2);

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
          border-bottom: none;

          &::after {
            content: none;
          }
        }

        .wrapperTitle {
          display: flex;
          align-items: center;
          cursor: pointer;

          .title {
            @include fontSize(20px);

            margin-bottom: 10px;
            transition: color 400ms, margin 400ms;
            font-weight: bold;
            line-height: 120%;
            color: $black;

            &:hover {
              transition: color 400ms;
            }

            @include tablet {
              @include fontSize(18px);

              margin-left: 10px;
            }

            @include phone {
              @include fontSize(17px);
            }
          }

          .description {
            @include fontSize(18px);

            line-height: 180%;
            color: $silver-chalice;

            @include tablet {
              @include fontSize(14px);

              margin-left: 10px;
            }

            & > p {
              margin: 0;

              @include phone {
                margin: 5px;
              }
            }
          }

          .imageBundle {
            margin-left: 32px;
            transition: 0.3s;
            transform: rotate(360deg);
          }
        }
      }

      .sectionActiveItem {
        .wrapperTitle {
          .title {
            margin-bottom: 20px;
            color: $dark-grey;
          }

          .imageBundle {
            transition: 0.5s;
            transform: rotate(180deg);
          }
        }
      }
    }

    div:last-child {
      opacity: 1 !important;
    }

    .imageContainer {
      width: 700px;
      margin-left: 66px;
      margin-right: -175px;

      img {
        transform: translate(0, 140px);
        width: 100%;
      }

      @include below-tablet {
        margin-left: unset;
      }

      @include phone {
        width: 350px;
        margin: 0 auto;
      }
    }

    @include phone {
      flex-direction: column;
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}

.custom-erp-software-development-services {
  background-color: $very-dark-gray;

  .container {
    max-width: 1300px;

    [data-case-study-title] {
      margin: 0 auto 20px;
      text-align: left;
      color: $white;

      @include tablet-size-horizontal {
        text-align: center;
      }
    }

    [data-case-study-description] {
      margin: 0;
      max-width: 690px;
      text-align: left;
      color: rgb(255 255 255 / 0.7);
      opacity: 0.7;

      @include tablet-size-horizontal {
        text-align: center;
        margin-bottom: 24px;
      }
    }

    .sectionContainer {
      order: 1;
      max-width: 680px;

      .sectionItem {
        max-width: 650px;

        .wrapperTitle {
          .title {
            color: $white;
            margin: 10px 0px;
          }
        }

        .description {
          color: rgb(255 255 255 / 0.7);
        }
      }
    }

    .imageContainer {
      margin: 0;

      img {
        transform: scale(1.6) translate(-220px, 110px);

        @include macbook-thirteen {
          transform: scale(1.2) translate(-150px, 110px);
        }

        @include tablet-size-horizontal {
          transform: none;
        }
      }

      @include tablet-size-horizontal {
        margin: 30px auto 0;
      }
    }

    @include tablet-size-horizontal {
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
    }
  }

  @include phone {
    padding: 60px 15px;
  }
}
