.parallaxSection {
  .bundleImage {
    user-select: none;
    pointer-events: none;
  }

  .parallaxImage {
    @supports (-webkit-touch-callout: none) {
      background-attachment: unset;
    }

    position: relative;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
