.parallaxSection {
  .bundleImage {
    user-select: none;
    pointer-events: none;
  }

  .parallaxImage {
    position: relative;
    height: 400px;
    width: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
