.cedar-valley-farms {
  .titleStyle {
    display: none;
  }

  .parallaxImage {
    position: relative;
    height: 700px;

    @include phone {
      height: 600px;
    }
  }

  .bundleImage {
    @include centered;

    width: 450px;
    height: 450px;
  }
}
