.dindon {
  padding: 120px 0 0;

  .titleStyle {
    max-width: 614px;
  }

  .parallaxImage {
    height: 687px;

    @include below-tablet {
      height: 254px;
    }
  }

  @include tablet {
    padding: 60px 0 0;
  }
}
