@import './utils/variables';

html {
  margin: 0;
  padding: 0;
  font-family: $default-font;
  font-size: 1rem;

  ::selection {
    background-color: $turbo-100;
  }

  body {
    margin: 0;
    padding: 0;

    & > div > section {
      background-color: $black;
    }
  }
}
