@import 'styles/utils/mixins';

.navigationContainer {
  @include flex(row, space-between, center);

  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  & > * {
    flex: 0 0 auto;
  }
}
