@import 'styles/utils/mixins';

.fullscreenEstimation {
  z-index: 9999999;

  .estimationContainer {
    @include flex(column, center, center);

    @include macbook-fifteen {
      transform: translateY(6vw);
    }

    width: calc(100% - 40px);
    top: 0;
    transform: translateY(10vw);

    & > div {
      .subtitle {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.55;
        letter-spacing: 0.5px;

        span {
          cursor: pointer;
          padding: 0 0 5px;

          a {
            margin-left: 5px;
            text-decoration: none;
            font-size: 0.9rem;
            line-height: 1.55;
            letter-spacing: 0.5px;
            transition: color $accelerated-transition-time;
            border: none;
            outline: none;
            background-color: transparent;
            color: $black;
            position: relative;
            display: inline-block;
            padding: 0;

            &::before {
              content: '';
              cursor: pointer;
              position: absolute;
              bottom: -2px;
              right: 0;
              width: 100%;
              border-bottom: 1px $black solid;
              background-color: $black;
              transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
          }

          &:hover {
            cursor: pointer;

            a {
              &::before {
                width: 0;
                will-change: transition;
                transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
                transform: translateZ(0);
              }
            }
          }
        }
      }
    }

    & > div > form {
      padding: 0 0 50px;
      margin-bottom: 0;
      max-width: 1000px;
      width: 100%;
    }

    @include phone {
      transform: translateY(20vw);
    }
  }

  .feedbackForm {
    width: 100%;
    max-width: 790px;
  }
}
