@import 'styles/utils/mixins';

.fullscreenEstimation {
  z-index: 9999999;
  flex: 1 1 auto;
  justify-content: center !important;

  .estimationContainer {
    @include flex(column, center, initial);

    max-width: 790px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;

    & > div > form {
      padding: 0 0 50px;
      margin-bottom: 0;
      max-width: 1000px;
      width: 100%;
    }
  }

  .feedbackForm {
    margin: 0 auto;
  }

  .title {
    margin-bottom: 16px;
    text-align: center;
  }

  .subtitle {
    margin: 0 auto 48px;
    font-size: 0.9rem;
    line-height: 1.55;
    letter-spacing: 0.5px;
    color: $gray400;

    a {
      margin-left: 5px;
      text-decoration: none;
      font-size: 0.9rem;
      line-height: 1.55;
      letter-spacing: 0.5px;
      transition: color $accelerated-transition-time;
      border: none;
      outline: none;
      background-color: transparent;
      color: $gray400;
      position: relative;
      display: inline-block;
      padding: 0;

      &::before {
        content: '';
        cursor: pointer;
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $gray400;
        transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:hover {
        color: $gray900;

        &::before {
          background: $gray900;
        }
      }
    }

    span {
      cursor: pointer;
      padding: 0 0 5px;

      &:hover {
        cursor: pointer;

        a {
          &::before {
            width: 0;
            will-change: transition;
            transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateZ(0);
          }
        }
      }
    }
  }

  .feedbackForm {
    width: 100%;
    max-width: 790px;
  }
}
