@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.aboutUs {
  width: 100%;

  .contentWrapper {
    @include flex(row, space-between);

    max-width: $wide-content-width;
    margin: 0 auto;
    padding: 0 40px;

    @include tablet {
      flex-direction: column;
      padding: 0 32px;
    }

    @include phone {
      padding: 0 16px 30px;
    }
  }

  .titleStyle {
    @include flex(column, space-around, flex-start);

    margin-bottom: 16px;

    [data-title] {
      @include fontSize(24px, 130%);

      text-align: left;

      @include phone {
        @include fontSize(20px, 150%);
      }
    }

    @include phone {
      margin-bottom: 8px;
    }
  }

  .aboutUsContent {
    position: relative;
    max-width: 687px;
    z-index: 2;

    @include tablet {
      max-width: 100%;
    }
  }

  .aboutUsText {
    p {
      @include fontSize(16px, 150%);

      color: $gray400;
      margin: 0 0 24px;
    }

    @include tablet {
      margin-bottom: 40px;
    }
  }
}
