@import 'styles/utils/mixins';

.aboutUs {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  width: 100%;
  height: auto;

  @include flex(column);

  @include ultra-hd {
    max-width: $max-content-width;
  }

  @include tablet {
    height: auto;
  }

  @include horizontal-mobile {
    padding-top: 0;
  }

  @include phone {
    padding: calc(#{$mobile-section-indent} - 20px) 0 $mobile-section-indent - 20px;
  }

  & > div:first-child {
    max-width: 550px;
    width: 100%;
    text-align: left;

    @include flex(column, space-around, flex-start);

    & > div:nth-of-type(1) > h2 {
      @include defaultSecondHeader;

      margin-bottom: 50px;
    }
  }

  .aboutUsContent {
    position: relative;
    z-index: 2;

    @include flex(row, space-between);

    @include tablet {
      @include flex(column, center, flex-start);
    }

    @include svga {
      width: 100%;
    }

    .aboutUsText {
      @include tablet {
        margin-bottom: 40px;
      }

      div {
        p {
          color: $silver-chalice;
          margin: 0 0 35px;
          padding: 0;
          max-width: 740px;
          line-height: 1.88;

          @include fontSize(18px);

          @include macbook-twelve {
            max-width: 620px;
          }

          @include svga {
            width: 100%;
            font-size: 1rem;
            line-height: 1.53;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
          }

          @include tablet {
            max-width: unset;
          }

          @include below-tablet-horizontal {
            font-size: 1rem;
          }
        }

        &:last-child {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
