@import 'styles/utils/mixins';
@import 'styles/utils/sizes';

.aboutUs {
  @include flex(row, space-between);

  max-width: $wide-content-width;
  margin: 0 auto;

  @include tablet {
    @include flex(column);
  }
}

.titleStyle {
  @include flex(column, space-around, flex-start);

  text-align: left;
  margin-bottom: 16px;

  h2 {
    @include fontSize(24px, 130%);

    @include phone {
      @include fontSize(20px, 150%);
    }
  }
}

.aboutUsContent {
  position: relative;
  max-width: 687px;
  z-index: 2;

  @include tablet {
    max-width: 100%;
  }
}

.aboutUsText {
  p {
    @include fontSize(16px, 150%);

    color: $gray400;
    margin: 0 0 24px;
  }

  @include tablet {
    margin-bottom: 40px;
  }
}
