.svgGroup {
  max-width: $max-content-width-small-section;
  margin: 0 auto;

  :global(.swiper) {
    width: min-content;
    max-width: 100%;
    margin: 0 auto;
  }

  :global(.swiper-wrapper) {
    margin-right: -60px;
    width: auto;
  }

  :global(.swiper-slide) {
    & > div,
    & {
      @include flex(row, center, flex-end);

      flex: 0 0 auto;
      height: auto;
    }
  }

  &.multiline {
    :global(.swiper-wrapper) {
      @include flex(row, center, flex-end, wrap);

      margin-top: -60px;
      margin-right: -60px;
    }

    :global(.swiper-slide) {
      margin-top: 65px;
    }
  }
}

.item {
  width: auto;

  & > div,
  svg {
    max-height: 148px;
    width: auto;

    @include below-tablet {
      max-height: 106px;
    }
  }
}

.android-mobile-app-development-services,
.chat-app-development-company,
.cloud-based-app-development-services,
.ios-mobile-app-development-services,
.machine-learning-development-services,
.mobile-app-development-company,
.mvp-app-development-company,
.ui-ux-services,
.web-app-development-company,
.devops-development-services,
.fintech-software-development-services,
.homepage {
  @include appDevelopmentContainer;

  .titleStyle {
    @include defaultSectionTitle;
  }

  .callToAction {
    @include defaultCallToAction;
  }

  .groupTitle {
    @include fontSize(32px, 120%);

    text-align: center;
    margin-bottom: 34px;

    @include below-tablet {
      @include fontSize(24px);

      margin-bottom: 25px;
    }
  }
}
