@import 'styles/utils/mixins';

.categories {
  @include flex(row, space-between, center, wrap);

  line-height: 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    @include horizontal-mobile {
      margin-right: 5px;
    }

    list-style-type: none;
    font-weight: 500;
    font-size: 0.8438rem;
    letter-spacing: 0.9px;

    a {
      color: $mountain-mis;
      text-decoration: none;
      transition: color $default-transition-time;

      &:hover {
        color: $black;
        transition: color $default-transition-time;
      }

      @include phone {
        white-space: nowrap;
      }
    }

    &.selectedBlock {
      a {
        color: $black;
      }
    }

    @include tablet {
      margin-right: 10px;
    }

    @include below-tablet {
      margin-right: 20px;
    }

    @include phone {
      margin: 0 20px 0 0;
      font-size: 1.125rem;
      color: $mine-shaft;
      font-weight: normal;
    }
  }

  @include below-tablet {
    @include flex(row, flex-start, center, wrap);
  }
}
