@import 'styles/utils/mixins';

.fullscreenSubscribe {
  justify-content: center !important;

  @include phone {
    display: none;
  }
}

.subscribeBlock {
  @include flex(column, flex-start, center);

  padding: 0 16px;
  max-width: 790px;
  width: 100%;
  box-sizing: border-box;

  .subscribe {
    @include flex(column, center, center);

    width: 100%;

    .content {
      @include flex(column, center, center);

      width: 100%;

      .title {
        text-align: center;
        font-size: 2.1875rem;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 1.13px;

        @include phone {
          line-height: 1.25;
        }
      }

      .subtitle {
        margin: 16px auto 48px;
        text-align: center;
        line-height: 1.5;
        color: $gray400;

        @include phone {
          line-height: 1.43;
        }
      }

      .inputBlock {
        @include flex(column, flex-start, center);

        width: 100%;

        label {
          span {
            a::before {
              bottom: -2px !important;
            }
          }
        }

        div:nth-of-type(1) {
          width: 100%;

          & > div {
            margin-bottom: 30px;

            span {
              margin-right: 0;
              bottom: -50%;
            }
          }

          input {
            font-size: 1.125rem;
            padding: 20px 0 8px;
            border: 0 none;
            border-bottom: solid 0.5px $mountain-mis;
            background-color: transparent;
            outline: none;

            ::placeholder {
              color: $mountain-mis;
              font-weight: normal;
            }
          }
        }

        .button {
          @include button-more($black, $black, $turbo-100, $turbo-100, $turbo-100, $turbo-100);
          @include flex(row, center);

          border-radius: $button-border-radius;
          letter-spacing: 0.5px;
          font-size: 1rem;
          padding: 16px 0;
          margin-top: 48px;
          border: none;
          transform: scale(1);
          outline: none;

          &:hover {
            border: none;
            transform: scale(0.96);
          }
        }
      }
    }
  }
}
