@import 'styles/utils/mixins';

.blog {
  @include flex(column, flex-start, center);
  padding: $section-indent + 30px 55px $section-indent;
  background-color: $white;
  min-height: calc(100vh - 230px - 487px);

  @include tablet {
    padding: $section-indent + 30px 25px $section-indent;
  }

  @include phone {
    padding: 0 15px $mobile-section-indent;
  }
}