@import 'styles/utils/mixins';

.blog {
  padding: $section-indent + 30px 50px $section-indent;
  background-color: $white;
  min-height: calc(100vh - 230px - 487px);

  @include flex(column, flex-start, center);

  @include tablet {
    padding: $section-indent + 30px 25px $section-indent;
  }

  @include phone {
    padding: 0 15px $mobile-section-indent;
  }
}

.breadcrumbs {
  top: 0;
  padding: 0 0 50px;
  z-index: 3;
  width: calc(1500px - 20px);
  max-width: 1500px;

  @include macbook-fifteen {
    width: calc(100% - 20px);
  }

  @include phone {
    width: 100%;
    padding: 120px 0 0;
  }
}
