@import 'styles/utils/mixins';

.seven-pm-thursday,
.meat-eater {
  @include caseStudyContainer;

  background-color: $dark-blue-1;

  [data-case-study-title] {
    color: $white;
  }

  [data-case-study-description] {
    margin-bottom: 110px;
    color: $silver-chalice;
  }

  .container {
    margin: 0 0 200px;
    text-align: center;

    @include tablet {
      margin: 0 0 100px;
    }

    @include phone {
      margin: 0 0 40px;

      &:last-of-type {
        margin: 0;
      }
    }

    .title {
      margin: 0 0 40px;
      font-family: $case-studies-font;
      font-weight: 600;
      line-height: 37px;
      color: $white;

      @include fontSize(25px);
    }
  }
}

.meat-eater {
  background-color: $white;

  [data-case-study-title] {
    color: $dark-grey;
    font-weight: 700;
    font-size: 32px;
  }

  [data-case-study-description] {
    margin-bottom: 40px;
    font-weight: 400;
    color: $silver-chalice;
    font-size: 14px;
  }

  .container {
    margin: 0 0 80px;
    filter: drop-shadow(0 14px 24px rgba(0, 0, 0, 0.05));

    .image {
      width: 100%;
      max-width: 1076px;
    }

    .title {
      color: $dark-grey;
      font-size: 24px;
    }
  }
}
