/* stylelint-disable no-descending-specificity */
@import 'styles/utils/mixins';
@import 'components/AppDevelopmentCommon/utils/styles.module.scss';

.ui-ux-services {
  @include appDevelopmentContainer;

  .linksBlock {
    max-width: 675px;
    margin: 0 auto;

    .linksList {
      @include flex(row, space-between, center);

      .linkContainer {
        a {
          @include flex(row, center, center);

          .linkText {
            @include fontSize(24px);

            color: $dark-grey;
            font-weight: 700;
            margin: 0 12px;

            @include phone {
              @include fontSize(20px);
            }
          }

          &:hover {
            .arrow {
              transform: translateX(5px);
              transition: transform 0.4s ease-out;
            }
          }

          .arrow {
            transition: transform 0.4s ease-out;
          }

          .linkSvg {
            width: 32px;
            height: 32px;
          }
        }

        @include phone {
          &:first-of-type {
            margin-bottom: 24px;
          }
        }
      }

      @include phone {
        flex-direction: column;
      }
    }

  }
}
