@import 'styles/utils/mixins';

.loadingPage {
  width: 100vw;
  height: 100vh;
  @include flex(column, center, center);
  text-align: center;
  position: fixed;
  z-index: 99999999999;
  background-color: $white;
}

.hide {
  will-change: opacity;
  transition: opacity .6s ease-in;
  opacity: 0;
}

.setZIndex {
  z-index: -5;
}

.jsonWrapper {
  width: 70px;
  height: 70px;
}