@import 'styles/utils/mixins';

.awards {
  @include flex(row, center, center);
  width: 100%;

  @include ultra-hd {
    max-width: $max-content-width;
  }

  @include macbook-fifteen {
    width: 100%;
  }

  @include phone {
    @include flex(column, center, center);
  }

  & > div {
    height: calc(#{$max-content-width} * 0.0626);
    // TODO
    border: 1px solid rgba(128, 128, 128, 0.315);

    @include macbook-fifteen {
      height: 6.417vw;
    }

    @include horizontal-mobile {
      height: 7.417vw;
    }

    @include phone {
      width: 40%;
      height: auto;
    }

    &:not(:last-child) {
      margin-right: 50px;

      @include phone {
        margin-right: 0;
        margin-bottom: 45px;
      }
    }

    img {
      height: 100%;

      @include phone {
        width: 100%;
        height: auto;
      }
    }
  }
}