@import "styles/utils/mixins";

.companyPlacement {
  padding: 0 0 150px;

  @include tablet {
    padding: 0 0 80px;
  }

  & > *:first-child {
    align-items: flex-start;

    @include tablet {
      align-items: center;
    }
  }

  .title {
    text-align: left;

    @include tablet {
      text-align: center;
    }
  }

  .tabGroup {
    @include tablet {
      @include flex(column, initial, center);

      margin-top: 15px;

      li + li {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}
